section.service-slider.dms-slider
  .container.service-slider__container
    .service-slider__wrapper
      h1.service-slider__title Лечение зубов по ДМС, записаться на консультацию бесплатно
      .service-slider__img
        picture
          source(type="image/webp" media="(min-width: 768px)" srcset="img/plazmolifting-slider.webp")
          source(type="image/webp" srcset="img/plazmolifting-slider-mobile.webp")
          source(media="(min-width: 768px)"  srcset="img/plazmolifting-slider.png" alt="")
          img(src="img/plazmolifting-slider-mobile.png" alt="")
      .service-slider__text
        ul
          li Гарантия качества работы
          li Безболезненно
          li Бесплатная консультация
      .service-slider__button-block
        button.service-slider__button.form__call-popup Записаться на прием
