section.dms1
  .container.dms1__container
    h1 Лечение по ДМС в стоматологической клинике «Риадент» в Уфе
    p Воспользуйтесь услугами стоматолога по полису добровольного медицинского страхования. Входит терапевтическое и хирургическое лечение зубов.
    p Мы рады сообщить своим клиентам, что у них появилась возможность использовать для лечения зубов корпоративный и частный полис ДМС.
    p Что входит в спектр услуг, предоставляемых по добровольному страхованию:
    ul
      li терапевтический осмотр и консультация с врачом;
      li рентгенологическое исследование;
      li лечение кариеса любой сложности;
      li удаление нервов;
      li лечение пульпита и периодонтита;
      li удаление зубов;
      li анестезия;
      li имплантация по согласованию со  страховыми компаниями;
      li ортопедическое лечение по согласованию со  страховыми компаниями;
      li ортодонтическое лечение по согласованию со  страховыми компаниями.
