section.dms2
  .container.dms2__container
    p Стоматологическая клиника «Риадент» сотрудничает со страховыми компаниями: АО «СОГАЗ», ПАО СК «Росгосстрах», САО «ВСК», АО «АльфаСтрахование», ООО СК «Согласие», САО «Энергогарант», АО Группа «Ренессанс Страхование», АО «Страховая бизнес группа» (IBG), ООО СМК «АСТРА-МЕТАЛЛ».
    .dms2__main-img
    .dms2__list
      .dms2__item
      .dms2__item
      .dms2__item
      .dms2__item
      .dms2__item
      .dms2__item
      .dms2__item
      .dms2__item
