section.akcii
  .container.akcii__container
    .akcii__list
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Семейная скидка - 3%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 3%
          a(href="/akcii-i-goryashhie-predlozheniya/semejnaya-skidka-dlya-pervichnyh-pacientov/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка пенсионерам – 3%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 3%
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-pensioneram/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка инвалидам – 7%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 7%
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-invalidam/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка 8%
          p Акция действует на профессиональную гигиену полости рта для мужчин и женщин до 15 марта
          a(href="/akcii-i-goryashhie-predlozheniya/8-skidka-na-profgigienu/") Подробнее
