section.akcii
  .container.akcii__container
    .akcii__list
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Семейная скидка - 3%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 3%
          a(href="/akcii-i-goryashhie-predlozheniya/semejnaya-skidka-dlya-pervichnyh-pacientov/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка пенсионерам – 3%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 3%
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-pensioneram/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка инвалидам – 7%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 7%
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-invalidam/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка от 13%
          p Комплекс услуг за 5 500 руб
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-ot-13-na-prof-gigienu/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Выгода 2300 руб
          p Вернем стоимость КТ при имплантации
          a(href="/akcii-i-goryashhie-predlozheniya/vernem-stoimost-kt-pri-implantacii/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка 10%
          p на все виды услуг для держателей полисов ОМС Согаз Мед
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-10-sogaz-med") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 КТ за 1500 руб
          p Только до конца июня!
          a(href="/akcii-i-goryashhie-predlozheniya/kompjuternaya-tomografiya-za-1500-rub/") Подробнее
