section.akcii
  .container.akcii__container
    .akcii__list
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Семейная скидка - 3%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 3%
          a(href="/akcii-i-goryashhie-predlozheniya/semejnaya-skidka-dlya-pervichnyh-pacientov/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка пенсионерам – 3%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 3%
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-pensioneram/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка инвалидам – 7%
          p План лечения <span style="text-decoration: line-through">2300</span> Бесплатно
          p + скидка 7%
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-invalidam/") Подробнее
      .akcii__item
        .akcii__img
        .akcii__text
          .akcii__akciya
            span Акция
          h2 Скидка 15%
          p Скидка 15% на проф.гигиену полости рта в честь дня заботы о полости рта
          a(href="/akcii-i-goryashhie-predlozheniya/skidka-15-na-profilakticheskuju-gigienu") Подробнее
