section.about-us
  .container.about-us__container
    .about-us__list
      .about-us__item
        h3.about-us__title О нас
        hr
        span.about-us__under-title Наша клиника — это наша страсть!
        .about-us__photo
          picture
            source(type="image/webp" srcset="img/about-us1.webp")
            img(src="img/about-us1.jpg" alt="")
        span.about-us__span С чего все начиналось?
        p Первый стоматологический центр «Риадент» существует с 2007 года. В 2016 году свои двери открыл наш первый центр имплантации и протезирования «Риадент» в г. Сибай, а уже в 2019 году начал свою работу один из крупнейших центров «Риадент» в г. Уфа. Совсем недавно, в 2020 году, мы запустили детское отделение — стоматологию для самых маленьких, в которую вложили особенно много сил и трепета, ведь речь шла о самом дорогом — детях.
        p Несмотря на то, что уфимский центр центр начал свою работу сравнительно недавно, мы преобразили улыбки более 5.000 наших пациентов.
      .about-us__item
        h3.about-us__title О нас
        hr
        span.about-us__under-title В чем наши преимущества?
        p.about-us__text Изначально мы ставили перед собой цель создания такого центра, где будут осуществляться все виды стоматологических услуг: начиная лечением кариеса и заканчивая имплантацией всей зубочелюстной системы — мы этой цели достигли. Риадент —  цифровая стоматология. В своей работе мы используем новейшее оборудование: 3D-принтеры, томографы, микроскоп. Все это необходимо для получения качественного результата, ведь приоритетом для нас является комфорт пациентов.
        .about-us__columns-list
          p.about-us__columns-item Первый стоматологический центр «Риадент» существует с 2007 года. В 2016 году свои двери открыл наш первый центр имплантации и протезирования «Риадент» в г. Сибай, а уже в 2019 году начал свою работу один из крупнейших центров «Риадент» в г. Уфа. Совсем недавно, в 2020 году, мы запустили детское отделение — стоматологию для самых маленьких, в которую вложили особенно много сил и трепета, ведь речь шла о самом дорогом — детях.
          p.about-us__columns-item Несмотря на то, что уфимский центр центр начал свою работу сравнительно недавно, мы преобразили улыбки более 5.000 наших пациентов.
