section.additions
  .container.additions__container
    p.additions__title Вместе с услугой протезирования на имплантах в Уфе могут так же быть интересны другие наши услуги стоматологии:
    .additions__logo
      img(src="img/ria-logo.png" width="333" alt="")
    .additions__list
      a.additions__item(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/implantaciya-pod-kljuch/")
        .additions__top
        .additions__bottom
          span Имплантация зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/")
        .additions__top
        .additions__bottom
          span Протезирование зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/khirurgiya/")
        .additions__top
        .additions__bottom
          span Хирургическое лечение зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/")
        .additions__top
        .additions__bottom
          span Коронки
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/detskaya-stomatologiya/lechenie-kariesa-u-detey/")
        .additions__top
        .additions__bottom
          span Лечение кариеса
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontita/")
        .additions__top
        .additions__bottom
          span Лечение пародонтита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/khirurgiya/kostnaya-plastika/")
        .additions__top
        .additions__bottom
          span Костная пластика
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/khirurgiya/sinus-lifting/")
        .additions__top
        .additions__bottom
          span Синус лифтинг
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-pulpita/")
        .additions__top
        .additions__bottom
          span Лечение пульпита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/lechenie-zubov/maloinvozivnoe-lechenie/")
        .additions__top
        .additions__bottom
          span Малоинвазивное лечение
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-kisty/")
        .additions__top
        .additions__bottom
          span Лечение пародонтита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/lyuminiry/")
        .additions__top
        .additions__bottom
          span Люминиры
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontoza/")
        .additions__top
        .additions__bottom
          span Лечение пародонтоза
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/lechenie-desen/")
        .additions__top
        .additions__bottom
          span Лечение десен
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/")
        .additions__top
        .additions__bottom
          span Виниры
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/bruksizm/")
        .additions__top
        .additions__bottom
          span Бруксизм, лечение
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/")
        .additions__top
        .additions__bottom
          span Исправление прикуса
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-podvizhnosti-zubov/")
        .additions__top
        .additions__bottom
          span Лечение подвижности зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-gingivita/")
        .additions__top
        .additions__bottom
          span Лечение гингивита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/detskaya-stomatologiya/lechenie-molochnykh-zubov/")
        .additions__top
        .additions__bottom
          span Лечение молочных зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/lechenie-zubov-vo-sne/")
        .additions__top
        .additions__bottom
          span Лечение зубов во сне
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/bruksizm/")
        .additions__top
        .additions__bottom
          span Лечение десен аппаратом «Вектор»
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/diagnostika/")
        .additions__top
        .additions__bottom
          span Диагностика заболеваний
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-granulemy/")
        .additions__top
        .additions__bottom
          span Лечение гранулемы
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
