section.additions
  .container.additions__container
    p.additions__title Вместе с услугой протезирования на имплантах в Уфе могут так же быть интересны другие наши услуги стоматологии:
    .additions__logo
      img(src="img/ria-logo.png" width="333" alt="")
    .additions__list
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Имплантация зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Протезирование зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Хирургическое лечение зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Коронки
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение кариеса
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение пародонтита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Костная пластика
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Синус лифтинг
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение пульпита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Малоинвазивное лечение
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение пародонтита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Люминиры
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение пародонтоза
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение десен
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Виниры
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Бруксизм, лечение
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Исправление прикуса
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение подвижности зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение гингивита
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение молочных зубов
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение зубов во сне
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Лечение десен аппаратом «Вектор»
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Диагностика заболеваний
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
      a.additions__item(href="#")
        .additions__top
        .additions__bottom
          span Плазмолифтинг
          .additions__arrow
            svg(width="11" height="12")
              use(xlink:href="img/sprite.svg#additions-arrow")
