section.some-staff
  .container.some-staff__container
    h1 Стоматолог-пародонтолог Ахметгареева Алия Шамилевна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/ahmetgareeva-aliya.webp")
          img(src="img/ahmetgareeva-aliya.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 8 лет
        p <strong>Специализация:</strong> удаление зубов любой сложности, имплантация зубов, пластика слизистой вокруг имплантов, устранение рецессий десны, направленная костная регенерация, лечение заболеваний десен, открытый/закрытый кюретаж зубов, применение лазера при работе с мягкими тканями полости рта, плазмолифтинг, профессиональная гигиена зубов
        strong Дополнительная квалификация
        ul
          li «Плазмолифтинг в стоматологии» Лектор:Гуляева О.А.;
          li «Принципы профилактики периимплантита с использованием современных технологий»;
          li «Применение диодных лазеров в стоматологии»;
          li «Пластика десны в области зубов и имплантов» Лектор: Загробян А.Г.;
          li «Дентальный микроскоп в стоматологии. Базовый курс» Лектор: Максимов А.А.
          li «Устранение множественных рецессий десны методом »VISTA« Лектор: Атрушкевич В.Г.;
          li «Направленная костная регенерация.Материалы для аугментации при направленной костной регенерации. Моделирование барьерных материалов в зависимости от топографии восстанавливаемого участка» Смбатян Б.С;
          li Семинар «Микрохирургический подход при проведении зубосохраняющих операций» Лектор: Бадалян Кристина Юрьевна;
          li г.Екатеринбург «Практический курс по пародонтологии» Витал ЕВВ;
          li «Vector Polish» методика лечения заболеваний пародонта Витал ЕВВ г.Екатеринбург;
