section.ainur-baby
  .container.ainur-baby__container
    .ainur-baby__images
      picture
        source(type="image/webp" srcset="img/ainur-baby1.webp")
        img(src="img/ainur-baby1.png" width="134" height="211" alt="")
      picture.ainur-baby__svyateishestvo
        source(type="image/webp" srcset="img/ainur-baby2.webp")
        img(src="img/ainur-baby2.png" width="491" height="647" alt="")
      picture
        source(type="image/webp" srcset="img/ainur-baby3.webp")
        img(src="img/ainur-baby3.png" width="181" height="188" alt="")
    .ainur-baby__circle
      .ainur-baby__inside-circle
        .ainur-baby__elem.ainur-baby__elem--1
        .ainur-baby__elem.ainur-baby__elem--2
        .ainur-baby__elem.ainur-baby__elem--3
        .ainur-baby__elem.ainur-baby__elem--4
        .ainur-baby__elem.ainur-baby__elem--5
        .ainur-baby__elem.ainur-baby__elem--6
        span.ainur-baby__text-elem.ainur-baby__text-elem--1 Стоматологи с большим опытом
        span.ainur-baby__text-elem.ainur-baby__text-elem--2 Лечение под наркозом
        span.ainur-baby__text-elem.ainur-baby__text-elem--3 Детская игровая зона
        span.ainur-baby__text-elem.ainur-baby__text-elem--4 Седация
        span.ainur-baby__text-elem.ainur-baby__text-elem--5 Качественное лечение
        span.ainur-baby__text-elem.ainur-baby__text-elem--6 Мультики
