section.service-slider.akcii1-slider
  .container.service-slider__container
    .service-slider__wrapper
      h1.service-slider__title Семейная скидка для первичных пациентов
      .service-slider__img
        picture
          source(type="image/webp" media="(min-width: 768px)" srcset="img/akcii-slider-laptop.webp")
          source(type="image/webp" srcset="img/akcii-slider-mobile.webp")
          source(media="(min-width: 768px)"  srcset="img/akcii-slider-laptop.png" alt="")
          img(src="img/service-slider-mobile.png" alt="")
      .service-slider__text
        p Скидка всем новым пациентам – 3% на лечение зубов для членов их семьи.
      .service-slider__button-block.akcii-slider__button-block.form__call-popup
        button.service-slider__button Записаться на прием
