section.all-on-6-4
  .container.four-steps__container
    h2.four-steps__title Этапы установки зубных протезов на 6-ти имплантах (All-on-6)
    p Важно понимать, что назначить имплантацию All-on-6 может только стоматолог, основываясь на результатах диагностики и наличии противопоказаний пациента.
    strong Хирургический шаблон — специальный гибкий протез из нейлона, в котором заранее проделаны отверстия для направления имплантатов. С его помощью вживление проходит быстро и точно, не требуются разрезы и швы.
    .four-steps__list
      .four-steps__item
        .four-steps__icon
          svg(width="44" height="44")
            use(xlink:href="img/sprite.svg#four-steps1")
        .four-steps__text
          p 1 этап:
          h3 Диагностика
          p Для начала будет проведена компьютерная томография и, возможно, назначены дополнительные анализы. Если не обнаружено никаких противопоказаний, начинается следующий этап.
      .four-steps__item
        .four-steps__icon
          svg(width="45" height="44")
            use(xlink:href="img/sprite.svg#four-steps2")
        .four-steps__text
          p 2 этап:
          h3 Подготовка
          p Имплантологу необходимо тщательно спланировать операцию: где, как и под каким углом установить имплантаты. Все необходимые вычисления делаются с помощью компьютерного моделирования, затем создаются хирургические шаблоны.
      .four-steps__item
        .four-steps__icon
          svg(width="40" height="42")
            use(xlink:href="img/sprite.svg#four-steps3")
        .four-steps__text
          p 3 этап:
          h3 Имплантация
          p Непосредственно установка шести имплантатов. Если требуется сначала удалить зубы, это делают тут же, проводя одномоментную имплантацию. Также снимается слепок для изготовления протеза.
      .four-steps__item
        .four-steps__icon
          svg(width="33" height="44")
            use(xlink:href="img/sprite.svg#four-steps4")
        .four-steps__text
          p 4 этап:
          h3 Протезирование
          p После заживления десны (3-4 дня) на имплантаты устанавливают готовый протез из акрила,с зубами из металлопластика. Такой протез можно носить максимум 4 года, затем его рекомендуется заменить на более крепкий (металлокерамика, цирконий).
