section.all-on-6-3
  .container.all-on-6-3__container
    h2 Преимущества All-on-6
    ul
      li <strong>Надёжность</strong>. Высокие показатели приживаемости и первичной стабильности имплантатов;
      li <strong>Эстетичность</strong>. Акриловый протез с искусственной десной выглядит естественно и красиво;
      li <strong>Безопасность</strong>. Минимальный риск осложнений, низкая травматичность и быстрая реабилитация;
      li <strong>Функциональность</strong>. Жевательная функция восстановлена с первого дня, за 2-3 недели становясь полноценной;
      li <strong>Доступность</strong>. Подходит пациентам с атрофией костной ткани, как альтернатива остеопластике.
