section.all-on-8-1
  .container.img-left__container
    .img-left__text
      h2 Имплантация All-on-8
      p Протокол имплантации All-on-8 аналогичен All-on-6 и All-on-4. Принцип тот же: искусственная челюсть крепится на несколько имплантатов, что позволяет полностью восстановить зубной ряд челюсти.
      p Разница в том, что в случае с All-on-8 для крепления протеза устанавливают от 8 до 12 имплантатов. Это ещё называют базальной имплантацией.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/all-on-8-1.webp")
        img(src="img/all-on-8-1.jpg" alt="")
