section.all-on-8-2
  .container.img-right__container
    .img-right__text
      h2 Имплантация All-on-8 в Уфе
      p Стоматологическая клиника “Риадент” предлагает услуги по всем видам имплантации, в том числе и All-on-8. Мы применяем только качественные и проверенные имплантаты известных европейских производителей. Высокая техническая оснащённость клиники позволяет чётко планировать и успешно проводить сложные стоматологические операции. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
