section.all-on-6-2
  .container.img-left__container
    .img-left__text
      strong Специальное покрытие штифтов стимулирует регенерацию костной ткани, что усиливает надёжность и стабильность всей конструкции
      p Уже через 2-3 дня можно нагружать эти штифты искусственной челюстью. То есть, уже через два посещения с небольшим перерывом вы получаете новую красивую улыбку.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
