section.all-on-8-4
  .container.img-right__container
    .img-right__text
      h2 Особенности  Имплантации
      p При протоколе All-on-8 стержни имплантатов устанавливаются не в губчатое вещество кости, а в более глубокие слои, чтобы обеспечить устойчивость и лучшие условия для приживления. Спланировать такую операцию сложнее, чем другие варианты этого метода. Но несмотря на это, All-on-8 тоже подразумевает немедленную нагрузку: готовый протез можно устанавливать через 3-5 дней.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
