section.all-on-8-3
  .container.img-left__container
    .img-left__text
      h2 Когда применяется имплантация 8 протезов по методике – All-on-8
      p Этот вид протезирования подходит пациентам с высоким уровнем недостатка костной ткани, а также курящим, поскольку они имеют низкую плотность кости. При таких показателях стандартные протоколы на 4 и 6 имплантатах могут не дать достаточную устойчивость конструкции
    .img-left__img
      picture
        source(type="image/webp" srcset="img/all-on-8-3.webp")
        img(src="img/all-on-8-3.jpg" alt="")
