section.allservices
  .container.allservices__container
    h2.allservices__title Услуги
    .allservices__columns
      .allservices__column
        ul.allservices__list
          li.allservices__item
            a(href="#") Имплантация зубов
          li.allservices__item
            a(href="#") Лечение кариеса
          li.allservices__item
            a(href="#") Малоинвазивное лечение
          li.allservices__item
            a(href="#") Лечение пародонтоза
          li.allservices__item
            a(href="#") Бруксизм, лечение
          li.allservices__item
            a(href="#") Лечение десен аппаратом "Вектор"
          li.allservices__item
            a(href="#") Протезирование зубов
          li.allservices__item
            a(href="#") Коронки
          li.allservices__item
            a(href="#") Лечение гранулемы
      .allservices__column
        ul.allservices__list
          li.allservices__item
            a(href="#") Протезирование зубов
          li.allservices__item
            a(href="#") Лечение пародонтита
          li.allservices__item
            a(href="#") Лечение пародонтита
          li.allservices__item
            a(href="#") Лечение десен
          li.allservices__item
            a(href="#") Исправление прикуса
          li.allservices__item
            a(href="#") Лечение десен аппаратом "Вектор"
          li.allservices__item
            a(href="#") Диагностика заболеваний
          li.allservices__item
            a(href="#") Синус лифтинг
          li.allservices__item
            a(href="#") Люминиры
      .allservices__column
        ul.allservices__list
          li.allservices__item
            a(href="#") Хирургическое лечение зубов
          li.allservices__item
            a(href="#") Лечение пульпита
          li.allservices__item
            a(href="#") Костная пластика
          li.allservices__item
            a(href="#") Лечение десен
          li.allservices__item
            a(href="#") Виниры
          li.allservices__item
            a(href="#") Лечение подвижности зубов
          li.allservices__item
            a(href="#") Лечение зубов во сне
          li.allservices__item
            a(href="#") Лечение гингивита
          li.allservices__item
            a(href="#") Лечение молочных зубов
