section.allservices
  .container.allservices__container
    h2.allservices__title Услуги
    .allservices__columns
      .allservices__column
        ul.allservices__list
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/implantaciya/") Имплантация зубов
          li.allservices__item
            a(href="/uslugi/lechenie/lechenie-kariesa-ufa/") Лечение кариеса
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/maloinvozivnoe-lechenie/") Малоинвазивное лечение
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontoza/") Лечение пародонтоза
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/bruksizm/") Бруксизм, лечение
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-desen-apparatom-vektor/") Лечение десен аппаратом "Вектор"
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/") Протезирование зубов
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Коронки
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-granulemy/") Лечение гранулемы
      .allservices__column
        ul.allservices__list
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/") Протезирование зубов
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontita/") Лечение пародонтита
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-desen/") Лечение десен
          li.allservices__item
            a(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/") Исправление прикуса
          li.allservices__item
            a(href="/diagnostika/") Диагностика заболеваний
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/khirurgiya/sinus-lifting/") Синус лифтинг
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/lyuminiry/") Люминиры
      .allservices__column
        ul.allservices__list
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/khirurgiya/") Хирургическое лечение зубов
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-pulpita/") Лечение пульпита
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/khirurgiya/kostnaya-plastika/") Костная пластика
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-desen/") Лечение десен
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/") Виниры
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-podvizhnosti-zubov/") Лечение подвижности зубов
          li.allservices__item
            a(href="/uslugi/lechenie-zubov-vo-sne/") Лечение зубов во сне
          li.allservices__item
            a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-gingivita/") Лечение гингивита
          li.allservices__item
            a(href="/uslugi/detskaya-stomatologiya/lechenie-molochnykh-zubov/") Лечение молочных зубов
