section.some-staff
  .container.some-staff__container
    h1 Стоматолог-ортопед Амрахов Турал Рафаэлович
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/amrahov-tural.webp")
          img(src="img/amrahov-tural.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 8 лет
        p <strong>Специализация:</strong> лечение несъёмными и съемные ортодонтическими аппаратами
    hr
    .some-staff__certificate-wrapper
      button.some-staff__button.some-staff__button--prev
      .some-staff__certificate-inner
        .some-staff__certificate-list
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/tural-certificate1.webp")
              img(src="img/tural-certificate1.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/tural-certificate5.webp")
              img(src="img/tural-certificate5.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/tural-certificate3.webp")
              img(src="img/tural-certificate3.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/tural-certificate4.webp")
              img(src="img/tural-certificate4.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/tural-certificate2.webp")
              img(src="img/tural-certificate2.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/tural-certificate6.webp")
              img(src="img/tural-certificate6.jpg" alt="")
      button.some-staff__button.some-staff__button--next
    .some-staff__running
      h2.some-staff__running-title.some-staff__running-title--1
        span Сертификаты
      h2.some-staff__running-title.some-staff__running-title--2
        span Сертификаты
