section.beforeafter
  .container.beforeafter__container
    .beforeafter__slider
      button.beforeafter__button.beforeafter__button--prev
        svg(width="29" height="29")
          use(xlink:href="img/sprite.svg#left-arrow")
      button.beforeafter__button.beforeafter__button--next
        svg(width="29" height="29")
          use(xlink:href="img/sprite.svg#right-arrow")
      .beforeafter__list
        .beforeafter__item
          .beforeafter__img-block
            picture
              source(srcset="img/amrahov-before1.webp" type="image/webp")
              img(src="img/amrahov-before1.jpg" alt="")
            .beforeafter__before-img
              picture
                source(srcset="img/amrahov-after1.webp" type="image/webp")
                img(src="img/amrahov-after1.jpg" alt="")
          .beforeafter__text-block
            p <strong>История:</strong> Пациент обратился с жалобами на отсутствие зубов, нарушение функции жевания и эстетики. Долгое время носил полные съемные протезы на верхней и нижней челюсти, фиксация старого протеза ослабевала за счет усадки кости верхней и нижней челюсти.
            p <strong>Описание:</strong> Зубы полностью отсутствовали на верхней и нижней челюсти. В связи с этим пациента беспокоило нарушение дикции и болезненные ощущения за счет съемных протезов. Также он жаловался на невозможность носить полный съёмный протез из-за его плохой фиксации.
            p <strong>Проведено:</strong> Хирургический установлено 10 имплантатов (6 на верхней и 4 на нижней челюсти). Ортопедическое лечение: протезирование металлокерамикой на 6 имплантатах верхней челюсти, на нижней челюсти металлокомпозит с опорой на 4 имплантатах.
      .beforeafter__item
        .beforeafter__img-block
          picture
            source(srcset="img/amrahov-before2.webp" type="image/webp")
            img(src="img/amrahov-before2.jpg" alt="")
          .beforeafter__before-img
            picture
              source(srcset="img/amrahov-after2.webp" type="image/webp")
              img(src="img/amrahov-after2.jpg" alt="")
        .beforeafter__text-block
          p <strong>История:</strong> Пациентка обратилась с жалобами на подвижность передних зубов верхней челюсти, на эстетическую неудовлетворенность, и нарушения фиксации частично съемных протезов.
          p <strong>Описание:</strong> На верхней челюсти присутствовали 3 передних резца протезированные металлокерамической коронкой, подвижные, зубы подлежали удалению, фиксация верхних протезов было нарушено.
          p <strong>Проведено:</strong> Хирургический установлено 4 имплантата(на верхней челюсти). Ортопедическое лечение: протезирование условно съемным протезом на балочной конструкцией с опорой на 4 имплантата.
      .beforeafter__item
        .beforeafter__img-block
          picture
            source(srcset="img/amrahov-before3.webp" type="image/webp")
            img(src="img/amrahov-before3.jpg" alt="")
          .beforeafter__before-img
            picture
              source(srcset="img/amrahov-after3.webp" type="image/webp")
              img(src="img/amrahov-after3.jpg" alt="")
        .beforeafter__text-block
          p <strong>История:</strong> Пациентка с жалобами на разрушенные и подвижные зуба нижней челюсти, из-за которых было нарушено функция жевания.
          p <strong>Описание:</strong> На нижней челюсти присутствовали разрушенные и подвижные зубы, которые подлежали удалению.
          p <strong>Проведено:</strong> Хирургически установлено 4 имплантата на нижней челюсти. Ортопедическое лечение: Протезирование условно-съемным протезом на балочной конструкцией на нижней челюсти с опорой на 4х имплантатах.
      .beforeafter__item
        .beforeafter__img-block
          picture
            source(srcset="img/amrahov-before4.webp" type="image/webp")
            img(src="img/amrahov-before4.jpg" alt="")
          .beforeafter__before-img
            picture
              source(srcset="img/amrahov-after4.webp" type="image/webp")
              img(src="img/amrahov-after4.jpg" alt="")
        .beforeafter__text-block
          p <strong>История:</strong> Пациентке накануне юбилея муж решил сделать приятный и в то же время полезный подарок.
          p <strong>Описание:</strong> На нижней челюсти присутствовали разрушенные и подвижные зубы, которые подлежали удалению.
          p <strong>Проведено:</strong> Случай по полной реабилитации металлокерамической конструкцией, все на 4-ех имплантатах.
      .otzivi__button-list
