section.some-staff
  .container.some-staff__container
    h1 Детский стоматолог Арсланова (Халилова) Гузель Фанилевна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/arslanova-guzel.webp")
          img(src="img/arslanova-guzel.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 4 года
        p <strong>О себе:</strong> Выбор моей будущей профессии не случаен. С 10 класса я твёрдо знала что пойду учиться именно на стоматолога. На мой взгляд, определённые черты моего характера такие как: усидчивость, терпение, любовь к людям и желание им помочь, являются важным для этой профессии. На третьем курсе обучения в университете я начала работать ассистентом врача-стоматолога терапевта, которая вела смешанный приём и детишек, и взрослых. Её особый поход и любовь к детям привили мне любовь к своей будущей профессии и к очевидному выбору специализации! Вот уже третий год я детский стоматолог, чему безумно рада!
        strong Дополнительная квалификация:
        ul
          li Сложные аспекты «простых» манипуляций профессиональной гигиены полости рта. Гецман А.В.;
          li Кариозные поражения временных и постоянных зубов. Профилактика CAMBRA. Гецман А.В. (г.Екатеринбург);
          li Консультация, как самый эффективный инструмент самореализации врача и клиники. Виталий Поволоцкий;
          li Реставрации молочных зубов. Наталья Адаева;
          li Полное погружение в детство. Наталья Адаева;
          li Детская стоматология: эндодонтия постоянных несформированных зубов. Екатерина Скатова.
    hr
    .some-staff__certificate-wrapper
      button.some-staff__button.some-staff__button--prev
      .some-staff__certificate-inner
        .some-staff__certificate-list
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate1.webp")
              img(src="img/guzel-certificate1.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate2.webp")
              img(src="img/guzel-certificate2.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate3.webp")
              img(src="img/guzel-certificate3.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate4.webp")
              img(src="img/guzel-certificate4.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate5.webp")
              img(src="img/guzel-certificate5.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate6.webp")
              img(src="img/guzel-certificate6.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate7.webp")
              img(src="img/guzel-certificate7.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate8.webp")
              img(src="img/guzel-certificate8.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate9.webp")
              img(src="img/guzel-certificate9.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/guzel-certificate10.webp")
              img(src="img/guzel-certificate10.jpg" alt="")
      button.some-staff__button.some-staff__button--next
    .some-staff__running
      h2.some-staff__running-title.some-staff__running-title--1
        span Сертификаты
      h2.some-staff__running-title.some-staff__running-title--2
        span Сертификаты
