section.some-staff
  .container.some-staff__container
    h1 Детский стоматолог Арсланова Гузель Фанилевна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/arslanova-guzel.webp")
          img(src="img/arslanova-guzel.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 4 года
        p <strong>О себе:</strong> Выбор моей будущей профессии не случаен. С 10 класса я твёрдо знала что пойду учиться именно на стоматолога. На мой взгляд, определённые черты моего характера такие как: усидчивость, терпение, любовь к людям и желание им помочь, являются важным для этой профессии. На третьем курсе обучения в университете я начала работать ассистентом врача-стоматолога терапевта, которая вела смешанный приём и детишек, и взрослых. Её особый поход и любовь к детям привили мне любовь к своей будущей профессии и к очевидному выбору специализации! Вот уже третий год я детский стоматолог, чему безумно рада!
        strong Дополнительная квалификация:
        ul
          li Сложные аспекты «простых» манипуляций профессиональной гигиены полости рта. Гецман А.В.;
          li Кариозные поражения временных и постоянных зубов. Профилактика CAMBRA. Гецман А.В. (г.Екатеринбург);
          li Консультация, как самый эффективный инструмент самореализации врача и клиники. Виталий Поволоцкий;
          li Реставрации молочных зубов. Наталья Адаева;
          li Полное погружение в детство. Наталья Адаева;
          li Детская стоматология: эндодонтия постоянных несформированных зубов. Екатерина Скатова.
