section.some-staff
  .container.some-staff__container
    h1 Стоматолог-терапевт Айдагулова Лиана Фларитовна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/unknown-staff.webp")
          img(src="img/unknown-staff.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 2 года
        p <strong>Специализация:</strong> Лечение кариеса и эстетическая реставрация зубов
        strong Дополнительная квалификация:
        ul
          li «Одна неделя на приеме с эндодонтистом» Болячин А.В., 2020г.;
          li Эндодонтический курс «Ultimate endo» Михаил Елендо, 2021г.;
          li Реставрация фронтальных зубов, Василиадис Р., 2021г.;
          li Курс по прямым композитным реставрациям «Direct Posterior», Руслан Беретарь, 2021г.
    hr
    .some-staff__certificate-wrapper
      button.some-staff__button.some-staff__button--prev
      .some-staff__certificate-inner
        .some-staff__certificate-list
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate1.webp")
              img(src="img/liana-certificate1.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate2.webp")
              img(src="img/liana-certificate2.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate3.webp")
              img(src="img/liana-certificate3.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate4.webp")
              img(src="img/liana-certificate4.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate5.webp")
              img(src="img/liana-certificate5.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate6.webp")
              img(src="img/liana-certificate6.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate7.webp")
              img(src="img/liana-certificate7.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/liana-certificate8.webp")
              img(src="img/liana-certificate8.jpg" alt="")
      button.some-staff__button.some-staff__button--next
    .some-staff__running
      h2.some-staff__running-title.some-staff__running-title--1
        span Сертификаты
      h2.some-staff__running-title.some-staff__running-title--2
        span Сертификаты
