section.some-staff
  .container.some-staff__container
    h1 Стоматолог-хирург Бахадурзаде Самандар Каримович
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/bahadurzade-sam.webp")
          img(src="img/bahadurzade-sam.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 3 года
        p <strong>Специализация:</strong> дентальная имплантация, удаление зубов, установка несъёмных протезов по методике All-On-4
