section.blog
  .container.blog__container
    h1 Блог
    .blog__list
      .blog__item
        .blog__video
          iframe(width="100%" height="100%" src="https://www.youtube.com/embed/PsH2uhi3HGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .blog__text
          h2 Процессы возникновения заболевания десен – ЛЕПИМ ЗУБ!
          p Вместе с пародонтологом стоматологической клиники “Риадент” Вероникой Игоревной мы наглядно показали процесс возникновения заболевания десен. Как сформирован зуб, какие ткани его окружают и что свидетельствует воспалению тканей десны – мы слепили зуб и обсудили самые распространенные вопросы. О том, как правильно ухаживать за полостью рта и в каком случае следует обратиться к специалисту смотрите в этом видео.
      .blog__item
        .blog__video
          iframe(width="100%" height="100%" src="https://www.youtube.com/embed/LH1Y0qgkIl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .blog__text
          h2 Что в косметичке у блогера?
          p Психолог и блогер Элина Мадрид рассказала, какие средства по уходу за зубами есть в ее “косметичке”. В беседе с пародонтологом мы выяснили, какие из продуктов стоит использовать, а о каких лучше забыть.
      .blog__item
        .blog__video
          iframe(width="100%" height="100%" src="https://www.youtube.com/embed/_hRPPVNfdjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .blog__text
          h2 Один день из жизни стоматолога-хирурга
          p Мы хотим рассказать Вам об одном из множества насыщенных дней нашего стоматолога-хирурга Бахадурзаде Самандара Каримовича. Как начинается его день, как происходит подготовка к операции, интересные случаи с пациентами — мы узнали много интересного!
