section.breket
  .container.breket__container
    .breket__text
      h2.breket__title Брекет-системы для детей
      p Стоматологическая клиника Риадент устанавливает брекет-системы для детей по приемлемым ценам в Уфе. Команда опытных стоматологов- ортодонтов  подберет для ребёнка подходящий вид конструкции, чтобы процесс лечения прошёл безболезненно и в максимально быстрые сроки. Запишитесь прямо сейчас на бесплатный приём
    .breket__img
      picture
        source.gallery__item-webp(type="image/webp" srcset="img/breket.webp")
        img.gallery__item-img(src="img/breket.png" width="514" height="355" alt="")
