section.some-staff
  .container.some-staff__container
    h1 Стоматолог-ортодонт Бутская Яна Михайловна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/unknown-staff.webp")
          img(src="img/unknown-staff.jpg" alt="")
      .some-staff__text
        p <strong>О себе:</strong> Стоматолог в третьем поколении. С детства была ортодонтическим пациентам, и не представляла уже себе жизнь без ортодонтии. С 5 лет хотела исправлять зубы.
        p <strong>Образование:</strong> Волгоградский Государственный Медицинский университет
        p <strong>Стаж работы:</strong> 10 лет
        p <strong>Специализация:</strong> лечение аномалий прикуса на брекетах, на аппаратах съёмных и не съёмных (детская ортодонтия), элайнеры
        p <strong>Сертификаты:</strong>
        ul
          li «Реставрация временных зубов после эндодонтического лечения с использованием стандартных металлических коронок» 23.09.2016
          li «Трёхмерная компьютерная лучевая диагностика (3Д К-т, СРКТ, МРТ) в амбулаторной стоматологии, челюстно-лицевой хирургии и оториноларингологии» 14.09.2016
          li «Клинические аспекты лечения и профилактики в детской стоматологии» 13.06.2016
          li «Особенности стоматологической помощи беременным и кормящим пациенткам» 15.05.2015
          li «Особенности работы с детьми на хирургическом стоматологическом приеме» 16.06.2016
          li «Современные аспекты эндодонтического лечения кариеса у детей» 14.11.2015
          li «Диагностика ортодонтического пациента» 12.05.2018
          li «Ортодонтия детского возраста» 24.11.2018
          li «Ошибки и осложнения на различных этапах ортодонтического лечения» 15.12.2019
          li Ортодонтичечкая школа” 2019-2020 год г. Челябинск”
