section.ceni
  .container.ceni__container
    h1 Прейскурант услуг
    .ceni__wrapper
      .ceni__item
        h2.ceni__item-title.ceni__item-title--show Консультация
        table.ceni__table.ceni__table--show
          tr
            td Прием (осмотр, консультация) врача-стоматолога-хирурга
            td 0
          tr
            td Прием (осмотр, консультация) врача-стоматолога-терапевта
            td 500
          tr
            td Прием (осмотр, консультация) врача-стоматолога-пародонтолога
            td 500
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортопеда
            td 0
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортрдонта
            td 0
          tr
            td Прием (осмотр, консультация, составление плана лечения) врача-стоматолога детского
            td 500
          tr
            td Осмотр и оформление справки в детский садик, школу и другие учреждения по поводу санации полости рта
            td 500
          tr
            td Консультация врача-стоматолога по беременности
            td 500
      .ceni__item
        h2.ceni__item-title Наркоз и седация
        table.ceni__table
          tr
            td Консультация анестезиолога-реаниматолога
            td 1500
          tr
            td Масочная седация (Закись азота). Первые 30 мин
            td 3000
          tr
            td Масочная седация (Закись азота). Каждые последующие 30 мин
            td 1800
          tr
            td Масочная седация (Севоран). 15 мин
            td 1000
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Первый час
            td 14400
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующие 30 мин
            td 2700
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующий час
            td 5400
          tr
            td Внутримышечное введение препаратов
            td 450
          tr
            td Внутривенное введение препаратов
            td 450
          tr
            td Антигистаминная подготовка
            td 400
          tr
            td Внеротовые методы обезболивания
            td 400
          tr
            td Проводниковая анестезия с применением карпульных препаратов
            td 580
          tr
            td Инфильтрационная анестезия с применением карпульных препаратов
            td 580
          tr
            td Послеоперационное наблюдение. Мониторинг до 30 мин
            td 1500
          tr
            td Послеоперационное наблюдение. Мониторинг от 1 часа до 3 часов
            td 3500
          tr
            td Внутривенная седация в комбинации с местной анестезией. 30 мин
            td 2800
          tr
            td Внутривенная седация в комбинации с местной анестезии. Длительность до 1 часа.
            td 6800
          tr
            td Внутривенная седация в комбинации с местной анестезии при продолжительности седации более одного часа, дополнительно за каждые 60 мин
            td 5500
      .ceni__item
        h2.ceni__item-title Ретгенология 
        table.ceni__table
          tr
            td Прицельная внутриротовая контактная рентгенография
            td 300
          tr
            td Ортопантомограмма
            td 650
      .ceni__item
        h2.ceni__item-title Компьютерная томография
        table.ceni__table
          tr
            td Исследование методом 3D компьютерной томографии 80*80
            td 1800
          tr
            td Исследование методом 3D компьютерной томографии 100*100
            td 2000
          tr
            td Повторная компьютерная томография 100*100
            td 500
          tr
            td ТРГ в прямой или боковой проекции (одна проекция)
            td 700
          tr
            td Анализ и расчет ТРГ(результаты выдаются в теч.3х дней)
            td 1200
          tr
            td Выдача результата исследования методом КЛКТ на USB -флеш - накопителе
            td 250
      .ceni__item
        h2.ceni__item-title Пародонтология
        table.ceni__table
          tr
            td Плазмолифтинг 1 пробирка
            td 2500
          tr
            td Дополнительная пробирка плазмолифтинг
            td 1000
          tr
            td Вскрытие пародонтального абсцесса
            td 2000
          tr
            td Удаление наддесневых и поддесневых зубных отложений в области зуба ручным методом (КЮРЕТАЖ)
            td 550
          tr
            td Удаление эпулиса
            td 2000
          tr
            td Временное шинирование при заболеваниях пародонта (в области двух зубов), 1 см (Риббонд)
            td 8000
          tr
            td Временное шинирование при заболеваниях пародонта (в области четырех-шести зубов)
            td 11250
          tr
            td Назначение медикаментозного лечения при заболеваниях полости рта и зубов
            td 600
          tr
            td Лечебная аппликация верхней, нижней челюсти
            td 1200
          tr
            td Лечебная аппликация одного сегмента
            td 400
          tr
            td Лечебная повязка одного фрагмента (Парасепт)
            td 700
          tr
            td Медицинская обработка с использованием (Альвожил)
            td 740
          tr
            td Избирательное пришлифовывание твердых тканей зубов (в области одного зуба)
            td 350
          tr
            td Лечение Мукозита и переимплантита (включ.: Антисептическую обработку, механ.обработку-Vector, обработку титановыми куретами)
            td 3000
          tr
            td Лечение переимплантита
            td 5000
          tr
            td Гингивоэктомия зона улыбки
            td 5500
          tr
            td Гингивоэктомия в области 1 зуба
            td 1000
          tr
            td Открытый кюретаж сегмент
            td 5000
          tr
            td Открытый кюретаж в области 2х зубов
            td 2500
          tr
            td Закрытый кюретаж сегмент
            td 4000
          tr
            td Закрытый кюретаж в области 2х зубов
            td 2500
          tr
            td Вестибулопластика (углубление преддверия полости рта) 1 сегмент
            td 10000
          tr
            td Гингивопластика с устранением рецессии десны в области 1го зуба
            td 2500
          tr
            td Ультразвуковая обработка патологических зубодесневых карманов в области одного зуба
            td 350
          tr
            td Ультразвуковая обработка пародонтальных карманов 1 сегмента (7-8 зубов) (Аппаратом VECTOR)
            td 1500
          tr
            td Ультразвуковая обработка пародонтального кармана в области зуба (Аппаратом VECTOR)
            td 700
          tr
            td Ультразвуковая обработка пародонтального кармана в области зубов одной чеплюсти (Аппаратом VECTOR)
            td 3000
          tr
            td Ультразвуковое удаление наддесневых и поддесневых зубных отложений с помощью ультразвука (в области одного зуба), полирование пастой
            td 400
          tr
            td Прием (осмотр, консультация) врача-стоматолога-пародонтолога первичный
            td 1000
          tr
            td Комплекс профилактических мероприятий для беременных и кормящих
            td 4900
          tr
            td Комплекс профилактических мероприятий с брекет-системой
            td 4900
          tr
            td Снятие минерализованных зубных отложений ультразвуком со всех зубов
            td 3200
          tr
            td Снятие минерализованных зубных отложений ультразвуком 1 сегмент (7-8 зубов)
            td 1100
          tr
            td Снятие минерализованных зубных отложений ультразвуком 1 зуб
            td 300
          tr
            td Снятие пигментированного и мягкого налета с помощью AirFlow со всех зубов
            td 3500
          tr
            td Снятие пигментированного и мягкого налета с помощью AirFlow 1 зуб
            td 250
          tr
            td Полирование всех зубов
            td 2000
          tr
            td Полирование зубов 1 сегмент (7-8 зубов)
            td 700
          tr
            td Лечение заболеваний пародонта аппаратом Vector всех зубов
            td 6900
          tr
            td Лечение заболеваний пародонта аппаратом Vector 1 сегмент (7-8 зубов)
            td 1900
          tr
            td Реминализирующая терапия всех зубов
            td 1400
          tr
            td Реминализирующая терапия 1 зуб
            td 150
          tr
            td Контролируемая чистка зубов
            td 400
          tr
            td Обучение гигиене полости рта
            td 600
          tr
            td Определение индексов гигиены полости рта
            td 300
          tr
            td Наложение оригинального ретрактора Оптрагейт
            td 300
          tr
            td Аппликация лекарственного препарата на слизистую оболочку полости рта
            td 300
          tr
            td Введение лекарственного препарата в пародонтальный карман
            td 700
          tr
            td Наложение Оптидам, Оптрадам
            td 700
          tr
            td Временное шинирование при заболеваниях пародонта 1 зуб
            td 1900
          tr
            td Полирование ортодонтической конструкции
            td 500
          tr
            td Снятие шины с одной челюсти с полировкой
            td 5000
          tr
            td Анестезия аппликационная
            td 60
          tr
            td Анестезия инфильтрационная
            td 450
          tr
            td Анестезия проводниковая
            td 580
          tr
            td Нанесение саморассасывающейся дентальной повязки Reso-Pac (1 унидоза)
            td 600
          tr
            td Протеин эмалевой матрицы Emdogain от 10000 (0,6 мл)
            td 10000
          tr
            td Нейтральный кондиционер для корневой поверхности Prefgel (0,15 мл)
            td 4000
      .ceni__item
        h2.ceni__item-title Ортодонтия
        table.ceni__table
          tr
            td Определение прикуса
            td 2000
          tr
            td Снятие слепка с одной челюсти
            td 2000
          tr
            td Фиксация брекет-системы на одну челюсть
            td 12000
          tr
            td Фиксация одного брекета
            td 1000
          tr
            td Фиксация одного брекета с учетом брекета
            td 1550
          tr
            td Установка дуги на одну челюсть
            td 500
          tr
            td Снятие дуги с одной челюсти
            td 500
          tr
            td Закрытие замка (установка лигатуры)
            td 300
          tr
            td Открытие замка (снятие лигатуры)
            td 300
          tr
            td Установка мелких дополнительных элементов 1 ед.(эластики, пружины, крючки)
            td 600
          tr
            td Активация, коррекция системы
            td 4000
          tr
            td Снятие одной металлической брекет-системы с одной челюсти
            td 8000
          tr
            td Снятие одного брекета
            td 1000
          tr
            td Сепарация постоянных зубов
            td 1000
          tr
            td Установка дополнительных элементов (кнопка) 1 ед.
            td 550
          tr
            td Эластичные тяги
            td 200
          tr
            td.ceni__item-strong(colspan="2") Брекеты лигатурные
          tr
            td Брекеты Hype керамические лигатурные
            td 15000
          tr
            td Брекеты Biomim металические лигатурные
            td 14000
          tr
            td.ceni__item-strong(colspan="2") Брекеты самолигирующие
          tr
            td Брекеты Pitts 21 металические самолигирующие
            td 19000
          tr
            td Брекеты Н4 металические самолигирующие
            td 17000
          tr
            td.ceni__item-strong(colspan="2") Ретенционный период
          tr
            td Изготовление ретейнера несъемного (1 челюсть)
            td 9000
          tr
            td Изготовление ретейнера съемного (1челюсть)
            td 6000
          tr
            td Фиксация одного звена ретейнера
            td 1000
          tr
            td Снятие ретейнера с 1 зуба, полировка
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Лечение съемными аппаратами (ортодонтические пластинки, трейнеры)
          tr
            td Ортодонтические шипы
            td 500
          tr
            td Изготовление ортодонтического аппарата 1-ой степени сложности
            td 6500
          tr
            td Изготовление ортодонтического аппарата 2-й степени сложности (1-4 допол.элемента,установка простого винта)
            td 9000
          tr
            td Изготовление двухчелюстного аппарата
            td 16000
          tr
            td Изготовление аппарата для форсированного расширения верхней челюсти Марка-росса
            td 18000
          tr
            td Контрольное, наблюдение стоматолога-ортодонта  с ортодонтическим аппаратом,трейнером,активация)
            td 800
          tr
            td Изготовление ортодонтичсекого аппарата 3-й степени сложности(более 4-х допол. элементов, установка трехмерного винта)
            td 10000
          tr
            td Контрольное наблюдение стоматолога-ортодонта с функциональным аппаратом( пластинки)
            td 500
          tr
            td Разобщающие накладки
            td 600
          tr
            td Диагностическая консультация стоматолога-ортодонта (слепки, диагностич.модели, фото)
            td 2000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры
          tr
            td Контрольное наблюдение стоматолога- ортодонта с элайнерами
            td 3000
          tr
            td Сетап для элайнера
            td 16000
          tr
            td Изготовление Т-элайнера (1элайнер)
            td 5000
      .ceni__item
        h2.ceni__item-title Хирургия
        table.ceni__table
          tr
            td Удаление временного зуба
            td 1000
          tr
            td Удаление постоянного зуба простое 3-4 степени подвижности без стоимости анестезии
            td 1000
          tr
            td Удаление постоянного зуба средней степени сложности без стоимости анестезии
            td 2000
          tr
            td Удаление многокорневого зуба с помощью бормашины и раздлением корней без стоимости анестезии
            td 2500
          tr
            td Удаление зуба сложное с разъединением корней
            td 3000
          tr
            td Удаление зуба при незавершенной экстракции в других медицинских организациях
            td 6000
          tr
            td Удаление фрагмента зуба при фрактуре
            td 1000
          tr
            td Удаление 1 степени сложности (дистопированный) без стоимости анестезии
            td 5000
          tr
            td Удаление зуба мудрости
            td 5500
          tr
            td Цистэктомия (в области 1 зуба)
            td 700
          tr
            td Цистэктомия при отсутствии зубов
            td 700
          tr
            td Удаление ретенционной кисты слюнной железы
            td 5000
          tr
            td Лечение альвеолита (с учетом повторного приема)
            td 2500
          tr
            td Удаление экзостоза (в области 1 зуба)
            td 2000
          tr
            td Иссечение гипертрофированной десны (в области 1-3 зубов)
            td 1500
          tr
            td Увеличение высоты клинической коронки зуба
            td 1000
          tr
            td Гингивоостеопластика ретенированного зуба по ортодонтическим показаниям
            td 2000
          tr
            td Открытый кюретаж в области одного зуба
            td 2000
          tr
            td Лоскутная операция в области 4-6 зубов
            td 4500
          tr
            td Пластика уздечки верхней губы
            td 3000
          tr
            td Пластика уздечки нижней губы
            td 3000
          tr
            td Пластика уздечки языка
            td 5000
          tr
            td Вестибулопластика (с учетом повторного приема)
            td 7000
          tr
            td Пластика тяжей слизистой оболочки полости рта
            td 1000
          tr
            td Применение заживляющей антисептической коллагеновой губки
            td 500
          tr
            td Использование противоспалительных обезболивающих препаратов
            td 500
          tr
            td Использование пины для фиксации мембраны
            td 300
          tr
            td Использование одноразового костного скребка
            td 7000
          tr
            td Использование коллагеновой губки
            td 500
          tr
            td Использование викрил (полиамид)
            td 500
          tr
            td Изготовление аутогенной тромбоцитной плазмы
            td 2000
          tr
            td Дополнительная ампула для изготовления аутогенной тромбоциторной плазмы
            td 500
          tr
            td Лечение перикоронита (промывание, рассечение/иссечение капюшона) с учетом стоимости повторного приема
            td 2500
          tr
            td Пластика рецессии десны коронально смещенным лоскутом в области одного зуба
            td 4500
          tr
            td Пластика рецессии десны латерально смещенным лоскутом в области одного зуба
            td 7000
          tr
            td Пластика при рецессии десны свободным соединительно-тканным трансплантантом из области нёба и других донорских зон ротовой полости (в области 1 зуба)
            td 9000
          tr
            td Резекция верхушки корня зуба с цистэктомией во фронтальном отделе (до 1 см) без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией во фронтальном отделе (более 1 см) без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией в боковом (дистальном) отделе верхней челюсти без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией в боковом (дистальном) отделе нижней челюсти без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией на дополнительный зуб
            td 4200
          tr
            td Вылущивание гранулемы / кисты
            td 1100
          tr
            td Иссечение доброкачественных образований полости рта до 1 см
            td 1500
          tr
            td Иссечение доброкачественных образований полости рта более 1 см
            td 2000
          tr
            td Предоперационная подготовка
            td 2000
          tr
            td Хирургический шаблон
            td 5500
      .ceni__item
        h2.ceni__item-title Дополнительные услуги:
        table.ceni__table
          tr
            td Индивидуальный подбор медикаментозной терапии
            td 1000
      .ceni__item
        h2.ceni__item-title Дентальная имплантация
        table.ceni__table
          tr
            td Костный материал Лиопласт (кортикальный порошок) 0.5 мл
            td 4200
          tr
            td Использование резорбируемой мембраны «Био-гайд» 30*40 мм
            td 20000
          tr
            td Костный материал Лиопласт (кортикальный порошок) 1 гр
            td 6000
          tr
            td Костный материал Лиопласт (кортикальный порошок) 5 мл
            td 12700
          tr
            td Костный материал Лиопласт (спонгиозный порошок) 0.5 мл
            td 3400
          tr
            td Костный материал Лиопласт (спонгиозный порошок) 1 мл
            td 5400
          tr
            td Костный материал Лиопласт (спонгиозный порошок) 5 мл
            td 12700
          tr
            td Использование резорбируемой мембраны «Био-гайд» 25*25 мм
            td 15000
          tr
            td Использование резорбируемой мембраны «Био-гайд» 16*22 мм
            td 12000
          tr
            td Использование костного материала «Био-гайд» 2,0
            td 30000
          tr
            td Использование костного материала «Био-гайд» 0,5
            td 10000
          tr
            td Минерализованные губчатые блоки Лиопласт (05*05*05 2 шт) ЛИО 57
            td 3000
          tr
            td Минерализованные губчатые блоки Лиопласт (0.5*0.5*0.5 4 шт.) ЛИО 59
            td 4800
          tr
            td Минерализованные губчатые блоки Лиопласт (0.5*0.5*0.5- 5 мл) ЛИО 55
            td 9300
          tr
            td Минерализованные губчатые блоки Лиопласт (4*2*1 - 1 шт) ЛИО 32
            td 7300
          tr
            td Минерализованные губчатые блоки Лиопласт (4*2*1 1 шт) ЛИО 33
            td 7300
          tr
            td Минерализованные губчатые блоки Лиопласт (2*1*1 - 1 шт) ЛИО 68
            td 4300
          tr
            td Минерализованные губчатые блоки Лиопласт (2*2*1 - 1 шт) ЛИО 72
            td 5700
          tr
            td Минеральный дополнительный компонент Лиопласт (0,05-0,1 мм, 0,5 мл) ЛИО 35
            td 3500
          tr
            td Минеральный дополнительный компонент Лиопласт (0.05-0,1 мм, 1,0 мл) ЛИО 36
            td 5500
          tr
            td Минеральный дополнительный компонент Лиопласт (0,001-0,005 мм, 0,5 мл) ЛИО 49
            td 2800
          tr
            td Минеральный дополнительный компонент Лиопласт (0,05-0,1 мм, 0,5+1 шт) ЛИО 78
            td 3800
          tr
            td Кортикальные блоки Лиопласт (2*2*0,5) ЛИО 30
            td 3300
          tr
            td Кортикальные блоки Лиопласт (2*2*0,1) ЛИО 120
            td 4000
          tr
            td Кортикальные блоки Лиопласт (2*1*0,5) ЛИО 39
            td 3000
          tr
            td Кортикальные блоки Лиопласт (2*2*0,5) ЛИО 114
            td 4700
          tr
            td Использование костного винта (саморезного)
            td 2000
          tr
            td Закрытый синус-лифтинг
            td 15000
          tr
            td Взятие аутогенной костной стружки из ретромолярной области
            td 2500
          tr
            td Открытый синус-лифтинг простой в области одного отсутствующего зуба
            td 33000
          tr
            td Открытый синус-лифтинг сложный в области двух и более зубов
            td 45000
          tr
            td Направленная костная регенерация в области одного импланта
            td 30000
          tr
            td Взятие соединительно-тканного трасплантата с неба/бугра
            td 5000
          tr
            td Взятие слизисто-десневого трасплантата с неба
            td 14000
          tr
            td Направленная костная регенерация по ширине в области двух и более зубов
            td 40000
          tr
            td Направленная костная регенерация по высоте без стоимости материала
            td 50000
          tr
            td Удаление одного импланта простое
            td 5000
          tr
            td Удаление одного импланта сложное
            td 7000
          tr
            td.ceni__item-strong(colspan="2") Имплантация NOBEL
          tr
            td Установка дентального импланта NOBEL
            td 35000
          tr
            td Установка формирователя десны NOBEL
            td 4500
          tr
            td.ceni__item-strong(colspan="2") Имплантация Dentium/Osstem
          tr
            td Имплантация Dentium/Osstem (без коронки)
            td 20000
          tr
            td Установка формирователя десны стандартного
            td 2000
          tr
            td.ceni__item-strong(colspan="2") Имплантация ICX
          tr
            td Установка дентального импланта ICX
            td 20000
          tr
            td Установка формирователя десны ICX
            td 2000
      .ceni__item
        h2.ceni__item-title Терапия
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Анестезия
          tr
            td Аппликационная анестезия 
            td 150
          tr
            td Инфильтрационная/интралигаментарнная/проводниковая анестезия
            td 580
          tr
            td Временная реставрация
            td 1700
          tr
            td.ceni__item-strong(colspan="2") Восстановление зуба
          tr
            td Шинирование зубов с применением стекловолоконных материалов, композитных материалов светового отверждения 1 см.(риббонд)
            td 8000
          tr
            td Восстановление зуба пломбой 5 класс по Блэку
            td 3600
          tr
            td Полировка, финишная обработка реставрации зуба
            td 400
          tr
            td Временная реставрация риббонд 1 ед зуба
            td 2500
          tr
            td Восстановление формы зуба после эндодонтического лечения/под коронку
            td 3500
          tr
            td.ceni__item-strong(colspan="2") Лечение кариеса постоянных зубов:
          tr
            td.ceni__item-strong(colspan="2") Ceram
          tr
            td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 3000
          tr
            td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 4000
          tr
            td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 5000
          tr
            td.ceni__item-strong(colspan="2") Estelite Asteria
          tr
            td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 3000
          tr
            td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 4300
          tr
            td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 5300
          tr
            td Эстетическая художественная реставрация (материал Estelite Asteria)
            td 6000
          tr
            td Средний кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 5200
          tr
            td Глубокий кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 5800
          tr
            td Эстетическая художественная реставрация под микроскопом (материал Estelite Asteria)
            td 6900
          tr
            td.ceni__item-strong(colspan="2") Enamel
          tr
            td Лечение методом ICON
            td 3500
          tr
            td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 4100
          tr
            td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 6600
          tr
            td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 7900
          tr
            td Эстетическая художественная реставрация (материал Enamel)
            td 10000
          tr
            td Средний кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 7500
          tr
            td Глубокий кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 8800
          tr
            td Эстетическая художественная реставрация под микроскопом (материал Enamel)
            td 10400
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 1 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 1-е посещение
            td 4900
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 2-е посещение
            td 4900
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 1000
          tr
            td Лечение периодонтита с использованием микроскопа, 1-канальный зуб, 1-е посещение
            td 6000
          tr
            td Лечение периодонтита с использованием микроскопа, 1-канальный зуб, 2-е посещение
            td 6000
          tr
            td Лечение периодонтита с использованием микроскопа, 1-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 2 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 1-е посещение
            td 7000
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 2-е посещение
            td 6400
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 2000
          tr
            td Лечение периодонтита с использованием микроскопа, 2-канальный зуб, 1-е посещение
            td 7500
          tr
            td Лечение периодонтита с использованием микроскопа, 2-канальный зуб, 2-е посещение
            td 7500
          tr
            td Лечение периодонтита с использованием микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 2100
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 3 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 1-е посещение
            td 8090
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 2-е посещение
            td 8000
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 3000
          tr
            td Лечение периодонтита с использованием микроскопа, 3-канальный зуб, 1-е посещение
            td 9000
          tr
            td Лечение периодонтита с использованием микроскопа, 3-канальный зуб, 2-е посещение
            td 9000
          tr
            td Лечение периодонтита с использованием микроскопа, 3-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
            td 3000
          tr
            td.ceni__item-strong(colspan="2") Лечение париодонтита: 4 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 1-е посещение
            td 9250
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 2-е посещение
            td 10000
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
            td 4000
          tr
            td Лечение периодонтита с использованием микроскопа, 4-канальный зуб, 1-е посещение
            td 10500
          tr
            td Лечение периодонтита с использованием микроскопа, 4-канальный зуб, 2-е посещение
            td 10500
          tr
            td Лечение периодонтита с использованием микроскопа, 4-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 4000
          tr
            td.ceni__item-strong(colspan="2") Лечение пульпита
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
            td 6100
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
            td 7600
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
            td 7400
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
            td 8900
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
            td 9800
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
            td 11300
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
            td 11500
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
            td 13000
          tr
            td.ceni__item-strong(colspan="2") Дополнительные услуги:
          tr
            td Снятие острой боли при помощи девитализирующей/антисептической пасты (комплекс)
            td 2500
          tr
            td Эндоотбеливание
            td 900
          tr
            td Закрытие перфорации материалом Pro Root
            td 2000
          tr
            td Закрытие перфорации материалом Рутдент
            td 1000
          tr
            td Апикальная пробка Pro Root
            td 1000
          tr
            td Апикальная пробка Рутдент
            td 1000
          tr
            td Установка стекловолоконного/кварцевого штифта
            td 1200
          tr
            td Установка стекловолоконного/кварцевого штифта, индивидуализированного 1 ед.
            td 1900
          tr
            td Распломбировка корневого канала, запломбированного ранее резорцин-формалиновым методом (1 канал)
            td 3000
          tr
            td Удаление одного анкерного штифта, стекловолоконного штифа, металлическая, культевая вкладка
            td 1500
          tr
            td Удаление одного фрагмента эндодонтического инструмента
            td 1300
          tr
            td Удаление одного анкерного штифта с использованием микроскопа
            td 1500
          tr
            td Удаление одного стекловолоконного штифта с использованием микроскопа
            td 1500
          tr
            td Удаление одной вкладки с использованием микроскопа
            td 1300
          tr
            td Удаление инородных тел с использованием микроскопа
            td 1500
          tr
            td Коагуляция гипертрофированного сосочка
            td 800
          tr
            td.ceni__item-strong(colspan="2") Коффердам/Оптидам/Оптрагейт
          tr
            td Коффердам
            td 400
          tr
            td Оптрагейт
            td 300
          tr
            td Оптидам
            td 600
      .ceni__item
        h2.ceni__item-title Ортопедия
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Оттиски
          tr
            td Диагностическое восковое моделирование 1 зуб
            td 500
          tr
            td Снятие оттиска с одной челюсти альгинатной массой
            td 200
          tr
            td Снятие оттиска с одной челюсти массой из С-силикона
            td 900
          tr
            td Снятие оттиска с одной челюсти массой из А-силикона
            td 1500
          tr
            td Снятие слепка монофазным материалом
            td 1800
          tr
            td Индивидуальная ложка
            td 1800
          tr
            td Снятие оттиска с одной челюсти для изготовления силиконовых блоков
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Съемное протезирование, пластмассовые протезы
          tr
            td Установка зуба из гарнитура VITA (Германия)
            td 300
          tr
            td Установка зуба из гарнитура yamahachi (Япония)
            td 450
          tr
            td Микропротез из пластмассы (до 3х зубов)
            td 7000
          tr
            td Изготовление полного или частично-съемного акрилового протеза на 1 челюсть (определение центрального соотношения челюстей, прикус восковой, изготовление протеза, стоимость зубов отдельно)
            td 14000
          tr
            td Изготовление частичного-съемного протеза из безмономерного полиформальдегида на 1 челюсть/вкл. стоимость иск.зубов AcraFree
            td 27000
          tr
            td Изготовление полного-съемного протеза из безмономерного полиформальдегида на 1 челюсть/вкл. стоимость иск.зубов AcraFree
            td 32000
          tr
            td Приварка зуба
            td 2000
          tr
            td.ceni__item-strong(colspan="2") Ремонт протезов:
          tr
            td Закрытие шахты винта композитом при винтовой фиксации
            td 1000
          tr
            td Приварка зуба к бюгельному протезу (припой к каркасу)
            td 4000
          tr
            td Перебазировка клиническая
            td 2000
          tr
            td Перебазировка лабораторная
            td 3200
          tr
            td Замена или установка за каждый дополнительный зуб /кламмер
            td 500
          tr
            td Замена или установка одного зуба (кламмера)
            td 2000
          tr
            td Ремонт протеза при одном переломе базиса
            td 2000
          tr
            td Ремонт протеза при двух переломах базиса
            td 3200
          tr
            td.ceni__item-strong(colspan="2") Съемное протезирование, бюгельные протезы на замках и балочной фиксации
          tr
            td Изготовление единицы балочной конструкции промежуточная часть ( входит пассевация и фрезирование)
            td 7000
          tr
            td Бюгельный протез с замковой фиксацией на аттачменах, телескопах (без стоимости аттачменов, вкл.стоимость иск.зубов)
            td 40000
          tr
            td Телескопическая коронка для бюгельного протеза (первичная и вторичная)
            td 14000
          tr
            td Использование аттачмена — Рейн
            td 1000
          tr
            td Использование аттачмена - Рудент
            td 12500
          tr
            td Использование аттачмена - шаровидного
            td 4200
          tr
            td Использование аттачмена - рельсовый замок
            td 5000
          tr
            td.ceni__item-strong(colspan="2") Multi unit:
          tr
            td Использование multi unit прямого/углового абатмента Dentium
            td 10000
          tr
            td Использование multi unit прямого/углового абатмента Any One
            td 10000
          tr
            td Использование multi unit прямого/углового абатмента Astra
            td 17000
          tr
            td Использование multi unit прямого/углового на Nobel
            td 14000
          tr
            td Использование multi unit прямого ICX
            td 5000
          tr
            td Использование multi unit углового ICX
            td 10500
          tr
            td Использование multi unit прямого/углового Osstem
            td 8000
          tr
            td.ceni__item-strong(colspan="2") Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура)
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 2-х имплантатах
            td 80000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 3-х имплантатах
            td 105000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 4-х имплантатах
            td 130000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 5-х имплантатах
            td 135000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 6-ти имплантатах
            td 140000
          tr
            td.ceni__item-strong(colspan="2") Бюгельные протезы на кламмерной фиксации
          tr
            td Изготовление микробюгеля
            td 17800
          tr
            td Изготовление бюгеля на 1 челюсть (изготовление дуги, изготовление моделей огнеупорных, изготовление базиса) (без учета зубов)
            td 23000
          tr
            td Изготовление шинирующего бюгеля на 1 челюсть (изготовление дуги, изготовление многозвеньевого кламмера, изготовление моделей огнеупорных, изготовление базиса, изготовление 3-х кламмеров)
            td 30000
          tr
            td Изготовление 1 кламмера
            td 1500
          tr
            td Кламер в съемном протезе ACETAL DENTAL
            td 3000
          tr
            td.ceni__item-strong(colspan="2") Несъемное протезирование, коронки
          tr
            td Изготовление безметалловой коронки, зуба по технологии Cad-Сam
            td 24900
          tr
            td Изготовление винира e-max
            td 24900
          tr
            td Изготовление цельнолитой коронки из КХС 
            td 7000
          tr
            td Металлокерамическая коронка 
            td 13000
          tr
            td Изготовление лабораторной пластмассовой коронки- временная 
            td 4000
          tr
            td Изготовление коронки из ZrO2 с нанесением керамики
            td 24000
          tr
            td Изготовление ПММА коронки методом Cad-Cam 
            td 4000
          tr
            td Изготовление коронки из ZrO2 с нанесением керамики 
            td 24900
          tr
            td Изготовление клинической композитной коронки
            td 1600
          tr
            td Промежуточная часть мостовидного протеза из металлокерамики
            td 10000
          tr
            td Промежуточная часть мостовидного протеза из ZrO2
            td 19900
          tr
            td Изготовление винира на рефракторе
            td 32000
          tr
            td Изготовление накладки (полукоронка) e-max
            td 22900
          tr
            td.ceni__item-strong(colspan="2") Штифтовые культевые вкладки
          tr
            td Изготовление клинической литой культевой штифтовой вкладки на однокорневой зуб из КХС
            td 4500
          tr
            td Изготовление штифтовой вкладки с аттачменом из КХС
            td 3800
          tr
            td Изготовление вкладки штифтовой культевой цирконевой 
            td 11000
          tr
            td Изготовление лабораторной литой культевой штифтовой вкладки на однокорневой зуб из благородных металлов ( без учета стоимости металла)
            td 4500
      .ceni__item
        h2.ceni__item-title Протезирование на имплантах
        table.ceni__table
          tr
            td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium цементной фиксации на титановом основании
            td 21000
          tr
            td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium винтовой фиксации на титановом основании
            td 20000
          tr
            td Изготовление металлокерамической коронки на имплантате Any Ridge цементной фиксации на титановом основании
            td 27000
          tr
            td Изготовление металлокерамической коронки на имплантате Any Ridge винтовой фиксации на титановом основании
            td 25000
          tr
            td Изготовление металлокерамической коронки на импланте Nobel цементной фиксации на титановом основании
            td 37000
          tr
            td Изготовление металлокерамической коронки на импланте Nobel винтовой фиксации на титановом основании
            td 35000
          tr
            td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium винтовая фиксации
            td 28000
          tr
            td Изготовление коронки из ZrO2 на имплантате Any Ridge винтовая фиксация
            td 35000
          tr
            td Изготовление коронки из ZrO2 коронка на импланте Nobel винтовая фиксация
            td 40500
          tr
            td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium цементной фиксации на циркониевом основании
            td 32000
          tr
            td Изготовление коронки из ZrO2 на имплантате Any Ridge цементной фиксации на циркониевом основании
            td 38000
          tr
            td Изготовление коронки из ZrO2 на имплантате Nobel цементной фиксации на циркониевом основании
            td 44500
          tr
            td Изготовление лечебно-профилактической коронки на имплантате ICX
            td 10000
          tr
            td Изготовление лечебно-профилактической коронки на имплантате Dentium/Osstem
            td 9500
          tr
            td Изготовление лечебно-профилактической коронки на имплантате Nobel
            td 15000
          tr
            td Изготовление лечебно-профилактической пластмассовой коронки Nobel Biocare, прямым методом
            td 14500
          tr
            td Изготовление лечебно-профилактической пластмассовой коронки РММА с использованием РЕЕК абатмента (ICX) прямым методом
            td 8500
          tr
            td Изготовление бюгельного протеза на балке с опорой на имплантах
            td 130000
          tr
            td Индивидуальный формирователь десны
            td 6500
          tr
            td Акриловый протез система All on 4
            td 140000
          tr
            td.ceni__item-strong(colspan="2") Диагностика
          tr
            td Использование лицевой дуги; изготовление мастер модели
            td 5000
          tr
            td Изготовление контрольно-диагностической модели
            td 2000
          tr
            td Снятие слепков, использование лицевой дуги, изготовление КДМ, загипсовка в анатомический артикулятор. Планирование будущей ортопедической конструкции
            td 15000
          tr
            td Снятие стальной штампованной коронки
            td 350
          tr
            td Снятие цельнолитой, металлокерамической, металлопластмассовой коронки
            td 1000
          tr
            td Диагностическое препарирование 1-2х зубов
            td 2500
          tr
            td.ceni__item-strong(colspan="2") Армирование:
          tr
            td Изготовление армирующего каркаса
            td 3300
          tr
            td Изготовление армирующего каркаса литьем
            td 5000
          tr
            td.ceni__item-strong(colspan="2") Фиксация:
          tr
            td Фиксация временная «Temp bond»
            td 150
          tr
            td Фиксация на стеклоиномерный цемент «Фуджи», «Хофман»
            td 300
          tr
            td Фиксация на цемент двойного отверждения «Мультилинк»
            td 1000
          tr
            td Фиксация на цемент PANAvia
            td 800
          tr
            td Фиксация на цемент Variolink
            td 1300
          tr
            td Замена установка винта для работ на имплантах (использование винта,работа доктора)
            td 3000
          tr
            td.ceni__item-strong(colspan="2") Функциональная стоматология
          tr
            td Брукс чекер диагностический
            td 6600
          tr
            td Брукс чекер контрольный
            td 2900
          tr
            td Изготовление каппы релаксирующей
            td 5300
          tr
            td Изготовление каппы стабилизирующей
            td 6300
          tr
            td Изготовление каппы спортивной индивидуальной однослойной
            td 7300
          tr
            td Изготовление каппы спортивной индивидуальной двухслойной с усилением
            td 8000
          tr
            td Изготовление окклюзионной шины
            td 13300
      .ceni__item
        h2.ceni__item-title Детская стоматология
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Анестезия
          tr
            td Проводниковая анестезия
            td 450
          tr
            td Апликационная анестизия
            td 150
          tr
            td Инфильтрационная анестезия
            td 350
          tr
            td Интралигаментарная анестезия
            td 580
          tr
            td Наложение коффердама 
            td 400
          tr
            td Наложение оптрагейта 
            td 300
          tr
            td Наложение оптидама 
            td 600
          tr
            td.ceni__item-strong(colspan="2") Дополнительные услуги
          tr
            td Наложение временной пломбы 
            td 600
          tr
            td Шлифовка и полировка пломбы 
            td 200
          tr
            td Распломбировка одного корневого канала 
            td 1000
          tr
            td Снятие временной пломбы 
            td 500
          tr
            td Повторная антисептическая обработка корневых каналов 
            td 1500
          tr
            td Стандартная металлическая коронка ЗМ 
            td 2800
          tr
            td Эстетико-функциональное восстановление зуба циркониевой коронкой 
            td 5500
          tr
            td.ceni__item-strong(colspan="2") Консультация
          tr
            td Профилактический осмотр детского врача стомалога
            td 0
          tr
            td Прием (осмотр, консультация, составление плана лечения) врача-стоматолога детского первичный
            td 500
          tr
            td.ceni__item-strong(colspan="2") Лечение кариеса молочных зубов
          tr
            td Лечение кариеса молочного зуба в пределах дентина
            td 2500
          tr
            td Лечение молочного зуба (отсроченое пломбирование)
            td 1500
          tr
            td Лечение кариеса зуба (отсроченое лечение)
            td 1950
          tr
            td Пломбирование канала одноканального молочного зуба
            td 4800
          tr
            td Пломбирование каналов многоканального молочного зуба
            td 5200
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита временных зубов
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка одного корневого канала (1 посещение)
            td 3000
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка многоканального зуба (1 посещение)
            td 4500
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка одного корневого канала (2 посещение)
            td 3000
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка многоканального зуба (2 посещение)
            td 4500
          tr
            td Введение лекарственных средств в одноканальный зуб
            td 1200
          tr
            td Введение лекарственных средств в многоканальный зуб
            td 1500
          tr
            td.ceni__item-strong(colspan="2") Лечение пульпита
          tr
            td Лечение пульпита временных зубов
            td 3800
          tr
            td Лечение пульпита временного зуба методом девитальной экстирпации
            td 3800
          tr
            td Лечение пульпита временного зуба в одно посещение ампутационным методом
            td 4600
          tr
            td Лечение пульпита 1 посещение
            td 800
          tr
            td Лечение пульпита 2 посещение
            td 800
          tr
            td Лечение пульпита 3 посещение
            td 2300
          tr
            td Лечение пульпита временного зуба экстирпационным методом ( одноканального зуба)
            td 4800
          tr
            td Лечение пульпита временного зуба экстирпационным методом (многоканального зуба)
            td 5200
          tr
            td Оказание неотложной помощи
            td 1200
          tr
            td Лечение постоянного зуба методом витальной ампутации
            td 5000
          tr
            td Герметизация места перелома коронки зуба жидкотекучим композитом
            td 2000
          tr
            td Лечение пульпита постоянных зубов с несформированными корнями
            td 4100
          tr
            td Лечение пульпита 1 канальный с постановкой пломбы
            td 6300
          tr
            td Лечение пульпита 1 канальный без постановки пломбы
            td 4500
          tr
            td Лечение пульпита 2 канальный с постановкой пломбы
            td 7400
          tr
            td Лечение пульпита 2 канальный без постановки пломбы
            td 6700
          tr
            td Лечение пульпита 3 канальный с постановкой пломбы
            td 9800
          tr
            td Лечение пульпита 3 канальный без постановки пломбы
            td 8800
          tr
            td Лечение пульпита 4 канальный с постановкой пломбы
            td 11500
          tr
            td Лечение пульпита 4 канальный бех постановки пломбы
            td 11000
          tr
            td Замена временной пломбы на постоянную
            td 2300
          tr
            td Стекловолоконный штифт
            td 900
          tr
            td.ceni__item-strong(colspan="2") Детская хирургия
          tr
            td Прием (осмотр, консультация) врача-стоматолога-хирурга первичный
            td 1000
          tr
            td Реплантация зуба
            td 2500
          tr
            td Удаление молочного зуба
            td 1500
          tr
            td Удаление молочного зуба сложное (в стадии обострения)
            td 2500
          tr
            td Удаление молочного зуба (в стадии физиологической резорбции, подвижность 2и 3 степени)
            td 1500
          tr
            td Удаление фрагмента молочного зуба
            td 1000
          tr
            td Удаление постоянного зуба простое
            td 1100
          tr
            td Удаление постоянного зуба сложное с разъединением корней
            td 2000
          tr
            td Удаление зуба сложное с выкраиванием слизисто-надкостничного лоскута и наложением швов
            td 2500
          tr
            td Резекция верхушки корня одного зуба
            td 4000
          tr
            td Резекция верхушки корня двух зубов
            td 4500
          tr
            td Ретроградное пломбирование корня зуба
            td 2800
          tr
            td Лечение альвеолита с ревизией лунки
            td 2500
          tr
            td Цистэктомия с резекцией верхушки корня (однокорневой зуб)
            td 600
          tr
            td Цистэктомия с резекцией верхушки корня (многокорневой зуб)
            td 600
          tr
            td Удаление ретенционной кисты малой слюнной железы
            td 4300
          tr
            td Удаление фолликулярной кисты
            td 2500
          tr
            td Гингивэктомия в области одного зуба
            td 1000
          tr
            td Периостомия в области одного зуба
            td 1000
          tr
            td Пластика уздечки верхней губы
            td 3000
          tr
            td Пластика уздечки нижней губы
            td 3000
          tr
            td Пластика уздечки языка
            td 3000
          tr
            td Рассечение уздечки языка
            td 1000
          tr
            td Вестибулопластика
            td 7000
          tr
            td Иссечение «капюшона», лечение перикоронита
            td 1300
          tr
            td Гемисекция или ампутация корня
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Профессиональная гигиена зубов в молочном и сменном прикусе щеткой и пастой:
          tr
            td Снятие зубного налета и зубного камня с одного зуба (ультразвук+AIR FLOW)
            td 150
          tr
            td Фторирование одного зуба
            td 120
          tr
            td Глубокое фторирование 1 зуба
            td 120
          tr
            td Обработка зуба препаратом ICON (без препарирования, одна поверхность)
            td 3500
          tr
            td Лечение заболеваний слизистой оболочки полости рта (первое посещение)
            td 500
          tr
            td Лечение заболеваний слизистой оболочки полости рта (последующие посещения)
            td 500
          tr
            td Реминирализующая терапия 1 зуба
            td 150
          tr
            td Адаптационная чистка зубов
            td 1800
          tr
            td Наложение девитализирующей пасты
            td 1000
          tr
            td Обучение гигиене полости рта с рекомендациями по средствам гигиены
            td 50
          tr
            td Восстановление молочного зуба композитным материалом
            td 2500
          tr
            td Восстановление твердых тканей постоянного зуба при травмах в пределах эмали
            td 3000
          tr
            td Восстановление твердых тканей постоянного зуба при травмах в пределах дентина без вскрытия полости зуба
            td 3500
          tr
            td Шинирование зубов
            td 2500
          tr
            td Замещение дефекта зубного ряда системой Ribbond
            td 2500
          tr
            td Снятие зубного налета и зубного камня с одного зуба ручным способом
            td 130
          tr
            td Снятие остатков пломбировочного материала с одного зуба после ортодонтического лечения
            td 100
          tr
            td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: обе челюсти
            td 2100
          tr
            td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: один зуб
            td 100
          tr
            td Снятие зубных отложений при удовлетворительном состоянии зубов
            td 2000
          tr
            td Полировка одного зуба
            td 100
          tr
            td Снятие зубных отложений при хорошем состоянии зубов
            td 1500
          tr
            td Полировка сегмента
            td 500
          tr
            td Снятие зубных отложений при неудовлетворительном состоянии зубов
            td 2500
          tr
            td Полировка все зубы
            td 1600
          tr
            td Восстановление формы зуба (постановка пломбы после лечения каналов; при стираемости; для завышения высоты прикуса)
            td 2500
          tr
            td Восстановление формы зуба при отсутствии твердых тканей 1/2 коронки зуба
            td 4000
          tr
            td Герметезация фиссур молочных зубов (1зуб)
            td 1000
          tr
            td Герметизация фиссур постоянных зубов (1 зуб)
            td 2000
          tr
            td Избирательное прошлифовывание одного зуба
            td 150
