section.ceni
  .container.ceni__container
    h1 Прейскурант услуг
    .ceni__wrapper
      .ceni__item
        h2.ceni__item-title.ceni__item-title--show Консультация и диагностика
        table.ceni__table.ceni__table--show
          tr
            td Прием (осмотр, консультация) врача-стоматолога-хирурга первичный
            td.ceni__through <span>1000</span><br> До конца месяца бесплатно
          tr
            td Прием (осмотр, консультация) врача-стоматолога-хирурга повторный
            td.ceni__through <span>500</span><br> До конца месяца бесплатно
          tr
            td Прием (осмотр, консультация) врача-стоматолога-имплантолога первичный
            td.ceni__through <span>1000</span><br> До конца месяца бесплатно
          tr
            td Прием (осмотр, консультация) врача-стоматолога-имплантолога повторный
            td.ceni__through <span>500</span><br> До конца месяца бесплатно
          tr
            td Консилиум специалистов (не менее 3-х человек)
            td 500
      .ceni__item
        h2.ceni__item-title Компьютерная томография и рентгенология
        table.ceni__table
          tr
            td Прицельная внутриротовая контактная рентгенография
            td 300
          tr
            td Ортопантомограмма
            td 650
          tr
            td Исследование методом 3D компьютерной томографии 100*100
            td 2000
          tr
            td Повторная компьютерная томография 100*100
            td 500
          tr
            td ТРГ в прямой или боковой проекции (одна проекция)
            td 700
          tr
            td Анализ и расчет ТРГ(результаты выдаются в теч.3х дней)
            td 1200
          tr
            td Выдача результата исследования методом КЛКТ на USB-флеш-накопителе
            td 250
          tr
            td Выдача копии результата исследования методом КЛКТ за единицу
            td 100
      .ceni__item
        h2.ceni__item-title Терапевтическая стоматология
        table.ceni__table
          tr
            td Прием (осмотр, консультация) врача-стоматолога-терапевта первичный
            td 0
          tr
            td Прием (осмотр, консультация) врача-стоматолога-терапевта повторный
            td 0
          tr
            td Консилиум специалистов (не менее 3-х человек)
            td 0
          tr
            td Выдача справки по медосмотру (осмотр специалиста, выдача справки)
            td 100
          tr
            td Консультация врача -стоматолога по беременности
            td 200
          tr
            td.ceni__item-strong(colspan="2") Восстановление зуба
          tr
            td Восстановление формы зуба после эндодонтического лечения/под коронку
            td 1000
          tr
            td Временное восстановление зуба
            td 1700
          tr
            td Установка временной пломбы
            td 300
          tr
            td.ceni__item-strong(colspan="2") Лечение кариеса
          tr
            td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 1900
          tr
            td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x; шлифовка и полировка пломбы)
            td 2500
          tr
            td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 3000
          tr
            td Лечение методом ICON
            td 2000
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 1 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 1-е посещение
            td 2100
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 2-е посещение
            td 1700
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 2 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 1-е посещение
            td 2300
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 2-е посещение
            td 2000
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 1800
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 3 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 1-е посещение
            td 3800
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 2-е посещение
            td 2200
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 2200
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 4 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 1-е посещение
            td 3800
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 2-е посещение
            td 2300
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
            td 2300
          tr
            td.ceni__item-strong(colspan="2") Лечение пульпита
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
            td 3100
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
            td 3700
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
            td 4200
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
            td 4700
          tr
            td.ceni__item-strong(colspan="2") Дополнительные услуги
          tr
            td Распломбировка корневого канала, запломбированного ранее резорцин-формалиновым методом (1 канал)
            td 700
          tr
            td Удаление одного анкерного штифта
            td 700
          tr
            td Удаление стекловолоконного штифта
            td 700
          tr
            td Постановка одного стекловолоконного штифта (использование стекловолоконного штифта, фиксация на цемент двойного отверждения)
            td 1000
          tr
            td Снятие острой боли при помощи девитализирующей/антисептической пасты (комплекс)
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Коффердам/ Оптидам/ Оптрагейт
          tr
            td Коффердам
            td 300
          tr
            td Оптрагейт
            td 300
          tr
            td Оптидам
            td 300
      .ceni__item
        h2.ceni__item-title Хирургия
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Удаление зубов
          tr
            td Удаление постоянного зуба простое 3-4 степени подвижности без стоимости анестезии
            td 1000
          tr
            td Удаление постоянного зуба простое 1-2 степени подвижности без стоимости анестезии
            td 1000
          tr
            td Удаление постоянного зуба средней степени сложности без стоимости анестезии
            td 2000
          tr
            td Удаление многокорневого зуба с помощью бормашины и раздлением корней без стоимости анестезии
            td 2500
          tr
            td Удаление временного зуба
            td 1000
          tr
            td Удаление постоянного зуба
            td 1100
          tr
            td Удаление зуба сложное с разъединением корней
            td 3000
          tr
            td Удаление зуба при незавершенной экстракции в других медицинских организациях
            td 6000
          tr
            td Удаление фрагмента зуба при фрактуре
            td 1000
          tr
            td Ампутация корня зуба
            td 5000
          tr
            td.ceni__item-strong(colspan="2") Удаление третьих моляров «зубов мудрости»
          tr
            td 1 степени сложности (дистопированный) без стоимости анестезии
            td 4500
          tr
            td 2 степени сложности (ретенированный) без стоимости анестезии
            td 5800
          tr
            td 3 степени сложности (ретенированный и дистопированный) без стоимости анестезии
            td 6500
          tr
            td Удаление зуба мудрости
            td 5000
      .ceni__item
        h2.ceni__item-title Хирургическая стоматология
        table.ceni__table
          tr
            td Инъекция обогащенной тромбоцитарной массы с забором крови
            td 900
          tr
            td Биопсия слизистой рта
            td 700
          tr
            td Расширенная биопсия по типу цистомии (в области 1-3 зубов)
            td 4200
          tr
            td Взятие образца биологического материала из очагов поражения органов рта (соскоб)
            td 1000
          tr
            td Перевязка после простого удаления зуба
            td 200
          tr
            td Перевязка после сложного удаления зуба
            td 200
          tr
            td Удаление инородного тела из кости
            td 1000
          tr
            td Удаление секвестра
            td 1600
          tr
            td Вправление вывиха нижней челюсти
            td 2000
          tr
            td Периостотомия (вскрытие поднадкостничного абсцесса с дренированием раны)
            td 2000
          tr
            td Перевязка гнойной раны после периостотомии со сменой дренажа
            td 1000
          tr
            td Отсроченный кюретаж лунки удаленного зуба
            td 5000
          tr
            td Вскрытие и дренирование пародонтального абсцесса
            td 2000
          tr
            td Вскрытие и дренирование очага воспаления мягких тканей лица или дня полости рта
            td 2000
          tr
            td Цистэктомия (в области 1 зуба)
            td 700
          tr
            td Цистэктомия при отсутствии зубов
            td 700
          tr
            td Удаление ретенционной кисты слюнной железы
            td 5000
          tr
            td Удаление экзостоза (в области 1 зуба)
            td 2000
          tr
            td Иссечение гипертрофированной десны (в области 1-3 зубов)
            td 1500
          tr
            td Увеличение высоты клинической коронки зуба
            td 1000
          tr
            td Гингивоостеопластика ретенированного зуба по ортодонтическим показаниям
            td 2000
          tr
            td Лечение альвеолита (с учетом повторного приема)
            td 2500
          tr
            td Лечение перикоронита (промывание, рассечение/иссечение капюшона) с учетом стоимости повторного приема
            td 2500
          tr
            td Удаление экзостоза (альвеолэктомия) в области одного зуба
            td 600
          tr
            td Вскрытие пародонтального абсцесса
            td 2000
          tr
            td Вылущивание гранулемы / кисты
            td 1100
          tr
            td Иссечение доброкачественных образований полости рта до 1 см
            td 1500
          tr
            td Иссечение доброкачественных образований полости рта более 1 см
            td 2000
          tr
            td Пластика уздечки верхней губы
            td 3000
          tr
            td Пластика уздечки нижней губы
            td 3000
          tr
            td Пластика уздечки языка
            td 5000
          tr
            td Пластика тяжей слизистой оболочки полости рта
            td 1000
          tr
            td Вестибулопластика (с учетом повторного приема)
            td 7000
          tr
            td Пластика рецессии десны коронально смещенным лоскутом в области одного зуба
            td 4500
          tr
            td Пластика рецессии десны латерально смещенным лоскутом в области одного зуба
            td 7000
          tr
            td Пластика при рецессии десны свободным соединительно-тканным трансплантантом из области нёба и других донорских зон ротовой полости  (в области 1 зуба)
            td 9000
          tr
            td Открытый кюретаж в области одного зуба
            td 2000
          tr
            td Лоскутная операция в области 4-6 зубов
            td 4500
          tr
            td Снятие шины с одной челюсти
            td 2100
          tr
            td Резекция верхушки корня
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией во фронтальном отделе (до 1 см) без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией во фронтальном отделе (более 1 см) без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией в боковом (дистальном) отделе верхней челюсти без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией в боковом (дистальном) отделе нижней челюсти без учета стоимости расходных материалов
            td 4200
          tr
            td Резекция верхушки корня зуба с цистэктомией на дополнительный зуб
            td 4200
          tr
            td Удаление фактуры зуба без стоимости анестезии
            td 1000
          tr
            td Циркулярное иссечение десны в области одного зуба
            td 1500
          tr
            td Иссечение гипертрофированной десны в области одного зуба
            td 1500
      .ceni__item
        h2.ceni__item-title Аненстезия и премедикация
        table.ceni__table
          tr
            td Консультация анестезиолога-реаниматолога
            td 1500
          tr
            td Аппликационная анестезия
            td 110
          tr
            td Инфильтрационная анестезия с применением карпульных препаратов
            td 580
          tr
            td Проводниковая анестезия с применением карпульных препаратов
            td 450
          tr
            td Внеротовые методы обезбаливания
            td 400
          tr
            td Антигистаминная подготовка
            td 400
          tr
            td Внутривенное введение препаратов
            td 450
          tr
            td Внутримышечное введение препаратов
            td 450
          tr
            td Послеоперационное наблюдение. Мониторинг до 30 мин
            td 1500
          tr
            td Послеоперационное наблюдение. Мониторинг от 1 часа до 3 часов
            td 3500
          tr
            td Внутривенная седация в комбинации с местной анестезией. Первые 30 мин
            td 2500
          tr
            td Внутривенная седация в комбинации с местной анестезии. Длительность до 1 часа
            td 6800
          tr
            td Внутривенная седация в комбинации с местной анестезии при продолжительности седации более одного часа, дополнительно за каждые 60 мин
            td 5500
          tr
            td Масочная седация (Закись азота). Первые 30 мин
            td 3000
          tr
            td Масочная седация (Закись азота). Каждые последующие 30 мин
            td 1800
          tr
            td Масочная седация (Севоран). 15 мин
            td 3600
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Первый час
            td 12500
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующие 30 мин
            td 2400
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующий час
            td 5400
          tr
            td Эндотрахеальный или лярингиально-масочный наркоз с ипользованием:внутривенные анестетики(диприван или пропофол,тиопентал натрия), центральных анальгетиков,миорелаксантов,транквилизаторов,в сочетании ИВС,ВВЛ закисно-кислородной смесью,инфузионной терапией
            td 8400
          tr
            td Эндотрахеальный или лярингиально-масочный наркоз с ипользованием:внутривенные анестетики(диприван или пропофол,тиопентал натрия), центральных анальгетиков,миорелаксантов,транквилизаторов,в сочетании ИВС,ВВЛ закисно-кислородной смесью,инфузионной терапией
            td 4200
      .ceni__item
        h2.ceni__item-title Имплантация зубов
        table.ceni__table
          tr
            td Установка дентального импланта NOBEL
            td 35000
          tr
            td Установка формирователя десны NOBEL
            td 4000
          tr
            td Установка формирователя десны во время имплантации NOBEL
            td 4500
          tr
            td Имплантация Dentium/Osstem (без коронки)
            td 20000
          tr
            td Установка формирователя десны стандартного
            td 1500
          tr
            td Установка дентального импланта ICX
            td 20000
          tr
            td Установка формирователя десны ICX
            td 2000
          tr
            td Установка формирователя десны во время имплантации ICX
            td 2500
          tr
            td Установка дентального импланта Dentium
            td 20000
          tr
            td Установка формирователя десны Dentium
            td 1500
          tr
            td Установка формирователя десны во время имплантации Dentium
            td 2000
          tr
            td Закрытый синус-лифтинг
            td 15000
          tr
            td Открытый синус-лифтинг простой в области одного отсутствующего зуба
            td 24000
          tr
            td Открытый синус-лифтинг сложный в области двух и более зубов
            td 34000
          tr
            td Направленная костная регенерация в области одного импланта
            td 30000
          tr
            td Направленная костная регенерация по ширине в области одного отсутствующего зуба
            td 30000
          tr
            td Направленная костная регенерация по ширине в области двух и более зубов
            td 39000
          tr
            td Направленная костная регенерация по высоте без стоимости материала
            td 30000
          tr
            td Костный материал «Лиопласт»
            td 15000
          tr
            td Использование костного материала "Бис-осс"2,0
            td 29000
          tr
            td Использование костного материала "Бис-осс"0,5
            td 10000
          tr
            td Использование резорбирумой мембраны «Био-гайд» 30*40мм
            td 19000
          tr
            td Использование резорбируемой мембраны «Био-гайд» 25*25 мм
            td 15000
          tr
            td Использование резорбируемой мембраны «Био-гайд» 16*22 мм
            td 13000
          tr
            td Использование Цитопласт 30*40
            td 19000
          tr
            td Использование Цитопласт 20*30
            td 16000
          tr
            td Использование Цитопласт 15*20
            td 12000
          tr
            td Использование Цитопласт нерезорбируемая 25*30
            td 14000
          tr
            td Использование Цитопласт нерезорбируемая 20*25
            td 11000
          tr
            td Использование Цитопласт нерезорбируемая 12*24
            td 9000
          tr
            td Использование Лиопласт Мембрана 4*4
            td 10000
          tr
            td Использование Лиопласт Мембрана 3*3
            td 7000
          tr
            td Использование губки с Йодоформом Альвостаз
            td 500
          tr
            td Установка корейского импланта ДЕНТИУМ
            td 20000
          tr
            td Установка формирователя десны
            td 1500
          tr
            td Установка формирователя десны во время имплантации
            td 2000
          tr
            td Создание зоны кератинизированной десны в области импланта
            td 5000
          tr
            td Использование викрил
            td 500
          tr
            td Использование шовного материала: кетгут, капроаг, ультрасорб, капрон, шелк
            td 500
          tr
            td Доп. ампула для изготовления аутогенной тромбоциторной плазмы
            td 500
          tr
            td Использование коллагеновой губки
            td 500
          tr
            td Удаление одного импланта простое
            td 1500
          tr
            td Удаление одного импланта сложное
            td 2000
      .ceni__item
        h2.ceni__item-title Имплантация зубов
        table.ceni__table
          tr
            td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium цементной фиксации на титановом основании
            td 21000
          tr
            td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium винтовой фиксации на титановом основании
            td 20000
          tr
            td Изготовление металлокерамической коронки на имплантате Any Ridge цементной/винтовой фиксации на титановом основании
            td 25000
          tr
            td Изготовление металлокерамической коронки на импланте Nobel Biocare цементной фиксации на титановом основании
            td 37000
          tr
            td Изготовление металлокерамической коронки на импланте Nobel Biocare винтовой фиксации на титановом основании
            td 35000
          tr
            td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium винтовой фиксации на титановом основании
            td 28000
          tr
            td Изготовление коронки из ZrO2 на имплантате Any Ridge винтовой фиксации на титановом основании
            td 35000
          tr
            td Изготовление коронки из ZrO2 на имплантате Nobel винтовой фиксации на титановом основании
            td 40500
          tr
            td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium цементной фиксации на циркониевом основании
            td 32000
          tr
            td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium цементной фиксации на титановом основании
            td 28000
          tr
            td Изготовление коронки из ZrO2 на имплантате Any Ridge цементной фиксации на титановом/циркониевом основании
            td 38000
          tr
            td Изготовление коронки из ZrO2 на имплантате Nobel цементной фиксации на циркониевом основании
            td 44500
          tr
            td Изготовление коронки из ZrO2 с керамической облицовкой на имплантате (без стоимости абатмента)
            td 26000
          tr
            td Изготовление коронки Е-max на имплантате (без абатмента)
            td 24000
          tr
            td Изготовление коронки из ZrO2 на имплантате (без абатмента)
            td 24500
          tr
            td Изготовление лечебно-профилактической коронки на имплантате ICX
            td 10000
          tr
            td Изготовление лечебно-профилактической коронки на имплантате Dentium/Osstem
            td 9500
          tr
            td Изготовление лечебно-профилактической коронки на имплантате Nobel
            td 15000
          tr
            td Временная коронка на имплантате Nobel Biocare, прямым методом
            td 14500
          tr
            td Изготовление лечебно-профилактической пластмассовой коронки РММА с использованием РЕЕК абатмента (ICX)
            td 8500
          tr
            td Изготовление бюгельного протеза на балке с опорой на имплантах
            td 130000
          tr
            td Индивидуальный формирователь десны
            td 6500
          tr
            td.ceni__item-strong(colspan="2") Диагностика
          tr
            td Снятие стальной штампованной коронки
            td 500
          tr
            td Снятие слепков, использование лицевой дуги, изготовление КДМ, загипсовка в анатомический артикулятор. Планирование будущей ортопедической конструкции
            td 15000
          tr
            td Снятие цельнолитой, металлокерамической, металлопластмассовой коронки
            td 1000
          tr
            td Диагностическое восковое моделирование (Wax-up), 1 зуб
            td 500
          tr
            td Использование лицевой дуги; изготовление мастер модели
            td 5000
          tr
            td Изготовление контрольно-диагностической модели
            td 2000
          tr
            td.ceni__item-strong(colspan="2") Индивидуальная ложка
          tr
            td Индивидуальная ложка
            td 1500
          tr
            td Фиксация временная "водный дентин"
            td 100
          tr
            td Фиксация временная "Temp bond"
            td 200
          tr
            td Фиксация на цинк-фосфатный цемент "Унифас", "Уницем"
            td 200
          tr
            td Фиксация на стеклоиномерный цемент "Фуджи", "Хофман"
            td 500
          tr
            td Фиксация на цемент двойного отверждения "Мультилинк"
            td 1000
          tr
            td Замена установка винта для работ на имплантах (использование винта, работа доктора)
            td 3000
          tr
            td.ceni__item-strong(colspan="2") Ремонт протезов
          tr
            td Ремонт протеза при одном переломе базиса
            td 2000
          tr
            td Ремонт протеза при двух переломах базиса
            td 2500
          tr
            td Снятие слепка альгинатным материалом
            td 400
          tr
            td Снятие слепка "А" силиконовым материалом
            td 1500
          tr
            td Снятие слепка "С" силиконовым материалом
            td 850
          tr
            td Снятие слепка монофазным материалом
            td 1800
          tr
            td Прикус силиконовый
            td 350
      .ceni__item
        h2.ceni__item-title Ортопедтческая стоматология
        table.ceni__table
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортопеда первичный
            td 0
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортопеда повторный
            td 0
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортопеда, проведение малого функционального анализа, слепки, фотопротокол, с выдачей заключения (первичный)
            td 0
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортопеда, проведение малого функционального анализа, слепки, фотопротокол, с выдачей заключения (повторный)
            td 0
          tr
            td.ceni__item-strong(colspan="2") Оттиски
          tr
            td Снятие оттиска с одной челюсти альгинатной массой
            td 300
          tr
            td Снятие оттиска с одной челюсти массой из С-силикона
            td 550
          tr
            td Снятие оттиска с одной челюсти массой из А-силикона
            td 700
          tr
            td Диагностическое восковое моделирование 1 зуб
            td 500
          tr
            td.ceni__item-strong(colspan="2") Съемное протезирование, пластмассовые протезы
          tr
            td Изготовление частично-съемнго протеза на 1 челюсть из безмономерного полиформальдегида/вкл. стоимость иск. зубов AcraFree
            td 20000
          tr
            td Изготовление полного или частично-съемного акрилового протеза на 1 челюсть (определение центрального соотношения челюстей, прикус восковой, изготовление протеза, стоимость зубов отдельно)
            td 9000
          tr
            td Съемное протезирование из полиана (ACRY-free)
            td 14500
          tr
            td Съемное протезирование из флексипласта (прессованная эластичная пластмасса розового цвета, безмономерная)
            td 14500
          tr
            td Съемный протез
            td 9000
          tr
            td Импортная гарнитура зкбов для съемного протеза (3-х цветная Viva, Ivoclar) (Германия)
            td 2000
          tr
            td Съемный протез из нейлона
            td 20000
          tr
            td.ceni__item-strong(colspan="2") Ремонт протезов
          tr
            td Восстановление пластмассовой облицовки коронки или фасетки
            td 1000
          tr
            td Закрытие шахты винта композитом при винтовой фиксации
            td 500
          tr
            td Перебазировка клиническая
            td 1000
          tr
            td Перебазировка лабораторная
            td 2000
          tr
            td Замена или установка за каждый дополнительный зуб/кламмер
            td 500
          tr
            td Замена или установка одного зуба (кламмера)
            td 2000
          tr
            td Ремонт протеза при одном переломе базиса
            td 1000
          tr
            td Ремонт протеза при двух переломах базиса
            td 1500
          tr
            td Использование multi unit прямого ICX
            td 2500
          tr
            td Использование multi unit углового ICX
            td 2500
          tr
            td Использование multi unit прямого/углового Osstem
            td 2500
          tr
            td.ceni__item-strong(colspan="2") Съемное протезирование, бюгельные протезы на замках и балочной фиксации
          tr
            td Использование multi unit прямого/углового абатмента Dentium
            td 10000
          tr
            td Использование multi unit прямого/углового абатмента Any One
            td 10000
          tr
            td Использование multi unit прямого абатмента Astra
            td 17000
          tr
            td Использование multi unit углового абатмента Astra
            td 17000
          tr
            td Использование multi unit прямого/углового абатмента Straumann
            td 19000
          tr
            td Использование multi unit прямого ICX
            td 8650
          tr
            td Использование multi unit углового ICX
            td 22100
          tr
            td Использование multi unit прямого/углового Osstem
            td 8000
          tr
            td Бюгельный протез с замковой фиксацией на аттачменах, телескопах (без стоимости аттачменов, вкл. стоимость иск.зубов)
            td 40000
          tr
            td Телескопическая коронка для бюгельного протеза (первичная и вторичная)
            td 14000
          tr
            td Использование аттачмена — Рейн
            td 1000
          tr
            td Использование аттачмена - Рудент
            td 12500
          tr
            td Использование аттачмена - шаровидного
            td 4200
          tr
            td Использование аттачмена - рельсовый замок
            td 5000
          tr
            td Изготовление единицы балочной конструкции промежуточная часть ( входит пассевация и фрезирование)
            td 7000
          tr
            td.ceni__item-strong(colspan="2") Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура)
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 2-х имплантатах
            td 80000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 3-х имплантатах
            td 105000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 4-х имплантатах
            td 130000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 5-х имплантатах
            td 135000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 6-ти имплантатах
            td 140000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 6-ти имплантах Any Ridge
            td 140000
          tr
            td.ceni__item-strong(colspan="2") Бюгельные протезы на кламмерной фиксации
          tr
            td Изготовление микробюгеля
            td 17800
          tr
            td Изготовление бюгеля на 1 челюсть (изготовление дуги, изготовление моделей огнеупорных, изготовление базиса) (без учета зубов)
            td 23000
          tr
            td Изготовление шинирующего бюгеля на 1 челюсть (изготовление дуги, изготовление многозвеньевого кламмера, изготовление моделей огнеупорных, изготовление базиса, изготовление 3-х кламмеров)
            td 30000
          tr
            td Изготовление 1 кламмера
            td 1500
          tr
            td Кламер в съемном протезе ACETAL DENTAL
            td 3000
          tr
            td.ceni__item-strong(colspan="2") Несъемное протезирование, коронки
          tr
            td Изготовление безметалловой коронки, зуба по технологии Cad-Сam
            td 24900
          tr
            td Изготовление винира e-max
            td 24900
          tr
            td Изготовление цельнолитой коронки из КХС (входит слепок, фиксация Fuji)
            td 5000
          tr
            td Изготовление лабораторной пластмассовой коронки- временная (входит слепок, фиксация Fuji/Hoffmann)
            td 4000
          tr
            td Изготовление ПММА коронки методом Cad-Cam (входит слепок, фиксация Fuji/Hoffmann)
            td 4000
          tr
            td Металлокерамическая коронка повышенной эстетики
            td 13000
          tr
            td Изготовление коронки из ZrO2 с нанесением керамики
            td 24000
          tr
            td Изготовление коронки из ZrO2 с нанесением керамики (включая временные)
            td 24900
          tr
            td Изготовление временного винира
            td 1550
          tr
            td Изготовление клинической композитной коронки
            td 1600
          tr
            td Промежуточная часть мостовидного протеза из металлокерамики
            td 10000
          tr
            td Промежуточная часть мостовидного протеза из ZrO2
            td 19900
          tr
            td Изготовление винира на рефракторе
            td 32000
          tr
            td Изготовление накладки (полукоронка) e-max
            td 22900
          tr
            td.ceni__item-strong(colspan="2") Штифтовые культевые вкладки
          tr
            td Изготовление лабораторной литой культевой штифтовой вкладки на однокорневой зуб из КХС
            td 3000
          tr
            td Изготовление лабораторной литой культевой штифтовой вкладки на однокорневой зуб из благородных металлов
            td 4500
          tr
            td Изготовление клинической литой культевой штифтовой вкладки на однокорневой зуб из КХС
            td 4500
          tr
            td Изготовление штифтовой вкладки с аттачменом из КХС
            td 3800
          tr
            td Изготовление вкладки штифтовой культевой цирконевой по технологии Cad-Cam
            td 11000
      .ceni__item
        h2.ceni__item-title Пародонтологическая стоматология
        table.ceni__table
          tr
            td Прием (осмотр, консультация) врача-стоматолога-пародонтолога первичный
            td 0
          tr
            td Прием (осмотр, консультация) врача-стоматолога-пародонтолога повторный
            td 0
          tr
            td Назначение медикаментозного лечения при заболеваниях СОПР
            td 1500
          tr
            td Лечебная аппликация верхней, нижней челюсти
            td 1200
          tr
            td Лечебная аппликация одного сегмента
            td 400
          tr
            td Лечебная повязка одного фрагмента (Парасепт)
            td 700
          tr
            td Медицинская обработка  с использованием (Альвожил)
            td 740
          tr
            td Плазмолифтинг 1 пробирка
            td 2500
          tr
            td Плазмолифтинг 2 пробирка
            td 5000
          tr
            td Дополнительная пробирка плазмолифтинг
            td 700
          tr
            td Ультразвуковая обработка патологических зубодесневых карманов в области одного зуба
            td 350
          tr
            td Ультразвуковое удаление наддесневых и поддесневых зубных отложений с помощью ультразвука (в области одного зуба)
            td 350
          tr
            td Ультразвуковая обработка пародонтальных карманов 1 сегмента (7-8 зубов) (Аппаратом VECTOR)
            td 1500
          tr
            td Ультразвуковая обработка пародонтального кармана в области зубов одной чеплюсти (Аппаратом VECTOR)
            td 3000
          tr
            td Удаление наддесневых и поддесневых зубных отложений в области зуба ручным методом (КЮРЕТАЖ)
            td 250
          tr
            td Ультразвуковая обработка пародонтального кармана в области зуба (Аппаратом VECTOR)
            td 700
          tr
            td Вскрытие пародонтального абсцесса
            td 1000
          tr
            td Избирательное пришлифовывание твердых тканей зубов (в области одного зуба)
            td 200
          tr
            td Временное шинирование при заболеваниях пародонта (в области двух зубов), 1 см (Риббонд)
            td 8000
          tr
            td Временное шинирование при заболеваниях пародонта (в области четырех-шести зубов)
            td 11250
          tr
            td Открытый кюретаж сегмент
            td 5000
          tr
            td Открытый кюретаж в области 2х зубов
            td 2500
          tr
            td Закрытый кюретаж сегмент
            td 4000
          tr
            td Закрытый кюретаж в области 2х зубов
            td 2500
          tr
            td Вестибулопластика (углубление преддверия полости рта) 1 сегмент
            td 7000
          tr
            td Гингивопластика с устранением рецессии десны в области 1го зуба
            td 2500
          tr
            td Лечение Мукозита (включ.: Антисептическую обработку, механ. обработку-Vector, обработку титановыми куретами)
            td 3000
          tr
            td Лечение переимплантита
            td 5000
          tr
            td Гингивоэктомия зона улыбки
            td 5500
          tr
            td Гингивоэктомия в области 1 зуба
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Профилактика
          tr
            td Аппликация лекарственного препарата на слизистую оболочку полости рта
            td 250
          tr
            td Профессиональная гигиена полости рта и зубов методом Air Flow
            td 3000
          tr
            td Профессиональная гигиена полости рта и зубов методом Air Flow (1 сектор)
            td 150
          tr
            td Профессиональная гигиена полости рта и зубов методом Perio Flow
            td 5200
          tr
            td Профессиональная гигиена полости рта и зубов методом Perio Flow (1 сектор)
            td 1300
          tr
            td Обработка поверхностей зубов для снижения чувствительности (десенситайзер)
            td 1000
          tr
            td Гигиенический комплекс, включая ультразвук, Air-Flow, щетки, штрипсы, пасту для полировки поверхности зубов
            td 3100
          tr
            td Проведение реминерализирующей терапии одного зуба (Фторлак, глуфторед, флюокаль)
            td 100
          tr
            td Проведение реминерализирующей терапии одного сегмента (Фторлак, глуфторед, флюокаль)
            td 300
          tr
            td Проведение реминерализирующей терапии всех зубов (Фторлак, глуфторед, флюокаль)
            td 1000
          tr
            td Обучение гигиене полости рта и зубов индивидуальное, подбор средств и предметов гигиены полости рта
            td 600
          tr
            td Полировка одного зуба при помощи пасты
            td 150
          tr
            td Полировка 1 сегмента
            td 700
          tr
            td Полировка всех зубов
            td 2000
      .ceni__item
        h2.ceni__item-title Ортодонтическая стоматология
        table.ceni__table
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортодонта
            td 0
          tr
            td Определение прикуса
            td 2000
          tr
            td Составление плана лечения при ортодонтической коррекции
            td 600
          tr
            td Снятие слепка с одной челюсти, изготовление кдм, диагностика
            td 2000
          tr
            td Обучение правилам гигиены полости рта, ухода за ортодонтическим аппаратом
            td 350
          tr
            td Измерение диагностических моделей
            td 1000
          tr
            td Анализ моделей при ортодонтической коррекции
            td 1000
          tr
            td Сошлифовывание бугров временных зубов (избирательное пришлифовывание твердых тканей зубов)
            td 1100
          tr
            td Сепарация постоянных зубов
            td 1000
          tr
            td Фиксация брекет-системы на одну челюсть
            td 12000
          tr
            td Фиксация брекет-системы с керамическими (сапфировыми)элементами на одну челюсть
            td 13000
          tr
            td Фиксация одного металлического брекета
            td 1000
          tr
            td Фиксация одного керамического (сапфирового) брекета
            td 1000
          tr
            td Брекеты Н4 металические самолигирующие
            td 17000
          tr
            td Использование брекета H4
            td 1000
          tr
            td Установка дуги на одну челюсть
            td 500
          tr
            td Снятие дуги с одной челюсти
            td 500
          tr
            td Закрытие замка (установка лигатуры)
            td 300
          tr
            td Открытие замка (снятие лигатуры)
            td 300
          tr
            td Установка мелких дополнительных элементов 1 ед. (эластики, пружины, крючки)
            td 600
          tr
            td Активация, коррекция системы
            td 3300
          tr
            td Контрольный осмотр
            td 600
          tr
            td Снятие одной металлической брекет-системы с одной челюсти
            td 8000
          tr
            td Снятие брекет-системы с керамическими (сапфировыми) элементами с одной челюсти
            td 8000
          tr
            td Снятие одного металлического брекета
            td 1000
          tr
            td Снятие одного керамического (сапфирового) брекета
            td 1000
          tr
            td Установка сложных дополнительных конструкций(активаторы, демпферы, бюгели и другие механизмы)
            td 1500
          tr
            td Дистализация одного зуба с использованием ортомикроимпланта
            td 15000
          tr
            td.ceni__item-strong(colspan="2") Установка ортодонтических микроимплантов (винтов)
          tr
            td Установка дополнительных элементов (кнопка) 1 ед.
            td 550
          tr
            td Установка ортодонтического минивинта
            td 13000
          tr
            td Эластичные тяги
            td 200
          tr
            td.ceni__item-strong(colspan="2") Ретенционный период
          tr
            td Изготовление ретейнера съемного (1 челюсть)
            td 6000
          tr
            td Изготовление ретейнера несъемного (1 челюсть)
            td 9000
          tr
            td Осмотр в ретенционный период
            td 1000
          tr
            td Фиксация одного звена ретейнера
            td 1000
          tr
            td Снятие ретейнера с 1 зуба, полировка
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Лечение съемными аппаратами (ортодонтические пластинки, трейнеры)
          tr
            td Ортодонтические шипы
            td 500
          tr
            td Изготовление ортодонтического аппарата 1-ой степени сложности
            td 6500
          tr
            td Изготовление ортодонтического аппарата 2-й степени сложности (1-4 допол. элемента, установка простого винта)
            td 9000
          tr
            td Изготовление двухчелюстного аппарата
            td 16000
          tr
            td Изготовление аппарата для форсированного расширения верхней челюсти Марка-росса
            td 18000
          tr
            td Контрольное, наблюдение с ортодонтическим аппаратом, трейнером, активация
            td 500
          tr
            td Изготовление ортодонтического аппарата 3-й степени сложности(более 4-х допол.элементов, установка трехмерного винта)
            td 10000
          tr
            td Контрольное наблюдение с функциональным аппаратом (пластинки)
            td 500
          tr
            td Добавление элемента в ортодонтиеский аппарат
            td 1800
          tr
            td Разобщающие накладки
            td 600
          tr
            td Контрольное наблюдение
            td 500
          tr
            td Диагностическая консультация (слепки, диагностич. модели, фото)
            td 1500
          tr
            td.ceni__item-strong(colspan="2") Каппы
          tr
            td Изготовление индивидуальных капп на одну челюсть. Для отбеливания
            td 6000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры
          tr
            td Сетап для элайнера
            td 14000
          tr
            td Изготовление элайнера (1 элайнер)
            td 5000
          tr
            td.ceni__item-strong(colspan="2") Услуга по подбору средств личной гигиены
          tr
            td Услуга по подбору средств личной гигиены (щетка)
            td 4700
          tr
            td Услуга по подбору средств личной гигиены (ирригатор)
            td 4100
          tr
            td Услуга по подбору средств личной гигиены (паста)
            td 100
          tr
            td.ceni__item-strong(colspan="2") Подбор личной гигиены
          tr
            td Электрическая щетка Xiaomi
            td 4700
          tr
            td Ирригатор
            td 4100
          tr
            td Таблетка 1 (шт) (для определения налета)
            td 80
          tr
            td Зеркало + 3 таблетки (для определения налета)
            td 370
          tr
            td Скребок для языка (голубой)
            td 450
          tr
            td Скребок для языка (розовый)
            td 450
          tr
            td Жевательная резинка с ксилитом
            td 100
          tr
            td Леденец на палочке из ксилита
            td 100
          tr
            td Леденцы для рассасывания
            td 490
          tr
            td Ополаскиватель полости рта для определения налета, без эритрозина
            td 1100
          tr
            td Ополаскиватель с маракуйа
            td 550
          tr
            td Таблетки для рассасывания с маракуйа
            td 500
          tr
            td Браслеты
            td 100
          tr
            td Подарочный сертификат
            td 0
      .ceni__item
        h2.ceni__item-title Детская стоматология
        table.ceni__table
          tr
            td Прием (осмотр, консультация, составление плана лечения) врача-стоматолога детского первичный
            td 500
          tr
            td Профилактический осмотр
            td 400
          tr
            td Осмотр и оформление справки в детский садик, школу и другие учреждения по поводу санации полости рта
            td 300
          tr
            td.ceni__item-strong(colspan="2") Анестезия
          tr
            td Консультация врача анестезиолога-реаниматолога
            td 1500
          tr
            td Апликационная анестизия
            td 80
          tr
            td Инфильтрационная анестезия
            td 350
          tr
            td Проводниковая анестезия
            td 400
          tr
            td Интралигаментарная анестезия
            td 250
          tr
            td Комбинированная анестезия
            td 350
          tr
            td Антигистаминная подготовка
            td 400
          tr
            td Внутривенное введение препаратов
            td 450
          tr
            td Внутримышечное введение препаратов
            td 500
          tr
            td Послеоперационное наблюдение. Мониторинг до 30 мин
            td 3300
          tr
            td Послеоперационное наблюдение. Мониторинг от 1 часа до 3 часов
            td 4000
          tr
            td Внутривенная седация в комбинации с местной анестезией. Первые 30 мин
            td 3000
          tr
            td Внутривенная седация в комбинации с местной анестезии. Длительность до 1 часа
            td 4000
          tr
            td Внутривенная седация в комбинации с местной анестезии при продолжительности седации более одного часа, дополнительно за каждые 60 мин
            td 2500
          tr
            td Масочная седация (Закись азота). Первые 30 мин
            td 2000
          tr
            td Масочная седация (Закись азота). Каждые последующие 30 мин
            td 2000
          tr
            td Масочная седация (Севоран). 15 мин
            td 3000
          tr
            td.ceni__item-strong(colspan="2") Рентгенография
          tr
            td Прицельная внутриротовая контактная рентгенография
            td 300
          tr
            td Ортопантомограмма
            td 650
          tr
            td.ceni__item-strong(colspan="2") Лечение кариеса молочных зубов
          tr
            td Лечение кариеса молочного зуба в пределах дентина (одна поверхность зуба)
            td 2500
          tr
            td.ceni__item-strong(colspan="2") Лечение кариеса постоянных зубов
          tr
            td Поверхностный кариес (анестезия; обработка кариозной полости; наложение подкладочного материала под основную пломбу; наложение пломбы Геркулайт, Эстелайт,Фуджи;шлифовка и полировка пломбы)
            td 3500
          tr
            td Средний кариес (анестезия; обработка кариозной полости; наложение подкладочного материала под основную пломбу; наложение пломбы Геркулайт, Эстелайт,Фуджи;шлифовка и полировка пломбы)
            td 4500
          tr
            td Глубокий(анестезия; обработка кариозной полости; наложение подкладочного материала под основную пломбу; наложение пломбы Геркулайт, Эстелайт,Фуджи;шлифовка и полировка пломбы)
            td 5200
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита временных зубов
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка одного корневого канала (1 посещение)
            td 3000
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка многоканального зуба (1 посещение)
            td 4500
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка одного корневого канала (2 посещение)
            td 3000
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка многоканального зуба (2 посещение)
            td 4500
          tr
            td Введение лекарственных средств в одноканальный зуб
            td 1200
          tr
            td Введение лекарственных средств в многоканальный зуб
            td 1500
          tr
            td Наложение коффердама, оптидама, оптрагейта
            td 500
          tr
            td Пломбирование канала одноканального молочного зуба
            td 4800
          tr
            td Пломбирование каналов многоканального молочного зуба
            td 5200
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита постоянных зубов
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, обработка каналов, пломбирование пастой) - Посещение 1: 1-канальный зуб
            td 3300
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, обработка каналов, пломбирование пастой) - Посещение 1: 2-канальный зуб
            td 5100
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, обработка каналов, пломбирование пастой) - Посещение 1: 3-канальный зуб
            td 6000
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, обработка каналов, пломбирование пастой) - Посещение 1: 4-канальный
            td 8000
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, антисептическая обработка, пломбирование мет. верт. конденсанции, подкладочный материал, временная пломба) - Посещение 2: 1-канальный зуб
            td 2000
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, антисептическая обработка, пломбирование мет. верт. конденсанции, подкладочный материал, временная пломба) - Посещение 2: 2-канальный зуб
            td 2700
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, антисептическая обработка, пломбирование мет. верт. конденсанции, подкладочный материал, временная пломба) - Посещение 2: 3-канальный зуб
            td 3000
          tr
            td Лечение периодонтита: (анестезия, наложение с коффердама, антисептическая обработка, пломбирование мет. верт. конденсанции, подкладочный материал, временная пломба) - Посещение 2: 4-канальный зуб
            td 3900
          tr
            td.ceni__item-strong(colspan="2") Лечение пульпита
          tr
            td Лечение пульпита временных зубов
            td 3800
          tr
            td Лечение пульпита временного зуба методом девитальной экстирпации
            td 3800
          tr
            td Лечение пульпита временного зуба в одно посещение ампутационным методом
            td 4600
          tr
            td Лечение пульпита 1 посещение
            td 800
          tr
            td Лечение пульпита 2 посещение
            td 800
          tr
            td Лечение пульпита 3 посещение
            td 2300
          tr
            td Лечение пульпита временного зуба экстирпационным методом (одноканального зуба)
            td 4800
          tr
            td Лечение пульпита временного зуба экстирпационным методом (многоканального зуба)
            td 5200
          tr
            td Лечение пульпита постоянных зубов с несформированными корнями
            td 4100
          tr
            td Оказание неотложной помощи
            td 1200
          tr
            td Лечение постоянного зуба методом витальной ампутации
            td 5000
          tr
            td Герметизация места перелома коронки зуба жидкотекучим композитом
            td 2000
          tr
            td Лечение пульпита 1 канальный с постановкой пломбы
            td 6300
          tr
            td Лечение пульпита 1 канальный без постановки пломбы
            td 4500
          tr
            td Лечение пульпита 2 канальный с постановкой пломбы
            td 7400
          tr
            td Лечение пульпита 2 канальный без постановки пломбы
            td 6700
          tr
            td Лечение пульпита 3 канальный с постановкой пломбы
            td 9800
          tr
            td Лечение пульпита 3 канальный без постановки пломбы
            td 8800
          tr
            td Лечение пульпита 4 канальный с постановкой пломбы
            td 11500
          tr
            td Лечение пульпита 4 канальный без постановки пломбы
            td 11000
          tr
            td Замена временной пломбы на постоянную
            td 2300
          tr
            td Стекловолоконный штифт
            td 900
          tr
            td.ceni__item-strong(colspan="2") Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой
          tr
            td Обучение гигиене полости рта с рекомендациями по средствам гигиены
            td 50
          tr
            td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: обе челюсти
            td 2100
          tr
            td Снятие зубных отложений при удовлетворительном состоянии зубов
            td 2000
          tr
            td Снятие зубных отложений при хорошем состоянии зубов
            td 1500
          tr
            td Снятие зубных отложений при неудовлетворительном состоянии зубов
            td 2500
          tr
            td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: один зуб
            td 100
          tr
            td Адаптационная чистка зубов
            td 1800
          tr
            td Снятие зубного налета и зубного камня с одного зуба (ультразвук+AIR FLOW)
            td 150
          tr
            td Снятие зубного налета и зубного камня с одного зуба ручным способом
            td 100
          tr
            td Снятие остатков пломбировочного материала с одного зуба после ортодонтического лечения
            td 100
          tr
            td Фторирование одного зуба
            td 120
          tr
            td Реминирализующая терапия 1 зуба
            td 150
          tr
            td Глубокое фторирование 1 зуба
            td 120
          tr
            td Обработка зуба препаратом ICON (без препарирования, одна поверхность)
            td 3500
          tr
            td Герметезация фиссур молочных зубов (1зуб)
            td 1000
          tr
            td Герметизация фиссур постоянных зубов (1 зуб)
            td 2000
          tr
            td Восстановление формы зуба (постановка пломбы после лечения каналов; при стираемости; для завышения высоты прикуса)
            td 2500
          tr
            td Восстановление формы зуба при отсутствии твердых тканей 1/2 коронки зуба
            td 4000
          tr
            td Полировка одного зуба
            td 100
          tr
            td Полировка сегмента
            td 500
          tr
            td Полировка все зубы
            td 1600
          tr
            td Восстановление молочного зуба композитным материалом
            td 2500
          tr
            td Восстановление твердых тканей постоянного зуба при травмах в пределах эмали
            td 3000
          tr
            td Восстановление твердых тканей постоянного зуба при травмах в пределах дентина без вскрытия полости зуба
            td 3500
          tr
            td Лечение заболеваний слизистой оболочки полости рта (первое посещение)
            td 500
          tr
            td Лечение заболеваний слизистой оболочки полости рта (последующие посещения)
            td 500
          tr
            td Наложение девитализирующей пасты
            td 1000
          tr
            td Наложение временной пломбы
            td 500
          tr
            td Шинирование зубов
            td 2500
          tr
            td Замещение дефекта зубного ряда системой Ribbond
            td 2500
          tr
            td Избирательное прошлифовывание одного зуба
            td 150
          tr
            td.ceni__item-strong(colspan="2") Дополнительные услуги
          tr
            td Повторная антисептическая обработка корневых каналов
            td 1500
          tr
            td Снятие временной пломбы
            td 500
          tr
            td Распломбировка одного корневого канала
            td 1000
          tr
            td Шлифовка и полировка пломбы
            td 200
          tr
            td Наложение временной пломбы
            td 600
      .ceni__item
        h2.ceni__item-title Детская ортодонтия
        table.ceni__table
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортодонта
            td 0
          tr
            td Определение прикуса
            td 2000
          tr
            td Составление плана лечения при ортодонтической коррекции
            td 1000
          tr
            td Снятие слепка с одной челюсти, изготовление кдм, диагностика
            td 2000
          tr
            td Обучение правилам гигиены полости рта, ухода за ортодонтическим аппаратом
            td 500
          tr
            td Измерение диагностических моделей
            td 1000
          tr
            td Анализ моделей при ортодонтической коррекции
            td 1000
          tr
            td Сошлифовывание бугров временных зубов (избирательное пришлифовывание твердых тканей зубов)
            td 1100
          tr
            td Сепарация постоянных зубов
            td 1000
          tr
            td Фиксация брекет-системы на одну челюсть
            td 12000
          tr
            td Фиксация брекет-системы с керамическими (сапфировыми)элементами на одну челюсть
            td 13000
          tr
            td Фиксация одного металлического брекета
            td 1000
          tr
            td Фиксация одного керамического (сапфирового) брекета
            td 1000
          tr
            td Брекеты Н4 металические самолигирующие
            td 17000
          tr
            td Использование брекета H4
            td 1000
          tr
            td Установка дуги на одну челюсть
            td 500
          tr
            td Снятие дуги с одной челюсти
            td 500
          tr
            td Закрытие замка (установка лигатуры)
            td 300
          tr
            td Открытие замка (снятие лигатуры)
            td 300
          tr
            td Установка мелких дополнительных элементов 1 ед.(эластики, пружины, крючки)
            td 600
          tr
            td Активация, коррекция системы
            td 3300
          tr
            td Контрольный осмотр
            td 600
          tr
            td Снятие одного металлической брекет-системы с одной челюсти
            td 8000
          tr
            td Снятие брекет-системы с керамическими (сапфировыми) элементами с одной челюсти
            td 8000
          tr
            td Снятие одного металлического брекета
            td 1000
          tr
            td Снятие одного керамического (сапфирового) брекета
            td 1000
          tr
            td Установка сложных дополнительных конструкций(активаторы, демпферы, бюгели и другие механизмы)
            td 1500
          tr
            td Дистализация одного зуба с использованием ортомикроимпланта
            td 15000
          tr
            td.ceni__item-strong(colspan="2") Установка ортодонтических микроимплантов (винтов)
          tr
            td Установка дополнительных элементов (кнопка) 1 ед.
            td 550
          tr
            td Установка ортодонтического минивинта
            td 13000
          tr
            td Эластичные тяги
            td 200
          tr
            td.ceni__item-strong(colspan="2") Ретенционный период
          tr
            td Изготовление ретейнера съемного (1челюсть)
            td 6000
          tr
            td Изготовление ретейнера несъемного (1 челюсть)
            td 9000
          tr
            td Осмотр в ретенционный период
            td 1000
          tr
            td Фиксация одного звена ретейнера
            td 1000
          tr
            td Снятие ретейнера с 1 зуба, полировка
            td 1000
          tr
            td.ceni__item-strong(colspan="2") Лечение съемными аппаратами (ортодонтические пластинки, трейнеры)
          tr
            td Ортодонтические шипы
            td 500
          tr
            td Изготовление ортодонтического аппарата 1-ой степени сложности
            td 6500
          tr
            td Изготовление ортодонтического аппарата 2-й степени сложности (1-4 допол.элемента,установка простого винта)
            td 9000
          tr
            td Изготовление двухчелюстного аппарата
            td 16000
          tr
            td Изготовление аппарата для форсированного расширения верхней челюсти Марка-росса
            td 18000
          tr
            td Контрольное, наблюдение с ортодонтическим аппаратом, трейнером, активация
            td 500
          tr
            td Изготовление ортодонтичсекого аппарата 3-й степени сложности(более 4-х допол. элементов, установка трехмерного винта)
            td 10000
          tr
            td Контрольное наблюдение с функциональным аппаратом( пластинки)
            td 500
          tr
            td Разобщающие накладки
            td 600
          tr
            td Контрольное наблюдение
            td 500
          tr
            td Диагностическая консультация (слепки, диагностич.модели, фото)
            td 1500
          tr
            td.ceni__item-strong(colspan="2") Каппы
          tr
            td Изготовление индивидуальных капп на одну челюсть(защитные, ретенционные, отбеливающие)
            td 6000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры
          tr
            td Изготовление элайнера (1 элайнер)
            td 5000
          tr
            td Сетап для элайнера (1элайнер)
            td 14000
      .ceni__item
        h2.ceni__item-title Детская хирургия
        table.ceni__table
          tr
            td Прием (осмотр, консультация) врача-стоматолога-хирурга первичный
            td 1000
          tr
            td Прием (осмотр, консультация) врача-стоматолога-хирурга повторный
            td 500
          tr
            td Удаление молочного зуба
            td 1500
          tr
            td Удаление молочного зуба сложное (в стадии обострения)
            td 2500
          tr
            td Удаление молочного зуба (в стадии физиологической резорбции, подвижность 2и 3 степени)
            td 1500
          tr
            td Удаление фрагмента молочного зуба
            td 1000
          tr
            td Удаление постоянного зуба простое
            td 1100
          tr
            td Удаление постоянного зуба сложное с разъединением корней
            td 2000
          tr
            td Удаление зуба сложное с выкраиванием слизисто-надкостничного лоскута и наложением швов
            td 2500
          tr
            td Иссечение «капюшона», лечение перикоронита
            td 1300
          tr
            td Удаление сверхкомплектных, ретенированных и дистопированных зубов
            td 3000
          tr
            td Резекция верхушки корня одного зуба
            td 4000
          tr
            td Резекция верхушки корня двух зубов
            td 4500
          tr
            td Гемисекция или ампутация корня
            td 1000
          tr
            td Цистэктомия с резекцией верхушки корня (однокорневой зуб)
            td 600
          tr
            td Цистэктомия с резекцией верхушки корня (многокорневой зуб)
            td 600
          tr
            td Удаление ретенционной кисты малой слюнной железы
            td 4300
          tr
            td Удаление фолликулярной кисты
            td 2500
          tr
            td Ретроградное пломбирование корня зуба
            td 2800
          tr
            td Пластика уздечки верхней губы
            td 3000
          tr
            td Пластика уздечки нижней губы
            td 3000
          tr
            td Пластика уздечки языка
            td 3000
          tr
            td Рассечение уздечки языка
            td 1000
          tr
            td Вестибулопластика
            td 7000
          tr
            td Реплантация зуба
            td 2500
          tr
            td Лечение альвеолита с ревизией лунки
            td 2500
          tr
            td Гингивэктомия в области одного зуба
            td 1000
          tr
            td Периостомия в области одного зуба
            td 1000
      .ceni__item
        h2.ceni__item-title Дополнительные услуги
        table.ceni__table
          tr
            td Снятие стальной штампованной коронки
            td 350
          tr
            td Снятие цельнолитой, металлокерамической, металлопластмассовой коронки
            td 1000
          tr
            td Диагностическое препарирование 1-2х зубов
            td 2500
          tr
            td Использование лицевой дуги; изготовление мастер модели
            td 5000
          tr
            td Изготовление контрольно-диагностической модели
            td 2000
          tr
            td Индивидуальная ложка
            td 1900
          tr
            td.ceni__item-strong(colspan="2") Армирование
          tr
            td Изготовление армирующего каркаса
            td 3300
          tr
            td Изготовление армирующего каркаса литьем
            td 5000
          tr
            td.ceni__item-strong(colspan="2") Фиксация
          tr
            td Фиксация временная "водный дентин"
            td 100
          tr
            td Фиксация временная "Temp bond"
            td 150
          tr
            td Фиксация на цинк-фосфатный цемент "Унифас", "Уницем"
            td 150
          tr
            td Фиксация на стеклоиномерный цемент "Фуджи", "Хофман"
            td 300
          tr
            td Фиксация на цемент двойного отверждения "Мультилинк"
            td 1000
          tr
            td Фиксация на цемент PANAvia
            td 800
          tr
            td Фиксация на цемент Variolink
            td 1300
          tr
            td Замена установка винта для работ на имплантах (использование винта,работа доктора)
            td 3000
          tr
            td.ceni__item-strong(colspan="2") Функциональная стоматология
          tr
            td Брукс чекер диагностический
            td 6600
          tr
            td Брукс чекер контрольный
            td 2900
          tr
            td Изготовление каппы релаксирующей
            td 5300
          tr
            td Изготовление каппы стабилизирующей
            td 6300
          tr
            td Изготовление каппы спортивной индивидуальной однослойной
            td 7300
          tr
            td Изготовление каппы спортивной индивидуальной двухслойной с усилением
            td 8000
          tr
            td Изготовление окклюзионной шины
            td 13300
