section.ceni
  .container.ceni__container
    .ceni__top-block
      h1 Прейскурант услуг
      .ceni__search-block
        input.ceni__search-input(placeholder="Поиск")
        span.ceni__search-info
    table.ceni__search-table
      tbody.ceni__search-tbody
    .ceni__p-block
      p В этом разделе вы можете ознакомиться со стоимостью основных услуг в «Риадент». Более подробный прайс можно узнать, посетив нашу клинику. После консультации стоматолога вам будет предоставлен подробный план лечения с указанием цены.
      p <strong>В связи с мировой обстановкой цены могут меняться довольно быстро. Актуальные цены всегда можно уточнить в клинике: Звоните по телефону: <a href="tel:+73472252520">+7&nbsp;347&nbsp;225&nbsp;25&nbsp;20</a> Пишите в WhatsApp: <a href="https://wa.me/+79649582816">+7&nbsp;964&nbsp;958&nbsp;28&nbsp;16</a>. Наши доброжелательные администраторы будут рады помочь и ответят на ваши вопросы.</strong>
    .ceni__wrapper
      .ceni__item.ceni__item--show
        h2.ceni__item-title.ceni__item-title--show Первичный прием
        .ceni__item-top.ceni__item-top--show
          .ceni__item-img
          .ceni__item-text
            p Проводится в течение 1 часа. Включает в себя:
            ul
              li Знакомство врача и пациента в дружественной обстановке;
              li Сбор анамнеза и ваших жалоб;
              li Полный осмотр ротовой полости, включая мягкие ткани;
              li Фотопротокол – съемка зубов/лица в разных ракурсах (выполняется при имплантации, протезировании или реставрации зубов);
              li Постановка предварительного диагноза и составление плана лечения;
              li При необходимости назначения дополнительного обследования: компьютерная томография (КЛКТ), 3D-сканер;
              li Обсуждение с врачом вашего случая после проведенных исследований, возможна корректировка намеченного плана терапии
            p После визита к доктору у вас сложится полное представление о состоянии вашей ротовой полости и зубов. Вы будете понимать объём и сроки предстоящей лечения, также будет озвучена стоимость стоматологических услуг.
        table.ceni__table.ceni__table--show
          tr
            td Первичный прием врача-стоматолога-терапевта (осмотр, фотопротокол, консультация, составление плана лечения)
            td от 500
          tr
            td Первичный прием врача-стоматолога–ортопеда (осмотр, фотопротокол, консультация, составление плана лечения) 
            td от 500
          tr
            td Первичный прием врача-стоматолога – ортодонт (осмотр, фотопротокол, консультация, составление плана лечения)
            td 1000
          tr
            td Первичный прием врача-стоматолога–хирурга (осмотр, фотопротокол, консультация, составление плана лечения)
            td <span style="text-decoration:line-through;">500</span> 0
          tr
            td Компьютерная томография 3D 100*100
            td от 2300
          tr
            td Прицельная рентгенография одного зуба
            td 300
          tr
            td Снимок ОПТГ
            td 700
      .ceni__item
        h2.ceni__item-title Лечение кариеса
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Качественное лечение кариеса в любой стадии (белое пятно, средний, глубокий)
              li Квалификация и опыт докторов позволяет заниматься самыми сложными и запущенными случаями
              li Обязательное наложение коффердама/оптидама/оптрагейта – это обеспечивает изоляцию зуба, что позволяет пломбе дольше продержаться
              li Тщательное восстановление анатомической формы зуба с его естественными углублениями
              li Проведение реставрации прямым и непрямым методами
              li Современные методы обезболивания
        table.ceni__table
          tr
            td Лечение поверхностного кариеса
            td от 4000
          tr
            td Лечение среднего кариеса
            td от 4800
          tr
            td Лечение глубокого кариеса
            td от 5200
          tr
            td Эстетическая реставрация зуба
            td от 5000
          tr
            td Лечение поверхностного кариеса под микроскопом
            td от 6000
          tr
            td Лечение среднего кариеса под микроскопом
            td от 7100
          tr
            td Лечение глубокого кариеса под микроскопом
            td от 7300
          tr
            td Эстетическая реставрация зуба под микроскопом
            td от 8700
      .ceni__item
        h2.ceni__item-title Лечение каналов/периодонтита
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Им занимаются врачи с большим опытом работы, которые прошли не одно дополнительное обучение
              li Для изоляции зуба обязательно накладывается коффердам. Так работы будет выполнена аккуратно и чисто
              li Доктора успешно лечат даже сложные случаи: разветвление и искривление каналов, ранее леченые каналы, извлечение оставленных фрагментов стоматологического материала после предыдущего лечения и пр.
              li Только современные и безопасные методы обезболивания
              li Девиз нашей команды – сохранить то, что дано природой – поэтому мы будем до последнего бороться за зуб и пытаться избежать удаления!
        table.ceni__table
          tr
            td Лечение пульпита одноканального
            td от 7000
          tr
            td Оказание помощи при острой боли
            td от 1200
          tr
            td Лечение пульпита одноканального под микроскопом
            td от 9800
      .ceni__item
        h2.ceni__item-title Профессиональная гигиена полости рта
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Профессиональная гигиена включает в себя удаление зубного налета и отложений, полировку зубов, реминерализацию, рекомендации по домашнему уходу
              li Перед комплексом процедур обязателен осмотр стоматолога-терапевта
              li Если у вас высокий болевой порог, то можно провести процедуры под седацией
              li Индивидуальный подход – мы берем во внимание чувствительность зубов, наличие воспаления или кровоточивости десен, имеется ли непереносимость препаратов и т.д.
              li Качество оказанных услуг подтверждено международными сертификатами.
        table.ceni__table
          tr
            td Профессиональная гигиена полости рта и зубов
            td от 4500
      .ceni__item
        h2.ceni__item-title Антистресс—лечение
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            p Проводится лечение во сне, для которого используется наркоз или седация
            ul
              li Ингаляционный препарат для наркоза «Севоран»
              li Современный аппарат для подачи и проведения наркоза
              li Целая команда специалистов: компетентный доктор, опытный анестезиолог, грамотный ассистент и чуткий координатор лечения
              li Наркоз проводится только после предоставления необходимых анализов
              li Максимально стерильные и комфортные условия, постонный мониторинг состояния пациента
              li Имеется обязательный антидот к препарату «Севоран»  – «Дантролен»
        table.ceni__table
          tr
            td Комбинированный эндотрахеальный и(или) ларингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы
            td Первый час 12500
          tr
            td Внутривенная седация в комбинации с местной анестезией
            td 30 мин 4000 руб
          tr
            td Масочная седация (закись азота)
            td Первые 30 мин 3000
          tr
            td Консультация анестезиолога-реаниматолога
            td 1500
      .ceni__item
        h2.ceni__item-title Отбеливание
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li До процедуры отбеливания проводится профессиональная гигиена полости рта, это нужно для заметного и эффективного результата
              li Отбеливание по системе Zoom WhiteSpeed (Zoom 4) – за 1 посещение можно осветлить зубы на 8 тонов
              li Даже самым чувствительным зубам будет комфортно, все проходит в щадящем режиме
              li Результат отбеливания держится на протяжении 4 лет, однако это время можно продлить: слушайте советы своего врача и выполняйте должный домашний уход
              li Во время процедуры мы создаем комфортные условия для пациента
        table.ceni__table
          tr
            td Отбеливание фронтальных зубов "зона улыбки" Zoom WhiteSpeed
            td 23500
      .ceni__item
        h2.ceni__item-title Виниры
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Виниры – это создание ослепительной голливудской улыбки на многие годы
              li Мы используем керамические виниры – это качество, прочность эстетичный вид
              li Белоснежная и здоровая эмаль с небольшой прозрачностью у края зубов
              li Десна естественного розового цвета, которые одинаково ровно прикрывают зубы и скрываются промежутки зубного ряда
              li Гарантия на все используемые материалы и проведенные работы
        table.ceni__table
          tr
            td Изготовление винира керамического e-max
            td от 30900
      .ceni__item
        h2.ceni__item-title Коронки
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Знакомство с доктором, подробная беседа
              li Тщательный осмотр
              li Онконастороженность, осмотр мягких тканей
              li Фотопротокол — фото в разных ракурсах
              li Составление предварительного плана лечения
              li Компьютерная томография (КЛКТ)
              li Анализ КЛКТ с помощью искусственного интеллекта Diagnocat. Безошибочная диагностика!
              li Подробный разбор ситуации вместе с доктором, с учетом всех данных: осмотра, фотопротокола, 3D-диагностики
        table.ceni__table
          tr
            td Коронка металлокерамическая
            td от 19000
          tr
            td Коронка керамическая цельнолитая
            td от 24900
          tr
            td Изготовление коронки из ZrO2 с нанесением керамики
            td 32900
          tr
            td Изготовление безметалловой коронки, зуба по технологии Cad-Сam
            td 32900
      .ceni__item
        h2.ceni__item-title Имплантация
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Различные виды имплантации: одномоментная, одноэтапная, по хирургическому шаблону, при полном отсутствии зубов;
              li В ходе консультации стоматолога подбирается индивидуальный способ имплантации;
              li За плечами наших хирургов-имплантологов сотни проведенных имлантаций;
              li Осуществляется полный комплекс исследований, включая и 3D-сканер;
              li Все манипуляции проходят в комфортных условиях для пациента, используются методы седации;
              li Используются костные материалы «Лиопласт», импланты Dentium/Osstem, ICX, Nobel.
        table.ceni__table
          tr
            td Установка дентального импланта Dentium, Корея, хирургический этап
            td от 25000
          tr
            td Установка дентального импланта ICX, Германия, хирургический этап
            td от 25000
          tr
            td Установка дентального импланта NOBEL, Швеция, хирургический этап
            td от 50000
          tr
            td Установка системы all on 4 c немедленной нагрузкой с использованием имплантов Nobel, Швеция, хирургический этап
            td от 170000
          tr
            td Установка all on 6 c немедленной нагрузкой с использованием имплантов Nobel, Швеция, хирургический этап
            td от 250000
      .ceni__item
        h2.ceni__item-title Костная пластика и синус-лифтинг
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Сопровождение наших врачей – квалифицированных и опытных специалистов – на каждом этапе: от первичной диагностики до успешного завершения
              li Обязательное проведение КЛКТ – это поможет составить тщательный план лечения
              li Имеется все необходимое оборудование для проведения сложных операций
              li Грамотные доктора подберут наиболее эффективную методику выполнения остеопластики
              li Эти процедуры проводятся в максимально комфортных для пациента условиях – под седацией или во сне
              li При возможности одномоментно с операцией проводится и имплантация
        table.ceni__table
          tr
            td Закрытый синус-лифтинг
            td от 15000
          tr
            td Костная пластика
            td от 25000
      .ceni__item
        h2.ceni__item-title Хирургическая стоматология
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Представлен широкий спектр хирургических процедур: не только удаление зубов, но и пластика уздечек, цистэктомия, лечение рецессии десны и пр.;
              li Работу выполняют опытные и квалифицированные доктора;
              li Быстро – используются специальные инструменты (классические, хирургические);
              li Без боли – только современные и проверенные анестезирующие препараты., можно провести седацию;
              li Без последствий – после процедуры вам будут даны все необходимые рекомендации для быстрого заживления воспаленного участка десны;
              li Мы всегда пытаемся сохранить то, что дано природой. Но если все-таки удаления зуба не избежать, то затем можно провести имплантацию.
        table.ceni__table
          tr
            td Удаление зуба простое
            td от 2000
          tr
            td Удаление зуба сложное
            td от 4000
          tr
            td Удаление зуба мудрости
            td от 5500
          tr
            td Пластика уздечки языка
            td 5000
          tr
            td Пластика уздечки нижней губы
            td 3000
          tr
            td Пластика уздечки верхней губы
            td 3000
      .ceni__item
        h2.ceni__item-title Ортодонтическая стоматология
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            p С помощью современных технологий можно исправить прикус в любом возрасте
            ul
              li Исправление прикуса и выравнивание зубов с помощью брекет-систем, элайнеров (капы) для взрослых и детей;
              li Детальное обследование перед началом работы над прикусом – компьютерная томография, сканирование, фотопротоколы;
              li Для изготовления слепков используем современный 3D-сканер;
              li Наша цель – не только выравнивание зубного ряда, но и доведение вашей улыбки до идеала;
              li Брекет-системы: керамические, металлические, комбинированные;
              li Элайнеры «Kinder Smile», «Star Smile iQ», «Star Smile», «Teen Smile»;
              li Установление ортодонтических пластинок, трейнеров, ретейнеров.
        table.ceni__table
          tr
            td Фиксация лигатурной металлической брекет-системы на 1 челюсть
            td от 40000
          tr
            td Фиксация самолигирующей металлической брекет-системы на 1 челюсть
            td 50000
          tr
            td Фиксация самолигирующей керамической брекет-система на 1 челюсть
            td от 60000
          tr
            td Фиксация проволочного ретейнера в области 6 зубов
            td 5000
          tr
            td Диагностическая консультация (слепки, диагностические модели, фото)
            td 2000
          tr
            td Снятие брекетов с одной челюсти
            td от 5000
          tr
            td Контрольное наблюдение ежемесячное системой
            td 4000
          tr
            td Установка ортодонтического минивинта
            td 20000
          tr
            td Ортодонтический аппарат «XAAS», «Хайрекс»
            td 23000
          tr
            td Корректор прикуса «Твин Форс»
            td 25000
          tr
            td Удерживатель пространства
            td 8000
          tr
            td Съемная пластинка с винтом для расширения в 1 направлении
            td от 10000
          tr
            td Съемная пластинка с винтом для расширения в 2, 3 направлениях
            td 12000
          tr
            td Ортодонтический аппарат «Твин блок»
            td 15000
      .ceni__item
        h2.ceni__item-title Исправление прикуса элайнерами
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li С помощью современных технологий можно исправить прикус в любом возрасте
              li Мы используем элайнеры (прозрачные капы) «Kinder Smile», «Star Smile iQ», «Star Smile», «Teen Smile», ортодонтические аппараты, корректоры прикуса
              li Детальное обследование перед началом работы над прикусом – компьютерная томография, сканирование, фотопротоколы
              li Для изготовления слепков используем современный 3D-сканер
              li Наша цель – не только выравнивание зубного ряда, но и доведение вашей улыбки до идеала
        table.ceni__table
          tr
            td Курс лечения на элайнерах «Star Smile iQ» (от 0 до 5 шагов)
            td 60000
          tr
            td Курс лечения на элайнерах «Star Smile» (от 0 до 5 шагов)
            td 50000
          tr
            td Курс лечения на элайнерах «Kinder Smile» (от 0 до 7 шагов)
            td 70000
          tr
            td Курс лечения на элайнерах «Teen Smile» (от 0 до 5 шагов)
            td 50000
          tr
            td Ортодонтический аппарат «XAAS», «Хайрекс»
            td 23000
          tr
            td Корректор прикуса «Твин Форс»
            td 25000
          tr
            td Удерживатель пространства
            td 8000
          tr
            td Съемная пластинка с винтом для расширения в 1 направлении
            td от 10000
          tr
            td Съемная пластинка с винтом для расширения в 2, 3 направлениях
            td 12000
          tr
            td Ортодонтический аппарат "Твин блок"
            td 15000
      .ceni__item
        h2.ceni__item-title Детская стоматология
        .ceni__item-top
          .ceni__item-img
          .ceni__item-text
            ul
              li Детям проводится широкий спектр услуг, среди которых лечение кариеса и пульпита, герметизация фиссур, исправление прикуса, фторирование и удаление зубов, профессиональная гигиена полости рта и др.
              li Мы создали комфортную атмосферу для детей: уютные кабинеты с телевизором и мягким креслом, игровая зона
              li Самый приветливый персонал, включая добрых и улыбчивых докторов – ребенку будет НЕ страшно!
              li Возможность лечения под седацией или во сне
              li Бесплатные профилактические осмотры 1 раз в 3 месяца
        table.ceni__table
          tr
            td Первичный прием врача- стоматолога детского
            td от 750
          tr
            td Профилактический осмотр 1 раз в 3 месяца
            td 0
          tr
            td Лечение кариеса молочного зуба
            td 2500
          tr
            td Лечение кариеса постоянного зуба
            td 4000
          tr
            td Профессиональная гигиена полости рта и зубов
            td от 2800
          tr
            td Восстановление молочных зубом металлической коронкой
            td 3600
          tr
            td Удаление молочных зубов
            td от 1200
