section.ceni
  .container.ceni__container
    h1 Прейскурант услуг
    button.ceni__item-button Консультация и диагностика
    .ceni__item
      table.ceni__table
        tr
          td Прием (осмотр, консультация) врача-стоматолога-хирурга первичный
          td <span class="ceni__through">1000</span><br> До конца месяца бесплатно
        tr
          td Прием (осмотр, консультация) врача-стоматолога-хирурга повторный
          td <span class="ceni__through">500</span><br> До конца месяца бесплатно
        tr
          td Прием (осмотр, консультация) врача-стоматолога-имплантолога первичный
          td <span class="ceni__through">1000</span><br> До конца месяца бесплатно
        tr
          td Прием (осмотр, консультация) врача-стоматолога-имплантолога повторный
          td <span class="ceni__through">500</span><br> До конца месяца бесплатно
        tr
          td Консилиум специалистов (не менее 3-х человек)
          td 500
    button.ceni__item-button Компьютерная томография и рентгенология
    .ceni__item
      table.ceni__table
        tr
          td Прицельная внутриротовая контактная рентгенография
          td 300
        tr
          td Ортопантомограмма
          td 650
        tr
          td Исследование методом 3D компьютерной томографии 100*100
          td 2000
        tr
          td Повторная компьютерная томография 100*100
          td 500
        tr
          td ТРГ в прямой или боковой проекции (одна проекция)
          td 700
        tr
          td Анализ и расчет ТРГ(результаты выдаются в теч.3х дней)
          td 1200
        tr
          td Выдача результата исследования методом КЛКТ на USB-флеш-накопителе
          td 250
        tr
          td Выдача копии результата исследования методом КЛКТ за единицу
          td 100
    button.ceni__item-button Терапевтическая стоматология
    .ceni__item
      table.ceni__table
        tr
          td Прием (осмотр, консультация) врача-стоматолога-терапевта первичный
          td 0
        tr
          td Прием (осмотр, консультация) врача-стоматолога-терапевта повторный
          td 0
        tr
          td Консилиум специалистов (не менее 3-х человек)
          td 0
        tr
          td Выдача справки по медосмотру (осмотр специалиста, выдача справки)
          td 100
        tr
          td Консультация врача -стоматолога по беременности
          td 200
        tr
          td(colspan="2") Восстановление зуба
        tr
          td Восстановление формы зуба после эндодонтического лечения/под коронку
          td 1000
        tr
          td Временное восстановление зуба
          td 1700
        tr
          td Установка временной пломбы
          td 300
        tr
          td(colspan="2") Лечение кариеса
        tr
          td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
          td 1900
        tr
          td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x; шлифовка и полировка пломбы)
          td 2500
        tr
          td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
          td 3000
        tr
          td Лечение методом ICON
          td 2000
        tr
          td(colspan="2") Лечение периодонтита: 1 канальный зуб
        tr
          td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 1-е посещение
          td 2100
        tr
          td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 2-е посещение
          td 1700
        tr
          td Лечение периодонтита без использования микроскопа, 1-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
          td 1000
        tr
          td(colspan="2") Лечение периодонтита: 2 канальный зуб
        tr
          td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 1-е посещение
          td 2300
        tr
          td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 2-е посещение
          td 2000
        tr
          td Лечение периодонтита без использования микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
          td 1800
        tr
          td(colspan="2") Лечение периодонтита: 3 канальный зуб
        tr
          td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 1-е посещение
          td 3800
        tr
          td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 2-е посещение
          td 2200
        tr
          td Лечение периодонтита без использования микроскопа, 3-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
          td 2200
        tr
          td(colspan="2") Лечение периодонтита: 4 канальный зуб
        tr
          td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 1-е посещение
          td 3800
        tr
          td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 2-е посещение
          td 2300
        tr
          td Лечение периодонтита без использования микроскопа, 4-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
          td 2300
        tr
          td(colspan="2") Лечение пульпита
        tr
          td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
          td 3100
        tr
          td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
          td 3700
        tr
          td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
          td 4200
        tr
          td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
          td 4700
        tr
          td(colspan="2") Дополнительные услуги
        tr
          td Распломбировка корневого канала, запломбированного ранее резорцин-формалиновым методом (1 канал)
          td 700
        tr
          td Удаление одного анкерного штифта
          td 700
        tr
          td Удаление стекловолоконного штифта
          td 700
        tr
          td Постановка одного стекловолоконного штифта (использование стекловолоконного штифта, фиксация на цемент двойного отверждения)
          td 1000
        tr
          td Снятие острой боли при помощи девитализирующей/антисептической пасты (комплекс)
          td 1000
        tr
          td(colspan="2") Коффердам/ Оптидам/ Оптрагейт
        tr
          td Коффердам
          td 300
        tr
          td Оптрагейт
          td 300
        tr
          td Оптидам
          td 300
    button.ceni__item-button Хирургия
    .ceni__item
      table.ceni__table
        tr
          td(colspan="2") Удаление зубов
        tr
          td Удаление постоянного зуба простое 3-4 степени подвижности без стоимости анестезии
          td 1000
        tr
          td Удаление постоянного зуба простое 1-2 степени подвижности без стоимости анестезии
          td 1000
        tr
          td Удаление постоянного зуба средней степени сложности без стоимости анестезии
          td 2000
        tr
          td Удаление многокорневого зуба с помощью бормашины и раздлением корней без стоимости анестезии
          td 2500
        tr
          td Удаление временного зуба
          td 1000
        tr
          td Удаление постоянного зуба
          td 1100
        tr
          td Удаление зуба сложное с разъединением корней
          td 3000
        tr
          td Удаление зуба при незавершенной экстракции в других медицинских организациях
          td 6000
        tr
          td Удаление фрагмента зуба при фрактуре
          td 1000
        tr
          td Ампутация корня зуба
          td 5000
        tr
          td(colspan="2") Удаление третьих моляров «зубов мудрости»
        tr
          td 1 степени сложности (дистопированный) без стоимости анестезии
          td 4500
        tr
          td 2 степени сложности (ретенированный) без стоимости анестезии
          td 5800
        tr
          td 3 степени сложности (ретенированный и дистопированный) без стоимости анестезии
          td 6500
        tr
          td Удаление зуба мудрости
          td 5000
    button.ceni__item-button Хирургическая стоматология
    .ceni__item
      table.ceni__table
        tr
          td Инъекция обогащенной тромбоцитарной массы с забором крови
          td 900
        tr
          td Биопсия слизистой рта
          td 700
        tr
          td Расширенная биопсия по типу цистомии (в области 1-3 зубов)
          td 4200
        tr
          td Взятие образца биологического материала из очагов поражения органов рта (соскоб)
          td 1000
        tr
          td Перевязка после простого удаления зуба
          td 200
        tr
          td Перевязка после сложного удаления зуба
          td 200
        tr
          td Удаление инородного тела из кости
          td 1000
        tr
          td Удаление секвестра
          td 1600
        tr
          td Вправление вывиха нижней челюсти
          td 2000
        tr
          td Периостотомия (вскрытие поднадкостничного абсцесса с дренированием раны)
          td 2000
        tr
          td Перевязка гнойной раны после периостотомии со сменой дренажа
          td 1000
        tr
          td Отсроченный кюретаж лунки удаленного зуба
          td 5000
        tr
          td Вскрытие и дренирование пародонтального абсцесса
          td 2000
        tr
          td Вскрытие и дренирование очага воспаления мягких тканей лица или дня полости рта
          td 2000
        tr
          td Цистэктомия (в области 1 зуба)
          td 700
        tr
          td Цистэктомия при отсутствии зубов
          td 700
        tr
          td Удаление ретенционной кисты слюнной железы
          td 5000
        tr
          td Удаление экзостоза (в области 1 зуба)
          td 2000
        tr
          td Иссечение гипертрофированной десны (в области 1-3 зубов)
          td 1500
        tr
          td Увеличение высоты клинической коронки зуба
          td 1000
        tr
          td Гингивоостеопластика ретенированного зуба по ортодонтическим показаниям
          td 2000
        tr
          td Лечение альвеолита (с учетом повторного приема)
          td 2500
        tr
          td Лечение перикоронита (промывание, рассечение/иссечение капюшона) с учетом стоимости повторного приема
          td 2500
        tr
          td Удаление экзостоза (альвеолэктомия) в области одного зуба
          td 600
        tr
          td Вскрытие пародонтального абсцесса
          td 2000
        tr
          td Вылущивание гранулемы / кисты
          td 1100
        tr
          td Иссечение доброкачественных образований полости рта до 1 см
          td 1500
        tr
          td Иссечение доброкачественных образований полости рта более 1 см
          td 2000
        tr
          td Пластика уздечки верхней губы
          td 3000
        tr
          td Пластика уздечки нижней губы
          td 3000
        tr
          td Пластика уздечки языка
          td 5000
        tr
          td Пластика тяжей слизистой оболочки полости рта
          td 1000
        tr
          td Вестибулопластика (с учетом повторного приема)
          td 7000
        tr
          td Пластика рецессии десны коронально смещенным лоскутом в области одного зуба
          td 4500
