section.ceni
  .container.ceni__container
    h1 Прейскурант услуг
    input.ceni__search-input(placeholder="Начните поиск здесь")
    span.ceni__search-info
    table.ceni__search-table
      tbody.ceni__search-tbody
    .ceni__wrapper
      .ceni__item
        h2.ceni__item-title.ceni__item-title--show Консультация
        table.ceni__table.ceni__table--show
          tr
            td Консультация врача -стоматолога по беременности
            td 500
          tr
            td Осмотр и оформление справки в детский садик, школу и другие учреждения по поводу санации полости рта
            td 500
          tr
            td Осмотр специалиста, сбор анамнеза
            td 500
          tr
            td Прием (осмотр, консультация, составление плана лечения) врача-стоматолога детского
            td 500
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортопеда
            td 500
          tr
            td Прием (осмотр, консультация) врача-стоматолога-ортодонта
            td 500
          tr
            td Прием (осмотр, консультация) врача-стоматолога-пародонтолога
            td 500
          tr
            td Прием (осмотр, консультация) врача-стоматолога-терапевта
            td 500
          tr
            td Прием (осмотр, консультация) врача-стоматолога-хирурга
            td 500
      .ceni__item
        h2.ceni__item-title Наркоз и седация
        table.ceni__table
          tr
            td Внутривенная седация в комбинации с местной анестезией. 30 мин
            td 2,800
          tr
            td Внутривенная седация в комбинации с местной анестезии при продолжительности седации более одного часа, дополнительно за каждые 60 мин
            td 5,500
          tr
            td Внутривенная седация в комбинации с местной анестезии. Длительность до 1 часа.
            td 6,800
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Первый час
            td 12,500
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующие 30 мин
            td 2,700
          tr
            td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующий час
            td 5,400
          tr
            td Консультация анестезиолога-реаниматолога
            td 1,500
          tr
            td Масочная седация (Закись азота). Каждые последующие 30 мин
            td 1,800
          tr
            td Масочная седация (Закись азота). Первые 30 мин
            td 3,000
          tr
            td Масочная седация (Севоран). 15 мин
            td 5,500
          tr
            td Послеоперационное наблюдение. Мониторинг до 30 мин
            td 3,300
          tr
            td Послеоперационное наблюдение. Мониторинг от 1 часа до 3 часов
            td 4,800
          tr
            td Проводниковая анестезия с применением карпульных препаратов
            td 580
      .ceni__item
        h2.ceni__item-title Ретгенология 
        table.ceni__table
          tr
            td Ортопантомограмма
            td 650
          tr
            td Прицельная внутриротовая контактная рентгенография
            td 300
      .ceni__item
        h2.ceni__item-title Компьютерная томография
        table.ceni__table
          tr
            td Выдача результата исследования методом КЛКТ на USB -флеш - накопителе
            td 250
          tr
            td Исследование методом 3D компьютерной томографии 100*100
            td 2,000
          tr
            td Повторная компьютерная томография 100*100
            td 500
          tr
            td Сегмент КТ
            td 700
          tr
            td ТРГ в прямой или боковой проекции (одна проекция)
            td 700
      .ceni__item
        h2.ceni__item-title Пародонтология
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Консервативная пародонтология
          tr
            td Аппликация лекарственного препарата на слизистую оболочку полости рта
            td 300
          tr
            td Временное шинирование при заболеваниях пародонта 1 зуб
            td 1,900
          tr
            td Дополнительная пробирка плазмолифтинг
            td 700
          tr
            td Избирательное пришлифовывание твердых тканей зубов (в области одного зуба)
            td 350
          tr
            td Использование Диплен-повязки при заболеваниях пародонта
            td 600
          tr
            td Лечение заболеваний пародонта аппаратом Vector 1 сегмент (7-8 зубов)
            td 3,000
          tr
            td Лечение заболеваний пародонта аппаратом Vector всех зубов
            td 9,000
          tr
            td Лечение заболеваний пародонта аппаратом Vector всех зубов(повторное посещение)
            td 6,000
          tr
            td Лечение заболеваний слизистой оболочки полости рта
            td 600
          tr
            td Лечение мукозита и периимплантита
            td 3,000
          tr
            td Лечение пародонтального абсцесса с помощью нано матрицы М-chip
            td 1,500
          tr
            td Медикаментозная обработка пародонтального кармана с наложением лечебной повязки
            td 700
          tr
            td Назначение лекарственных препаратов при заболеваниях полости рта и зубов
            td 300
          tr
            td Наложение индивидуального ретрактора Оптрагейт
            td 300
          tr
            td Наложение Оптидам, Оптрадам
            td 700
          tr
            td Нанесение cаморассасывающейся дентальной повязки Reso-Pac 1 унидоза
            td 700
          tr
            td Плазмолифтинг 1 пробирка
            td 2,500
          tr
            td Полирование ортодонтической конструкции в области четырех/шести зубов
            td 500
          tr
            td Протеин эмалевой матрицы Emdogain от 10 000 (цена по курсу)
            td 10,000
          tr
            td Реминализирующая терапия всех зубов
            td 1,200
          tr
            td Реминерализующая терапия 1 зуб фторсодержащими перпаратами
            td 250
          tr
            td Снятие шины с одной челюсти с полировкой
            td 5,000
          tr
            td.ceni__item-strong(colspan="2") Отбеливание
          tr
            td Каппа для реминерализующей терапии
            td 4,500
          tr
            td Отбеливание фронтальных зубов зона улыбки Zoom WhiteSpeed (Zoom 4)
            td 18,900
          tr
            td.ceni__item-strong(colspan="2") Профилактика
          tr
            td Комплекс профилактических мероприятий для беременных и кормящих
            td 4,900
          tr
            td Комплекс профилактических мероприятий при среднем уровне гигиены
            td 5,900
          tr
            td Комплекс профилактических мероприятий при уровне гигиены ниже среднего
            td 6,900
          tr
            td Комплекс профилактических мероприятий при хорошем уровне гигиены
            td 4,900
          tr
            td Комплекс профилактических мероприятий с брекет-системой
            td 4,900
          tr
            td Контролируемая чистка зубов
            td 400
          tr
            td Обучение гигиене полости рта
            td 600
          tr
            td Определение индексов гигиены полости рта. Окрашивание налета индикатором
            td 300
          tr
            td Подбор средств индивидуальной гигиены
            td 100
          tr
            td Полирование всех зубов
            td 2,000
          tr
            td Полирование зубов 1 сегмент (7-8 зубов)
            td 700
          tr
            td Полировка одного зуба
            td 80
          tr
            td Снятие минерализованных зубных отложений ультразвуком 1 зуб
            td 250
          tr
            td Снятие минерализованных зубных отложений ультразвуком 1 сегмент (7-8 зубов)
            td 1,100
          tr
            td Снятие минерализованных зубных отложений ультразвуком со всех зубов
            td 3,200
          tr
            td Снятие пигментированного и мягкого налета с помощью AirFlow 1 зуб
            td 250
          tr
            td Снятие пигментированного и мягкого налета с помощью AirFlow со всех зубов
            td 3,500
          tr
            td.ceni__item-strong(colspan="2") Хирургическая пародонтология
          tr
            td Вестибулопластика
            td 10,000
          tr
            td Взятие слизисто-десневого трансплантата с верхнего неба
            td 10,000
          tr
            td Взятие соединительно тканного  трансплантата с верхнего неба/бугра в.ч.
            td 10,000
          tr
            td Вскрытие и дренирование пародонтального абсцесса
            td 2,000
          tr
            td Гингивоэктомия
            td 3,000
          tr
            td Закрытый кюретаж при заболеваниях пародонта в области одного зуба
            td 2,000
          tr
            td Закрытый кюретаж при заболеваниях пародонта в области одного сегмента
            td 6,000
          tr
            td Иссечение гипертрофированной десны в области двух зубов
            td 1,500
          tr
            td Лоскутная операция в области одного зуба
            td 5,000
          tr
            td Наложение шва на слизистую оболочку полости рта
            td 1,500
          tr
            td Нож Mani
            td 980
          tr
            td Пластика рецессий десны коронально смещенным лоскутом
            td 9,000
          tr
            td Пластика рецессий десны латерально смещенным лоскутом
            td 9,000
          tr
            td Пластика рецессий десны сдт в области одного зуба
            td 9,000
          tr
            td Пластика тяжей слизистой оболочки полости рта
            td 1,500
          tr
            td Пластика уздечки верхней губы
            td 4,200
          tr
            td Пластика уздечки нижней губы
            td 4,200
          tr
            td Пластика уздечки языка
            td 4,200
          tr
            td Увеличение высоты клинической коронки зуба
            td 1,500
      .ceni__item
        h2.ceni__item-title Ортодонтия
        table.ceni__table
          tr
            td Активация, коррекция системы
            td 4,000
          tr
            td Закрытие замка (установка лигатуры)
            td 300
          tr
            td Определение прикуса
            td 2,000
          tr
            td Открытие замка (снятие лигатуры)
            td 300
          tr
            td Сепарация постоянных зубов
            td 1,000
          tr
            td Снятие дуги с одной челюсти
            td 500
          tr
            td Снятие одного брекета
            td 1,000
          tr
            td Снятие одной металлической брекет-системы с одной челюсти
            td 8,000
          tr
            td Снятие слепка с одной челюсти
            td 2,000
          tr
            td Установка дополнительных элементов (кнопка) 1 ед.
            td 550
          tr
            td Установка дуги на одну челюсть
            td 500
          tr
            td Установка мелких дополнительных элементов 1 ед.(эластики, пружины, крючки)
            td 600
          tr
            td Установка ортодонтического минивинта
            td 13,000
          tr
            td Фиксация брекет-системы на одну челюсть
            td 12,000
          tr
            td Фиксация одного брекета
            td 1,000
          tr
            td Фиксация одного брекета H4
            td 1,000
          tr
            td Фиксация одного брекета с учетом брекета
            td 1,550
          tr
            td Эластичные тяги
            td 200
          tr
            td.ceni__item-strong(colspan="2") Брекеты лигатурные
          tr
            td Брекеты Biomim металические лигатурные
            td 14,000
          tr
            td Брекеты Hype керамические лигатурные
            td 15,000
          tr
            td.ceni__item-strong(colspan="2") Брекеты самолигирующие
          tr
            td Брекеты Pitts 21 металические самолигирующие
            td 19,000
          tr
            td Брекеты Н4 металические самолигирующие
            td 17,000
          tr
            td.ceni__item-strong(colspan="2") Диагностика
          tr
            td Диагностическая консультация (слепки, диагностические модели, фото)
            td 2,000
          tr
            td Определение вида смыкания зубных рядов при помощи лицевой дуги. Расширенная диагностика и планирование ортодонтического лечения ( с рентгенологическим исследованием, слепком, загипсовкой моделей в артикулятор, фотометрией, заключнием, планом лечения)
            td 6,000
          tr
            td Определение прикуса. Исследование на диагностических (или цифровых) моделях челюстей. Комплексная диагностика и планирование ортодонтического лечения (фото, заключение, план лечения)
            td 3,000
          tr
            td Прием (осмотр, консультация) врача-ортодонта в ретенционном периоде
            td 500
          tr
            td Прием (осмотр, консультация) врача-ортодонта на ортодонтическом лечении
            td 800
          tr
            td Прием (осмотр, консультация) врача-ортодонта первичный
            td 500
          tr
            td Прием (осмотр, консультация) врача-ортодонта повторный пациента на ортодонтическом лечении (наблюдение на аппарате)
            td 500
          tr
            td.ceni__item-strong(colspan="2") Ортодонтическая коррекция (активации)
          tr
            td Активация эластической цепочки с опорой на минивинт
            td 500
          tr
            td Коррекция проволочного ретейнера на 1 зуб
            td 500
          tr
            td Ортодонтическая коррекция (активация) брекет-системы при лечении на двух челюстях
            td 4,000
          tr
            td Ортодонтическая коррекция (активация) брекет-системы при лечении на одной челюсти
            td 2,000
          tr
            td Ортодонтическая коррекция (активация) частичной брекет-системы
            td 2,000
          tr
            td Ортодонтическая коррекция прикуса многопетлевой дугой (на одной челюсти)
            td 3,000
          tr
            td Снятие брекетов с одной челюсти
            td 3,000
          tr
            td Снятие проволочного ретейнера с одного зубного ряда
            td 1,500
          tr
            td Фиксация брекетов на одной челюсти
            td 15,000
          tr
            td Фиксация одного брекета, лингвальной кнопки, окклюзивнной накладки на 1 зуб
            td 1,000
          tr
            td Фиксация проволочного ретейнера в области 6 зубов
            td 5,000
          tr
            td Фиксация частичной брекет системы (на 1 челюсти)
            td 6,000
          tr
            td.ceni__item-strong(colspan="2") Ортодонтическая коррекция несъемным ортодонтическим аппаратом
          tr
            td Корректор прикуса Твин Форс
            td 25,000
          tr
            td Ортодонтический аппарат XAAS, Хайрекс
            td 20,000
          tr
            td Снятие аппарата, полировка зубов
            td 1,000
          tr
            td Удерживатель пространства
            td 8,000
          tr
            td.ceni__item-strong(colspan="2") Ортодонтическая коррекция с применением брекет-системы
          tr
            td Фиксация комбинации керамических брекетов Clear 21 на 6 передних зубов и металлических брекетов Pitts 21 (OC Orthodontics USA) на 1 челюсть
            td 40,000
          tr
            td Фиксация лигатурной металлической брекет-системы Biomim  (OC Orthodontics, USA)
            td 25,000
          tr
            td Фиксация самолигирующей  металлической брекет-системы H4 (OC Orthodontics, USA) на 1 челюсть
            td 35,000
          tr
            td Фиксация самолигирующей керамической брекет-система Clear 21 (OC Orthodontics USA) на 1 челюсть
            td 45,000
          tr
            td Фиксация самолигирующей керамической брекет-системы Experience (GC Orthodontics USA) на 1 челюсть
            td 45,000
          tr
            td Фиксация самолигирующей металлической брекет-системы Experience (GC Orthodontics, USA) на 1 челюсть
            td 37,000
          tr
            td Фиксация самолигирующей металлической брекет-системы Pitts 21 (OC Orthodontics, USA) на 1 челюсть
            td 40,000
          tr
            td Фиксация частичной брекет-системы
            td 15,000
          tr
            td.ceni__item-strong(colspan="2") Ортодонтическая коррекция съемным ортодонтическим аппаратом
          tr
            td Дополнительный элемент в пластинке (винт, кламмера, искусственные зубы)
            td 1,000
          tr
            td Контрольное наблюдение со съемным аппаратом
            td 1,000
          tr
            td Ортодонтический аппарат Твин блок
            td 15,000
          tr
            td Починка съемного аппарата
            td 1,500
          tr
            td Профилактический протез с искусственными зубами
            td 4,000
          tr
            td Ретенционная каппа
            td 3,000
          tr
            td Ретенционная пластинка
            td 4,000
          tr
            td Съемная пластинка с винтом для расширения в 1 направлении
            td 10,000
          tr
            td Съемная пластинка с винтом для расширения в 2, 3 направлениях
            td 12,000
          tr
            td Трейнер, лицевая маска
            td 6,000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры "Kinder Smile"
          tr
            td Курс лечения на элайнерах Kinder Smile Full от 14 до 22 шагов
            td 120,000
          tr
            td Курс лечения на элайнерах Kinder Smile от 0 до 7 шагов
            td 70,000
          tr
            td Курс лечения на элайнерах Kinder Smile от 8 до 13 шагов
            td 100,000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры "Star Smile iQ"
          tr
            td Курс лечения на элайнерах Star Smile iQ Full  от 21 шагов и неограниченное количество
            td 250,000
          tr
            td Курс лечения на элайнерах Star Smile iQ  от 0 до 5 шагов
            td 60,000
          tr
            td Курс лечения на элайнерах Star Smile iQ  от 11 до 20 шагов
            td 140,000
          tr
            td Курс лечения на элайнерах Star Smile iQ  от 6 до 10 шагов
            td 80,000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры "Star Smile"
          tr
            td Курс лечения на элайнерах Star Smile  от 0 до 5 шагов
            td 50,000
          tr
            td Курс лечения на элайнерах Star Smile  от 11 до 20 шагов.
            td 130,000
          tr
            td Курс лечения на элайнерах Star Smile  от 21 шагов и неограниченное количество.
            td 220,000
          tr
            td Курс лечения на элайнерах Star Smile  от 6 до 10 шагов.
            td 80,000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры "Teen Smile"
          tr
            td Курс лечения на элайнерах Teen Smile   от 0 до 5 шагов.
            td 60,000
          tr
            td Курс лечения на элайнерах Teen Smile   от 11 до 20 шагов.
            td 140,000
          tr
            td Курс лечения на элайнерах Teen Smile   от 21 шагов и неограниченное количество.
            td 250,000
          tr
            td Курс лечения на элайнерах Teen Smile   от 6 до 10 шагов.
            td 80,000
          tr
            td.ceni__item-strong(colspan="2") Лечение съемными аппаратами (ортодонтические пластинки, трейнеры)
          tr
            td Диагностическая консультация (слепки, диагностич. модели, фото)
            td 2,000
          tr
            td Изготовление аппарата для форсированного расширения верхней челюсти Марка-росса
            td 18,000
          tr
            td Изготовление двухчелюстного аппарата
            td 16,000
          tr
            td Изготовление ортодонтического аппарата 1-ой степени сложности
            td 6,500
          tr
            td Изготовление ортодонтического аппарата 2-й степени сложности (1-4 допол.элемента,установка простого винта)
            td 9,000
          tr
            td Изготовление ортодонтичсекого аппарата 3-й степени сложности(более 4-х допол. элементов, установка трехмерного винта)
            td 10,000
          tr
            td Контрольное наблюдение с функциональным аппаратом( пластинки)
            td 500
          tr
            td Контрольное, наблюдение с ортодонтическим аппаратом,трейнером,активация)
            td 800
          tr
            td Ортодонтические шипы
            td 500
          tr
            td Разобщающие накладки
            td 600
          tr
            td.ceni__item-strong(colspan="2") Ретенционный период
          tr
            td Изготовление ретейнера несъемного (1 челюсть)
            td 9,000
          tr
            td Изготовление ретейнера съемного (1челюсть)
            td 6,000
          tr
            td Снятие ретейнера с 1 зуба, полировка
            td 1,000
          tr
            td Фиксация одного звена ретейнера
            td 1,000
          tr
            td.ceni__item-strong(colspan="2") Элайнеры
          tr
            td Изготовление Т-элайнера (1элайнер)
            td 5,000
          tr
            td Контрольное наблюдение с элайнерами
            td 3,000
          tr
            td Сетап для элайнера
            td 16,000
      .ceni__item
        h2.ceni__item-title Хирургия
        table.ceni__table
          tr
            td Вестибулопластика (с учетом повторного приема)
            td 7,000
          tr
            td Вылущивание гранулемы / кисты
            td 1,100
          tr
            td Гингивоостеопластика ретенированного зуба по ортодонтическим показаниям
            td 2,000
          tr
            td Дополнительная ампула для изготовления аутогенной тромбоциторной плазмы
            td 500
          tr
            td Изготовление аутогенной тромбоцитной плазмы
            td 2,000
          tr
            td Инфильтрационная анестезия
            td 300
          tr
            td Использование викрил (полиамид)
            td 500
          tr
            td Использование коллагеновой губки
            td 500
          tr
            td Использование одноразового костного скребка
            td 7,000
          tr
            td Использование пины для фиксации мембраны
            td 300
          tr
            td Использование противоспалительных обезболивающих препаратов
            td 500
          tr
            td Иссечение гипертрофированной десны (в области 1-3 зубов)
            td 1,500
          tr
            td Иссечение доброкачественных образований полости рта более 1 см
            td 2,000
          tr
            td Иссечение доброкачественных образований полости рта до 1 см
            td 1,500
          tr
            td Лечение альвеолита (с учетом повторного приема)
            td 2,500
          tr
            td Лечение перикоронита (промывание, рассечение/иссечение капюшона) с учетом стоимости повторного приема
            td 2,500
          tr
            td Лоскутная операция в области 4-6 зубов
            td 4,500
          tr
            td Наложение одного шва
            td 450
          tr
            td Открытый кюретаж в области одного зуба
            td 2,000
          tr
            td Пластика при рецессии десны свободным соединительно-тканным трансплантантом из области нёба и других донорских зон ротовой полости (в области 1 зуба)
            td 9,000
          tr
            td Пластика рецессии десны коронально смещенным лоскутом в области одного зуба
            td 4,500
          tr
            td Пластика рецессии десны латерально смещенным лоскутом в области одного зуба
            td 7,000
          tr
            td Пластика тяжей слизистой оболочки полости рта
            td 1,000
          tr
            td Пластика уздечки верхней губы
            td 3,000
          tr
            td Пластика уздечки нижней губы
            td 3,000
          tr
            td Пластика уздечки языка
            td 5,000
          tr
            td Предоперационная подготовка
            td 2,000
          tr
            td Применение заживляющей антисептической коллагеновой губки
            td 500
          tr
            td Проводниковая анестезия
            td 500
          tr
            td Резекция верхушки корня зуба с цистэктомией в боковом (дистальном) отделе верхней челюсти без учета стоимости расходных материалов
            td 4,200
          tr
            td Резекция верхушки корня зуба с цистэктомией в боковом (дистальном) отделе нижней челюсти без учета стоимости расходных материалов
            td 4,200
          tr
            td Резекция верхушки корня зуба с цистэктомией во фронтальном отделе (более 1 см) без учета стоимости расходных материалов
            td 4,200
          tr
            td Резекция верхушки корня зуба с цистэктомией во фронтальном отделе (до 1 см) без учета стоимости расходных материалов
            td 4,200
          tr
            td Резекция верхушки корня зуба с цистэктомией на дополнительный зуб
            td 4,200
          tr
            td Увеличение высоты клинической коронки зуба
            td 1,000
          tr
            td Удаление 1 степени сложности (дистопированный) без стоимости анестезии
            td 5,000
          tr
            td Удаление временного зуба
            td 1,000
          tr
            td Удаление зуба
            td от 2,500
          tr
            td Удаление зуба мудрости
            td 5,500
          tr
            td Удаление зуба при незавершенной экстракции в других медицинских организациях
            td 6,000
          tr
            td Удаление зуба сложное с разъединением корней
            td 3,000
          tr
            td Удаление многокорневого зуба с помощью бормашины и раздлением корней без стоимости анестезии
            td 2,500
          tr
            td Удаление постоянного зуба простое 3-4 степени подвижности без стоимости анестезии
            td 1,000
          tr
            td Удаление постоянного зуба средней степени сложности без стоимости анестезии
            td 2,000
          tr
            td Удаление ретенционной кисты слюнной железы
            td 5,000
          tr
            td Удаление фрагмента зуба при фрактуре
            td 1,000
          tr
            td Удаление экзостоза (в области 1 зуба)
            td 2,000
          tr
            td Хирургический шаблон
            td 5,500
          tr
            td Цистэктомия (в области 1 зуба)
            td 700
          tr
            td Цистэктомия при отсутствии зубов
            td 700
      .ceni__item
        h2.ceni__item-title Дополнительные услуги:
        table.ceni__table
          tr
            td Забор крови
            td 250
          tr
            td Индивидуальный подбор медикаментозной терапии
            td 1,000
      .ceni__item
        h2.ceni__item-title Дентальная имплантация
        table.ceni__table
          tr
            td Взятие аутогенной костной стружки из ретромолярной области
            td 2,500
          tr
            td Взятие слизисто-десневого трасплантата с неба
            td 14,000
          tr
            td Взятие соединительно-тканного трасплантата с неба/бугра
            td 5,000
          tr
            td Закрытый синус-лифтинг
            td 15,000
          tr
            td Использование костного винта (саморезного)
            td 2,000
          tr
            td Использование костного материала Бис-осс 0,5
            td 10,000
          tr
            td Использование костного материала Бис-осс 2,0
            td 30,000
          tr
            td Использование резорбируемой мембраны Био-гайд 16*22 мм
            td 12,000
          tr
            td Использование резорбируемой мембраны Био-гайд 25*25 мм
            td 15,000
          tr
            td Использование резорбируемой мембраны Био-гайд 30*40 мм
            td 20,000
          tr
            td Кортикальные блоки Лиопласт (2*1*0,5) ЛИО 39
            td 3,000
          tr
            td Кортикальные блоки Лиопласт (2*2*0,1) ЛИО 120
            td 4,000
          tr
            td Кортикальные блоки Лиопласт (2*2*0,5) ЛИО 114
            td 4,700
          tr
            td Кортикальные блоки Лиопласт (2*2*0,5) ЛИО 30
            td 3,300
          tr
            td Костный материал Лиопласт (кортикальный порошок) 0.5 мл
            td 4,200
          tr
            td Костный материал Лиопласт (кортикальный порошок) 1 гр
            td 6,000
          tr
            td Костный материал Лиопласт (кортикальный порошок) 5 мл
            td 12,700
          tr
            td Костный материал Лиопласт (спонгиозный порошок) 0.5 мл
            td 3,400
          tr
            td Костный материал Лиопласт (спонгиозный порошок) 1 мл
            td 5,400
          tr
            td Костный материал Лиопласт (спонгиозный порошок) 5 мл
            td 12,700
          tr
            td Минерализованные губчатые блоки Лиопласт (0.5*0.5*0.5 4 шт.) ЛИО 59
            td 4,800
          tr
            td Минерализованные губчатые блоки Лиопласт (0.5*0.5*0.5- 5 мл) ЛИО 55
            td 9,300
          tr
            td Минерализованные губчатые блоки Лиопласт (05*05*05 2 шт) ЛИО 57
            td 3,000
          tr
            td Минерализованные губчатые блоки Лиопласт (2*1*1 - 1 шт) ЛИО 68
            td 4,300
          tr
            td Минерализованные губчатые блоки Лиопласт (2*2*1 - 1 шт) ЛИО 72
            td 5,700
          tr
            td Минерализованные губчатые блоки Лиопласт (4*2*1 - 1 шт) ЛИО 32
            td 7,300
          tr
            td Минерализованные губчатые блоки Лиопласт (4*2*1 1 шт) ЛИО 33
            td 7,300
          tr
            td Минеральный дополнительный компонент Лиопласт (0,001-0,005 мм, 0,5 мл) ЛИО 49
            td 2,800
          tr
            td Минеральный дополнительный компонент Лиопласт (0,05-0,1 мм, 0,5 мл) ЛИО 35
            td 3,500
          tr
            td Минеральный дополнительный компонент Лиопласт (0,05-0,1 мм, 0,5+1 шт) ЛИО 78
            td 3,800
          tr
            td Минеральный дополнительный компонент Лиопласт (0.05-0,1 мм, 1,0 мл) ЛИО 36
            td 5,500
          tr
            td Направленная костная регенерация в области одного импланта
            td 30,000
          tr
            td Направленная костная регенерация по высоте без стоимости материала
            td 50,000
          tr
            td Направленная костная регенерация по ширине в области двух и более зубов
            td 40,000
          tr
            td Открытый синус-лифтинг простой в области одного отсутствующего зуба
            td 38,000
          tr
            td Открытый синус-лифтинг сложный в области двух и более зубов
            td 50,000
          tr
            td Удаление одного импланта простое
            td 5,000
          tr
            td Удаление одного импланта сложное
            td 7,000
          tr
            td.ceni__item-strong(colspan="2") Имплантация Dentium/Osstem
          tr
            td Имплантация Dentium/Osstem (без коронки)
            td 20,000
          tr
            td.ceni__item-strong(colspan="2") Имплантация ICX
          tr
            td Установка дентального импланта ICX
            td 21,000
          tr
            td Установка формирователя десны ICX
            td 4,000
          tr
            td.ceni__item-strong(colspan="2") Имплантация NOBEL
          tr
            td Установка дентального импланта NOBEL
            td 40,000
          tr
            td Установка формирователя десны NOBEL
            td 6,000
      .ceni__item
        h2.ceni__item-title Терапия
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Анестезия
          tr
            td Аппликационная анестезия
            td 60
          tr
            td Инфильтрационная/интралигаментарнная/проводниковая анестезия
            td 580
          tr
            td.ceni__item-strong(colspan="2") Восстановление зуба
          tr
            td Восстановление зуба пломбой 5 класс по Блэку
            td 3,600
          tr
            td Восстановление формы зуба после эндодонтического лечения/под коронку
            td 3,500
          tr
            td Временная реставрация
            td 1,700
          tr
            td Временная реставрация риббонд 1 ед зуба
            td 2,500
          tr
            td Полировка, финишная обработка реставрации зуба
            td 400
          tr
            td Шинирование зубов с применением стекловолоконных материалов, композитных материалов светового отверждения 1 см.(риббонд)
            td 8,000
          tr
            td.ceni__item-strong(colspan="2") Дополнительные услуги
          tr
            td Апикальная пробка Pro Root
            td 1,000
          tr
            td Апикальная пробка Рутдент
            td 1,000
          tr
            td Закрытие перфорации материалом Pro Root
            td 2,000
          tr
            td Закрытие перфорации материалом Рутдент
            td 1,000
          tr
            td Коагуляция гипертрофированного сосочка
            td 800
          tr
            td Распломбировка корневого канала, запломбированного ранее резорцин-формалиновым методом (1 канал)
            td 3,000
          tr
            td Снятие острой боли при помощи девитализирующей/антисептической пасты (комплекс)
            td 2,500
          tr
            td Удаление инородных тел с использованием микроскопа
            td 1,500
          tr
            td Удаление одного анкерного штифта с использованием микроскопа
            td 1,500
          tr
            td Удаление одного анкерного штифта, стекловолоконного штифа, металлическая, культевая вкладка
            td 1,500
          tr
            td Удаление одного стекловолоконного штифта с использованием микроскопа
            td 1,500
          tr
            td Удаление одного фрагмента эндодонтического инструмента
            td 1,300
          tr
            td Удаление одной вкладки с использованием микроскопа
            td 1,300
          tr
            td Установка стекловолоконного/кварцевого штифта
            td 1,200
          tr
            td Установка стекловолоконного/кварцевого штифта, индивидуализированного 1 ед.
            td 1,900
          tr
            td Эндоотбеливание
            td 900
          tr
            td.ceni__item-strong(colspan="2") Коффердам / Оптидам / Оптрагейт
          tr
            td Коффердам
            td 400
          tr
            td Оптидам
            td 500
          tr
            td Оптрагейт
            td 300
          tr
            td.ceni__item-strong(colspan="2") Лечение кариеса постоянных зубов
          tr
            td.ceni__item-strong(colspan="2") Ceram
          tr
            td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 5,000
          tr
            td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 3,000
          tr
            td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
            td 4,000
          tr
            td.ceni__item-strong(colspan="2") Enamel
          tr
            td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 7,900
          tr
            td Глубокий кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 8,800
          tr
            td Лечение методом ICON
            td 3,500
          tr
            td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 4,100
          tr
            td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 6,600
          tr
            td Средний кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
            td 7,500
          tr
            td Эстетическая художественная реставрация (материал Enamel)
            td 10,000
          tr
            td Эстетическая художественная реставрация под микроскопом (материал Enamel)
            td 10,400
          tr
            td.ceni__item-strong(colspan="2") Estelite Asteria
          tr
            td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 5,300
          tr
            td Глубокий кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 5,800
          tr
            td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 3,000
          tr
            td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 4,300
          tr
            td Средний кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
            td 5,200
          tr
            td Эстетическая художественная реставрация (материал Estelite Asteria)
            td 6,000
          tr
            td Эстетическая художественная реставрация под микроскопом (материал Estelite Asteria)
            td 6,900
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 4 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
            td 4,000
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 1-е посещение
            td 9,250
          tr
            td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 2-е посещение
            td 10,000
          tr
            td Лечение периодонтита с использованием микроскопа, 4-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 4,000
          tr
            td Лечение периодонтита с использованием микроскопа, 4-канальный зуб, 1-е посещение
            td 10,500
          tr
            td Лечение периодонтита с использованием микроскопа, 4-канальный зуб, 2-е посещение
            td 10,500
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 1 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 1,000
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 1-е посещение
            td 4,900
          tr
            td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 2-е посещение
            td 4,900
          tr
            td Лечение периодонтита с использованием микроскопа, 1-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
            td 1,000
          tr
            td Лечение периодонтита с использованием микроскопа, 1-канальный зуб, 1-е посещение
            td 6,000
          tr
            td Лечение периодонтита с использованием микроскопа, 1-канальный зуб, 2-е посещение
            td 6,000
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 2 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 2,000
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 1-е посещение
            td 7,000
          tr
            td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 2-е посещение
            td 6,400
          tr
            td Лечение периодонтита с использованием микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 2,100
          tr
            td Лечение периодонтита с использованием микроскопа, 2-канальный зуб, 1-е посещение
            td 7,500
          tr
            td Лечение периодонтита с использованием микроскопа, 2-канальный зуб, 2-е посещение
            td 7,500
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита: 3 канальный зуб
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
            td 3,000
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 1-е посещение
            td 8,090
          tr
            td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 2-е посещение
            td 8,000
          tr
            td Лечение периодонтита с использованием микроскопа, 3-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
            td 3,000
          tr
            td Лечение периодонтита с использованием микроскопа, 3-канальный зуб, 1-е посещение
            td 9,000
          tr
            td Лечение периодонтита с использованием микроскопа, 3-канальный зуб, 2-е посещение
            td 9,000
          tr
            td.ceni__item-strong(colspan="2") Лечение пульпита
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
            td 6,100
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
            td 7,400
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
            td 9,800
          tr
            td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
            td 11,500
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
            td 7,600
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
            td 8,900
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
            td 11,300
          tr
            td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
            td 13,000
      .ceni__item
        h2.ceni__item-title Ортопедия
        table.ceni__table
          tr
            td Консультация стоматолога-ортопеда
            td 500
          tr
            td.ceni__item-strong(colspan="2") Multi unit
          tr
            td Использование multi unit прямого ICX
            td 7,500
          tr
            td Использование multi unit прямого/углового Osstem
            td 10,000
          tr
            td Использование multi unit прямого/углового абатмента Any One
            td 14,000
          tr
            td Использование multi unit прямого/углового абатмента Astra
            td 17,000
          tr
            td Использование multi unit прямого/углового абатмента Dentium
            td 10,000
          tr
            td Использование multi unit прямого/углового на Nobel
            td 16,500
          tr
            td Использование multi unit углового ICX
            td 14,500
          tr
            td.ceni__item-strong(colspan="2") Бюгельные протезы на кламмерной фиксации
          tr
            td Изготовление 1 кламмера
            td 1,500
          tr
            td Изготовление бюгеля на 1 челюсть (изготовление дуги, изготовление моделей огнеупорных, изготовление базиса) (без учета зубов)
            td 23,000
          tr
            td Изготовление микробюгеля
            td 17,800
          tr
            td Изготовление шинирующего бюгеля на 1 челюсть (изготовление дуги, изготовление многозвеньевого кламмера, изготовление моделей огнеупорных, изготовление базиса, изготовление 3-х кламмеров)
            td 30,000
          tr
            td Кламер в съемном протезе ACETAL DENTAL
            td 3,000
          tr
            td.ceni__item-strong(colspan="2") Бюгельный протез на балочной конструкции с фиксаторами
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 2-х имплантатах
            td 80,000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 3-х имплантатах
            td 105,000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 4-х имплантатах
            td 130,000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 5-х имплантатах
            td 135,000
          tr
            td Бюгельный протез на балочной конструкции с фиксаторами (входит бюгельный протез, фрезерованная балочная конструкция, шаровидные замки, гарнитура) с опорой на 6-ти имплантатах
            td 140,000
          tr
            td.ceni__item-strong(colspan="2") Несъемное протезирование, коронки
          tr
            td Изготовление безметалловой коронки, зуба по технологии Cad-Сam
            td 29,900
          tr
            td Изготовление винира
            td 33,000
          tr
            td Изготовление винира e-max
            td 30,900
          tr
            td Изготовление винира на рефракторе
            td 35,900
          tr
            td Изготовление клинической композитной коронки
            td 1,900
          tr
            td Изготовление коронки из ZrO2 с нанесением керамики
            td 27,000
          tr
            td Изготовление лабораторной пластмассовой коронки- временная
            td 4,000
          tr
            td Изготовление накладки (полукоронка) e-max
            td 24,900
          tr
            td Изготовление ПММА коронки методом Cad-Cam
            td 5,300
          tr
            td Изготовление цельнолитой коронки из КХС
            td 7,000
          tr
            td Металлокерамическая коронка
            td 19,000
          tr
            td Промежуточная часть мостовидного протеза из ZrO2
            td 24,900
          tr
            td Промежуточная часть мостовидного протеза из металлокерамики
            td 15,800
          tr
            td Снятие металлокерамической коронки
            td 1,200
          tr
            td.ceni__item-strong(colspan="2") Оттиски
          tr
            td Диагностическое восковое моделирование 1 зуб
            td 500
          tr
            td Индивидуальная ложка
            td 1,800
          tr
            td Снятие оттиска с одной челюсти альгинатной массой
            td 200
          tr
            td Снятие оттиска с одной челюсти для изготовления силиконовых блоков
            td 1,000
          tr
            td Снятие оттиска с одной челюсти массой из А-силикона
            td 1,500
          tr
            td Снятие оттиска с одной челюсти массой из С-силикона
            td 900
          tr
            td Снятие слепка монофазным материалом
            td 1,800
          tr
            td.ceni__item-strong(colspan="2") Ремонт протезов
          tr
            td Закрытие шахты винта композитом при винтовой фиксации
            td 1,000
          tr
            td Замена или установка за каждый дополнительный зуб /кламмер
            td 500
          tr
            td Замена или установка одного зуба (кламмера)
            td 2,000
          tr
            td Перебазировка клиническая
            td 2,000
          tr
            td Перебазировка лабораторная
            td 3,200
          tr
            td Приварка зуба к бюгельному протезу (припой к каркасу)
            td 4,000
          tr
            td Ремонт протеза при двух переломах базиса
            td 3,200
          tr
            td Ремонт протеза при одном переломе базиса
            td 2,000
          tr
            td.ceni__item-strong(colspan="2") Съемное протезирование, бюгельные протезы на замках и балочной фиксации
          tr
            td Бюгельный протез с замковой фиксацией на аттачменах, телескопах (без стоимости аттачменов, вкл.стоимость иск.зубов)
            td 40,000
          tr
            td Изготовление единицы балочной конструкции промежуточная часть ( входит пассевация и фрезирование)
            td 7,000
          tr
            td Использование аттачмена - рельсовый замок
            td 5,000
          tr
            td Использование аттачмена - Рудент
            td 12,500
          tr
            td Использование аттачмена - шаровидного
            td 4,200
          tr
            td Использование аттачмена — Рейн
            td 1,000
          tr
            td Телескопическая коронка для бюгельного протеза (первичная и вторичная)
            td 14,000
          tr
            td.ceni__item-strong(colspan="2") Съемное протезирование, пластмассовые протезы
          tr
            td Изготовление полного или частично-съемного акрилового протеза на 1 челюсть (определение центрального соотношения челюстей, прикус восковой, изготовление протеза, стоимость зубов отдельно)
            td 20,000
          tr
            td Изготовление полного-съемного протеза из безмономерного полиформальдегида на 1 челюсть/вкл. стоимость иск.зубов AcraFree
            td 24,000
          tr
            td Изготовление частичного-съемного протеза из безмономерного полиформальдегида на 1 челюсть/вкл. стоимость иск.зубов AcraFree
            td 24,000
          tr
            td Микропротез из пластмассы (до 3х зубов)
            td 9,000
          tr
            td Приварка зуба
            td 2,900
          tr
            td Установка зуба из гарнитура VITA (Германия)
            td 300
          tr
            td Установка зуба из гарнитура yamahachi (Япония)
            td 450
          tr
            td.ceni__item-strong(colspan="2") Штифтовые культевые вкладки
          tr
            td Изготовление вкладки штифтовой культевой цирконевой
            td 11,000
          tr
            td Изготовление клинической литой культевой штифтовой вкладки на однокорневой зуб из КХС
            td 4,500
          tr
            td Изготовление лабораторной литой культевой штифтовой вкладки на однокорневой зуб из благородных металлов ( без учета стоимости металла)
            td 7,000
          tr
            td Изготовление штифтовой вкладки с аттачменом из КХС
            td 4,500
      .ceni__item
        h2.ceni__item-title Протезирование на имплантах
        table.ceni__table
          tr
            td Акриловый протез система All on 4
            td 160,000
          tr
            td Изготовление бюгельного протеза на балке с опорой на имплантах
            td 160,000
          tr
            td Изготовление коронки из ZrO2 коронка на импланте Nobel винтовая фиксация
            td 44,500
          tr
            td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium винтовая фиксации
            td 32,000
          tr
            td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium цементной фиксации на циркониевом основании
            td 36,000
          tr
            td Изготовление коронки из ZrO2 на имплантате Nobel цементной фиксации на циркониевом основании
            td 46,500
          tr
            td Изготовление лечебно-профилактической коронки на имплантате Dentium/Osstem
            td 9,500
          tr
            td Изготовление лечебно-профилактической коронки на имплантате ICX
            td 10,000
          tr
            td Изготовление лечебно-профилактической коронки на имплантате Nobel
            td 15,000
          tr
            td Изготовление лечебно-профилактической пластмассовой коронки Nobel Biocare, прямым методом
            td 14,500
          tr
            td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium винтовой фиксации на титановом основании
            td 24,900
          tr
            td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium цементной фиксации на титановом основании
            td 25,900
          tr
            td Изготовление металлокерамической коронки на импланте Nobel винтовой фиксации на титановом основании
            td 35,000
          tr
            td Изготовление металлокерамической коронки на импланте Nobel цементной фиксации на титановом основании
            td 37,000
          tr
            td Индивидуальный формирователь десны
            td 6,500
          tr
            td.ceni__item-strong(colspan="2") Армирование
          tr
            td Изготовление армирующего каркаса
            td 3,300
          tr
            td Изготовление армирующего каркаса литьем
            td 5,000
          tr
            td.ceni__item-strong(colspan="2") Диагностика
          tr
            td Диагностическое препарирование 1-2х зубов
            td 2,500
          tr
            td Изготовление контрольно-диагностической модели
            td 2,000
          tr
            td Использование лицевой дуги; изготовление мастер модели
            td 5,000
          tr
            td Снятие слепков, использование лицевой дуги, изготовление КДМ, загипсовка в анатомический артикулятор. Планирование будущей ортопедической конструкции
            td 15,000
          tr
            td Снятие стальной штампованной коронки
            td 350
          tr
            td Снятие цельнолитой, металлокерамической, металлопластмассовой коронки
            td 1,000
          tr
            td.ceni__item-strong(colspan="2") Фиксация
          tr
            td Замена установка винта для работ на имплантах (использование винта,работа доктора)
            td 3,000
          tr
            td Фиксация временная Temp bond
            td 150
          tr
            td Фиксация на стеклоиномерный цемент Фуджи, Хофман
            td 300
          tr
            td Фиксация на цемент PANAvia
            td 800
          tr
            td Фиксация на цемент Variolink
            td 1,300
          tr
            td Фиксация на цемент двойного отверждения Мультилинк
            td 1,000
          tr
            td.ceni__item-strong(colspan="2") Функциональная стоматология
          tr
            td Брукс чекер диагностический
            td 6,600
          tr
            td Брукс чекер контрольный
            td 2,900
          tr
            td Изготовление каппы релаксирующей
            td 5,300
          tr
            td Изготовление каппы спортивной индивидуальной двухслойной с усилением
            td 8,000
          tr
            td Изготовление каппы спортивной индивидуальной однослойной
            td 7,300
          tr
            td Изготовление каппы стабилизирующей
            td 6,300
          tr
            td Изготовление окклюзионной шины
            td 13,300
      .ceni__item
        h2.ceni__item-title Консультативно-диагностические услуги
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Биохимические иссондования крови
          tr
            td.ceni__item-strong(colspan="2") Витамины
          tr
            td 25-ОН Витамин D общий (25-гидроксикальциферол)
            td 1,100
          tr
            td Витамин В12
            td 320
          tr
            td Фолиевая кислота (фолаты)
            td 245
          tr
            td.ceni__item-strong(colspan="2") Обмен белков
          tr
            td Альбумин
            td 40
          tr
            td Белковые фракции (электрофорез)
            td 250
          tr
            td Общий белок
            td 40
          tr
            td Цистатин С
            td 1,000
          tr
            td.ceni__item-strong(colspan="2") Обмен железа
          tr
            td Железо сывороточное
            td 50
          tr
            td Железосвязывающая способность сыворотки (ОЖСС)
            td 90
          tr
            td Индекс насыщения трансферрина железом
            td 205
          tr
            td Ненасыщенная железосвязывающая способность (UIBC)
            td 45
          tr
            td Растворимый рецептор трансферрина (рТФ)
            td 2,104
          tr
            td Трансферрин
            td 175
          tr
            td Ферритин
            td 235
          tr
            td.ceni__item-strong(colspan="2") Обмен липидов
          tr
            td Аполипопротеин А1
            td 198
          tr
            td Аполипопротеин В
            td 187
          tr
            td Индекс атерогенности
            td 70
          tr
            td Липопротеин (a), Lp(a)
            td 418
          tr
            td Липопротеины высокой плотности (ЛПВП, HDL)
            td 40
          tr
            td Липопротеины низкой плотности (ЛПНП, LDL) - прямое определение
            td 60
          tr
            td Липопротеины очень низкой плотности (ЛПОНП, VLDL)
            td 100
          tr
            td Триглицериды
            td 40
          tr
            td Холестерин общий
            td 40
          tr
            td Электрофорез липидов с расчетом триглицеридов
            td 2,100
          tr
            td Электрофорез липидов с расчетом холестерина
            td 2,100
          tr
            td Электрофорез липидов с типированием гиперлипидемий
            td 3,500
          tr
            td.ceni__item-strong(colspan="2") Обмен углеводов
          tr
            td Гликозилированный гемоглобин (HBA1c)
            td 170
          tr
            td Глюкоза
            td 50
          tr
            td Глюкозотолерантный тест базовый (глюкоза натощак, глюкоза через 1 час и через 2 часа после нагрузки)
            td 200
          tr
            td Глюкозотолерантный тест расширенный (глюкоза, инсулин, С-пептид натощак и через 2 часа после нагрузки)
            td 1,000
          tr
            td Глюкозотолерантный тест сокращенный (глюкоза натощак, глюкоза через 2 часа после нагрузки)
            td 200
          tr
            td Лактат (молочная кислота)
            td 275
          tr
            td Профиль Индекс HOMA-IR (Оценка инсулинорезистентности: глюкоза (натощак), инсулин (натощак), расчет индекса HOMA-IR )
            td 300
          tr
            td Фруктозамин
            td 160
          tr
            td.ceni__item-strong(colspan="2") Специфические белки
          tr
            td NT-проBNP (N-терминальный мозговой натрийуретический пропептид)
            td 840
          tr
            td Альфа-1-антитрипсин
            td 350
          tr
            td Альфа-1-кислый гликопротеин (серомукоид)
            td 410
          tr
            td Альфа-2-Макроглобулин
            td 1,400
          tr
            td Антистрептолизин О (АСЛ-О)
            td 125
          tr
            td Бета-2-Микроглобулин
            td 450
          tr
            td Гаптоглобин
            td 290
          tr
            td Гомоцистеин
            td 430
          tr
            td Каппа-цепи иммуноглобулинов в сыворотке
            td 900
          tr
            td Лямбда-цепи иммуноглобулинов в сыворотке
            td 715
          tr
            td Миоглобин
            td 462
          tr
            td Неоптерин (диагностика вирусных инфекций, туберкулеза)
            td 1,300
          tr
            td Преальбумин
            td 220
          tr
            td Прокальцитонин (диагностика бактериальных инфекций, сепсиса)
            td 949
          tr
            td Ревматоидный фактор
            td 115
          tr
            td С-реактивный белок (высокочувствительный)
            td 100
          tr
            td Тропонин I
            td 600
          tr
            td Церулоплазмин
            td 290
          tr
            td.ceni__item-strong(colspan="2") Субстраты
          tr
            td Билирубин непрямой
            td 55
          tr
            td Билирубин общий
            td 40
          tr
            td Билирубин прямой (коньюгированный)
            td 50
          tr
            td Желчные кислоты
            td 400
          tr
            td Креатинин
            td 40
          tr
            td Мочевая кислота
            td 40
          tr
            td Мочевина
            td 40
          tr
            td.ceni__item-strong(colspan="2") Ферменты
          tr
            td АЛТ (аланинаминотрансфераза)
            td 40
          tr
            td Альфа-амилаза
            td 50
          tr
            td Альфа-амилаза панкреатическая
            td 70
          tr
            td АСТ (аспартатаминотрансфераза)
            td 40
          tr
            td ГГТ (гамма-глутамилтранспептидаза)
            td 55
          tr
            td ГлДГ (глутаматдегидрогеназа, GLDH)
            td 150
          tr
            td Кислая фосфатаза общая
            td 80
          tr
            td Креатинфосфокиназа
            td 60
          tr
            td Креатинфосфокиназа МВ-фракция
            td 505
          tr
            td ЛДГ (лактатдегидрогеназа)
            td 80
          tr
            td ЛДГ-1-2 (гидроксибутиратдегидрогеназа)
            td 55
          tr
            td Липаза
            td 72
          tr
            td Холинэстераза
            td 65
          tr
            td Щелочная фосфатаза
            td 40
          tr
            td.ceni__item-strong(colspan="2") Электролиты и микроэлементы
          tr
            td Бикарбонат (НСО3-) в сыворотке
            td 100
          tr
            td Калий, Натрий, Хлор (К+, Na+, Cl-)
            td 100
          tr
            td Кальций ионизированный (Ca++)
            td 70
          tr
            td Кальций общий
            td 55
          tr
            td Магний
            td 55
          tr
            td Фосфор
            td 55
          tr
            td.ceni__item-strong(colspan="2") Гематологические исследования
          tr
            td Клинический анализ крови (CBC/Diff - 5 фракций лейкоцитов) + СОЭ
            td 165
          tr
            td Лейкоцитарная формула (микроскопия)
            td 90
          tr
            td Общий анализ крови (CBC/Diff - 5 фракций лейкоцитов)
            td 110
          tr
            td Осмотическая стойкость эритроцитов (анемии)
            td 600
          tr
            td Ретикулоциты (проточная цитофлуорометрия)
            td 200
          tr
            td СОЭ (по Вестергрен)
            td 75
          tr
            td Тельца Гейнца
            td 96
          tr
            td.ceni__item-strong(colspan="2") Гормональные исследования
          tr
            td.ceni__item-strong(colspan="2") Биогенные амины
          tr
            td Гистамин
            td 1,188
          tr
            td Катехоламины - 4 параметра в комплексе (адреналин, норадреналин, дофамин, серотонин), кровь
            td 1,950
          tr
            td Серотонин
            td 955
          tr
            td.ceni__item-strong(colspan="2") Гормоны жировой ткани
          tr
            td Лептин
            td 650
          tr
            td.ceni__item-strong(colspan="2") Гормоны и маркёры желудка
          tr
            td Гастрин-17 стимулированный
            td 1,800
          tr
            td Гастропанель (комплексное исследование): гастрин-17 базальный, пепсиноген I, пепсиноген II, Ат к Helicobacter pylori (колич.), заключение
            td 4,000
          tr
            td Гастропанель расширенная (комплексное исследование): гастрин -17 базальный, гастрин-17 стимулированный, пепсиноген I, пепсиноген II, Ат к Helicobacter pylori (колич.), заключение
            td 5,000
          tr
            td Пепсиноген-I
            td 300
          tr
            td Пепсиноген-II
            td 300
          tr
            td Пепсиногены I и II с расчетом соотношения
            td 600
          tr
            td.ceni__item-strong(colspan="2") Гормоны и маркёры костного метаболизма (остеопороз)
          tr
            td Дезоксипиридинолин (ДПИД) в разовой порции мочи
            td 1,300
          tr
            td Кальцитонин
            td 653
          tr
            td Маркер формирования костного матрикса P1NP (N-терминальный пропептид проколлагена 1 типа)
            td 1,115
          tr
            td Олигомерный матриксный белок хряща (COMP) (маркер ремоделирования суставного хряща; диагностика остеоартроза)
            td 1,500
          tr
            td Остаза (костная щелочная фосфатаза)
            td 900
          tr
            td Остеокальцин
            td 440
          tr
            td Паратиреоидный гормон (паратгормон) 1-84
            td 450
          tr
            td Паратиреоидный гормон (паратгормон), интактный
            td 235
          tr
            td С-концевые телопептиды коллагена (Beta-Cross Laps)
            td 765
          tr
            td.ceni__item-strong(colspan="2") Гормоны и маркёры поджелудочной железы
          tr
            td Антитела к бета-клеткам поджелудочной железы (Ат к островкам Лангерганса)
            td 764
          tr
            td Антитела к глутаматдекарбоксилазе (GAD)
            td 836
          tr
            td Антитела к инсулину
            td 637
          tr
            td Инсулин
            td 220
          tr
            td Проинсулин
            td 850
          tr
            td С-пептид
            td 190
          tr
            td.ceni__item-strong(colspan="2") Гормоны надпочечниковой системы
          tr
            td Адренокортикотропный гормон (АКТГ)
            td 315
          tr
            td Альдостерон
            td 1,080
          tr
            td Альдостерон-рениновое соотношение (АРС)
            td 2,020
          tr
            td Андростендиол глюкуронид
            td 800
          tr
            td Андростендион
            td 265
          tr
            td Дегидроэпиандростерон-сульфат (ДГЭА-С)
            td 160
          tr
            td Кортизол
            td 170
          tr
            td Кортизол в слюне (вечерняя порция)
            td 600
          tr
            td Кортизол в слюне (дневная порция)
            td 600
          tr
            td Кортизол в слюне (ночная порция)
            td 600
          tr
            td Кортизол в слюне (утренняя порция)
            td 600
          tr
            td Ренин (прямое определение)
            td 850
          tr
            td.ceni__item-strong(colspan="2") Гормоны роста
          tr
            td Инсулиноподобный фактор роста I (ИПФР-I; Соматомедин С)
            td 759
          tr
            td Соматотропный гормон (СТГ)
            td 435
          tr
            td.ceni__item-strong(colspan="2") Гормоны эритропоэза и маркёры анемии
          tr
            td Эритропоэтин
            td 919
          tr
            td.ceni__item-strong(colspan="2") Половые гормоны и белки
          tr
            td 17-ОН-прогестерон
            td 200
          tr
            td Антимюллеров гормон (AMH/MIS)
            td 900
          tr
            td Ассоциированный с беременностью плазменный белок А (РАРР-А)
            td 558
          tr
            td Глобулин, связывающий половые гормоны (SHBG)
            td 250
          tr
            td Дигидротестостерон
            td 420
          tr
            td Ингибин В
            td 975
          tr
            td Лютеинизирующий гормон (ЛГ)
            td 150
          tr
            td Макропролактин
            td 250
          tr
            td Маркеры преэклампсии: PIGF (плацентарный фактор роста человека), sFlt-1 (растворимая fms-подобная тирозинкиназа-1), соотношение sFlt-1/PIGF
            td 3,505
          tr
            td Плацентарный лактоген
            td 469
          tr
            td Прогестерон
            td 190
          tr
            td Пролактин
            td 150
          tr
            td Профиль  «Индекс свободных андрогенов» 1 - Тестостерон  2 - ГСПГ 3 - Индекс свободных андрогенов
            td 350
          tr
            td Свободная b-субъединица  ХГЧ
            td 390
          tr
            td Тестостерон
            td 140
          tr
            td Тестостерон свободный
            td 330
          tr
            td Фолликулостимулирующий гормон (ФСГ)
            td 150
          tr
            td Хорионический гонадотропин человека (ХГЧ)
            td 155
          tr
            td Эстрадиол (Е2)
            td 150
          tr
            td Эстриол свободный (Е3)
            td 280
          tr
            td.ceni__item-strong(colspan="2") Пренатальная биохимическая диагностика
          tr
            td Пренатальный скрининг трисомий I-й триместр (11 - 13 недель + 6 дней): белок PAPP-A, Бета-ХГЧ (свободная субъединица); приложить Анкету с заключением гинеколога и данными УЗИ: КТР, ТВП, визуализация носовой кости
            td 890
          tr
            td Пренатальный скрининг трисомий II-й триместр (14 - 19 недель + 6 дней): Альфа-фетопротеин (АФП), Хорионический гонадотропин (ХГЧ); приложить Анкету с заключением гинеколога и данными УЗИ II-го триместра (БПР)
            td 560
          tr
            td Пренатальный скрининг, I триместр (10-13 недель) - PRISCA I* (*требуется заполнение анкеты + УЗИ)
            td 720
          tr
            td Пренатальный скрининг, II триместр (14-20 неделя) - PRISCA II* (*требуется заполнение анкеты + УЗИ)
            td 680
          tr
            td.ceni__item-strong(colspan="2") Щитовидная железа
          tr
            td Антитела к рецепторам ТТГ
            td 800
          tr
            td Антитела к тиреоглобулину (анти-ТГ)
            td 180
          tr
            td Антитела к тиреопероксидазе (анти-ТПО)
            td 240
          tr
            td Т3 общий
            td 150
          tr
            td Т3 свободный
            td 150
          tr
            td Т4 общий
            td 160
          tr
            td Т4 свободный
            td 150
          tr
            td Тест поглощения тиреоидныx гормонов
            td 900
          tr
            td Тиреоглобулин
            td 260
          tr
            td ТТГ чувствительный (тиреотропный гормон)
            td 150
          tr
            td.ceni__item-strong(colspan="2") Коагулологические исследования
          tr
            td D-димер
            td 473
          tr
            td Антитромбин III
            td 180
          tr
            td АЧТВ (активированное частичное тромбопластиновое время)
            td 100
          tr
            td Волчаночный антикоагулянт
            td 400
          tr
            td Коагулограмма (комплексное исследование): протромбин по Квику (МНО), АЧТВ, тромбиновое время, фибриноген
            td 380
          tr
            td Коагулограмма расширенная (комплексное исследование): протромбин по Квику (МНО), АЧТВ, тромбиновое время, фибриноген, антитромбин III, Д-димер
            td 1,000
          tr
            td Протеин S
            td 1,350
          tr
            td Протеин С
            td 700
          tr
            td Протромбин (по Квику) + МНО
            td 100
          tr
            td Тромбиновое время
            td 100
          tr
            td Фактор свертывания Виллебранда
            td 650
          tr
            td Фибриноген
            td 100
      .ceni__item
        h2.ceni__item-title Функциональная стоматология
        table.ceni__table
          tr
            td Миорелаксирующий сплинт
            td 10,900
      .ceni__item
        h2.ceni__item-title Детская стоматология
        table.ceni__table
          tr
            td.ceni__item-strong(colspan="2") Анестезия
          tr
            td Апликационная анестизия
            td 150
          tr
            td Интралигаментарная анестезия
            td 580
          tr
            td Инфильтрационная анестезия
            td 150
          tr
            td Наложение коффердама
            td 400
          tr
            td Наложение оптидама
            td 500
          tr
            td Наложение оптрагейта
            td 300
          tr
            td Проводниковая анестезия
            td 450
          tr
            td.ceni__item-strong(colspan="2") Детская хирургия
          tr
            td Вестибулопластика
            td 7,000
          tr
            td Гемисекция или ампутация корня
            td 1,000
          tr
            td Гингивэктомия в области одного зуба
            td 1,000
          tr
            td Иссечение «капюшона», лечение перикоронита
            td 1,300
          tr
            td Лечение альвеолита с ревизией лунки
            td 2,500
          tr
            td Периостомия в области одного зуба
            td 1,000
          tr
            td Пластика уздечки верхней губы
            td 3,000
          tr
            td Пластика уздечки нижней губы
            td 3,000
          tr
            td Пластика уздечки языка
            td 5,000
          tr
            td Рассечение уздечки языка
            td 1,000
          tr
            td Резекция верхушки корня двух зубов
            td 4,500
          tr
            td Резекция верхушки корня одного зуба
            td 4,000
          tr
            td Реплантация зуба
            td 2,500
          tr
            td Ретроградное пломбирование корня зуба
            td 2,800
          tr
            td Удаление зуба сложное с выкраиванием слизисто-надкостничного лоскута и наложением швов
            td 2,500
          tr
            td Удаление молочного зуба
            td 1,500
          tr
            td Удаление молочного зуба (в стадии физиологической резорбции, подвижность 2и 3 степени)
            td 1,500
          tr
            td Удаление молочного зуба сложное (в стадии обострения)
            td 2,500
          tr
            td Удаление постоянного зуба простое
            td 1,100
          tr
            td Удаление постоянного зуба сложное с разъединением корней
            td 2,000
          tr
            td Удаление ретенционной кисты малой слюнной железы
            td 4,300
          tr
            td Удаление фолликулярной кисты
            td 2,500
          tr
            td Удаление фрагмента молочного зуба
            td 1,000
          tr
            td Цистэктомия с резекцией верхушки корня (многокорневой зуб)
            td 600
          tr
            td Цистэктомия с резекцией верхушки корня (однокорневой зуб)
            td 600
          tr
            td.ceni__item-strong(colspan="2") Дополнительные услуги
          tr
            td Наложение временной пломбы
            td 600
          tr
            td Повторная антисептическая обработка корневых каналов
            td 1,500
          tr
            td Распломбировка одного корневого канала
            td 1,000
          tr
            td Снятие временной пломбы
            td 500
          tr
            td Стандартная металлическая коронка ЗМ
            td 3,500
          tr
            td Шлифовка и полировка пломбы
            td 200
          tr
            td Эстетико-функциональное восстановление зуба циркониевой коронкой
            td 6,200
          tr
            td.ceni__item-strong(colspan="2") Консультация
          tr
            td Прием (осмотр, консультация, составление плана лечения) врача-стоматолога детского первичный
            td 500
          tr
            td Профилактический осмотр
            td 5,500
          tr
            td.ceni__item-strong(colspan="2") Лечение временного зуба под коронку
          tr
            td Лечение временного зуба под коронку 1 канальный зуб
            td 3,300
          tr
            td Лечение временного зуба под коронку ампутационным методом
            td 3,000
          tr
            td Лечение временного зуба под коронку многоканальный зуб
            td 3,600
          tr
            td.ceni__item-strong(colspan="2") Лечение кариеса молочных зубов
          tr
            td Лечение кариеса зуба (отсроченое лечение)
            td 2,000
          tr
            td Лечение кариеса молочного зуба в пределах дентина
            td 2,500
          tr
            td Лечение молочного зуба (отсроченое пломбирование)
            td 1,500
          tr
            td.ceni__item-strong(colspan="2") Лечение периодонтита временных зубов
          tr
            td Введение лекарственных средств в многоканальный зуб
            td 1,500
          tr
            td Введение лекарственных средств в одноканальный зуб
            td 1,200
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка многоканального зуба (1 посещение)
            td 4,500
          tr
            td Лечение периодонтита молочного зуба (раскрытие полости зуба) медикаментозная обработка одного корневого канала (1 посещение)
            td 3,000
          tr
            td Пломбирование канала одноканального молочного зуба
            td 4,800
          tr
            td Пломбирование каналов многоканального молочного зуба
            td 5,200
          tr
            td.ceni__item-strong(colspan="2") Лечение пульпита
          tr
            td Герметизация места перелома коронки зуба жидкотекучим композитом
            td 2,000
          tr
            td Замена временной пломбы на постоянную
            td 2,300
          tr
            td Лечение постоянного зуба методом витальной ампутации
            td 5,000
          tr
            td Лечение пульпита 1 канальный без постановки пломбы
            td 4,500
          tr
            td Лечение пульпита 1 канальный с постановкой пломбы
            td 6,300
          tr
            td Лечение пульпита 1 посещение
            td 800
          tr
            td Лечение пульпита 2 канальный без постановки пломбы
            td 6,700
          tr
            td Лечение пульпита 2 канальный с постановкой пломбы
            td 7,400
          tr
            td Лечение пульпита 2 посещение
            td 800
          tr
            td Лечение пульпита 3 канальный без постановки пломбы
            td 8,800
          tr
            td Лечение пульпита 3 канальный с постановкой пломбы
            td 9,800
          tr
            td Лечение пульпита 3 посещение
            td 2,300
          tr
            td Лечение пульпита 4 канальный бех постановки пломбы
            td 11,000
          tr
            td Лечение пульпита 4 канальный с постановкой пломбы
            td 11,500
          tr
            td Лечение пульпита временного зуба в одно посещение ампутационным методом
            td 4,600
          tr
            td Лечение пульпита временного зуба методом девитальной экстирпации
            td 3,800
          tr
            td Лечение пульпита временного зуба экстирпационным методом ( одноканального зуба)
            td 4,800
          tr
            td Лечение пульпита временного зуба экстирпационным методом (многоканального зуба)
            td 5,200
          tr
            td Лечение пульпита временных зубов
            td 3,800
          tr
            td Лечение пульпита постоянных зубов с несформированными корнями
            td 4,100
          tr
            td Оказание неотложной помощи
            td 1,200
          tr
            td Стекловолоконный штифт
            td 900
          tr
            td.ceni__item-strong(colspan="2") Профессиональная гигиена зубов в молочном и сменном прикусе щеткой и пастой
          tr
            td Адаптационная чистка зубов
            td 1,800
          tr
            td Восстановление молочного зуба композитным материалом
            td 2,500
          tr
            td Восстановление твердых тканей постоянного зуба при травмах в пределах дентина без вскрытия полости зуба
            td 3,500
          tr
            td Восстановление твердых тканей постоянного зуба при травмах в пределах эмали
            td 3,000
          tr
            td Восстановление формы зуба (постановка пломбы после лечения каналов; при стираемости; для завышения высоты прикуса)
            td 2,500
          tr
            td Восстановление формы зуба при отсутствии твердых тканей 1/2 коронки зуба
            td 4,000
          tr
            td Герметезация фиссур молочных зубов (1зуб)
            td 1,200
          tr
            td Герметизация фиссур постоянных зубов (1 зуб)
            td 2,100
          tr
            td Глубокое фторирование 1 зуба
            td 120
          tr
            td Замещение дефекта зубного ряда системой Ribbond
            td 2,500
          tr
            td Избирательное прошлифовывание одного зуба
            td 150
          tr
            td Лечение заболеваний слизистой оболочки полости рта (первое посещение)
            td 500
          tr
            td Лечение заболеваний слизистой оболочки полости рта (последующие посещения)
            td 500
          tr
            td Наложение временной пломбы
            td 600
          tr
            td Наложение девитализирующей пасты
            td 1,000
          tr
            td Обработка зуба препаратом ICON (без препарирования, одна поверхность)
            td 3,500
          tr
            td Обучение гигиене полости рта с рекомендациями по средствам гигиены
            td 50
          tr
            td Полировка все зубы
            td 1,600
          tr
            td Полировка одного зуба
            td 100
          tr
            td Полировка сегмента
            td 500
          tr
            td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: обе челюсти
            td 2,100
          tr
            td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: один зуб
            td 100
          tr
            td Реминирализующая терапия 1 зуба
            td 150
          tr
            td Снятие зубного налета и зубного камня с одного зуба (ультразвук+AIR FLOW)
            td 150
          tr
            td Снятие зубного налета и зубного камня с одного зуба ручным способом
            td 130
          tr
            td Снятие зубных отложений при неудовлетворительном состоянии зубов
            td 2,500
          tr
            td Снятие зубных отложений при удовлетворительном состоянии зубов
            td 2,000
          tr
            td Снятие зубных отложений при хорошем состоянии зубов
            td 1,500
          tr
            td Снятие остатков пломбировочного материала с одного зуба после ортодонтического лечения
            td 100
          tr
            td Фторирование одного зуба
            td 120
          tr
            td Шинирование зубов
            td 2,500
