section.child-form
  .container.child-form__container
    .child-form__left
      span.child-form__title До конца акции<br><b>БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</b><br>осталось
      .child-form__left-time
        .child-form__days
          div.child-form__number-block
            span.child-form__days-span
          span дней
        .child-form__hours
          div.child-form__number-block
            span.child-form__hours-span
          span часов
        .child-form__minutes
          div.child-form__number-block
            span.child-form__minutes-span
          span минут
        .child-form__seconds
          div.child-form__number-block
            span.child-form__seconds-span
          span секунд
    .child-form__right.form-block__form-block
      h2.form-block__title Записаться на бесплатную консультацию
      form(action="" id="childform").form-block__form
        label.form-block__name-label
          input.form-block__name.form-block__req(type="text" placeholder="Имя")
        label.form-block__phone-label
          input.form-block__phone.form-block__req(type="tel" placeholder="Телефон")
        label.form-block__mail-label
          input.form-block__mail(type="email" placeholder="Email")
        span.form-block__text-after-send
        button.form-block__submit(type="submit") Записаться на прием
