section.child-services
  .container.child-services__container
    .child-services__wrapper
      h2.child-services__title Услуги стоматологии для самых маленьких
      p В стоматологической клинике «Riadent» оказывают качественную стоматологическую помощь, доступную жителям и гостям нашего города. Мы обеспечиваем качественную помощь взрослым и детям в полном объеме и по доступной цене. Наши специалисты владеют эффективными технологиями и применяют в работе современное оборудование, чтобы лечение проходило комфортно и результативно для вас и вашего ребенка. Мы отличаемся высоким профессионализмом и индивидуальным подходом к каждому пациенту. Наши врачи используют эффективные методики и технологии, которые помогают сохранить здоровые зубы взрослым и детям. Специалисты центра понимают, как важно найти свою стоматологическую клинику, которой доверяешь. Для вас созданы все условия — комфортное лечение и европейское качество оказываемых услуг.
      .child-services__list
        a(href="/uslugi/detskaya-stomatologiya/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img1.webp")
              img(src="img/child-slider-img1.png" alt="")
          span Детская стоматология
        a(href="/uslugi/detskaya-stomatologiya/germetizatsiya-fissur/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img2.webp")
              img(src="img/child-slider-img2.png" alt="")
          span Герметизация фиссур
        a(href="/uslugi/detskaya-stomatologiya/detskaya-ortodontiya/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img3.webp")
              img(src="img/child-slider-img3.png" alt="")
          span Детская ортодонтия
        a(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img4.webp")
              img(src="img/child-slider-img4.png" alt="")
          span Исправление прикуса
        a(href="/uslugi/detskaya-stomatologiya/lechenie-pod-sedatsii/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img5.webp")
              img(src="img/child-slider-img5.png" alt="")
          span Лечение под седацией
        a(href="/uslugi/detskaya-stomatologiya/lechenie-sistemoy-icon/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img6.webp")
              img(src="img/child-slider-img6.png" alt="")
          span Лечение системой Icon
        a(href="/uslugi/detskaya-stomatologiya/plastika-uzdechki-yazyka-lazerom/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img7.webp")
              img(src="img/child-slider-img7.png" alt="")
          span Пластика уздечки языка
        a(href="/uslugi/detskaya-stomatologiya/udalenie-zubov/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img8.webp")
              img(src="img/child-slider-img8.png" alt="")
          span Удаление зубов
        a(href="/uslugi/detskaya-stomatologiya/ftorirovanie-molochnykh-zubov/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img9.webp")
              img(src="img/child-slider-img9.png" alt="")
          span Фторирование зубов
        a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-vo-sne/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img10.webp")
              img(src="img/child-slider-img10.png" alt="")
          span Лечение зубов во сне
        a(href="/uslugi/detskaya-stomatologiya/plastika-desen-u-detej").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img11.webp")
              img(src="img/child-slider-img11.png" alt="")
          span Пластика десен у детей
        a(href="/uslugi/detskaya-stomatologiya/lechenie-pulpita-u-detej/").child-services__item
          .child-services__picture
            picture
              source(type="image/webp" srcset="img/child-slider-img12.webp")
              img(src="img/child-slider-img12.png" alt="")
          span Лечение пульпита
