section.child-slider
  .container.child-slider__container
    .child-slider__wrapper
      h2.child-slider__title Стоматология для самых маленьких
      span.child-slider__text Сеть стоматологических клиник РИАДЕНТ специализируется на полном спектре стоматологических услуг для детей и взрослых.
      button.child-slider__button Записаться на прием
