section.consult
  .container.consult__container
    h2.consult__title Консультация в РИАДЕНТ
    p Мы, центр имплантации и протезирования «Риадент», гордимся, что преобразили улыбки более 5.000 наших пациентов. В приоритете для нас комфортное и качественное лечение, именно поэтому мы обеспечили все условия для решения полного спектра проблем, связанных с зубной полостью. Мы регулярно принимаем пациентов с других регионов и стран. Для удобства иногородних гостей у нас действует услуга трансфера и размещения в гостиницах наших партнёров.
    .consult__columns
      .consult__column
        h3 Центр Имплантации и протезирования
        p Сеть стоматологических клиник. Мы оказываем стоматологические услуги европейских стандартов по российским ценам
      .consult__column
        h3 О клинике
        ul
          li
            a(href="#") О Центре
          li
            a(href="#") Стоматологи
          li
            a(href="#") Цены
          li
            a(href="#") Отзывы
          li
            a(href="#") Вакансии
          li
            a(href="#") FAQ — Частые вопросы
          li
            a(href="#") Франшиза
          li
            a(href="#") Магазин
          li
            a(href="#") Инвестиции
          li
            a(href="#") Карта сайта
      .consult__column
        h3 Стоматологические клиники
        ul
          li
            a(href="#") Уфа, Кавказская 6/8
          li
            a(href="#") Сибай, ул. Горького 66
      .consult__column
        h3 Мы в социальных сетях
        p Следите за нашими новостями в социальных сетях и участвуйте в акциях и конкурсах от сети стоматологических центров «Риадент».
