section.consult
  .container.consult__container
    h2.consult__title Консультация в РИАДЕНТ
    p Мы, центр имплантации и протезирования «Риадент», гордимся, что преобразили улыбки более 5.000 наших пациентов. В приоритете для нас комфортное и качественное лечение, именно поэтому мы обеспечили все условия для решения полного спектра проблем, связанных с зубной полостью. Мы регулярно принимаем пациентов с других регионов и стран. Для удобства иногородних гостей у нас действует услуга трансфера и размещения в гостиницах наших партнёров.
    .consult__columns
      .consult__column
        h3 Центр Имплантации и протезирования
        p Сеть стоматологических клиник. Мы оказываем стоматологические услуги европейских стандартов по российским ценам
      .consult__column
        h3 О клинике
        ul
          li
            a(href="/o-stomatologii/") О Центре
          li
            a(href="/o-stomatologii/komanda/") Стоматологи
          li
            a(href="/ceni/") Цены
          li
            a(href="/about-us/otzivi/") Отзывы
          li
            a(href="/vc/") Вакансии
          li
            a(href="/faq/") FAQ — Частые вопросы
          li
            a(href="#") Франшиза
          li
            a(href="https://riamedtd.ru/") Магазин
          li
            a(href="#") Инвестиции
          li
            a(href="/karta-sajta/") Карта сайта
      .consult__column
        h3 Стоматологические клиники
        ul
          li
            a(href="/") Уфа, Кавказская 6/8
          li
            a(href="https://sibay.riadent.ru/") Сибай, ул. Горького 66
      .consult__column
        h3 Мы в социальных сетях
        p Следите за нашими новостями в социальных сетях и участвуйте в акциях и конкурсах от сети стоматологических центров «Риадент».
        .consult__socials
          ul.top-header__socials-list
            li.top-header__socials-item
              a.top-header__socials-link(href="https://www.instagram.com/riadent_ufa/") Инстаграм
            li.top-header__socials-item
              a.top-header__socials-link(href="https://www.youtube.com/channel/UCC_A_tpczf9aT3HHFYgLtYA") Youtube
            li.top-header__socials-item
              a.top-header__socials-link(href="https://vk.com/riadent_ufa") Вконтакте
