section.contacts
  .container.contacts__container
    .contacts__top-block
      .contacts__text-block
        h1 Контактная информация
        p <strong>Стоматологическая клиника «Риадент»</strong>
        p Центр имплантации и протезирования «Риадент» – стоматологическая клиника в Уфе, приглашает всех желающих провести бесплатный осмотр и получить развёрнутую консультацию врача стоматолога
        .contacts__button-block
          button.form__call-popup Записаться на прием
      .contacts__map-block
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0973b23504b1cf4bfea298de789acde9ce04bc8535a79ad34fbc94a4f97ebf4e&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
    .contacts__info-block
      .contacts__info-item
        .contacts__info-title
          h3 Адреса клиник «Риадент»
        p Уфа, ул. Кавказская 6/8
        p Сибай, ул. Горького 66
        p Магнитогорск, ул. Ленина 140/3
      .contacts__info-item
        .contacts__info-title
          h3 Запись на консультацию
        p <a href="tel:+73472250506">+7 (347) 225-05-06</a>
        p Звонки принимаются с 9:00 до 21:00
      .contacts__info-item
        .contacts__info-title
          h3 Часы работы
        p Будние дни: с 9:00 до 00:00
        p Суббота: с 9:00 до 21:00
        p Воскресенье: с 10:00 до 18:00
      .contacts__info-item
        .contacts__info-title
          h3 Отправить письмо
        p <a href="mailto: Riadentufa@mail.ru">Riadentufa@mail.ru</a>
