section.faq
  .container.faq__container
    h2.faq__title Часто задаваемые вопросы — FAQ
    .faq__block
      .faq__list
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ: Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как это без разрезов и боли?
          p.faq__text ОТВЕТ: Хирург устанавливает имплантат без разреза десны, через небольшое отверстие в десне. По индивидуальным данным пациента делается шаблон для точной установки имплантата. С помощью этого приспособления, врач с точностью до миллиметра может установить имплантат в костную ткань челюсти. Такая установка исключает любые риски, связанные с травмированием носовых пазух и нервов.
        .faq__item
          button.faq__button В чем разница между имплантами?
          p.faq__text ОТВЕТ: Стоимость имплантатов напрямую зависит от их качественных свойств. Например, имплантат Nobel BioCare относится к премиум сегменту в связи с тем, что он позволяет значительно улучшить результат и долговременный прогноз лечения. Он позволяет избежать сложных трудных костных пластик значительно ускорит время протезирования и приживления имплантата.
        .faq__item
          button.faq__button От чего зависит стоимость лечения зуба?
          p.faq__text ОТВЕТ: Ценовая политика сети клиник «Риадент» лояльна по отношению к пациенту, а лечение зубов может варьироваться от глубины поражения, методики лечения, количества каналов и применяемых материалов.
        .faq__item
          button.faq__button Какие виды чисток у Вас есть?
          p.faq__text ОТВЕТ: Чистка зубов Air-flow, ультразвуковая, механическая, комплексная. Air-flow используют для очищения от мягкого налета, основанная на использовании струи воздуха высокого давления и воды с добавлением соды. Ультразвуковая чистка производится при помощи ультразвуковых волн. Этот метод позволяет не только твердые отложения на зубах, но и поддесневые образования.
        .faq__item
          button.faq__button Лечение в рассрочку — это как?
          p.faq__text ОТВЕТ: Срок предоставления рассрочки от 1 до 36 месяцев<br> первоначальный взнос 0 рублей<br> переплата 0%<br> быстрое оформление 15 минут.
        .faq__item
          button.faq__button Какую анестезию Вы используете?
          p.faq__text ОТВЕТ: Ультракаин – нетоксичный анестетик. Быстро выводится из организма.
        .faq__item
          button.faq__button Беременным можно лечить зубы?
          p.faq__text ОТВЕТ: Зубы можно лечить конечно же можно. Но лечение стараются назначить на втором триместре. В период до 13 недель, лечение проводят в экстренных случаях, при острой боли. Во время беременности, используют щадящую анестезию без использования адреналина.
        .faq__item
          button.faq__button Можно ли лечить зубы во время грудного вскармливания?
          p.faq__text ОТВЕТ: При грудном вскармливании зубы лечат без ограничений. Однако есть некоторые правила. Перед визитом к стоматологу необходимо сцедить молоко для ребенка, потому что после лечения его нельзя кормить грудью в течении 5-6 часов: На приеме сообщать врачу о своем положении, чтобы врач использовал щадящую анестезию, которая быстро выводится или вовсе не проникает в грудное молоко. В период лактации пациентке можно делать рентген. После терапии она должна сцедить молоко и не использовать его для кормления
        .faq__item
          button.faq__button Как часто нужно делать чистку?
          p.faq__text ОТВЕТ: Стоматологи рекомендую делать чистку одного раза в 4-6 месяцев. Частота посещений зависит от многих факторов: курение, насколько развиты навыки самостоятельной гигиены.
        .faq__item
          button.faq__button В каких случаях лечат зубы под общим наркозом?
          p.faq__text ОТВЕТ: Есть ряд противопоказания, в основном это детский прием – когда сложный случай или ребенок неконтактный. Такой наркоз применяют, если есть различные психологические расстройства у взрослых, аллергия на местные обезболивающие препараты, сложные хирургические операции и тд.
        .faq__item
          button.faq__button Нужно ли лечить начинающий кариес если зуб не болит?
          p.faq__text ОТВЕТ: Все зависит от того, как человек относится к своему стоматологическому здоровью. Кариес практически не болит. Очень редко когда человек жалуется на зуб, пораженный кариесом. Поэтому лечить его нужно на начальной стадии, когда он поверхностный и не дошел до нерва-чтобы не запустить и не подвергаться дополнительному лечению, потому что будет дальше сложнее, дольше и дороже. Для диагностики скрытого кариеса важно посещать стоматолога один раз в полгода для профилактики.
        .faq__item
          button.faq__button Безопасно ли отбеливание Zoom 4?
          p.faq__text ОТВЕТ: Профессиональное отбеливание позволяет провести процедуру совершенно безвредно как для эмали, так и внутренних тканей зубов. Отбеливание Zoom 4 проводится посредством нанесения на поверхность специального геля, элементы которого активируется ультрафиолетовой лампой. Так же в нашей клинике для отбеливания мы используем только оригинальные составляющие. Перед процедурой необходима консультация специалиста, так как существует ряд противопоказаний.
        .faq__item
          button.faq__button Какие виниры лучше?
          p.faq__text ОТВЕТ: Виниры-это керамические накладки на зубы. Керамические виниры практичные и эстетически красивые, выбор пациента зависит от клинической картины и пожелания пациента. Композитные виниры — это реставрация передней группы зубов пломбировочным материалом.
        .faq__item
          button.faq__button А как ухаживать за винирами?
          p.faq__text ОТВЕТ: Так же, как и за своими. Нельзя забывать про профессиональную гигиену раз в 4-6 месяцев. Нужно выбирать качественные средства для гигиены полости рта.
        .faq__item
          button.faq__button Нужна ли подготовка перед установкой винир?
          p.faq__text ОТВЕТ: Да, к ним можно отнести наличие кариеса и его осложнений, заболевание десен, бруксизм, то есть скрежетание зубами, и некоторые виды неправильного прикуса.
        .faq__item
          button.faq__button Какие бывают брекеты?
          p.faq__text ОТВЕТ: Они бывают металлические, сапфировые, фарфоровые. Они могут располагаться как с внешней, так и с внутренней поверхности зубов.
        .faq__item
          button.faq__button Всегда ли нужно удалять зубы мудрости?
          p.faq__text ОТВЕТ: Если зубы мудрости прорезались ровно, не беспокоят Вас участвуют в акте жевания, то удалять их не стоит. В обратной ситуации это является поводом для удаления.
        .faq__item
          button.faq__button У меня зубы кровоточат, с чем это связано?
          p.faq__text ОТВЕТ: Причин может быть несколько:<br> заболевание десен (пародонтит, гингивит)<br> гормональные нарушения<br> применения медикаментов (лекарства, способные снижать свертываемость крови)<br> плохая гигиена полости рта<br> общие заболевания организма.
        .faq__item
          button.faq__button Можно ли сохранить разрушенный зуб?
          p.faq__text ОТВЕТ: Это зависит от того насколько разрушен зуб, обычно такой зуб восстанавливают с помощью установки коронки. В безнадежных случаях зуб удаляют и заменят его имплантом и коронкой.
        .faq__item
          button.faq__button А точно ли приживётся имплант?
          p.faq__text ОТВЕТ: На сегодняшний день они приживаются в 96-98 % случаев. Если же имплант не прижился через 6 недель можно повторно поставить имплант другой системы в тоже самое место.
        .faq__item
          button.faq__button Во сколько лет можно устанавливать импланты?
          p.faq__text ОТВЕТ: С 18 лет. До 18 лет у них идет еще процесс созревания костной ткани и минерализация костей, а потому в этот период невозможно спрогнозировать, как поведет себя имплант, оказавшийся в еще только формирующийся костной ткани.
        .faq__item
          button.faq__button Есть ли противопоказания при установке имплантов?
          p.faq__text ОТВЕТ: С 18 лет. До 18 лет у них идет еще процесс созревания костной ткани и минерализация костей, а потому в этот период невозможно спрогнозировать, как поведет себя имплант, оказавшийся в еще только формирующийся костной ткани.
        .faq__item
          button.faq__button Есть ли ограничения по возрасту для имплантации зубов?
          p.faq__text ОТВЕТ: Пожилой возраст не является противопоказанием к имплантации зубов. Если у пациента нет перечисленных ранее противопоказаний. Ему могут быть имплантированы один или несколько зубов. К особенностям процедуры у пожилых людей следует отнести замедление процессов регенерации (восстановление) костной ткани. Вследствие этого после установки имплантата может потребоваться больше времени, для того чтобы он прочно зафиксировался в кости и начал нормально функционировать.
        .faq__item
          button.faq__button Обязательно ли делать снимок КТ перед операцией?
          p.faq__text ОТВЕТ: Перед имплантацией зуба врач обязательно смотрит снимок челюстно-лицевой области, что позволит более точно спланировать предстоящую процедуру. Перед имплантацией зубов выполнение КТ может потребоваться в тех случаях, когда с помощью Ортопантограммы не удалось получить точных данных. С помощью КТ можно исследовать строение зубов, точно определить расстояние между ними, обнаружить остатки корня зуба в челюстной кости и так далее.
        .faq__item
          button.faq__button Как это без боли?
          p.faq__text ОТВЕТ: Операция по имплантации зуба может быть выполнена под местным обезболиванием. Суть местного обезболивания заключается в том, что под десну вводят раствор местного анестетика. Данный препарат проникает в нервы, временно «отключая» их. К преимуществу местного обезболивания можно отнести дешевизну и безопасность метода. Во время операции пациент находится в сознании, дышит самостоятельно и контролирует свое тело, но не ощущает никакой боли.
        .faq__item
          button.faq__button Безопасна ли операция по имплантации?
          p.faq__text ОТВЕТ: Да, это достаточно предсказуемая и безопасная операция. Импланты изготовлены из инертного материала титана, который биосовместим с организмом.
        .faq__item
          button.faq__button А зачем костная ткань нужна?
          p.faq__text ОТВЕТ: Эта процедура необходима для обеспечения прочной фиксации имплантата. Дело в том, что после удаления нормального (обычного) зуба участок челюсти постепенно атрофируется (уменьшается, истончается). Если между удалением и имплантацией прошло много времени, костная ткань может уменьшится настолько, что имплантат просто некуда будет установить.
        .faq__item
          button.faq__button В чем разница съемное протезирование или нет? +/-
          p.faq__text ОТВЕТ: Несъёмные протезирование решают проблемы на десятилетия. В 5-10 раз служат лучше съемных аналогов<br> эстетика и ощущения максимально к естественным зубам<br> значительно меньше ограничений по твердости пищи<br> Съемное протезирование<br> необходимо часто снимать и чистить протез и т.д.<br> протез может выпасть в самый неподходящий момент
        .faq__item
          button.faq__button Почему лечение переодонтита такое дорогое?
          p.faq__text ОТВЕТ: Это лечение сложное и трудоёмкое, который требует от врача высокой квалификации и знаний, соответствующих более узкой специализации в области стоматологии-эндодонтия. Зачастую, после такого лечения удается сохранить зубы, которым другие специалисты ставили приговор на удаление.
        .faq__item
          button.faq__button Брекеты портят ли зубы?
          p.faq__text ОТВЕТ: Само по себе ношение не портят зубы. Но пациенту с брекетами все же стоит соблюдать рекомендации ортодонта, а именно посещать врача-парадантолога  для профессиональной гигиены полости рта и зубов раз в 3-5 месяцев, пользоваться специальной ортодонтической щеткой, ершиками и ирригатором. При качественной регулярной гигиене зубы сохраняются целыми и здоровыми.
