section.faq
  .container.faq__container
    h2.faq__title Часто задаваемые вопросы — FAQ
    .faq__block
      .faq__list
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
        .faq__item
          button.faq__button Как долго приживляется имплант?
          p.faq__text ОТВЕТ:  Это зависит от факторов, на какую область в полости рта установлен имплант. Приживление идет, как правило, от 3 до 6 месяцев- именно столько нужно для полного срастания имплантата с костной тканью.
