section.some-staff
  .container.some-staff__container
    h1 Стоматолог-терапевт Файрушина Анна Артуровна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/fayrushina-anna.webp")
          img(src="img/fayrushina-anna.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 6 лет
        p <strong>Специализация:</strong> лечение кариеса, пульпитов, периодонтитов, реставрация зубов, проведение профессиональной гигиены полости рта, лечение гингивита/пародонтита/гиперестезии зубов
        strong Дополнительная квалификация:
        ul
          li Система Vector как один из методов терапевтического и хирургического лечения заболеваний пародонта (г.Москва);
          li Раббердам — как стандарт в ежедневной работе врача стоматолога (г.Санкт-Петербург);
          li Сломанные инструменты в эндодонтии (г.Москва);
          li «Прямые композитные реставрации» direct posterior (г.Москва);
          li Малоинвазивная эстетическая реабилитация фронтальной группы зубов. От планирования до оценки результата. Enamel plus (г.Москва);
          li Квинтэссенция эндодонтического лечения. Диагностика и лечение пульпита и периодонтита. Дезинфекции и инструментальной обработки. (г. Воронеж).
