section.form-block
  .container.form-block__container
    .form-block__pizdesh-block
      //- hr
      //- span Доверившись нам, вы приобретете здоровую и красивую улыбку на долгие годы
      //- hr
      //- .form-block__sign
      //-   img(src="img/pechat.png" width="190")
      img(src="img/form-block-img.png")
    .form-block__form-block
      h2.form-block__title Записаться на консультацию
      form
        input.form-block__phone(placeholder="Ваш телефон")
        input.form-block__doctor(placeholder="Выберите Врача-стоматолога")
        //- input.form-block__mail(placeholder="Ваш Email")
        button.form-block__submit Записаться на прием
