section.form-girls
  .container.form-girls__container
    .form-girls__wrapper
      .form-girls__girls
      .form-girls__text
        h2.form-girls__title Бесплатная консультация <span>врача стоматолога</span>
        form.form-girls__form
          input.form-girls__name(type="text" placeholder="Ваше имя")
          input.form-girls__phone(type="text" placeholder="+7(900)000-00-00")
          select.form-girls__doctor
            option(value="Врач1") Врач 1
            option(value="Врач2") Врач 2
            option(value="Врач3") Врач 3
          input.form-girls__date(type="date")
          button.form-girls__button Записаться на прием
