section.some-staff
  .container.some-staff__container
    h1 Стоматолог-терапевт Габдрахманова Гузелия Шамилевна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/unknown-staff.webp")
          img(src="img/unknown-staff.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 2 года
        p <strong>Специализация:</strong> профессиональная гигиена, лечение кариеса, лечение пульпитов, лечение периодонтитов, реставрация передней группы зубов 
        strong Дополнительная квалификация:
        ul
          li Основы успешной эндодонтии. Ultimate Endo. Практический курс реставрации передней группы зубов
