section.gallery
  .container.gallery__container
    .gallery__left
      //- .gallery__name
      //-   div Фотогалерея
      .gallery__buttons
        button.gallery__button-up
        .gallery__numbers
          span 2/18
        button.gallery__button-down
    .gallery__photo-list
      .gallery__photo-item
        picture
          source.gallery__item-webp(type="image/webp" srcset="img/gallery1.webp")
          img.gallery__item-img(src="img/gallery1.jpg" alt="")
      .gallery__photo-item
        picture
          source.gallery__item-webp(type="image/webp" srcset="img/gallery2.webp")
          img.gallery__item-img(src="img/gallery2.jpg" alt="")
      .gallery__photo-item
        picture
          source.gallery__item-webp(type="image/webp" srcset="img/gallery1.webp")
          img.gallery__item-img(src="img/gallery1.jpg" alt="")
      .gallery__photo-item
        picture
          source.gallery__item-webp(type="image/webp" srcset="img/gallery2.webp")
          img.gallery__item-img(src="img/gallery2.jpg" alt="")
      .gallery__photo-item
        picture
          source.gallery__item-webp(type="image/webp" srcset="img/gallery1.webp")
          img.gallery__item-img(src="img/gallery1.jpg" alt="")
      .gallery__photo-item
        picture
          source.gallery__item-webp(type="image/webp" srcset="img/gallery2.webp")
          img.gallery__item-img(src="img/gallery2.jpg" alt="")
    .gallery__main-photo
      picture
        source.gallery__main-webp(type="image/webp" srcset="img/gallery_main.webp")
        img.gallery__main-img(src="img/gallery_main.jpg" alt="")
