section.some-staff
  .container.some-staff__container
    h1 Детский стоматолог Хасанова Зарима Мударисовна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/hasanova-zarima.webp")
          img(src="img/hasanova-zarima.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 6 лет
        p <strong>Специализация:</strong> лечение молочных зубов, протезирование молочных зубов, лечение во сне
        strong Дополнительная квалификация
        ul
          li «Менеджмент в стоматологии» г. Уфа;
          li «Кариозные поражения временных и постоянных несформированных зубов» Гецман А.В. г. Уфа;
          li «Применение диодных лазеров в стоматологии»;
          li «Седация и наркоз в условиях частной стоматологической поликлиники» г. Екатеринбург;
          li «СИЦ или композит» г. Уфа;
          li «Лечение пульпитов временных и постоянных зубов» Гецман А.В. г.Уфа;
          li «Менеджмент поведения в детской стоматологии. Этапы, визиты, план действий от простого к сложному. Действие каждого члена команды и родителей» Гецман А.В. г.Уфа;
          li «Дентальная травматология» в детской стоматологии или травмы временных зубов. Восстановление временных зубов коронками Гецман А.В. г.Уфа;
          li «КТ- лучевая диагностика» Рогацкин Д.В. г. Уфа;
          li «Анестезия в детской стоматологии» APPD г. Москва;
          li «Реставрация передних и жевательных групп зубов» Виктор Щербаков г. Казань;
          li «Консультации» Платонов И.А. г. Уфа;
          li «Реставрация временных зубов» Адаева Наталья г. Краснодар;
          li «Реставрация жевательной и передней группы зубов» Кубус А г. Уфа;
          li «Коронки на молочные зубы» Мельникова О.А. г.Москва.
