section.some-staff
  .container.some-staff__container
    h1 Заведующая пародонтологическим отделением Хасанова Вероника Игоревна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/hasanova-veronika.webp")
          img(src="img/hasanova-veronika.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет, 2012
        p <strong>Стаж работы:</strong> 10 лет
        p <strong>Специализация:</strong> лечение кариеса, реставрации зубов, нехирургическое и хирургическое лечение заболеваний пародонта, плазмолифтинг, вектор-терапия, профилактическая гигиена, отбеливание зубов
    hr
    .some-staff__certificate-wrapper
      button.some-staff__button.some-staff__button--prev
      .some-staff__certificate-inner
        .some-staff__certificate-list
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika1.webp")
              img(src="img/certificate-veronika1.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika2.webp")
              img(src="img/certificate-veronika2.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika3.webp")
              img(src="img/certificate-veronika3.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika4.webp")
              img(src="img/certificate-veronika4.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika5.webp")
              img(src="img/certificate-veronika5.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika6.webp")
              img(src="img/certificate-veronika6.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika7.webp")
              img(src="img/certificate-veronika7.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika8.webp")
              img(src="img/certificate-veronika8.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika9.webp")
              img(src="img/certificate-veronika9.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika10.webp")
              img(src="img/certificate-veronika10.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika11.webp")
              img(src="img/certificate-veronika11.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/certificate-veronika12.webp")
              img(src="img/certificate-veronika12.jpg" alt="")
      button.some-staff__button.some-staff__button--next
    .some-staff__running
      h2.some-staff__running-title.some-staff__running-title--1
        span Сертификаты
      h2.some-staff__running-title.some-staff__running-title--2
        span Сертификаты
