section.some-staff
  .container.some-staff__container
    h1 Заведующая пародонтологическим отделением Хасанова Вероника Игоревна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/gafarov-raf.webp")
          img(src="img/gafarov-raf.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет, 2012
        p <strong>Стаж работы:</strong> 10 лет
        p <strong>Специализация:</strong> лечение кариеса, реставрации зубов, нехирургическое и хирургическое лечение заболеваний пародонта, плазмолифтинг, вектор-терапия, профилактическая гигиена, отбеливание зубов
    hr
    .some-staff__certificate-wrapper
      button.some-staff__button.some-staff__button--prev
      .some-staff__certificate-inner
        .some-staff__certificate-list
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/gafarov-certificate1.webp")
              img(src="img/gafarov-certificate1.jpg" alt="")
      button.some-staff__button.some-staff__button--next
    .some-staff__running
      h2.some-staff__running-title.some-staff__running-title--1
        span Сертификаты
      h2.some-staff__running-title.some-staff__running-title--2
        span Сертификаты
