section.history
  .container.history__container
    h1 История компании
    p Первый стоматологический центр “Риадент” существует с 2007 года. В 2016 году свои двери открыл наш первый центр имплантации и протезирования “Риадент” в г. Сибай, а уже в 2019 году начал свою работу один из крупнейших центров “Риадент” в г. Уфа. Совсем недавно, в 2020 году, мы запустили детское отделение — стоматологию для самых маленьких, в которую вложили особенно много сил и трепета, ведь речь шла о самом дорогом – детях.
    p Несмотря на то, что уфимский центр центр начал свою работу сравнительно недавно, мы преобразили улыбки более 5000 наших пациентов.
    .history__wrapper
      .history__icon-list
        .history__icon-item
        .history__icon-item
        .history__icon-item
        .history__icon-item
        .history__icon-item
        .history__icon-item
      .history__list
        .history__item
          picture
            source(type="image/webp" srcset="img/history6.webp")
            img(src="img/history6.jpg" alt="")
          .history__text
            p <span>2022 г.</span> В этом году планируется открытие клиник в Магнитогорске, Казани, Набережных Челнах
        .history__item
          picture
            source(type="image/webp" srcset="img/history5.webp")
            img(src="img/history5.jpg" alt="")
          .history__text
            p <span>2021 г.</span> Планируется открытие одного из самых крупнейших стоматологических центров в РБ
        .history__item
          picture
            source(type="image/webp" srcset="img/history4.webp")
            img(src="img/history4.jpg" alt="")
          .history__text
            p <span>2020 г.</span> Было открыто детское отделение центра — «Риадент» для самых маленьких
        .history__item
          picture
            source(type="image/webp" srcset="img/history3.webp")
            img(src="img/history3.jpg" alt="")
          .history__text
            p <span>2019 г.</span> Начал свою работу центр имплантации и протезирования «Риадент» в г.Уфа
        .history__item
          picture
            source(type="image/webp" srcset="img/history2.webp")
            img(src="img/history2.jpg" alt="")
          .history__text
            p <span>2016 г.</span> Открыл свои двери первый центр имплантации и протезирования «Риадент» в г.Сибай
        .history__item
          picture
            source(type="image/webp" srcset="img/history1.webp")
            img(src="img/history1.jpg" alt="")
          .history__text
            p <span>2007 г.</span> Открывается первый центр «Риадент» в с.Темясово
