section.some-staff
  .container.some-staff__container
    h1 Стоматолог-ортопед Илюхин Вадим Викторович
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/iluhin-vadim.webp")
          img(src="img/iluhin-vadim.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 6 лет
        p <strong>Специализация:</strong> восстановления функции и эстетики зубочелюстной системы любыми методами
