section.img-right
  .container.img-right__container
    .img-right__text
      h2 Протезирование на имплантах в стоматологии «Риадент»
      p Протезирование на имплантах — распространённая и результативная методика восстановления зубов. Вместо корней устанавливаются титановые штифты, на которые помещаются коронки, мосты или несъёмные протезы.
      p <strong>Стоматологическая клиника «Риадент»</strong> предлагает услуги протезирования на имплантах в Уфе. Для вас доступны как одиночные протезы, так и сложные протоколы All-on-4, All-on-6 и All-on-8. Наши специалисты обладают большим опытом работы с различными методиками восстановления зубов, а техническая оснащённость клиники позволяет проводить сложные операции с высокой точностью и результативностью.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
