section.implantaciya-zubov-pod-kluch7
  .container.img-right__container
    .img-right__text
      h2 Консультация, первичный осмотр
      p Стоматолог проведёт первичный осмотр полости рта, оценит состояние зубов и дёсен. Затем вы сможете получить ответы на все интересующие вопросы.
      strong Длительность: 1-1,5 часа.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
