section.implantaciya-zubov-pod-kluch5
  .container.three-items__container
    h2.three-items__title Количество необходимых имплантантов
    p В зависимости от количества зубов, которые необходимо восстановить имплантолог выбирает метод, который необходим для каждого отдельного пациента.
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/implantaciya3.jpg" alt="")
        h3 All-on-4
        p Несъемное протезирование 4 зубов
      .three-items__item
        .three-items__img
          img(src="img/implantaciya4.jpg" alt="")
        h3 All-on-6
        p Несъемное протезирование 6 зубов
      .three-items__item
        .three-items__img
          img(src="img/implantaciya5.jpg" alt="")
        h3 All-on-8
        p Несъемное протезирование 8 зубов
