section.implantaciya-zubov-pod-kluch2
  .container.img-right__container
    .img-right__text
      h2 Цена имплантации под ключ в Уфе
      p Из чего складывается стоимость имплантации зубов под ключ?
      ul
        li вид имплантата;
        li материал коронки;
        li количество восстанавливаемых зубов;
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
