section.implantaciya-zubov-pod-kluch4
  .container.implantaciya-zubov-pod-kluch4__container
    h2 Материал импланта
    p К примеру, металлокерамика — более бюджетный вариант, чем коронки из диоксида циркония.
    h3 Совет стоматолога
    strong Какая коронка лучше — металлокерамическая или циркониевая?
    blockquote Если вам нужно восстановить боковую зубную единицу, то эстетика в этом случае не так важна. Поэтому можно выбрать коронку из металлокерамики. Но при восстановлении передних зубов коронка из диоксида циркония станет лучшим решением, поскольку её эстетические показатели заметно выше.
    cite <strong>Амрахов Турал Рафаэлович</strong>, стоматолог-ортопед стоматологии «Риадент»
