section.implantaciya-zubov-pod-kluch6
  .container.implantaciya-zubov-pod-kluch6__container
    h2 Что входит в имплантацию под ключ
    .implantaciya-zubov-pod-kluch6__columns
      ul
        li
          a(href="#") консультация и первичный осмотр;
        li
          a(href="#") диагностика зубов и полости рта;
        li
          a(href="#") план лечения, имплантации;
        li
          a(href="#") санация полости рта;
        li
          a(href="#") хирургия;
        li
          a(href="#") ортопедия;
