section.implantaciya-zubov-pod-kluch1
  .container.img-left__container
    .img-left__text
      h2 Что такое имплантация под ключ
      p Это перечень процедур, включающий в себя подготовку, диагностику, планирование и проведение имплантации по фиксированной стоимости.
      p Это значит, что цену всех процедур вы будете знать заранее, и она не будет увеличиваться в ходе лечения. Стоматологическая клиника «Риадент» предлагает имплантацию под ключ в Уфе.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
