section.implantaciya-zubov-pod-kluch10
  .container.img-left__container
    .img-left__text
      h2 Санация  полости рта
      p Чтобы результат имплантации не был ничем испорчен, обязательно нужно устранить все источники микробов из полости рта. Это может быть налёт и зубной камень, кариес, или зуб, не поддающийся лечению.
      strong Длительность: Зависит от объёма работ.
      p Если у пациента обнаружен недостаток костной ткани, то может понадобиться костная пластика — наращивание необходимого объёма кости. Эта операция не входит в общую стоимость имплантации под ключ.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya-pod-kluch6.webp")
        img(src="img/implantaciya-pod-kluch6.jpg" alt="")
