section.implantaciya-zubov-pod-kluch11
  .container.img-right__container
    .img-right__text
      h2 Хирургия –  операция на зубы
      p Хирург-стоматолог проведёт все необходимые процедуры для установки имплантата. Это подготовка ложа, вживление и фиксация искусственного корня и установка заглушки. Всё проводится под местной анестезией.
      strong Длительность: около часа на 1 имплантат.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
