section.implantaciya-zubov-pod-kluch8
  .container.img-left__container
    .img-left__text
      h2 Диагностика зубов и полости рта
      p На втором этапе вам будет необходимо пройти ряд диагностических процедур:
      ul
        li <strong>рентгенография</strong> — полное восстановление жевательной функции;
        li <strong>ортопантомограмма</strong> — сочетание эстетики и естественного внешнего вида;
        li <strong>компьютерная томография челюсти</strong> — удобство в сравнении со съёмными протезами;
      strong Длительность:
      ul
        li стандартная диагностика — 2 часа;
        li расширенная диагностика — до 7 дней.
      p При наличии хронических заболеваний могут потребоваться дополнительные анализы и консультации, которые не входят в общую стоимость.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
