section.implantaciya3
  .container.img-left__container
    .img-left__text
      h2 Лечение под наркозом
      p Установка имплантов во сне:
      ul.implantaciya3__list
        li
          svg(width="37" height="44")
            use(xlink:href="img/sprite.svg#narkoz1")
          span Без боли и страха
        li
          svg(width="45" height="35")
            use(xlink:href="img/sprite.svg#narkoz2")
          span Большой объем работ за 1 визит
        li
          svg(width="43" height="43")
            use(xlink:href="img/sprite.svg#narkoz3")
          span При аллергии на местную анестезию
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
