section.some-staff
  .container.some-staff__container
    h1 Генеральный директор Искужин Айнур Раисович
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/iskuzhin-aynur.webp")
          img(src="img/iskuzhin-aynur.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 8 лет
        p <strong>Специализация:</strong> лечение несъёмными и съемные ортодонтическими аппаратами
