section.some-staff
  .container.some-staff__container
    h1 Стоматолог-хирург Кашанов Тимур Ранифович
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/unknown-staff.webp")
          img(src="img/unknown-staff.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 2 года
        p <strong>Почему я выбрал эту профессию?:</strong> В детстве меня в 4 классе спросили, кем я хочу стать. Я не задумываясь ответил, что я стану стоматологом, сам не понимая, через что нужно пройти для исполнения своей цели. И с тех пор, выбрав этот путь, я ни разу об этом не пожалел. Быть врачом-стоматологом для меня это не работа- это мой образ жизни!
        p <strong>Специализация:</strong> владение современными методиками и навыками хирургического лечения, в том числе атравматичное удаление зубов любой сложности, коронэктомия, имплантация, направленная тканевая регенерация, пластика мягких тканей, направленная костная регенерация; владение всеми современными методами и навыками лечения детей и подростков, в том числе работа с использованием коффердама, реставрация зубов, эндодонтическое лечение молочных и постоянных зубов, в том числе с незавершённом апексогенезом. Работа со стандартными металлическими коронками и циркониевыми коронками; работа в условиях общего наркоза, седации; работа с увеличением. (микроскоп, бинокуляры); ведение документации; чтение и интерпретация снимков КЛКТ; составление индивидуального комплексного плана лечения. Работа в команде; умение правильно коммуницировать с пациентом, правильно преподносить индивидуальный комплексный план лечения, работать с возражениями.
        strong Дополнительная квалификация
        ul
          li 2019 г. «Секреты реставраций в эстетически значимой зоне», Спичков Руслан;
          li 2020 г. «Аугументация костной ткани в дентальной имплантологии. Протоколы минимизации осложнений», Уразбахтин И.И.;
          li 2020 г. «Базовый хирургический курс OSSTEM», Ушаков А.И.;
          li 2020 г. «Трехмерная радиодиагностика челюстно-лицевой области», Рогацкин Д.В.;
          li 2021 г. «Синус-лифтинг. Интенсив», Хурцилава С.Г.;
          li 2021г. «Эстетика мягких тканей: планирование, реализация» Cмолякова А.А.;
          li 2021г. «Полное руководство препарирования под виниры» Белоград М.;
          li 2021г. «Керамические накладки. Особенности препарирования» Белоград М.;
          li 2021г. «Диагностика кариеса и его осложнений в детской стоматологии. Проведение обезболивания и системы коффердам у детей. Лечение пульпитов временных зубов. Восстановление разрушенных зубов стандартными металлическими коронками» Сарышева О.С.
