section.lechenie-parodontoza2
  .container.img-right__container
    .img-right__text
      h2 Виды пародонтоза по типу лечения
      p По характеру лечения заболевания пародонтоз можно разделить на два вида:
      ul
        li острый;
        li хронический.
      p Поскольку болей, кровоточивости десен и воспаления тканей не наблюдается, это деление весьма условное, и острой, в классическом понимании, болезнь не является. При остром пародонтозе заболевание протекает быстрее и от стадии запуска процесса изменений в тканях до выпадения зуба может пройти всего несколько лет. Острые формы встречаются крайне редко.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
