section.lechenie-parodontoza3
  .container.img-left__container
    .img-left__text
      h2 Виды пародонтоза по области поражения
      p Также болезнь отличают по области поражения. Пародонтоз бывает:
      ul
        li локализованный;
        li генерализованный.
      p При локализованном типе поражения болезнь захватывает небольшую область: от одного до нескольких зубов. Патологический процесс не распространяется на ткани остальной челюсти.
      p При генерализованном пародонтозе пораженной может оказаться верхний или нижний зубной ряд, а также обе челюсти сразу.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
