section.lilform
  .container.lilform__container
    .lilform__question
      h2.lilform__title Задайте вопрос!
      span Дадим грамотную консультацию<br> и поможем определиться с лечением
      span.lilform__phone-text Единый Call-центр
      a.lilform__phone(href="tel:+73472252520") 8 (347) 225-25-20
    .lilform__form-block
      span.lilform__right-title Запишись на<br> онлайн консультацию
      form
        input.lilform__name-input(type="text" placeholder="Имя")
        input.lilform__phone-input(tye="text" placeholder="Телефон")
        button.lilform__submit(type="submit") Записаться
