section.luminiry1
  .container.img-left__container
    .img-left__text
      h2 Люминиры  для зубов от стоматологии «Риадент»
      p Люминир – это микропротез-накладка. Ее приклеивают к внешней стороне зуба, дефекты которого необходимо исправить. Как правило, используются такие накладки для восстановления хорошо заметных передних зубов.
      p Люминиры являются разновидностью виниров. От виниров они отличаются меньшей толщиной. Так, толщина пластины составляет всего 0,2-0,3 мм.
      p Другое важное отличие – это материал изготовления. Применяется специальный высокопрочный стоматологический фарфор (тогда как обычные виниры могут быть изготовлены из другого материала). Состав материала является запатентованным – такой фарфор выпускается только определенными брендами.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/viniry1.webp")
        img(src="img/viniry1.jpg" alt="")
