section.luminiry3
  .container.luminiry3__container
    h2 Показания и противопоказания по установке люминиров
    p Чаще всего люминиры на зубы ставятся, если имеются те или иные небольшие дефекты. Они помогут, если имеются:
    ul
      li «тетрациклиновые» зубы, потемневшие из-за долгого приема антибиотика тетрациклинового ряда;
      li трещины или сколы;
      li флюороз – пятна на эмали;
      li эрозия зубной единицы
    p Нередко к микропротезированию прибегают люди, у которых здоровые зубы, однако их природный оттенок неудовлетворительный. Установка вкладок становится альтернативой стоматологическому отбеливанию.
    p Накладки могут использоваться при неправильном прикусе. Непосредственно проблему неправильного прикуса они решить не в силах, однако могут визуально сгладить кривизну зубного ряда, чтобы улыбка была более эстетичной.
    p Люминиры могут быть установлены для восстановления внешнего вида керамической или металлокерамической коронки. Такие коронки могут желтеть со временем, однако менять протез, если он надежно зафиксирован и выполняет свои прямые функции – это не всегда целесообразно. Тогда вернуть эстетичность помогает использование накладок.
    p Несмотря на то, что процедура установки микропротезов является щадящей, имеется ряд противопоказаний. Главными из них являются следующие:
    ul
      li патологическая стираемость зубной эмали;
      li индивидуальная непереносимость материала, из которого изготавливаются накладки;
      li кариес, заболевания десен – перед процедурой их необходимо вылечить.
    p Не рекомендуют микропротезирование пациентам, страдающим бруксизмом, т.к. при такой патологии даже самый надежный протез быстро изнашивается. Не выполняют протезирование накладками и детям, не достигшим возраста 18 лет – установку можно осуществлять, как зубочелюстная система уже полностью сформировалась.
