section.main-slider
  .main-slider__list
    .main-slider__item
      .main-slider__text-block
        h2 Центр имплантации и протезирования зубов
        span Предсказуемый результат – защита от ошибок и осложнений
        button Узнать больше
      .main-slider__img-block
        picture
          source(type="image/webp" srcset="img/slider-img1.webp")
          img.middle-banner__img(src="img/slider-img1.png" alt="")
    .main-slider__item
      .main-slider__text-block
        h2 Цифровые технологии - прорыв в стоматологии
        span Улыбка вашей семьи в надежных руках
        button Узнать больше
      .main-slider__img-block
        picture
          source(type="image/webp" srcset="img/slider-img2.webp")
          img.middle-banner__img(src="img/slider-img2.png" alt="")
    .main-slider__item
      .main-slider__text-block
        h2 Установка брекетов в стоматологии «Риадент»
        span Улыбка вашей семьи в надежных руках
        button Узнать больше
      .main-slider__img-block
        picture
          source(type="image/webp" srcset="img/slider-img2.webp")
          img.middle-banner__img(src="img/slider-img2.png" alt="")
    .main-slider__button-list
  .main-slider__grid
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Общайтесь со стоматологом онлайн
        span Проведем качественное лечение в кратчайшие сроки
        button Записаться
      picture
        source(type="image/webp" srcset="img/mainslider_grid1.webp")
        img.middle-banner__img(src="img/mainslider_grid1.png" alt="")
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Конкурс, улыбка за 1000 000₽
        span Проведем качественное лечение в кратчайшие сроки
        button Записаться
      picture
        source(type="image/webp" srcset="img/mainslider_grid2.webp")
        img.middle-banner__img(src="img/mainslider_grid2.png" alt="")
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Поможем с приездом, если вы из другого города
        span Проведем качественное лечение в кратчайшие сроки
        button Записаться
      picture
        source(type="image/webp" srcset="img/mainslider_grid3.webp")
        img.middle-banner__img(src="img/mainslider_grid3.png" alt="")
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Детская стоматология
        span Проведем качественное лечение в кратчайшие сроки
        button Записаться
      picture
        source(type="image/webp" srcset="img/mainslider_grid4.webp")
        img.middle-banner__img(src="img/mainslider_grid4.png" alt="")
