section.main-slider
  .main-slider__list
    .main-slider__item
      .main-slider__img-block
        picture
          source(type="image/webp" srcset="img/slider-img1.webp")
          img(src="img/slider-img1.png" alt="")
      .main-slider__text-block
        h2 Центр имплантации и&nbsp;протезирования зубов
        span Зубы за&nbsp;1&nbsp;день по&nbsp;технологии <nobr>All-on-4/6/8</nobr>
        .main-slider__button-block
          button.form__call-popup Узнать больше
    .main-slider__item
      .main-slider__img-block
        picture
          source(type="image/webp" srcset="img/slider-img2.webp")
          img(src="img/slider-img2.png" alt="")
      .main-slider__text-block
        h2 Стоматологический туризм
        span С&nbsp;удовольствием принимаем гостей из&nbsp;других стран для&nbsp;лечения зубов
        .main-slider__button-block
          button.form__call-popup Узнать больше
    .main-slider__item
      .main-slider__img-block
        picture
          source(type="image/webp" srcset="img/slider-img3.webp")
          img(src="img/slider-img3.png" alt="")
      .main-slider__text-block
        h2 Цифровые технологии - прорыв в&nbsp;стоматологии
        span Предсказуемый результат – защита от&nbsp;ошибок и&nbsp;осложнений
        .main-slider__button-block
          button.form__call-popup Узнать больше
    .main-slider__button-list
  .main-slider__grid
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Общайтесь со&nbsp;стоматологом онлайн
        button.form__call-popup Записаться
      .main-slider__grid-img
        picture
          source(type="image/webp" srcset="img/mainslider_grid1.webp")
          img(src="img/mainslider_grid1.png" alt="")
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Семейная скидка для&nbsp;первичных пациентов - 3%
        button.form__call-popup Записаться
      .main-slider__grid-img
        picture
          source(type="image/webp" srcset="img/mainslider_grid2.webp")
          img(src="img/mainslider_grid2.png" alt="")
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Трансфер до&nbsp;клиники - встретим на&nbsp;авто с&nbsp;вокзала или&nbsp;гостиницы
        button.form__call-popup Записаться
      .main-slider__grid-img
        picture
          source(type="image/webp" srcset="img/mainslider_grid3.webp")
          img(src="img/mainslider_grid3.png" alt="")
    .main-slider__grid-item
      .main-slider__grid-text
        h3 Детская стоматология
        span Проведем качественное лечение в&nbsp;кратчайшие сроки
        button.form__call-popup Записаться
      .main-slider__grid-img
        picture
          source(type="image/webp" srcset="img/mainslider_grid4.webp")
          img(src="img/mainslider_grid4.png" alt="")
