section.some-staff
  .container.some-staff__container
    h1 Стоматолог-терапевт Мансапова Элиза Фаузитовна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/mansapova-eliza.webp")
          img(src="img/mansapova-eliza.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 3 года
        p <strong>Специализация:</strong> полные съёмные протезы, AcraFree, акриловые протезы, тотальные работы на имплантатах по системе all-on-4, all-on-6 из металлокомпозита, металлокерамики, диоксида циркония, протезирование на имплантатах из металлокерамики, диоксид циркония винтовой и цементный фиксации, мостовидные протезы из диоксида и металлокерамики, лечение дефектов твердых тканей при помощи эстетических виниров, металлокерамических коронок, диоксида циркония, Emax коронки, бюгельные протезы, частично-съемные протезы из акрила и Acrafree материала, изготовление ЛКШВ для жевательных и режущих групп зубов, протезирование из металлокерамики и диоксида циркония
