section.some-staff
  .container.some-staff__container
    h1 Детский стоматолог Мухаматшина Юлия Ильшатовна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/muhamatshina-yulia.webp")
          img(src="img/muhamatshina-yulia.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 7 лет
