section.some-staff
  .container.some-staff__container
    h1 Стоматолог-терапевт Назмиева Светлана Флоридовна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/nazmieva-svetlana.webp")
          img(src="img/nazmieva-svetlana.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 4 года
        p <strong>Специализация:</strong> лечение кариеса, эстетические реставрации, сложное лечение корневых каналов
