section.some-staff
  .container.some-staff__container
    h1 Стоматолог-терапевт Назмиева Светлана Флоридовна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/nazmieva-svetlana.webp")
          img(src="img/nazmieva-svetlana.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 4 года
        p <strong>Специализация:</strong> лечение кариеса, эстетические реставрации, сложное лечение корневых каналов
    hr
    .some-staff__certificate-wrapper
      button.some-staff__button.some-staff__button--prev
      .some-staff__certificate-inner
        .some-staff__certificate-list
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate1.webp")
              img(src="img/sveta-certificate1.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate4.webp")
              img(src="img/sveta-certificate4.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate5.webp")
              img(src="img/sveta-certificate5.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate6.webp")
              img(src="img/sveta-certificate6.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate7.webp")
              img(src="img/sveta-certificate7.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate10.webp")
              img(src="img/sveta-certificate10.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate2.webp")
              img(src="img/sveta-certificate2.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate3.webp")
              img(src="img/sveta-certificate3.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate8.webp")
              img(src="img/sveta-certificate8.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate9.webp")
              img(src="img/sveta-certificate9.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate11.webp")
              img(src="img/sveta-certificate11.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate12.webp")
              img(src="img/sveta-certificate12.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate13.webp")
              img(src="img/sveta-certificate13.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate14.webp")
              img(src="img/sveta-certificate14.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate15.webp")
              img(src="img/sveta-certificate15.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/sveta-certificate16.webp")
              img(src="img/sveta-certificate16.jpg" alt="")
      button.some-staff__button.some-staff__button--next
    .some-staff__running
      h2.some-staff__running-title.some-staff__running-title--1
        span Сертификаты
      h2.some-staff__running-title.some-staff__running-title--2
        span Сертификаты
