section.no-pain
  .container.no-pain__container
    .no-pain__maloy      
      picture
        source(type="image/webp" srcset="img/no-pain.webp")
        img(src="img/no-pain.png" width="416" alt="")
    .no-pain__without-pain
      h2.no-pain__title Лечение без страха и боли
      span Все наши врачи имеют навыки психологической работы с детьми
      .no-pain__list
        .no-pain__item
          span При желании <b>лечим зубы под седацией закисью азота</b> - ребёнок вдыхает воздушную смесь, расслабляется и ничего не боится
        .no-pain__item
          span Во время лечения пациенты смотрят <b>мультики в комфортном кресле</b>, а после посещения получают подарок от врача
        .no-pain__item
          span В сложных случаях предлагаем <b>лечение под наркозом</b>. Мы используем препарат Севоран, который разрешён даже младенцам
        .no-pain__item
          span <b>Никаких слез</b>, потому что наш медперсонал использует новейшие методы адаптации детей к осмотру и лечению
    picture.no-pain__sertif-img
      source(type="image/webp" srcset="img/no-pain-sertificates.webp")
      img(src="img/no-pain-sertificates.png" width="416" alt="")
