section.nobelicx
  .container.nobelicx__container
    .nobelicx__wrapper
      h2.nobelicx__title Официальный представитель надежных систем имплантов в России
      hr
      .nobelicx__list
        picture
          source(type="image/webp" srcset="img/icx-logo.webp")
          img.nobelicx__icx(src="img/icx-logo.png" width="148" height="74" alt="")
        picture
          source(type="image/webp" srcset="img/nobel-logo.webp")
          img.nobelicx__nobel(src="img/nobel-logo.png" width="261" height="116" alt="")
    
