section.novie-zubi-za-odin-den3
  .container.four-steps__container
    h2.four-steps__title Этапы работы
    .four-steps__list
      .four-steps__item
        .four-steps__icon
          svg(width="44" height="44")
            use(xlink:href="img/sprite.svg#four-steps1")
        .four-steps__text
          p 1 этап:
          p Первичный осмотр, где врач проведёт диагностику полости рта на цифровой 3D томографии и назначит подходящую подготовку к операции.
      .four-steps__item
        .four-steps__icon
          svg(width="45" height="44")
            use(xlink:href="img/sprite.svg#four-steps2")
        .four-steps__text
          p 2 этап:
          p Мы создадим трёхмерную модель ваших челюстей и с помощью инновационных технологий с хирургической точностью спланируем весь ход операции. Для этого в стоматологии Риадент мы изготовим специальный 3D шаблон, позволяющий установить имплантаты без разрезов. Затем мы снимем слепки или проведём цифровое сканирование установленных имплантатов. Полученные данные будут переданы в зуботехническую лабораторию для изготовления самой конструкции зубов из композитного материала. Изготовление занимает в среднем 4-7 часов.
      .four-steps__item
        .four-steps__icon
          svg(width="40" height="42")
            use(xlink:href="img/sprite.svg#four-steps3")
        .four-steps__text
          p 3 этап:
          p Операция проводится под местной анестезией или медикаментозным сном. Реконструкция одной челюсти занимает от 40 мин до 2 часов. Если же у пациента есть несостоятельные зубы, то они удаляются и тут же меняются на искусственные корни – имплантаты. Это процесс называется одномоментной имплантацией.
      .four-steps__item
        .four-steps__icon
          svg(width="33" height="44")
            use(xlink:href="img/sprite.svg#four-steps4")
        .four-steps__text
          p 4 этап:
          p И в завершении, врач зафиксирует эту конструкцию на винты, а вы сможете сразу есть, говорить и улыбаться.
