section.novie-zubi-za-odin-den4
  .container.novie-zubi-za-odin-den4__container
    h2 Улучшение протеза
    p При желании вы также сможете заказать новый и более прочный металлокерамический протез на титановой или циркониевой основе, или скорректировать прежний протез в стоматологии Риадент на Кавказской. Всё это возможно только после полного формирования десны и приживления имплантатов, которое длится 3-6 месяцев.
