section.numbers
  .container.numbers__container
    .numbers__list
      .numbers__item
        span.numbers__number.numbers__number--1 10000
        span.numbers__text пациентов восстановили здоровье зубов
      .numbers__item
        span.numbers__number.numbers__number--0 5
        span.numbers__text центров имплантации и протезирования зубов по России
      .numbers__item
        span.numbers__number.numbers__number--2 60%
        span.numbers__text пациентов приходят к нам по рекомендации
