section.numbers
  .container.numbers__container
    .numbers__list
      .numbers__item
        span.numbers__number.numbers__number--0 2
        span.numbers__text центра имплантации и протезирования зубов по России
      .numbers__item
        span.numbers__number.numbers__number--1 83753
        span.numbers__text центра имплантации и протезирования зубов по России
      .numbers__item
        span.numbers__number.numbers__number--2 97%
        span.numbers__text центра имплантации и протезирования зубов по России
