section.odnomomentnaya-implantaciya-zubov4
  .container.odnomomentnaya-implantaciya-zubov4__container
    h2 В чём заключается суть процедуры?
    p В классическом представлении имплантация состоит из двух этапов: установка титановой основы, заменяющей собой корень, и установление коронки. Между этими двумя этапами обычно проходит 4-6 месяцев, необходимых для приживления нового корня. Иногда на этот период к титановой основе прикрепляют временную пластмассовую коронку. Только после полного приживления она заменяется постоянным протезом из металлокерамики или циркония.
    p Но как быть без зуба несколько месяцев? Почему нужны целых две операции? Это вызывает две проблемы: психологический дискомфорт от долгого отсутствия зуба и необходимость дважды проходить через хирургическое вмешательство. Далеко не для каждого человека это легко. Решением этих двух проблем стала одномоментная имплантация. Несмотря на различные методики, суть процедуры одна: полностью готовая коронка за короткий срок.
