section.odnomomentnaya-implantaciya-zubov1
  .container.img-right__container
    .img-right__text
      h2 Одномоментная имплантация в стоматологической клинике «Риадент», Уфа
      p Проблемы с зубами — то, с чем каждый из нас вынужден столкнуться не раз за всю жизнь. В особо сложных случаях можно лишиться зуба по причине запущенного заболевания, или физической травмы.
      p Особенно это вызывает психологический дискомфорт, если проблема возникла с фронтальными зубами. Их отсутствие сильно бросается в глаза, значительно понижает самооценку.
      p Существует ли способ, позволяющий за одно посещение врача восстановить целостность улыбки? Конечно. Стоматология в наш век продвинулась достаточно далеко, чтобы решать такие проблемы быстро.
      p Одномоментная имплантация — уникальная процедура. За одно посещение стоматолога вы можете обзавестись новой качественной коронкой, либо полностью восстановить улыбку.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
