section.odnomomentnaya-implantaciya-zubov6
  .container.odnomomentnaya-implantaciya-zubov6-1__container
    h2 Методики одномоментной имплантации
    p Перед проведением операции стоматолог проведёт ряд осмотров и исследований. Это важно для верного определения нужной методики имплантации. Существует четыре основных методики, каждая из которых имеет свои особенности.
  .container.img-right__container
  .container.odnomomentnaya-implantaciya-zubov6-3__container
  .container.img-left__container
  .container.odnomomentnaya-implantaciya-zubov6-5__container
  .container.img-right__container
  .container.odnomomentnaya-implantaciya-zubov6-7__container
  .container.img-left__container
