section.odnomomentnaya-implantaciya-zubov9
  .container.odnomomentnaya-implantaciya-zubov9__container
    h2 Послеоперационный период
    p В течение нескольких дней после процедуры пациент, как правило, принимает назначенные обезболивающие препараты для снятия дискомфорта. Также назначается ряд препаратов, снижающих риск развития воспалительного процесса.
    p В первые дни после имплантации желательно употреблять пищу только в жидком виде, либо мягкие блюда. Важно также уделять внимание гигиене полости рта.
