section.odnomomentnaya-implantaciya-zubov3
  .container.odnomomentnaya-implantaciya-zubov3__container
    h2 Краткая история открытия
    p Ещё в 50-е годы XX века шведский профессор Бранемарк сделал открытие: титан может надёжно срастаться с костной тканью.
    p С этого момента применение титановых имплантатов было заметно усовершенствовано. Раньше такими технологии были доступны только очень обеспеченные люди. Но в наше время пациенты могут выбирать среди множества производителей. Имплантаты изготавливают в Швейцарии, Южной Корее, России. Стоимость зависит от страны-производителя.
    
