section.odnomomentnaya-implantaciya-zubov10
  .container.img-right__container
    .img-right__text
      h2 Какими могут быть осложнения
      p При проведении подобных вмешательств всегда есть риск развития осложнений. С чем может столкнуться пациент после операции:
      ul
        li Не проходит боль. Вполне нормально, если болезненность сохраняется 2-3 дня после проведения имплантации. Но если вы испытываете сильный дискомфорт гораздо дольше, следует проконсультироваться с врачом.
        li Возникновение отёка. Как правило, отёк на мягких тканях держится не дольше одной недели. Если отёчность не проходит, необходима консультация врача.
        li Рост температуры тела. Если температура поднялась выше 37,5 градусов, это повод обратиться за медицинской помощью.
        li Долгое онемение. Обычно онемение проходит за 5 часов. Если же оно не прошло, это может быть знаком повреждённого нерва.
      p Не стоит бояться осложнений: риск их возникновения крайне мал, особенно если с вами работали опытные стоматологи.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
