section.orange-services
  .container.orange-services__container
    .orange-services__list
      .orange-services__item
        h3.orange-services__title Вылечим с первого приёма
        .orange-services__text-block
          p Проведем качественное лечение в кратчайшие сроки. Лечение кариеса, пульпита, реставрация зубов.
      .orange-services__item
        h3.orange-services__title Без страха<br>Без боли
        .orange-services__text-block
          p Поход к зубному перестанет быть детским страхом для Вашего ребенка. Современные технологии позволяют оказывать качественную, а самое главное — безболезненную процедуру лечения.
      .orange-services__item
        h3.orange-services__title Лечение во сне
        .orange-services__text-block
          p Современные технологии позволяют оказывать качественную, а самое главное — безболезненную процедуру лечения.
