section.some-staff
  .container.some-staff__container
    h1 Стоматолог-гигиенист Овсянников Дмитрий Игоревич 
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/ovsyannikov-dmitriy.webp")
          img(src="img/ovsyannikov-dmitriy.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 1 год
        p <strong>Почему я выбрал эту профессию?:</strong> Стоматология - наука, при которой доктор обладает сразу несколькими способностями: не только «сверление кариеса», но и тонкая психология, нужно расположить к себе пациента, что он доверял своему доктору. Так же огромную составляющую нашей профессии имеет и творческий подход - восстановление каждого зуба, некого рода предмет искусства. Ну и самая важная часть - врачевание, ведь мы работаем на благо людей, боремся за их здоровье. Именно поэтому я выбрал нелёгкий путь стоматолога - чтобы творить на благо здоровья наших маленьких пациентов. 
        p <strong>Специализация:</strong> Профессиональная гигиена, лечение кариеса и его осложнений
