section.parodontologiya2
  .container.img-right__container
    .img-right__text
      h2 Когда следует обратиться к пародонтологу?
      p Как правило, стоматологов посещают с острой зубной болью. Но заболевания дёсен тоже являются распространённой проблемой, даже несмотря на то, что об их развитии можно даже не догадываться. Пародонтоз, пародонтит и гингивит могут привести к кровоточивости дёсен, неприятному запаху изо рта, а в запущенных случаях — к потере зубов и острой боли.
      p Поэтому не стоит откладывать визит к стоматологу, если вы заметили:
      ul
        li Болезненную реакцию дёсен на холодное или горячее;
        li Кровь при чистке зубов или поедании жёсткой пищи;
        li Неприятный запах изо рта, не проходящий после чистки и полосканий.
      p Все эти признаки могут свидетельствовать о наличии воспалительного процесса в тканях пародонта, и постепенном развитии заболевания.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
