section.parodontologiya3
  .container.img-left__container
    .img-left__text
      h2 Основные пародонтологические заболевания
      p При недостаточном уходе за полостью рта обычный налёт постепенно отвердевает, превращаясь в зубной камень. Когда он прогрессирует и распространяется, то разрушает ткани дёсен, что приводит к образованию карманов между зубом и десной. Это приводит к развитию следующих патологий:
      ol
        li <strong>Гингивит</strong>. Край десны воспаляется, провоцируя активную жизнедеятельность бактерий.
        li <strong>Пародонтит</strong>. Чаще всего является следствием невылеченного гингивита. Воспаление края десны распространяется на соседние ткани, в том числе и те, что удерживают зуб.
        li <strong>Пародонтоз</strong>. Ткани пародонта постепенно разрушаются, оголяя шейку зуба и провоцируя его выпадение. Причин развития пародонтоза множество — от наследственности до возрастного ослабления сосудов.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
