section.politika-konfidencialnosti
  .container.politika-konfidencialnosti__container
    h1 Политика конфиденциальности
    p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, размещенной на сайте в сети Интернет по адресу: https://riadent.ru (далее – Сайт), которую субъекты могут получить о Пользователе во время использования Сайта, его сервисов, программ и продуктов.
    p Использование сервисов Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования сервисов.
    p 1. <strong>ОБЩИЕ ПОЛОЖЕНИЯ</strong>
    p 1.1 В рамках настоящей Политики под персональной информацией Пользователя понимаются:
    p 1.1.1 Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи, записи на прием к врачу) или в процессе использования Сервисов, включая персональные данные Пользователя. Обязательная для предоставления Сервисов информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
    p 1.1.2 Данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.
    p 1.1.3 Настоящая Политика конфиденциальности применяется только к Сайту. Сайт не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте. В Политике используются следующие основные понятия:
    ul
      li <strong>автоматизированная обработка персональных данных</strong> – обработка персональных данных с помощью средств вычислительной техники;
      li <strong>блокирование персональных данных</strong> – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
      li <strong>информационная система персональных данных</strong> – совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;
      li <strong>обезличивание персональных данных</strong> – действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному субъекту персональных данных;
      li <strong>обработка персональных данных</strong> – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
      li <strong>персональные данные</strong> – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);
      li <strong>предоставление персональных данных</strong> – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
      li <strong>распространение персональных данных</strong> – действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
      li <strong>уничтожение персональных данных</strong> – действия, в результате которых невозможно восстановить содержание персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.
      li <strong>«Cookies»</strong> — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
      li <strong>«IP-адрес»</strong> — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
    p Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
    p В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
    p 2. <strong>ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ</strong>
    p 2.1 Сайт собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов или исполнения соглашений с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
    p 2.2 Персональную информацию Пользователя Сайт обрабатывает в следующих целях:
    p 2.2.1 В перечень обрабатываемых персональных данных могут входить фамилия, имя, отчество, номер телефона, адрес электронной почты и иные персональные данные, в случае их предоставления Пользователем.
    p 2.2.2 Установления с Пользователем обратной связи, запись на прием к врачу, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработку запросов, отзывов и заявок от Пользователя.
    p 2.2.3 Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
    p 2.2.4 Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
    p 2.2.5 Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта.
    p 2.2.6 Осуществления рекламной деятельности с согласия Пользователя.
    p 2.2.7 Вы не обязаны предоставлять некоторые персональные данные по нашему запросу, однако, если вы их не укажете, в некоторых случаях мы можем оказаться не в состоянии предоставить вам соответствующую услугу или ответить на запрос или разместить отзыв.
    p 3. <strong>УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ И ЕЕ ПЕРЕДАЧИ ТРЕТЬИМ ЛИЦАМ</strong>
    p 3.1 Сайт хранит персональную информацию Пользователей в соответствии с внутренними регламентами конкретных сервисов.
    p 3.2 В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных сервисов Пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.
    p 3.3 Сайт вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
    p 3.3.1 Пользователь выразил согласие на такие действия.
    p 3.3.2 Передача необходима для использования Пользователем определенного сервиса либо для исполнения определенного соглашения или договора с Пользователем.
    p 3.3.3 Передача предусмотрена российским законодательством в рамках установленной законодательством процедуры.
    p 3.3.4 В случае продажи Сайта, к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации.
    p 3.4 Обработка персональных данных Пользователя осуществляется без ограничения срока любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. Обработка персональных данных Пользователей осуществляется в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ “О персональных данных”.
    p 3.5 При утрате или разглашении персональных данных Администрация Сайта информирует Пользователя об утрате или разглашении персональных данных.
    p 3.6 Администрация Сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
    p 3.7 Администрация сайта не осуществляет обработку специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни субъектов персональных данных.
    p 3.8 Биометрические персональные данные (сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность, и которые используются оператором для установления личности субъекта персональных данных) администрация сайта не обрабатывает.
    p 3.9 Администрация сайта не осуществляет трансграничную передачу персональных данных.
    p 4. <strong>ОБЯЗАТЕЛЬСТВА СТОРОН</strong>
    p 4.1 <strong>Пользователь обязан:</strong>
    p 4.1.1 Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
    p 4.1.2 Обновлять, дополнять предоставленную информацию о персональных данных в случае изменения данной информации.
    p 4.2 <strong>Администрация Сайта обязана:</strong>
    p 4.2.1 Использовать полученную информацию исключительно для целей, указанных в настоящей Политике конфиденциальности.
    p 4.2.2 Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование либо разглашение иными возможными способами передачи персональных данных Пользователя, за исключением предусмотренных настоящей Политикой конфиденциальности.
    p 4.2.3 Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.
    p 4.2.4 Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя, либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.
    p 5. <strong>ХРАНЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong>
    p 5.1 персональные данные субъектов могут быть получены, проходить дальнейшую обработку и передаваться на хранение как на бумажных носителях, так и в электронном виде.
    p 5.2 персональные данные, зафиксированные на бумажных носителях хранятся в запираемых шкафах, либо в запираемых помещениях с ограниченным правом доступа.
    p 5.3 персональные данные субъектов, обрабатываемые с использованием средств автоматизации в разных целях, хранятся в разных папках (вкладках).
    p 5.4 не допускается хранение и размещение документов, содержащих персональных данных, в открытых электронных каталогах (файлообменниках) в ИСПД.
    p 5.5 хранение персональных данных в форме, позволяющей определить субъекта ПД, осуществляется не дольше, чем этого требуют цели их обработки и они подлежат уничтожению по достижении целей обработки или в случае утраты необходимости в их достижении.
    p 5.2 Уничтожение персональных данных:
    ul
      li уничтожение документов (носителей), содержащих ПД производится путем сожжения, дробления (измельчения), химического разложения, превращения в бесформенную массу или порошок. Для уничтожения бумажных документов допускается применение шредера.
      li персональные данные на электронных носителях уничтожаются путем стирания или форматирования носителя.
    p 5.3 Сотрудникам, допущенным к обработке персональных данных, запрещается:
    ul
      li сообщать сведения, являющиеся персональными данными, лицам, не имеющим права доступа к этим сведениям.
      li делать неучтенные копии документов, содержащих персональные данные.
      li оставлять документы, содержащие персональные данные, на рабочих столах без присмотра.
      li покидать помещение, не поместив документы с персональными данными в закрываемые шкафы.
      li выносить документы, содержащие персональные данные, из помещений без служебной необходимости.
    p 6. <strong>ОТВЕТСТВЕННОСТЬ СТОРОН</strong>
    p 6.1 Администрация Сайта, не исполнившая свои обязательства, несет ответственность за убытки, понесенные Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.
    p 6.2 В случае утраты или разглашения конфиденциальной информации Администрация Сайта не несет ответственности, если данная конфиденциальная информация
    p 6.2.1 Стала публичным достоянием до ее утраты или разглашения.
    p 6.2.2 Была получена от третьей стороны до момента ее получения Администрацией Сайта.
    p 6.2.3 Была разглашена с согласия Пользователя.
    p 7. <strong>РАЗРЕШЕНИЕ СПОРОВ</strong>
    p 7.1 До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Администрацией Сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
    p 7.2 Получатель претензии в течение 15 календарных дней со дня получения претензии письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
    p 7.3 При не достижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством Российской Федерации.
    p 7.4 К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией Сайта применяется действующее законодательство Российской Федерации.
    p 8. <strong>ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</strong>
    p 8.1 Администрация Сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
    p 8.2 Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
    p 8.3 Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по тел. +7 (347)2252520
    p 8.4 Действующая Политика конфиденциальности размещена на странице по адресу: https://riadent.ru/politika-konfidencialnosti/
