section.pravovaya-informaciya
  .container.pravovaya-informaciya__container
    h1 Правовая информация
    ol
      li
        a(href="/wp-content/uploads/2021/06/doc1006.pdf") Постановление правительства Российской Федерации от 4 октября 2012г. №1006 «Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг»
      li
        a(href="/wp-content/uploads/2021/06/z2300-1.pdf") Закон РФ от 7 февраля 1992г № 2300-1 “О защите прав потребителей”
      li
        a(href="/wp-content/uploads/2021/06/federalnyy-zakon-_52_fz-ot-30-marta-1999g..doc") Федеральный закон о санитарно-эпидемиологическом благополучии населения № 52-ФЗ от 30 марта 1999 года.
      li
        a(href="/wp-content/uploads/2021/07/pgg2-21.pdf") Программа государственных гарантий бесплатного оказания гражданам медицинской помощи в Республике Башкортостан на 2021 год и плановый период 2022 и 2023 годов
      li
        a(href="/wp-content/uploads/2021/06/dos-21-22-23.pdf") Программа государственных гарантий бесплатного оказания гражданам медицинской помощи Российской Федерации на 2021 год и на плановый период 2022 и 2023 годов
      li
        a(href="/wp-content/uploads/2021/07/323-fz.pdf") Федеральный закон от 21 ноября 2011г № 323-ФЗ “Об основах охраны здоровья граждан в Российской Федерации”
    h2 Лицензии
    .pravovaya-informaciya__list
      .pravovaya-informaciya__item
        picture
          source(type="image/webp" srcset="img/license1.webp")
          img(src="img/license1.jpg" alt="")
      .pravovaya-informaciya__item
        picture
          source(type="image/webp" srcset="img/license2.webp")
          img(src="img/license2.jpg" alt="")
      .pravovaya-informaciya__item
        picture
          source(type="image/webp" srcset="img/license3.webp")
          img(src="img/license3.jpg" alt="")
      .pravovaya-informaciya__item
        picture
          source(type="image/webp" srcset="img/license4.webp")
          img(src="img/license4.jpg" alt="")
      .pravovaya-informaciya__item
        picture
          source(type="image/webp" srcset="img/license5.webp")
          img(src="img/license5.jpg" alt="")
    .pravovaya-informaciya__showed-license
      picture
        source(type="image/webp" srcset="img/license1.webp")
        img(src="img/license1.jpg" alt="")
      button.pravovaya-informaciya__close
      button.pravovaya-informaciya__button.pravovaya-informaciya__button--prev
      button.pravovaya-informaciya__button.pravovaya-informaciya__button--next
