section.prices
  .container.prices__container
    h2.prices__title Стоимость виниров
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Виниры
      tr
        td Виниры (1 шт) – подготовка, установка
        td 24900₽
