section.prices
  .container.prices__container
    h2.prices__title Цены на пародонтологию
    table.prices__table
      tr
        td Прием (осмотр, консультация) врача-стоматолога-пародонтолога первичный
        td 0
      tr
        td Прием (осмотр, консультация) врача-стоматолога-пародонтолога повторный
        td 0
      tr
        td Назначение медикаментозного лечения при заболеваниях СОПР
        td 1500
      tr
        td Лечебная аппликация верхней, нижней челюсти
        td 1200
      tr
        td Лечебная аппликация одного сегмента
        td 400
      tr
        td Лечебная повязка одного фрагмента (Парасепт)
        td 700
      tr
        td Медицинская обработка  с использованием (Альвожил)
        td 740
      tr
        td Плазмолифтинг 1 пробирка
        td 2500
      tr
        td Плазмолифтинг 2 пробирка
        td 5000
      tr
        td Дополнительная пробирка плазмолифтинг
        td 700
      tr
        td Ультразвуковая обработка патологических зубодесневых карманов в области одного зуба
        td 350
      tr
        td Ультразвуковое удаление наддесневых и поддесневых зубных отложений с помощью ультразвука (в области одного зуба)
        td 350
      tr
        td Ультразвуковая обработка пародонтальных карманов 1 сегмента (7-8 зубов) (Аппаратом VECTOR)
        td 1500
      tr
        td Ультразвуковая обработка пародонтального кармана в области зубов одной чеплюсти (Аппаратом VECTOR)
        td 3000
      tr
        td Удаление наддесневых и поддесневых зубных отложений в области зуба ручным методом (КЮРЕТАЖ)
        td 250
      tr
        td Ультразвуковая обработка пародонтального кармана в области зуба (Аппаратом VECTOR)
        td 700
      tr
        td Вскрытие пародонтального абсцесса
        td 1000
      tr
        td Избирательное пришлифовывание твердых тканей зубов (в области одного зуба)
        td 200
      tr
        td Временное шинирование при заболеваниях пародонта (в области двух зубов), 1 см (Риббонд)
        td 8000
      tr
        td Временное шинирование при заболеваниях пародонта (в области четырех-шести зубов)
        td 11250
      tr
        td Открытый кюретаж сегмент
        td 5000
      tr
        td Открытый кюретаж в области 2х зубов
        td 2500
      tr
        td Закрытый кюретаж сегмент
        td 4000
      tr
        td Закрытый кюретаж в области 2х зубов
        td 2500
      tr
        td Вестибулопластика (углубление преддверия полости рта) 1 сегмент
        td 7000
      tr
        td Гингивопластика с устранением рецессии десны в области 1го зуба
        td 2500
      tr
        td Лечение Мукозита (включ.: Антисептическую обработку, механ. обработку-Vector, обработку титановыми куретами)
        td 3000
      tr
        td Лечение переимплантита
        td 5000
      tr
        td Гингивоэктомия зона улыбки
        td 5500
      tr
        td Гингивоэктомия в области 1 зуба
        td 1000
      tr
        td.prices__maintd(colspan="2")
          strong Профилактика
      tr
        td Аппликация лекарственного препарата на слизистую оболочку полости рта
        td 250
      tr
        td Профессиональная гигиена полости рта и зубов методом Air Flow
        td 3000
      tr
        td Профессиональная гигиена полости рта и зубов методом Air Flow (1 сектор)
        td 150
      tr
        td Профессиональная гигиена полости рта и зубов методом Perio Flow
        td 5200
      tr
        td Профессиональная гигиена полости рта и зубов методом Perio Flow (1 сектор)
        td 1300
      tr
        td Обработка поверхностей зубов для снижения чувствительности (десенситайзер)
        td 1000
      tr
        td Гигиенический комплекс, включая ультразвук, Air-Flow, щетки, штрипсы, пасту для полировки поверхности зубов
        td 3100
      tr
        td Проведение реминерализирующей терапии одного зуба (Фторлак, глуфторед, флюокаль)
        td 100
      tr
        td Проведение реминерализирующей терапии одного сегмента (Фторлак, глуфторед, флюокаль)
        td 300
      tr
        td Проведение реминерализирующей терапии всех зубов (Фторлак, глуфторед, флюокаль)
        td 1000
      tr
        td Обучение гигиене полости рта и зубов индивидуальное, подбор средств и предметов гигиены полости рта
        td 600
      tr
        td Полировка одного зуба при помощи пасты
        td 150
      tr
        td Полировка 1 сегмента
        td 700
      tr
        td Полировка всех зубов
        td 2000
