section.protezirovanie-perednih5
  .container.img-right__container
    .img-right__text
      h2 Съемный протез
      p Чаще всего используется как временное решение, пока не будет изготовлен несъёмный. Наиболее популярный вариант — протез-бабочка. Искусственные зубы расположены на акриловой основе, и крепятся к челюсти скобами. Такой протез не только скрывает дефекты улыбки, но и поддерживает зубной ряд, не позволяя другим зубам сместиться в сторону отсутствующего.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
