section.protezirovanie-perednih1
  .container.img-right__container
    .img-right__text
      h2 Протезирование передних зубов в стоматологической клинике «Риадент», Уфа
      p При восстановлении передних зубов главным желанием пациентов является безупречный внешний вид. Ведь именно эти зубы находятся в зоне улыбки. Современные методики протезирования позволяют добиться идеального результата различными способами. Можно восстановить как один зуб, так и весь ряд, и при этом улыбка будет выглядеть абсолютно естественно.
      p Кроме эстетики важна также и финансовая сторона вопроса. Стоимость протезирования складывается, как правило, из вида материала, методики и объёма работ. Стоматологическая клиника “Риадент” предлагает услуги по протезированию передних зубов в Уфе.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
