section.quiz
  .container.quiz__container
    .quiz__wrapper
      .quiz__begin
        h2 Узнайте предварительную стоимость лечения
        .quiz__button-block
          button.quiz__button-start Рассчитать стоимость
        p Отправим расчёт на WhatsApp или по телефону
        p.quiz__adress Стоматологическая клиника Риадент, Уфа, Кавказская, 6/8
      .quiz__questions-list
        .quiz__questions-item.quiz__questions-item--0.quiz__questions-item--active
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Выберите услугу, на которую хотите рассчитать стоимость
              .quiz__answers
                button.quiz__ans.quiz__ans--0.quiz__ans--0-1 Имплантация зубов
                button.quiz__ans.quiz__ans--0.quiz__ans--0-2 Лечение зубов
                button.quiz__ans.quiz__ans--0.quiz__ans--0-3 Удаление зубов
                button.quiz__ans.quiz__ans--0.quiz__ans--0-4 Виниры и реставрация зубов
                button.quiz__ans.quiz__ans--0.quiz__ans--0-5 Гигиена полости рта
                button.quiz__ans.quiz__ans--0.quiz__ans--0-6 Протезирование зубов
                button.quiz__ans.quiz__ans--0.quiz__ans--0-7 Брекеты и исправление прикуса
                button.quiz__ans.quiz__ans--0.quiz__ans--0-8 Отбеливание зубов
                button.quiz__ans.quiz__ans--0.quiz__ans--0-9 Детская стоматология
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--1.quiz__questions-item--1order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Сколько зубов Вы хотите восстановить?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 1
                button.quiz__ans.quiz__ans--1-2 2
                button.quiz__ans.quiz__ans--1-3 3
                button.quiz__ans.quiz__ans--1-4 4
                button.quiz__ans.quiz__ans--1-5 5
                button.quiz__ans.quiz__ans--1-6 6
                button.quiz__ans.quiz__ans--1-7 7
                button.quiz__ans.quiz__ans--1-8 8
                button.quiz__ans.quiz__ans--1-9 9
                button.quiz__ans.quiz__ans--1-10 10 и более
                button.quiz__ans.quiz__ans--1-11 Одна челюсть
                button.quiz__ans.quiz__ans--1-12 Две челючти
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--1.quiz__questions-item--1order2
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какие зубы необходимо восстановить?
              .quiz__answers
                button.quiz__ans.quiz__ans--2-1 Передние
                button.quiz__ans.quiz__ans--2-2 Жевательные
                button.quiz__ans.quiz__ans--2-3 И то и другое
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--1.quiz__questions-item--1order3
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Каким способом восстановим зубы?
              .quiz__answers
                button.quiz__ans.quiz__ans--3-1(title="Наиболее современный и надежный способ восстановления зубов, проверенный временем") Имплантация зубов
                button.quiz__ans.quiz__ans--3-2 Всё на 4-х/на 6-ти
                button.quiz__ans.quiz__ans--3-3(title="Позволяет в одно посещение восстановить отсутствующий зуб") Одномоментная имплантация
                button.quiz__ans.quiz__ans--3-4(title="Более дешевый способ, который широко применялся в 90-е годы") Мост
                button.quiz__ans.quiz__ans--3-5 Съемный протез
                button.quiz__ans.quiz__ans--3-6(title="Предпочитаю посоветоваться с доктором и подробнее узнать о каждом варианте перед выбором") Не знаю, нужна консультация
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--2.quiz__questions-item--2order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Сколько зубов Вы хотите вылечить?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 1
                button.quiz__ans.quiz__ans--1-2 2
                button.quiz__ans.quiz__ans--1-3 3
                button.quiz__ans.quiz__ans--1-4 4
                button.quiz__ans.quiz__ans--1-5 5
                button.quiz__ans.quiz__ans--1-6 6
                button.quiz__ans.quiz__ans--1-7 7
                button.quiz__ans.quiz__ans--1-8 8
                button.quiz__ans.quiz__ans--1-9 9
                button.quiz__ans.quiz__ans--1-10 10 и более
                button.quiz__ans.quiz__ans--1-11 Точно не знаю, нужна консультация стоматолога
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--2.quiz__questions-item--2order2
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какая у Вас ситуация с зубами?
              .quiz__answers
                button.quiz__ans.quiz__ans--2-1 Острая боль
                button.quiz__ans.quiz__ans--2-2 Иногда побаливает, реагирует на горячее-холодное
                button.quiz__ans.quiz__ans--2-3 Давно не был, хочу проверить состояние зубов
                button.quiz__ans.quiz__ans--2-4 Нужно лечение зубов перед брекетами/имплантами/элайнерами
                button.quiz__ans.quiz__ans--2-5 Не болит, но вижу тёмное пятно на зубе
                button.quiz__ans.quiz__ans--2-6 Замена старых пломб
                button.quiz__ans.quiz__ans--2-7 Появился неприятный запах изо рта
                button.quiz__ans.quiz__ans--2-8 Необходимо лечение зубов при подготовке к беременности и род
                button.quiz__ans.quiz__ans--2-9 Другое
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--3.quiz__questions-item--3order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Сколько зубов Вы хотите удалить?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 1
                button.quiz__ans.quiz__ans--1-2 2
                button.quiz__ans.quiz__ans--1-3 3
                button.quiz__ans.quiz__ans--1-4 4
                button.quiz__ans.quiz__ans--1-5 5
                button.quiz__ans.quiz__ans--1-6 6 и более
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--3.quiz__questions-item--3order2
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Рассматриваете удаление или хотели бы сохранить зуб?
              .quiz__answers
                button.quiz__ans.quiz__ans--2-1 Хотелось бы сохранить
                button.quiz__ans.quiz__ans--2-2 Только удаление для имплантации
                button.quiz__ans.quiz__ans--2-3 Удаление зуба мудрости
                button.quiz__ans.quiz__ans--2-4 Только удаление, пока нет времени или денег на лечение
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--3.quiz__questions-item--3order3
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Хотели бы сразу вставить новый зуб вместо удалённого?
              .quiz__answers
                button.quiz__ans.quiz__ans--3-1 Да, сразу в день приёма
                button.quiz__ans.quiz__ans--3-2 Да, в ближайшие месяцы
                button.quiz__ans.quiz__ans--3-3 Нет, так как нет бюджета
                button.quiz__ans.quiz__ans--3-4 Нет, по другим причинам
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--4.quiz__questions-item--4order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title В связи с чем думаете ставить виниры или делать эстетическую реставрацию?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 Хочу белоснежную улыбку
                button.quiz__ans.quiz__ans--1-2 Хочу скорректировать форму зубов
                button.quiz__ans.quiz__ans--1-3 Откололся зуб
                button.quiz__ans.quiz__ans--1-4 Другая причина
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--5.quiz__questions-item--5order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какой вид гигиенической чистки Вас интересует?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 Air Flow
                button.quiz__ans.quiz__ans--1-2 Классический метод
                button.quiz__ans.quiz__ans--1-3 Не знаю, нужна консультация стоматолога
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--6.quiz__questions-item--6order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какая у Вас ситуация?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 Есть отсутствующий зуб/зубы
                button.quiz__ans.quiz__ans--1-2 Есть зубной имплант, нужна коронка
                button.quiz__ans.quiz__ans--1-3 Сейчас съемный протез, хочется коронки
                button.quiz__ans.quiz__ans--1-4 Уже ставил коронку/коронки. Хочу их заменить
                button.quiz__ans.quiz__ans--1-5 Зуб расшатывается (приобрёл подвижность)
                button.quiz__ans.quiz__ans--1-6 Другое
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--7.quiz__questions-item--7order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Хотите узнать стоимость брекетов на обе челюсти или на одну?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 На обе
                button.quiz__ans.quiz__ans--1-2 На одну
                button.quiz__ans.quiz__ans--1-3 Нужна консультация
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--7.quiz__questions-item--7order2
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title С какой целью хотите поставить брекеты?
              .quiz__answers
                button.quiz__ans.quiz__ans--2-1 Для красивой улыбки
                button.quiz__ans.quiz__ans--2-2 Для подготовки к имплантации и протезированию
                button.quiz__ans.quiz__ans--2-3 По другим медицинским показателям
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--7.quiz__questions-item--7order3
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Выберите, какие варианты брекетов/элайнеров Вам предпочтительнее?
              .quiz__answers
                button.quiz__ans.quiz__ans--3-1 Металлические
                button.quiz__ans.quiz__ans--3-2 Смешанные
                button.quiz__ans.quiz__ans--3-3 Элайнеры (прозрачные капы)
                button.quiz__ans.quiz__ans--3-4 Керамические или сапфировые
                button.quiz__ans.quiz__ans--3-5 Лингвальные
                button.quiz__ans.quiz__ans--3-6 Не знаю, нужна консультация стоматолога
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--8.quiz__questions-item--8order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какой вид отбеливания Вам больше подходит?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 Классическое отбеливание
                button.quiz__ans.quiz__ans--1-2 Голливудская улыбка винирами
                button.quiz__ans.quiz__ans--1-3 Не знаю, нужна консультация стоматолога стоматолога
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--8.quiz__questions-item--8order2
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Хотели бы не допустить сильного повышения чувствительности зубов?
              .quiz__answers
                button.quiz__ans.quiz__ans--2-1 Да, хочу реминерализацию
                button.quiz__ans.quiz__ans--2-2 Нет, не хочу реминерализацию стоматолога стоматолога
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--8.quiz__questions-item--8order3
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Есть ли у Вас зубы, требующие лечения?
              .quiz__answers
                button.quiz__ans.quiz__ans--3-1 Да, нужно подлечить
                button.quiz__ans.quiz__ans--3-2 Нет, всё в порядке
                button.quiz__ans.quiz__ans--3-3 Затрудняюсь ответить
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--9.quiz__questions-item--9order1
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какой возраст Вашего ребёнка?
              .quiz__answers
                button.quiz__ans.quiz__ans--1-1 До 3-х лет
                button.quiz__ans.quiz__ans--1-2 От 4-х до 7 лет
                button.quiz__ans.quiz__ans--1-3 От 8-ми до 12-ти лет
                button.quiz__ans.quiz__ans--1-4 От 13-ти до 18-ти лет
        .quiz__questions-item.quiz__questions-item--question.quiz__questions-item--9.quiz__questions-item--9order2
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какая ситуация с зубом/зубами у Вашего ребёнка?
              .quiz__answers
                button.quiz__ans.quiz__ans--2-1 Острая боль
                button.quiz__ans.quiz__ans--2-2 Иногда побаливает. Ребёнок жалуется на неприятные ощущения
                button.quiz__ans.quiz__ans--2-3 Педиатр посоветовал проконсультироваться со стоматологом
                button.quiz__ans.quiz__ans--2-4 Не болит, но визуально видно потемнение на зубе
                button.quiz__ans.quiz__ans--2-5 Хочу проверить состояние зубов
                button.quiz__ans.quiz__ans--2-6 Нужно удалить зуб
                button.quiz__ans.quiz__ans--2-7 Вопрос по поводу неприятного запаха во рту у ребёнка
                button.quiz__ans.quiz__ans--2-8 Необходимо лечение зубов перед брекетами
                button.quiz__ans.quiz__ans--2-9 Пластика уздечки/губы
                button.quiz__ans.quiz__ans--2-10 Сделать ровные зубы (брекеты, капы, пластинки и т.д)
                button.quiz__ans.quiz__ans--2-11 Другое
        .quiz__questions-item.quiz__questions-item--final1.quiz__questions-item--active
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Какие доп. опции вам нужны?
              p Можно выбрать несколько
              .quiz__answers
                label.quiz__label.quiz__label--f1-1
                  input(type="checkbox" value="Рассрочка")
                  span Рассрочка
                label.quiz__label.quiz__label--f1-2
                  input(type="checkbox" value="Гигиеническая чистка")
                  span Гигиеническая чистка
                label.quiz__label.quiz__label--f1-3
                  input(type="checkbox" value="Коррекция формы и цвета зубов винирами")
                  span Коррекция формы и цвета зубов винирами
                label.quiz__label.quiz__label--f1-4
                  input(type="checkbox" value="Брекеты/Элайнеры")
                  span Брекеты/Элайнеры
                label.quiz__label.quiz__label--f1-5
                  input(type="checkbox" value="Удаление")
                  span Удаление
                label.quiz__label.quiz__label--f1-6
                  input(type="checkbox" value="Лечение кариеса")
                  span Лечение кариеса
                label.quiz__label.quiz__label--f1-7
                  input(type="checkbox" value="Лечение дёсен, устранения запаха изо рта")
                  span Лечение дёсен, устранения запаха изо рта
                label.quiz__label.quiz__label--f1-8
                  input(type="checkbox" value="Имплантация/протезирование")
                  span Имплантация / протезирование
                label.quiz__label.quiz__label--f1-9
                  input(type="checkbox" value="Отбеливание")
                  span Отбеливание
                label.quiz__label.quiz__label--f1-10
                  input(type="checkbox" value="Не знаю, нужна консультация стоматолога")
                  span Не знаю, нужна консультация стоматолога
        .quiz__questions-item.quiz__questions-item--final2.quiz__questions-item--active
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__questions-title Когда планируете начать лечение?
              .quiz__answers
                button.quiz__ans.quiz__ansf2-1 Как можно быстрее
                button.quiz__ans.quiz__ansf2-2 В ближайшие 2 недели
                button.quiz__ans.quiz__ansf2-3 В ближайшие месяцы
                button.quiz__ans.quiz__ansf2-4 Через 6 месяцев и позже
        .quiz__questions-item.quiz__questions-item--final3.quiz__questions-item--active
          .quiz__questions-view
            .quiz__questions-content
              span.quiz__fin-span Почти готово! Расчет уже готовят наши врачи.
              p.quiz__fin-p Впишите свои контакты чтобы с Вами могли связаться и предоставить расчёт стоимости
              textarea.visually-hidden.quiz__textarea
              input.quiz__fin-input(type="text" placeholder="Имя")
              input.quiz__fin-input(type="tel" placeholder="Телефон")
              label.quiz__fin-label
                input(type="checkbox")
                p Связаться через WhatsApp
              input.quiz__submit(type="submit" value="Получить результаты")
