section.reviews
  h2.container.reviews__title За годы работы мы получили более 800 отзывов
  .reviews__button-list
  .reviews__buttons
    button.reviews__button.reviews__button--prev
    button.reviews__button.reviews__button--next
  .reviews__list
    .reviews__wrapper
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              svg(width="200")
                use(xlink:href="img/sprite.svg#yandex")
            .reviews__star-grade
              .reviews__stars
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
              .reviews__grade
                span 4,8/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex1.webp")
                img(src="img/reviews-yandex1.png" width="215" height="80" alt="")
              p Лучшая стоматология в нашем городе. Высококвалифицированный персонал, передовое оборудование, приятная атмосфера. Лечили забы себе и детям- сделали все прекрасно, довольна результатом. Ортодонт Яна Михайловна - самый профессиональный ортодонт в нашем городе. На ресепшене самые отзывчивые девушки, особенно Александра - всегда поможет, подскажет, вовремя кофе подаст, даже детей можно доверить, когда самс ухожу на приём к зубному. Всем очень советую
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex2.webp")
                img(src="img/reviews-yandex2.png" width="215" height="80" alt="")
              p Была у замечательного стоматолога Айдагуловой Лианы Фларитовны, мне очень все понравилось, не больно, аккуратно, всегда спрашивает все ли хорошо, не больно и т.д, однозначно рекомендую клинику и этого врача! И цены лечение очень хорошие, сервис на высшем уровне
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex3.webp")
                img(src="img/reviews-yandex3.png" width="215" height="80" alt="")
              p Выражаю благодарность клинике Риадент, особенно Александре Евгеньевне Силантьевой, чудесный доктор, высококвалифицированный специалист, даже самые сложные зубы -восстанавливает на ура и главное безболезненно. Атмосфера в клинике очень приятная, вежливые администраторы. Всей семьей ходим клинику Риадент и очень довольны.
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              svg(width="200")
                use(xlink:href="img/sprite.svg#google")
            .reviews__star-grade
              .reviews__stars
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
              .reviews__grade
                span 4,4/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-google1.webp")
                img(src="img/reviews-google1.png" width="215" height="80" alt="")
              p Приятно удивлен. Очень ухоженная и привлекательная клиника. За день до приема, звонили и уточняли смогу ли я прийти. Весь персонал очень приветлив и дружелюбен. Мой лечащий врач Лиана Фларитовна вызвала у меня восторг. Очень подробно и понятно обяснила план работы. Сделала все очень аккуратно. И как итог работа оказалась очень качественная. Теперь на прием только к ней.
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-google2.webp")
                img(src="img/reviews-google2.png" width="215" height="80" alt="")
              p Современная стоматологическая клиника! Лечили зуб у дочки в детском стоматологическом отделении у врача- стоматолога Халиловой Гузель Фанилевне. Высококвалифицированный детский врач. Легко нашла подход к ребенку и вылечила зуб за первый прием. В клинике все продумано до мелочей для комфортного пребывания детей. Игровая зона просто Супер. Дети забывают зачем пришли в клинику. Теперь будем лечить зубки только у нее.
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-google3.webp")
                img(src="img/reviews-google3.png" width="215" height="80" alt="")
              p Благодарю стоматолога-терапевта Айдагулову Лиану Фларитовну и сопровождающего ассистента за проделанную работу, реставрация выполненна аккуратно и красиво, во время работы было очень комфортно! Рекомендую данную клинику современный и профессиональный подход,внимание к каждому пациенту!
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              picture
                source(type="image/webp" srcset="img/prodoctorov.webp")
                img(src="img/prodoctorov.png" width="200"  alt="")
            .reviews__star-grade
              .reviews__stars
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
              .reviews__grade
                span 4,9/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-prodoctorov1.webp")
                img(src="img/reviews-prodoctorov1.png" width="215" height="80" alt="")
              p Проходили лечение с ребёнком под наркозом в клинике "Риадент" на улице Кавказской 6/8. Выбирали клинику тщательно, так как дело касалось ребёнка. Очень приятная атмосфера и современное оборудование. Всё прошло успешно, ребёнку было комфортно и не страшно, внимательный персонал. Огромное спасибо профессионалам своего дела, доктору Абдрахмановой Динаре Разатовне и анестезиологу Шарипову Динару Азатовичу. Дальнейшее лечение всей семьи планируем только в клинике "Риадент". Цены тоже приятно удивили.
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-prodoctorov2.webp")
                img(src="img/reviews-prodoctorov2.png" width="215" height="80" alt="")
              p Замечательная клиника. Уже два года с супругом проходим лечение и протезируемся только здесь. Очень внимательный персонал, девочки на ресепшн всегда приветливы. Хочется отметить высокий профессионализм и поблагодарить докторов клиники Айнара Раисовича, Урала Маратовича, Турала Рафаэловича и Лиану Фларитовну. Теперь после открытия детского отделения ещё и наши внуки стали здесь проходить осмотр. "РиаДент" стал для нас по истине семейной клиникой. Здоровья вам и процветания!
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-prodoctorov3.webp")
                img(src="img/reviews-prodoctorov3.png" width="215" height="80" alt="")
              p Внимательный персонал, современное оборудование. Огромное спасибо Силантьевой Александре Евгеньевне - богиня! Она все доходчиво объяснила, показывала, никуда не торопилась. Лечение прошло без единой боли. Так же спасибо большое за отличный сервис в клинике. Всем рекомендую только "Риадент".
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              picture
                source(type="image/webp" srcset="img/2gis.webp")
                img(src="img/2gis.png" width="200"  alt="")
            .reviews__star-grade
              .reviews__stars
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
                svg(width="17" height="16")
                  use(xlink:href="img/sprite.svg#star")
              .reviews__grade
                span 4,5/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-2gis1.webp")
                img(src="img/reviews-2gis1.png" width="215" height="80" alt="")
              p Благодарю хирурга этой клиники Самандара Каримовича, удалил зуб быстро и безболезненно! Положил лекарство в лунку, дал рекомендации по заживлению. После того как отошла анестезия, я выпила только одну таблетку обезболивания и все, больше никакой боли и неприятных ощущений!
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-2gis2.webp")
                img(src="img/reviews-2gis2.png" width="215" height="80" alt="")
              p Хочу выразить огромную благодарность стоматологу-хирургу Самандару Каримовичу. Была у него дважды на удалении зубов. Обе процедуры были абсолютно безболезненными боль не чувствовалась ни во время процедуры, ни после!!! Однозначно всем рекомендую именно данного хирурга! Профессионал своего дела! Я осталась в приятном шоке после визита, т.к. перед первой процедурой очень сильно боялась... Так же понравилось в самой клинике, уютная обстановка, красивый вид из окон, удобное расположение, отличный сервис))
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-2gis3.webp")
                img(src="img/reviews-2gis3.png" width="215" height="80" alt="")
              p Спасибо клинике «Риадент» за прекрасную работу! Приходили с ребёнком 3 лет, 18 зубов были поражены. Лечение происходило под седацией (длительность наркоза 5 часов + сложное лечение). Через день ребенок забыл о боли в зубах. По цене было дешевле, чем в других клиниках. Понравилось все и персонал, и специалисты. Врачи-стоматологи, Анастезиолог, администратор постоянно были на связи. Чувствовалась забота и поддержка. Рекомендую!
