section.reviews
  span Отзывы
  div(style="width:560px;height:800px;overflow:hidden;position:relative;")
    iframe(style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/236086439627?comments")
      a(href="https://yandex.ru/maps/org/tsentr_implantatsii_i_protezirovaniya_riadent_v_ufe/236086439627/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0") Центр имплантации и протезирования Риадент в Уфе на карте Уфы — Яндекс.Карты
