section.reviews
  h2.container.reviews__title За годы работы мы получили более 800 отзывов
  .reviews__button-list
  .reviews__buttons
    button.reviews__button.reviews__button--prev
    button.reviews__button.reviews__button--next
  .reviews__list
    .reviews__wrapper
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              svg(width="200")
                use(xlink:href="img/sprite.svg#yandex")
            .reviews__stars
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
            .reviews__grade
              span 4,9/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex1.webp")
                img(src="img/reviews-yandex1.png" width="215" height="80" alt="")
              p Лучшая стоматология в нашем городе. Высококвалифицированный персонал, передовое оборудование, приятная атмосфера. Лечили забы себе и детям- сделали все прекрасно, довольна результатом. Ортодонт Яна Михайловна - самый профессиональный ортодонт в нашем городе. На ресепшене самые отзывчивые девушки, особенно Александра - всегда поможет, подскажет, вовремя кофе подаст, даже детей можно доверить, когда самс ухожу на приём к зубному. Всем очень советую
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex2.webp")
                img(src="img/reviews-yandex2.png" width="215" height="80" alt="")
              p Была у замечательного стоматолога Айдагуловой Лианы Фларитовны, мне очень все понравилось, не больно, аккуратно, всегда спрашивает все ли хорошо, не больно и т.д, однозначно рекомендую клинику и этого врача! И цены лечение очень хорошие, сервис на высшем уровне
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex3.webp")
                img(src="img/reviews-yandex3.png" width="215" height="80" alt="")
              p Выражаю благодарность клинике Риадент, особенно Александре Евгеньевне Силантьевой, чудесный доктор, высококвалифицированный специалист, даже самые сложные зубы -восстанавливает на ура и главное безболезненно. Атмосфера в клинике очень приятная, вежливые администраторы. Всей семьей ходим клинику Риадент и очень довольны.
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              svg(width="200")
                use(xlink:href="img/sprite.svg#google")
            .reviews__stars
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
            .reviews__grade
              span 4,9/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex1.webp")
                img(src="img/reviews-yandex1.png" width="215" height="80" alt="")
              p Лучшая стоматология в нашем городе. Высококвалифицированный персонал, передовое оборудование, приятная атмосфера. Лечили забы себе и детям- сделали все прекрасно, довольна результатом. Ортодонт Яна Михайловна - самый профессиональный ортодонт в нашем городе. На ресепшене самые отзывчивые девушки, особенно Александра - всегда поможет, подскажет, вовремя кофе подаст, даже детей можно доверить, когда самс ухожу на приём к зубному. Всем очень советую
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex2.webp")
                img(src="img/reviews-yandex2.png" width="215" height="80" alt="")
              p Была у замечательного стоматолога Айдагуловой Лианы Фларитовны, мне очень все понравилось, не больно, аккуратно, всегда спрашивает все ли хорошо, не больно и т.д, однозначно рекомендую клинику и этого врача! И цены лечение очень хорошие, сервис на высшем уровне
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex3.webp")
                img(src="img/reviews-yandex3.png" width="215" height="80" alt="")
              p Выражаю благодарность клинике Риадент, особенно Александре Евгеньевне Силантьевой, чудесный доктор, высококвалифицированный специалист, даже самые сложные зубы -восстанавливает на ура и главное безболезненно. Атмосфера в клинике очень приятная, вежливые администраторы. Всей семьей ходим клинику Риадент и очень довольны.
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              picture
                source(type="image/webp" srcset="img/prodoctorov.webp")
                img(src="img/prodoctorov.png" width="200"  alt="")
            .reviews__stars
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
            .reviews__grade
              span 4,9/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex1.webp")
                img(src="img/reviews-yandex1.png" width="215" height="80" alt="")
              p Лучшая стоматология в нашем городе. Высококвалифицированный персонал, передовое оборудование, приятная атмосфера. Лечили забы себе и детям- сделали все прекрасно, довольна результатом. Ортодонт Яна Михайловна - самый профессиональный ортодонт в нашем городе. На ресепшене самые отзывчивые девушки, особенно Александра - всегда поможет, подскажет, вовремя кофе подаст, даже детей можно доверить, когда самс ухожу на приём к зубному. Всем очень советую
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex2.webp")
                img(src="img/reviews-yandex2.png" width="215" height="80" alt="")
              p Была у замечательного стоматолога Айдагуловой Лианы Фларитовны, мне очень все понравилось, не больно, аккуратно, всегда спрашивает все ли хорошо, не больно и т.д, однозначно рекомендую клинику и этого врача! И цены лечение очень хорошие, сервис на высшем уровне
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex3.webp")
                img(src="img/reviews-yandex3.png" width="215" height="80" alt="")
              p Выражаю благодарность клинике Риадент, особенно Александре Евгеньевне Силантьевой, чудесный доктор, высококвалифицированный специалист, даже самые сложные зубы -восстанавливает на ура и главное безболезненно. Атмосфера в клинике очень приятная, вежливые администраторы. Всей семьей ходим клинику Риадент и очень довольны.
      .reviews__item
        .reviews__item-wrapper
          .reviews__top
            .reviews__logo
              picture
                source(type="image/webp" srcset="img/2gis.webp")
                img(src="img/2gis.png" width="200"  alt="")
            .reviews__stars
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
              svg(width="17" height="16")
                use(xlink:href="img/sprite.svg#star")
            .reviews__grade
              span 4,9/5
          .reviews__reviews
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex1.webp")
                img(src="img/reviews-yandex1.png" width="215" height="80" alt="")
              p Лучшая стоматология в нашем городе. Высококвалифицированный персонал, передовое оборудование, приятная атмосфера. Лечили забы себе и детям- сделали все прекрасно, довольна результатом. Ортодонт Яна Михайловна - самый профессиональный ортодонт в нашем городе. На ресепшене самые отзывчивые девушки, особенно Александра - всегда поможет, подскажет, вовремя кофе подаст, даже детей можно доверить, когда самс ухожу на приём к зубному. Всем очень советую
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex2.webp")
                img(src="img/reviews-yandex2.png" width="215" height="80" alt="")
              p Была у замечательного стоматолога Айдагуловой Лианы Фларитовны, мне очень все понравилось, не больно, аккуратно, всегда спрашивает все ли хорошо, не больно и т.д, однозначно рекомендую клинику и этого врача! И цены лечение очень хорошие, сервис на высшем уровне
            .reviews__rev
              picture
                source(type="image/webp" srcset="img/reviews-yandex3.webp")
                img(src="img/reviews-yandex3.png" width="215" height="80" alt="")
              p Выражаю благодарность клинике Риадент, особенно Александре Евгеньевне Силантьевой, чудесный доктор, высококвалифицированный специалист, даже самые сложные зубы -восстанавливает на ура и главное безболезненно. Атмосфера в клинике очень приятная, вежливые администраторы. Всей семьей ходим клинику Риадент и очень довольны.
