section.some-staff
  .container.some-staff__container
    h1 Стоматолог-терапевт Рузиева Аделина Рахмонкуловна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/unknown-staff.webp")
          img(src="img/unknown-staff.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Волгоградский государственный медицинский университет
        p <strong>Стаж работы:</strong> 6 лет
        p <strong>Специализация:</strong> кариес, осложнения кариеса, художественная реставрация, подготовка к ортопедическому лечению, лечение под микроскопом
