section.sam-form
  .container.sam-form__container
    .sam-form__left
      h2.sam-form__title Все зубы за 1 день по технологии All-on-4/6
      span.sam-form__span Цифровая стоматология – инновационное направление в медицине, широко использующее компьютерное обеспечение.
      .sam-form__form-block
        h3 Записаться на бесплатную консультацию
        form.sam-form__form
          input.sam-form__name-input(type="text" placeholder="Имя")
          input.sam-form__phone-input(tye="text" placeholder="Телефон")
          button.sam-form__submit(type="submit") Записаться на прием
