section.search
  .container.search__container
    .search__search-info
      h1 Результаты поиска
      p Вы искали <strong>wordpress</strong>, результатов найдено: "<strong>28</strong>"
    .search__result-list
      .search__result-item
        h2 Лланферпвллг лангиллг огерих вирн дроп виллиант тисилио гогогох
        a.search__result-link(href="#") Читать далее
