section.secrets
  .container.secrets__container
    .secrets__content
      h2.secrets__title Секреты работы наших детских врачей
      .secrets__list
        .secrets__item
          h3.secrets__span Знакомство
          .secrets__text
            strong Давай дружить<br><br>
            span Наши детские стоматологи познакомятся с Вашим ребёнком, проводят в уютный кабинет, включают мультфильм и аккуратно исследуют ротовую полость.
        svg(width="178" height="178")
          use(xlink:href="img/sprite.svg#secrets-between")
        .secrets__item
          h3.secrets__span Лечение
          .secrets__text
            strong Вылечим зубы без боли<br><br>
            span Если перед лечением потребуется анестезия, врач специальным гелем обработает Десну возле больного зуба...
        svg(width="178" height="178")
          use(xlink:href="img/sprite.svg#secrets-between")
        .secrets__item
          h3.secrets__span Подарок
          .secrets__text
            strong Приходи еще, малыш...<br><br>
            span После лечения врач в игровой форме даст рекомендации по уходу за полостью рта, научить чистить зубки, а самых смелых ждёт приятный подарок.
    .secrets__img
      picture
        source(type="image/webp" srcset="img/secrets-doctor.webp")
        img(src="img/secrets-doctor.png" width="416" alt="")
