section.services
  .container.container__services
    h2.services__title Услуги стоматологии
    .services__tabs
      button.services__tab.services__tab--active Взрослая стоматология
      button.services__tab Детская стоматология
    .services__tabs-list
      .services__list
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services1")
          span Лечение зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services2")
          span Имплантация зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services3")
          span Компьютерная томография
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services4")
          span Хирургическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services5")
          span Гигиена полости рта
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services6")
          span Реставрация зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services7")
          span Ортопедическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services8")
          span Эстетическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services9")
          span Отбеливание зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services10")
          span Протезирование зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services11")
          span Новые зубы за 1 день (All-ON-4)
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services12")
          span Ортодонтия
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services13")
          span Терапевтическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services14")
          span Исправление прикуса
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services15")
          span Анестезия и наркоз
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services16")
          span Лечение зубов по ДМС
      .services__list
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services1")
          span Лечение зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services2")
          span Имплантация зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services3")
          span Компьютерная томография
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services4")
          span Хирургическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services5")
          span Гигиена полости рта
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services6")
          span Реставрация зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services7")
          span Ортопедическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services8")
          span Эстетическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services9")
          span Отбеливание зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services10")
          span Протезирование зубов
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services11")
          span Новые зубы за 1 день (All-ON-4)
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services12")
          span Ортодонтия
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services13")
          span Терапевтическая стоматология
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services14")
          span Исправление прикуса
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services15")
          span Анестезия и наркоз
        a.services__item
          svg(width="90")
            use(xlink:href="img/sprite.svg#services16")
          span Лечение зубов по ДМС
