section.serv-footer
  .container.serv-footer__container
    .serv-footer__columns
      .serv-footer__column
        h3 Лечение зубов
        ul
          li
            a(href="#") Профессиональная гигиена
          li
            a(href="#") Лечение зубов По ДМС
          li
            a(href="#") Лечение периодонтита
          li
            a(href="#") Лечение пульпита
          li
            a(href="#") Лечение гранулемы
          li
            a(href="#") Малоинвазивное лечение
          li
            a(href="#") Лечение кисты
          li
            a(href="#") Костная пластика
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Протезирование передних зубов
          li
            a(href="#") Несъемное протезирование
          li
            a(href="#") Плазмолифтинг
          li
            a(href="#") Люминиры
          li
            a(href="#") Виниры
      .serv-footer__column
        h3 Имплантация зубов
        ul
          li
            a(href="#") Профессиональная гигиена
          li
            a(href="#") Лечение зубов По ДМС
          li
            a(href="#") Лечение периодонтита
          li
            a(href="#") Лечение пульпита
          li
            a(href="#") Лечение гранулемы
          li
            a(href="#") Малоинвазивное лечение
          li
            a(href="#") Лечение кисты
          li
            a(href="#") Костная пластика
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Протезирование передних зубов
          li
            a(href="#") Несъемное протезирование
          li
            a(href="#") Плазмолифтинг
          li
            a(href="#") Люминиры
          li
            a(href="#") Виниры
      .serv-footer__column
        h3 Для взрослых
        ul
          li
            a(href="#") Профессиональная гигиена
          li
            a(href="#") Лечение зубов По ДМС
          li
            a(href="#") Лечение периодонтита
          li
            a(href="#") Лечение пульпита
          li
            a(href="#") Лечение гранулемы
          li
            a(href="#") Малоинвазивное лечение
          li
            a(href="#") Лечение кисты
          li
            a(href="#") Костная пластика
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Протезирование передних зубов
          li
            a(href="#") Несъемное протезирование
          li
            a(href="#") Плазмолифтинг
          li
            a(href="#") Люминиры
          li
            a(href="#") Виниры
      .serv-footer__column
        h3 Детская стоматология
        ul
          li
            a(href="#") Профессиональная гигиена
          li
            a(href="#") Лечение зубов По ДМС
          li
            a(href="#") Лечение периодонтита
          li
            a(href="#") Лечение пульпита
          li
            a(href="#") Лечение гранулемы
          li
            a(href="#") Малоинвазивное лечение
          li
            a(href="#") Лечение кисты
          li
            a(href="#") Костная пластика
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Лазерная стоматология
          li
            a(href="#") Протезирование передних зубов
          li
            a(href="#") Несъемное протезирование
          li
            a(href="#") Плазмолифтинг
          li
            a(href="#") Люминиры
          li
            a(href="#") Виниры
