section.services
  .container.services__container
    h2.services__title Услуги стоматологии
    .services__tabs
      button.services__tab.services__tab--active <span>Взрослая</span> <span class="services__mobile-hidden">стоматология</span>
      button.services__tab <span>Детская</span> <span class="services__mobile-hidden">стоматология</span>
    .services__tabs-list
      .services__list
        a.services__item(href="/uslugi/dlya-vzroslykh/lechenie-zubov/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services1")
          .services__text
            span Лечение зубов
        a.services__item(href="/uslugi/dlya-vzroslykh/kompyuternaya-tomografiya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services3")
          .services__text
            span Компьютерная томография
        a.services__item(href="/uslugi/dlya-vzroslykh/khirurgiya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services4")
          .services__text
            span Хирургическая стоматология
        a.services__item(href="/uslugi/professionalnaya-gigiena/professionalnaya-gigiena-polosti-rta/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services5")
          .services__text
            span Гигиена полости рта
        a.services__item(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/restavratsiya-zubov/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services6")
          .services__text
            span Реставрация зубов
        a.services__item(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services7")
          .services__text
            span Ортопедическая стоматология
        a.services__item(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services8")
          .services__text
            span Эстетическая стоматология
        a.services__item(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/otbelivanie-zubov/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services9")
          .services__text
            span Отбеливание зубов
        a.services__item(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services10")
          .services__text
            span Протезирование зубов
        a.services__item(href="/uslugi/dlya-vzroslykh/ortodontiya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services12")
          .services__text
            span Ортодонтия
        a.services__item(href="/uslugi/dlya-vzroslykh/terapiya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services13")
          .services__text
            span Терапевтическая стоматология
        a.services__item(href="/uslugi/dlya-vzroslykh/ortodontiya/ispravlenie-prikusa/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services14")
          .services__text
            span Исправление прикуса
        a.services__item(href="/uslugi/dlya-vzroslykh/anesteziya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services15")
          .services__text
            span Седация и лечение во сне
        a.services__item(href="/uslugi/dlya-vzroslykh/implantaciya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services2")
          .services__text
            span Имплантация зубов
        a.services__item(href="/uslugi/dlya-vzroslykh/implantaciya/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services11")
          .services__text
            span Виниры
        a.services__item(href="/uslugi/po-dms/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services16")
          .services__text
            span Лечение зубов по ДМС
        a.services__item(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/")
          .services__img-block
            svg(width="90")
              use(xlink:href="img/sprite.svg#services11")
          .services__text
            span Новые зубы за 1 день (All-ON-4)
      .services__list
        a.services__item(href="/uslugi/detskaya-stomatologiya/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img1.webp")
              img(src="img/child-slider-img1.png" alt="")
          .services__text
            span Детская стоматология
        a.services__item(href="/uslugi/detskaya-stomatologiya/germetizatsiya-fissur/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img2.webp")
              img(src="img/child-slider-img2.png" alt="")
          .services__text
            span Герметизация фиссур
        a.services__item(href="/uslugi/detskaya-stomatologiya/detskaya-ortodontiya/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img3.webp")
              img(src="img/child-slider-img3.png" alt="")
          .services__text
            span Детская ортодонтия
        a.services__item(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img4.webp")
              img(src="img/child-slider-img4.png" alt="")
          .services__text
            span Исправление прикуса
        a.services__item(href="/uslugi/detskaya-stomatologiya/lechenie-pod-sedatsii/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img5.webp")
              img(src="img/child-slider-img5.png" alt="")
          .services__text
            span Лечение под седацией
        a.services__item(href="/uslugi/detskaya-stomatologiya/lechenie-sistemoy-icon/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img6.webp")
              img(src="img/child-slider-img6.png" alt="")
          .services__text
            span Лечение системой Icon
        a.services__item(href="/uslugi/detskaya-stomatologiya/plastika-uzdechki-yazyka-lazerom/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img7.webp")
              img(src="img/child-slider-img7.png" alt="")
          .services__text
            span Пластика уздечки языка
        a.services__item(href="/uslugi/detskaya-stomatologiya/udalenie-zubov/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img8.webp")
              img(src="img/child-slider-img8.png" alt="")
          .services__text
            span Удаление зубов
        a.services__item(href="/uslugi/detskaya-stomatologiya/ftorirovanie-molochnykh-zubov/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img9.webp")
              img(src="img/child-slider-img9.png" alt="")
          .services__text
            span Фторирование зубов
        a.services__item(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-vo-sne/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img10.webp")
              img(src="img/child-slider-img10.png" alt="")
          .services__text
            span Лечение зубов во сне
        a.services__item(href="/uslugi/detskaya-stomatologiya/plastika-desen-u-detej/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img11.webp")
              img(src="img/child-slider-img11.png" alt="")
          .services__text
            span Пластика десен у детей
        a.services__item(href="/uslugi/detskaya-stomatologiya/lechenie-pulpita-u-detej/")
          .services__img-block
            picture
              source(type="image/webp" srcset="img/child-slider-img12.webp")
              img(src="img/child-slider-img12.png" alt="")
          .services__text
            span Лечение пульпита
