section.some-staff
  .container.some-staff__container
    h1 Врач-анестезиолог реаниматолог Шарипов Динар Азатович
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/sharipov-dinar.webp")
          img(src="img/sharipov-dinar.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Башкирский государственный медицинский университет
        p <strong>Стаж работы:</strong> 6 лет
        p <strong>Специализация:</strong> анестезиология, реанимация
