section.some-staff
  .container.some-staff__container
    h1 Заведующая терапевтическим отделением Силантьева Александра Евгеньевна
    .some-staff__main
      .some-staff__img
        picture
          source(type="image/webp" srcset="img/silanteva-sasha.webp")
          img(src="img/silanteva-sasha.jpg" alt="")
      .some-staff__text
        p <strong>Образование:</strong> Самарский медицинский университет «Реавиз», 2016
        p <strong>Стаж работы:</strong> 7 лет
        p <strong>Специализация:</strong> лечение кариеса, реставрация зубов, лечение каналов зубов любой сложности, проведение ретроградного пломбирования корневых каналов, профилактическая гигиена полости рта, виниры, люминиры, накладки типа inlay, onlay, overlay, протезирование цельнокерамическими коронками и коронками из диоксида циркония, Протезирование на имплантатах
        strong Дополнительная квалификация
        ul
          li Синус-лифтинг Илья Фридман г. Самара 2013 г.;
          li Хирургическая конференция РСО Приямпольская М.Б., Антосик М.В, Самара 2014 г.;
          li Национальный симпозиум Остеология Кристоф Хэмерле, Москва 2014 г.;
          li Клинические аспекты протезирования Безметалловой керамикой (коронки/вкладки/накладки/виниры) Рыбалка Евгений, Самара 2014 г.;
          li Квинтэссенция Ордовский Танаевский, Москва 2015 г.;
          li Менеджемент мягких и твердых тканей Массимо Симион, Москва 2015 г.;
          li Мастер-класс И.Урбана Sausage technique, Москва 2015 г.;
          li Керамические реставрации от планирования до фиксации Артем Олексик 2016 г.;
          li Виниры от планирования до фиксации, спикер Першин Александр, Москва 2016 г.;
    hr
    .some-staff__certificate-wrapper
      button.some-staff__button.some-staff__button--prev
      .some-staff__certificate-inner
        .some-staff__certificate-list
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate1.webp")
              img(src="img/silanteva-certificate1.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate2.webp")
              img(src="img/silanteva-certificate2.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate3.webp")
              img(src="img/silanteva-certificate3.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate4.webp")
              img(src="img/silanteva-certificate4.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate5.webp")
              img(src="img/silanteva-certificate5.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate6.webp")
              img(src="img/silanteva-certificate6.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate7.webp")
              img(src="img/silanteva-certificate7.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate8.webp")
              img(src="img/silanteva-certificate8.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate9.webp")
              img(src="img/silanteva-certificate9.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate10.webp")
              img(src="img/silanteva-certificate10.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate11.webp")
              img(src="img/silanteva-certificate11.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate12.webp")
              img(src="img/silanteva-certificate12.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate13.webp")
              img(src="img/silanteva-certificate13.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate14.webp")
              img(src="img/silanteva-certificate14.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate15.webp")
              img(src="img/silanteva-certificate15.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate16.webp")
              img(src="img/silanteva-certificate16.jpg" alt="")
          .some-staff__certificate-item
            picture
              source(type="image/webp" srcset="img/silanteva-certificate17.webp")
              img(src="img/silanteva-certificate17.jpg" alt="")
      button.some-staff__button.some-staff__button--next
    .some-staff__running
      h2.some-staff__running-title.some-staff__running-title--1
        span Сертификаты
      h2.some-staff__running-title.some-staff__running-title--2
        span Сертификаты
