section.socials
  .container.socials__container
    span Мы в социальных сетях
    .socials__list
      .socials__item
        a
          //- img(src="img/vk-icon.svg" width="60")
          svg(width="60")
            use(xlink:href="img/sprite.svg#vk-icon")
      .socials__item
        a
          //- img(src="img/youtube-icon.svg" width="60")
          svg(width="60")
            use(xlink:href="img/sprite.svg#youtube-icon")
      .socials__item
        a
          //- img(src="img/instagram-icon.svg" width="60")
          svg(width="60")
            use(xlink:href="img/sprite.svg#instagram-icon")
