section.socials
  .container.socials__container
    span Мы в социальных сетях
    .socials__list
      .socials__item
        a(href="https://vk.com/riadent_ufa") Вконтакте
      .socials__item
        a(href="https://www.instagram.com/riadent_ufa/") Инстаграм
      .socials__item
        a(href="https://wa.me/79649582816") Whatsapp
      .socials__item
        a(href="https://www.youtube.com/channel/UCC_A_tpczf9aT3HHFYgLtYA") Youtube
