section.some-slider
  button.some-slider__button.some-slider__button--prev
  button.some-slider__button.some-slider__button--next
  .some-slider__button-list
  .some-slider__list
    .some-slider__item
      .container.some-slider__container
        picture
          source(type="image/webp" srcset="img/some-slider1.webp")
          img.middle-banner__img(src="img/some-slider1.png" alt="")
        .some-slider__text
          h3 Все зубы за 1 день Аll-on-4 в стоматологии «Риадент»
          span от 261 000₽ вместо 340 000₽
    //- .some-slider__item
    //-   .container.some-slider__container
    //-     picture
    //-       source(type="image/webp" srcset="img/some-slider2.webp")
    //-       img.middle-banner__img(src="img/some-slider2.png" alt="")
    //-     .some-slider__text
    //-       h3 Все зубы за 1 день Аll-on-4 в стоматологии «Риадент»
    //-       span Брекеты за 170 000₽ вместо 207 000₽
    .some-slider__item
      .container.some-slider__container
        picture
          source(type="image/webp" srcset="img/some-slider3.webp")
          img.middle-banner__img(src="img/some-slider3.png" alt="")
        .some-slider__text
          h3 Установка  брекетов в стоматологии «Риадент»
          span Брекеты от 170 000₽ вместо 207 000₽
    //- .some-slider__item
    //-   .container.some-slider__container
    //-     picture
    //-       source(type="image/webp" srcset="img/some-slider4.webp")
    //-       img.middle-banner__img(src="img/some-slider4.png" alt="")
    //-     .some-slider__text
    //-       h3 Все зубы за 1 день Аll-on-4 в стоматологии «Риадент»
    //-       span Брекеты за 170 000₽ вместо 207 000₽
    //- .some-slider__item
    //-   .container.some-slider__container
    //-     picture
    //-       source(type="image/webp" srcset="img/some-slider5.webp")
    //-       img.middle-banner__img(src="img/some-slider5.png" alt="")
    //-     .some-slider__text
    //-       h3 Все зубы за 1 день Аll-on-4 в стоматологии «Риадент»
    //-       span Брекеты за 170 000₽ вместо 207 000₽
