section.staff
  .container.staff__container
    .staff__wrapper
      .staff__main-block
        .staff__photo
          a(href="/o-stomatologii/komanda/iskuzhin-aynur/")
          picture
            source.staff__main-webp(type="image/webp" srcset="img/iskuzhin-aynur.webp")
            img.staff__main-img(src="img/iskuzhin-aynur.jpg" alt="")
        .staff__text
          h3 Искужин Айнур Раисович
          span Директор клиники
          p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
          a.staff__perehod(href="/iskuzhin-aynur/") Подробнее
      .staff__bottom
        .staff__list
          .staff__list-inner
            .staff__item
              .staff__item-inner
                picture                
                  source.staff__item-webp(type="image/webp" srcset="img/iskuzhin-aynur.webp")
                  img.staff__item-img(src="img/iskuzhin-aynur.jpg" alt="")
                .staff__text-block
                  h3 Искужин Айнур Раисович
                  span Генеральный директор
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
                  a.staff__perehod(href="/o-stomatologii/komanda/iskuzhin-aynur-raisovich/") Подробнее
            .staff__item
              .staff__item-inner
                picture                
                  source.staff__item-webp(type="image/webp" srcset="img/iskuzhina-elina.webp")
                  img.staff__item-img(src="img/iskuzhina-elina.jpg" alt="")
                .staff__text-block
                  h3 Искужина Элина Зуфаровна
                  span Директор по развитию
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 9 лет
                  p <strong>Специализация:</strong> лечение кариеса, реставрация зубов, лечение корневых каналов любой сложности, профилактическая гигиена полости рта, отбеливание зубов
                  a.staff__perehod(href="/o-stomatologii/komanda/iskuzhina-elina-zufarovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture                
                  source.staff__item-webp(type="image/webp" srcset="img/gafarov-raf.webp")
                  img.staff__item-img(src="img/gafarov-raf.jpg" alt="")
                .staff__text-block
                  h3 Гафаров Рафаэль Рамилевич
                  span Главный врач, заведующий хирургическим отделением
                  p <strong>Образование:</strong> БГМУ, 2008
                  p <strong>Стаж работы:</strong> 14 лет
                  p <strong>Специализация:</strong> хирургическая стоматология, имплантация зубов, протезирование и сложные операции
                  a.staff__perehod(href="/o-stomatologii/komanda/gafarov-rafael-ramilevich/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/silanteva-sasha.webp")
                  img.staff__item-img(src="img/silanteva-sasha.jpg" alt="")
                .staff__text-block
                  h3 Силантьева Александра Евгеньевна
                  span Заведующая терапевтическим отделением
                  p <strong>Образование:</strong> Самарский медицинский университет «Реавиз», 2016
                  p <strong>Стаж работы:</strong> 7 лет
                  p <strong>Специализация:</strong> лечение кариеса, реставрация зубов, лечение каналов зубов любой сложности, проведение ретроградного пломбирования корневых каналов, профилактическая гигиена полости рта
                  a.staff__perehod(href="/o-stomatologii/komanda/silanteva-aleksandra-evgenevna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/hasanova-veronika.webp")
                  img.staff__item-img(src="img/hasanova-veronika.jpg" alt="")
                .staff__text-block
                  h3 Хасанова Вероника Игоревна
                  span Заведующая пародонтологическим отделением
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 10 лет
                  p <strong>Специализация:</strong> лечение кариеса, реставрации зубов, нехирургическое и хирургическое лечение заболеваний пародонта, плазмолифтинг, вектор-терапия, профилактическая гигиена, отбеливание зубов
                  a.staff__perehod(href="/o-stomatologii/komanda/hasanova-veronika-igorevna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Бутская Яна Михайловна
                  span Стоматолог–ортодонт
                  p <strong>Образование:</strong> ВолгГМУ
                  p <strong>Стаж работы:</strong> 10 лет
                  p <strong>Специализация:</strong> ортодонтия, терапия
                  a.staff__perehod(href="/o-stomatologii/komanda/butskaya-yana-mihajlovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Гельмутдинова Алия Рафисовна
                  span Стоматолог-ортодонт
                  p <strong>Образование:</strong> БГМУ, 2013
                  p <strong>Стаж работы:</strong> 9 лет
                  p <strong>Специализация:</strong>
                  a.staff__perehod(href="/o-stomatologii/komanda/gelmutdinova-aliya-rafisovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/amrahov-tural.webp")
                  img.staff__item-img(src="img/amrahov-tural.jpg" alt="")
                .staff__text-block
                  h3 Амрахов Турал Рафаэлович
                  span Стоматолог-ортопед
                  p <strong>Образование:</strong> БГМУ, 2014
                  p <strong>Стаж работы:</strong> 8 лет
                  p <strong>Специализация:</strong> несъёмное протезирование на своих зубах и на имплантатах, съемное протезирование частичное и полное, эстетическое протезирование безметалловой керамикой, протезирование по методике All-on-4 при полном отсутствии зубов
                  a.staff__perehod(href="/o-stomatologii/komanda/amirahov-tural-rafaelovich/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/ahmetgareeva-aliya.webp")
                  img.staff__item-img(src="img/ahmetgareeva-aliya.jpg" alt="")
                .staff__text-block
                  h3 Ахметгареева Алия Шамилевна
                  span Стоматолог-пародонтолог
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 8 лет
                  p <strong>Специализация:</strong> удаление зубов любой сложности, имплантация зубов, пластика слизистой вокруг имплантов, устранение рецессий десны, направленная костная регенерация; лечение заболеваний десен
                  a.staff__perehod(href="/o-stomatologii/komanda/ahmetgareeva-aliya-shamilevna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/muhamatshina-yulia.webp")
                  img.staff__item-img(src="img/muhamatshina-yulia.jpg" alt="")
                .staff__text-block
                  h3 Мухаматшина Юлия Ильшатовна
                  span Детский стоматолог
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 7 лет
                  p <strong>Специализация:</strong> лечение кариеса
                  a.staff__perehod(href="/o-stomatologii/komanda/muhametshina-juliya-ilshatovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/iluhin-vadim.webp")
                  img.staff__item-img(src="img/iluhin-vadim.jpg" alt="")
                .staff__text-block
                  h3 Илюхин Вадим Викторович
                  span Стоматолог–ортопед
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 6 лет
                  p <strong>Специализация:</strong> восстановления функции и эстетики зубочелюстной системы любыми методами
                  a.staff__perehod(href="/o-stomatologii/komanda/iljuhin-vadim-viktorovich/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/hasanova-zarima.webp")
                  img.staff__item-img(src="img/hasanova-zarima.jpg" alt="")
                .staff__text-block
                  h3 Хасанова Зарима Мударисовна
                  span Детский стоматолог
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 6 лет
                  p <strong>Специализация:</strong> седация и наркоз, лечение пульпитов, дентальная травматология, реставрация передних и жевательных групп зубов
                  a.staff__perehod(href="/o-stomatologii/komanda/hasanova-zarima-mudarisovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/fayrushina-anna.webp")
                  img.staff__item-img(src="img/fayrushina-anna.jpg" alt="")
                .staff__text-block
                  h3 Файрушина Анна Артуровна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 6 лет
                  p <strong>Специализация:</strong> лечение кариеса, пульпитов, периодонтитов, реставрация зубов, проведение профессиональной гигиены полости рта, лечение гингивита/пародонтита/гиперестезии зубов
                  a.staff__perehod(href="/o-stomatologii/komanda/fajrushina-anna-arturovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/sharipov-dinar.webp")
                  img.staff__item-img(src="img/sharipov-dinar.jpg" alt="")
                .staff__text-block
                  h3 Шарипов Динар Азатович
                  span Врач-анестезиолог
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 6 лет
                  p <strong>Специализация:</strong> анестезиология-реанимация
                  a.staff__perehod(href="/o-stomatologii/komanda/sharipov-dinar-azatovich/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/hazieva-ruzilya.webp")
                  img.staff__item-img(src="img/hazieva-ruzilya.jpg" alt="")
                .staff__text-block
                  h3 Хазиева Рузиля Ришатовна
                  span Стоматолог-хирург
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 5 лет
                  p <strong>Специализация:</strong> стоматологическая хирургия
                  a.staff__perehod(href="/o-stomatologii/komanda/hazieva-ruzilya-rishatovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/arslanova-guzel.webp")
                  img.staff__item-img(src="img/arslanova-guzel.jpg" alt="")
                .staff__text-block
                  h3 Арсланова Гузель Фанилевна
                  span Детский стоматолог
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 4 года
                  p <strong>Специализация:</strong> лечение кариеса молочных зубов и постоянных, реставрация зубов, пульпит, периодонтит
                  a.staff__perehod(href="/o-stomatologii/komanda/arslanova-guzel-fanilevna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/nazmieva-svetlana.webp")
                  img.staff__item-img(src="img/nazmieva-svetlana.jpg" alt="")
                .staff__text-block
                  h3 Назмиева Светлана Флоридовна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 4 года
                  p <strong>Специализация:</strong>
                  a.staff__perehod(href="/o-stomatologii/komanda/nazmieva-svetlana-floridovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/sibagatullin-vadim.webp")
                  img.staff__item-img(src="img/sibagatullin-vadim.jpg" alt="")
                .staff__text-block
                  h3 Сибагатуллин Вадим Радифович
                  span Стоматолог-ортопед
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 4 года
                  p <strong>Специализация:</strong>
                  a.staff__perehod(href="/o-stomatologii/komanda/sibagatullin-vadim-radifovich/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/mansapova-eliza.webp")
                  img.staff__item-img(src="img/mansapova-eliza.jpg" alt="")
                .staff__text-block
                  h3 Мансапова Элиза Фаузитовна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 3 года
                  p <strong>Специализация:</strong> лечение кариеса
                  a.staff__perehod(href="/o-stomatologii/komanda/mansapova-eliza-fauzitovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/bahadurzade-sam.webp")
                  img.staff__item-img(src="img/bahadurzade-sam.jpg" alt="")
                .staff__text-block
                  h3 Бахадурзаде Самандар Каримович
                  span Стоматолог-хирург
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 3 года
                  p <strong>Специализация:</strong> стоматологическая хирургия
                  a.staff__perehod(href="/o-stomatologii/komanda/bahadurzade-samandar-karimovich/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Айдагулова Лиана Фларитовна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 2 года
                  p <strong>Специализация:</strong> терапевтическая стоматология
                  a.staff__perehod(href="/o-stomatologii/komanda/ajdagulova-liana-flaritovna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/gabdrahmanova-guzeliya.webp")
                  img.staff__item-img(src="img/gabdrahmanova-guzeliya.jpg" alt="")
                .staff__text-block
                  h3 Габдрахманова Гузелия Шамилевна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 2 года
                  p <strong>Специализация:</strong> лечение пульпита, лечение периодонтита, лечение кариеса, эндоотбеливание зуба, реставрация зуба
                  a.staff__perehod(href="/o-stomatologii/komanda/gabdrahmanova-guzeliya-shamilevna/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Кашанов Тимур Ранифович
                  span Стоматолог-хирург
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 2 года
                  p <strong>Специализация:</strong>
                  a.staff__perehod(href="/o-stomatologii/komanda/kashanov-timur-ranifovich/") Подробнее
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/ovsyannikov-dmitriy.webp")
                  img.staff__item-img(src="img/ovsyannikov-dmitriy.jpg" alt="")
                .staff__text-block
                  h3 Овсянников Дмитрий Игоревич
                  span Стоматолог–гигиенист
                  p <strong>Образование:</strong> БГМУ
                  p <strong>Стаж работы:</strong> 1 год
                  p <strong>Специализация:</strong> проведение профессиональной гигиены
                  a.staff__perehod(href="/o-stomatologii/komanda/ovsyannikov-dmitrij-igorevich/") Подробнее
        .staff__buttons
          .staff__prev-next
            button.staff__button.staff__button--prev
            .staff__numbers
              span.staff__numspan 0
            button.staff__button.staff__button--next
