section.staff
  .container.staff__container
    .staff__wrapper
      .staff__main-block
        .staff__photo
          picture
            source(type="image/webp" srcset="img/ainur.webp")
            img.middle-banner__img(src="img/ainur.jpg" alt="")
        .staff__text
          h2 Профессиональная команда врачей-стоматологов
          span Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
          .staff__sign
            span Искужин А.Р.
            img(src="img/sign.png")
      .staff__bottom
        .staff__list
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff1.webp")
              img.middle-banner__img(src="img/staff1.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff2.webp")
              img.middle-banner__img(src="img/staff2.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff3.webp")
              img.middle-banner__img(src="img/staff3.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff4.webp")
              img.middle-banner__img(src="img/staff4.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff1.webp")
              img.middle-banner__img(src="img/staff1.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff2.webp")
              img.middle-banner__img(src="img/staff2.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff3.webp")
              img.middle-banner__img(src="img/staff3.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
          .staff__item
            picture
              source(type="image/webp" srcset="img/staff4.webp")
              img.middle-banner__img(src="img/staff4.jpg" alt="")
            .staff__text-block
              h3 Абдрахманова Динара Разатовна
              span Заведующая детским отделением
        .staff__slider
