section.staff
  .container.staff__container
    .staff__wrapper
      .staff__main-block
        .staff__photo
          picture
            source.staff__main-webp(type="image/webp" srcset="img/ainur.webp")
            img.staff__main-img(src="img/ainur.jpg" alt="")
        .staff__text
          h2 Профессиональная команда врачей-стоматологов
          span Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
          .staff__sign
            span Искужин А.Р.
            img(src="img/sign.png")
      .staff__bottom
        .staff__list
          .staff__list-inner
            .staff__item
              .staff__item-inner
                picture                
                  source.staff__item-webp(type="image/webp" srcset="img/ainur.webp")
                  img.staff__item-img(src="img/ainur.jpg" alt="")
                .staff__text-block
                  h3 Искужин Айнур Раисович
                  span Директор клиники
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/sasha.webp")
                  img.staff__item-img(src="img/sasha.jpg" alt="")
                .staff__text-block
                  h3 Силантьева Александра Евгеньевна
                  span Заведующая терапевтическим отделением
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/veronika.webp")
                  img.staff__item-img(src="img/veronika.jpg" alt="")
                .staff__text-block
                  h3 Хасанова Вероника Игоревна
                  span Заведующая пародонтологическим отделением
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/sam.webp")
                  img.staff__item-img(src="img/sam.jpg" alt="")
                .staff__text-block
                  h3 Бахадурзаде Самандар Каримович
                  span Стоматолог-хирург
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/tural.webp")
                  img.staff__item-img(src="img/tural.jpg" alt="")
                .staff__text-block
                  h3 Амрахов Турал Рафаэлович
                  span Стоматолог-ортопед
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/anna.webp")
                  img.staff__item-img(src="img/anna.jpg" alt="")
                .staff__text-block
                  h3 Файрушина Анна Артуровна
                  span Стоматолог-терапевт
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/yana.webp")
                  img.staff__item-img(src="img/yana.jpg" alt="")
                .staff__text-block
                  h3 Бутская Яна Михайловна
                  span Стоматолог – ортодонт
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
        .staff__buttons
          .staff__prev-next
            button.staff__button.staff__button--prev
            .staff__numbers
              span.staff__numspan 0
            button.staff__button.staff__button--next
