section.staff
  .container.staff__container
    .staff__wrapper
      .staff__main-block
        .staff__photo
          picture
            source.staff__main-webp(type="image/webp" srcset="img/ainur.webp")
            img.staff__main-img(src="img/ainur.jpg" alt="")
        .staff__text
          h3 Искужин Айнур Раисович
          span Директор клиники
          p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
          .staff__sign
            span Искужин А.Р.
            img(src="img/sign.png")
      .staff__bottom
        .staff__list
          .staff__list-inner
            .staff__item
              .staff__item-inner
                picture                
                  source.staff__item-webp(type="image/webp" srcset="img/ainur.webp")
                  img.staff__item-img(src="img/ainur.jpg" alt="")
                .staff__text-block
                  h3 Искужин Айнур Раисович
                  span Директор клиники
                  p Наша команда — это специалисты с большой буквы, настоящие профессионалы. Их квалификацию могут подтвердить тысячи довольных пациентов, избавившихся от зубных проблем!
            .staff__item
              .staff__item-inner
                picture                
                  source.staff__item-webp(type="image/webp" srcset="img/elina.webp")
                  img.staff__item-img(src="img/elina.jpg" alt="")
                .staff__text-block
                  h3 Искужина Элина Зуфаровна
                  span Заместитель директора
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 8 лет
                  p <strong>Специализация:</strong> лечение кариеса, реставрация зубов, лечение корневых каналов любой сложности, профилактическая гигиена полости рта, отбеливание зубов
            .staff__item
              .staff__item-inner
                picture                
                  source.staff__item-webp(type="image/webp" srcset="img/rafael.webp")
                  img.staff__item-img(src="img/rafael.jpg" alt="")
                .staff__text-block
                  h3 Гафаров Рафаэль Рамилевич
                  span Главный врач, заведующий хирургическим отделением
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 13 лет
                  p <strong>Специализация:</strong> Хирургическая стоматология, имплантация зубов, протезирование и сложные операции
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/sasha.webp")
                  img.staff__item-img(src="img/sasha.jpg" alt="")
                .staff__text-block
                  h3 Силантьева Александра Евгеньевна
                  span Заведующая терапевтическим отделением
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 13 лет
                  p <strong>Специализация:</strong> лечение кариеса, реставрация зубов, лечение каналов зубов любой сложности, проведение ретроградного пломбирования корневых каналов, профилактическая гигиена полости рта
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/veronika.webp")
                  img.staff__item-img(src="img/veronika.jpg" alt="")
                .staff__text-block
                  h3 Хасанова Вероника Игоревна
                  span Заведующая пародонтологическим отделением
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 8 лет
                  p <strong>Специализация:</strong> лечение кариеса, реставрации зубов, нехирургическое и хирургическое лечение заболеваний пародонта, плазмолифтинг, вектор-терапия, профилактическая гигиена, отбеливание зубов
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/sam.webp")
                  img.staff__item-img(src="img/sam.jpg" alt="")
                .staff__text-block
                  h3 Бахадурзаде Самандар Каримович
                  span Стоматолог-хирург
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 2 года
                  p <strong>Специализация:</strong> стоматологическая хирургия
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/liana.webp")
                  img.staff__item-img(src="img/liana.jpg" alt="")
                .staff__text-block
                  h3 Айдагулова Лиана Фларитовна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 2 года
                  p <strong>Специализация:</strong> терапевтическая стоматология
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/rimma.webp")
                  img.staff__item-img(src="img/rimma.jpg" alt="")
                .staff__text-block
                  h3 Маннанова Римма Раильевна
                  span Стоматолог-ортодонт
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 4 года
                  p <strong>Специализация:</strong> лечение несъёмными и съемные ортодонтическими аппаратами
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/tural.webp")
                  img.staff__item-img(src="img/tural.jpg" alt="")
                .staff__text-block
                  h3 Амрахов Турал Рафаэлович
                  span Стоматолог-ортопед
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 7 лет
                  p <strong>Специализация:</strong> несъёмное протезирование на своих зубах и на имплантатах, съемное протезирование частичное и полное , эстетическое протезирование безметалловой керамикой, протезирование по методике All-in4 при полном отсутствии зубов
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/anna.webp")
                  img.staff__item-img(src="img/anna.jpg" alt="")
                .staff__text-block
                  h3 Файрушина Анна Артуровна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 5 лет
                  p <strong>Специализация:</strong> лечение кариеса, пульпитов, периодонтитов, реставрация зубов, проведение профессиональной гигиены полости рта, лечение гингивита/пародонтита/гиперестезии зубов
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/eliza.webp")
                  img.staff__item-img(src="img/eliza.jpg" alt="")
                .staff__text-block
                  h3 Мансапова Элиза Фаузитовна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 3 года
                  p <strong>Специализация:</strong> лечение кариеса
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/yulia.webp")
                  img.staff__item-img(src="img/yulia.jpg" alt="")
                .staff__text-block
                  h3 Мухаматшина Юлия Ильшатовна
                  span Детский врач-стоматолог
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 8 лет
                  p <strong>Специализация:</strong> лечение кариеса
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/yana.webp")
                  img.staff__item-img(src="img/yana.jpg" alt="")
                .staff__text-block
                  h3 Бутская Яна Михайловна
                  span Стоматолог – ортодонт
                  p <strong>Образование:</strong> ВолгГМУ, высшее
                  p <strong>Стаж работы:</strong> 8 лет
                  p <strong>Специализация:</strong> ортодонтия, терапия
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Шкуратова Инга Андреевна
                  span Стоматолог – ортодонт
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 10 лет
                  p <strong>Специализация:</strong> лечение зубо-челюстных аномалий с использованием несъёмной ортодонтической техники, использование мини-винтов в совместной работе с хирургом-стоматологом
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Илюхин Вадим Викторович
                  span Стоматолог – ортопед
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 6 лет
                  p <strong>Специализация:</strong> восстановления функции и эстетики зубочелюстной системы любыми методами
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Туляков Загит Салимьянович
                  span Анестезиолог-реаниматолог
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 6 лет
                  p <strong>Специализация:</strong> анестезия
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/zarima.webp")
                  img.staff__item-img(src="img/zarima.jpg" alt="")
                .staff__text-block
                  h3 Хасанова Зарима Мударисовна
                  span Детский стоматолог
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 5 лет
                  p <strong>Специализация:</strong> седация и наркоз, лечение пульпитов, дентальная травматология, реставрация передних и жевательных групп зубов
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/unknown-staff.webp")
                  img.staff__item-img(src="img/unknown-staff.jpg" alt="")
                .staff__text-block
                  h3 Хазиева Рузиля Ришатовна
                  span Стоматолог-хирург
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 5 лет
                  p <strong>Специализация:</strong> стоматологическая хирургия
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/guzeliya.webp")
                  img.staff__item-img(src="img/guzeliya.jpg" alt="")
                .staff__text-block
                  h3 Габдрахманова Гузелия Шамилевна
                  span Стоматолог-терапевт
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 1 год
                  p <strong>Специализация:</strong> лечение пульпита, лечение периодонтита, лечение кариеса, эндоотбеливание зуба, реставрация зуба
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/aliya.webp")
                  img.staff__item-img(src="img/aliya.jpg" alt="")
                .staff__text-block
                  h3 Ахметгареева Алия Шамилевна
                  span Стоматолог-пародонтолог
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 7 лет
                  p <strong>Специализация:</strong> удаление зубов любой сложности, имплантация зубов, пластика слизистой вокруг имплантов, устранение рецессий десны, направленная костная регенерация; лечение заболеваний десен
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/guzel.webp")
                  img.staff__item-img(src="img/guzel.jpg" alt="")
                .staff__text-block
                  h3 Халилова Гузель Фанилевна
                  span Детский стоматолог
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 2 года
                  p <strong>Специализация:</strong> лечение кариеса молочных зубов и постоянных, реставрация зубов, пульпит, периодонтит
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/dinar.webp")
                  img.staff__item-img(src="img/dinar.jpg" alt="")
                .staff__text-block
                  h3 Шарипов Динар Азатович
                  span Врач-анестезиолог
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 4 года
                  p <strong>Специализация:</strong> анестезиология- реанимация
            .staff__item
              .staff__item-inner
                picture
                  source.staff__item-webp(type="image/webp" srcset="img/dima.webp")
                  img.staff__item-img(src="img/dima.jpg" alt="")
                .staff__text-block
                  h3 Овсянников Дмитрий Игоревич
                  span Стоматолог – гигиенист
                  p <strong>Образование:</strong> БГМУ, высшее
                  p <strong>Стаж работы:</strong> 1 год
                  p <strong>Специализация:</strong> проведение профессиональной гигиены
        .staff__buttons
          .staff__prev-next
            button.staff__button.staff__button--prev
            .staff__numbers
              span.staff__numspan 0
            button.staff__button.staff__button--next
