section.uslugi
  .container.uslugi__container
    .uslugi__top
      h1 Услуги стоматологии
      .uslugi__search-block
        input.uslugi__search-input(placeholder="Поиск")
        span.uslugi__search-info
    .uslugi__search-list
      ul
    .uslugi__list
      .uslugi__item
        .uslugi__item-top
          h2 Имплантация
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-na-implantakh/") Протезирование на имплантах
            li
              a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Новые зубы за 1 день по технологии All&#8209;On&#8209;4 в Уфе
            li
              a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-4-kh-implantakh-po-te/") Несъемные протезы на 4&#8209;х имплантах по технологии All&#8209;on&#8209;4
            li
              a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-6-ti-implantakh-po-t/") Несъемные протезы на 6&#8209;ти имплантах по технологии All&#8209;on&#8209;6
            li
              a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-8-mi-implantakh-po-tekhnologii-all-on-8/") Несъемные протезы на 8-ми имплантах по технологии All&#8209;on&#8209;8
            li
              a(href="/uslugi/dlya-vzroslykh/implantaciya/ustanovka-implantatov/") Установка имплантатов
            li
              a(href="/uslugi/dlya-vzroslykh/implantaciya/implantaciya-pod-kljuch/") Имплантация зубов под ключ
            li
              a(href="/uslugi/dlya-vzroslykh/implantaciya/odnomomentnaya-implantaciya-zubov/") Одномоментная имплантация зубов
            li
              a(href="/uslugi/dlya-vzroslykh/implantaciya/implanty-za-odin-den/") Импланты зубов за один день
            li
              a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-na-implantakh/") Протезирование на имплантах
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Протезирование
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/nesyemnoe-protezirovanie/") Несъемное протезирование
            li
              a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-perednikh-zubov/") Протезирование передних зубов
            li
              a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/bruksizm/") Лечение бруксизма
            li
              a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Съемные зубные протезы
            li
              a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Коронки на зубы
            li
              a(href="/uslugi/dlya-vzroslykh/terapiya/skaysy/") Скайсы
            li
              a(href="/uslugi/dlya-vzroslykh/terapiya/kapy/") Капы
            li
              a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Ортопедия
            li
              a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Зубные коронки
            li
              a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/") Протезирование зубов
            li
              a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Новые зубы за 1 день по технологии All-On-4 в Уфе
            li
              a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/syemnye-protezy/") Съемные Протезы
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Виниры
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/") Виниры
            li
              a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/lyuminiry/") Люминиры
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Пародонтология
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontoza/") Лечение пародонтоза
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/plazmolifting/") Плазмолифтинг
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/zubnoy-nalet/") Зубной налет
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/zubnye-otlozheniya/") Зубные отложения
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontita/") Лечение пародонтита
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/bakterialnaya-bioplenka/") Бактериальная биопленка
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/vestibuloplastika/") Вестибулопластика
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/zakrytie-retsessii-desny/") Закрытие рецессии десны
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/zakrytiy-kyuretazh/") Закрытый кюретаж
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/loskutnaya-operatsiya/") Лоскутная операция
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/frenuloplastika/") Френулопластика
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/shinirovanie/") Шинирование
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-desen/") Лечение десен
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-flyusa-periostita/") Лечение флюса (периостита)
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-desen/kyuretazh-desen/") Кюретаж десен
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-gingivita/") Лечение гингивита
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-desen-apparatom-vektor/") Лечение десен аппаратом Вектор
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-granulemy/") Гранулема зуба
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Лечение зубов
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/restavratsiya-zubov/") Реставрация зубов
            li
              a(href="/uslugi/dlya-vzroslykh/parodontologiya/vospalenie-zubov/") Воспаление зубов
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/") Лечение зубов
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/ustanovka-plomby/") Пломбирование зубов
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-podvizhnosti-zubov/") Лечение подвижности зубов
            li
              a(href="/uslugi/lechenie/lechenie-kariesa-ufa/") Лечение кариеса
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-pulpita/") Лечение пульпита
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/maloinvozivnoe-lechenie/") Малоинвазивное лечение
            li
              a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-kisty/") Лечение кисты зуба
            li
              a(href="/uslugi/dlya-vzroslykh/khirurgiya/lazernaya-stomatologiya/") Лазерная стоматология
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Хирургия
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/") Удаление зубов
            li
              a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/zub-mudrosti/") Удаление зуба мудрости
            li
              a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/udalenie-retinirovannogo-zuba-mudro/") Удаление ретинированного зуба мудрости
            li
              a(href="/uslugi/dlya-vzroslykh/khirurgiya/kostnaya-plastika/") Костная пластика
            li
              a(href="/uslugi/dlya-vzroslykh/khirurgiya/sinus-lifting/") Синус&#8209;лифтинг
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Эстетика
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/otbelivanie-zubov/") Отбеливание зубов
            li
              a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/ultrazvukovaya-chistka-zubov/") Ультразвуковая чистка зубов
            li
              a(href="/uslugi/professionalnaya-gigiena/") Профессиональная гигиена полости рта
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Ортодонтия
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/ortodontiya/sistema-invisalign/") Элайнеры
            li
              a(href="/uslugi/dlya-vzroslykh/ortodontiya/anomalii-prikusa/") Аномалии прикуса
            li
              a(href="/uslugi/dlya-vzroslykh/ortodontiya/ispravlenie-prikusa/") Исправление прикуса
            li
              a(href="/uslugi/dlya-vzroslykh/brekety/") Брекеты
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Без боли
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/dlya-vzroslykh/anesteziya/") Анестезия
            li
              a(href="/uslugi/dlya-vzroslykh/anesteziya/") Проводниковая анестезия
            li
              a(href="/uslugi/dlya-vzroslykh/anesteziya/") Инфильтрационная анестезия
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-pod-narkozom-u-detei/") Лечение зубов под наркозом у детей
      .uslugi__item
        .uslugi__item-top
          .uslugi__item-title
            h2 Детская стоматология
        .uslugi__item-list
          ul
            li
              a(href="/uslugi/detskaya-stomatologiya/germetizatsiya-fissur/") Герметизация фиссур
            li
              a(href="/uslugi/detskaya-stomatologiya/detskaya-ortodontiya/") Детская ортодонтия
            li
              a(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/") Исправление прикуса у детей
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-detey/") Лечение зубов у детей
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-vo-sne/") Лечение зубов во сне
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-kariesa-u-detey/") Лечение кариеса у детей
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-molochnykh-zubov/") Лечение молочных зубов
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-pod-sedatsiey/") Лечение под седацией
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-sistemoy-icon/") Лечение системой Icon
            li
              a(href="/uslugi/detskaya-stomatologiya/plastika-uzdechki-yazyka-lazerom/") Пластика уздечки языка лазером
            li
              a(href="/uslugi/detskaya-stomatologiya/udalenie-zubov/") Удаление зубов у детей
            li
              a(href="/uslugi/detskaya-stomatologiya/ftorirovanie-molochnykh-zubov/") Фторирование молочных зубов
            li
              a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-pod-narkozom-u-detei/") Лечение зубов под наркозом у детей
