section.ustanovka-implantov3
  .container.img-right__container
    .img-right__text
      h2 Что такое имплантация зубов?
      p Имплантацией называют процедуру, в ходе которой на место отсутствующего зуба устанавливается искусственный корень. На него и фиксируется протез коронковой части зуба. Такую операцию также принято называть дентальной имплантацией. Этот способ замены естественного зуба применяется во всём мире и является наиболее изученным и проверенным на опыте сотнями тысяч стоматологов.
      p Чтобы понять, какой метод решит именно вашу проблему, необходимо прийти на первичный приём в стоматологию “Риадент”. Тогда врач сможет увидеть состояние здоровья вашей полости рта и гарантировать качество операции.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
