section.ustanovka-implantov2
  .container.four-steps__container
    h2.four-steps__title Преимущество лечения зубов в центре имплантации и протезирования «Риадент»
    .four-steps__list
      .four-steps__item
        .four-steps__icon
          svg(width="44" height="44")
            use(xlink:href="img/sprite.svg#four-steps1")
        .four-steps__text
          p Дентальное обследование и только самое необходимое лечение
      .four-steps__item
        .four-steps__icon
          svg(width="45" height="44")
            use(xlink:href="img/sprite.svg#four-steps2")
        .four-steps__text
          p Исключительно безболезненное и комфортное лечение
      .four-steps__item
        .four-steps__icon
          svg(width="40" height="42")
            use(xlink:href="img/sprite.svg#four-steps3")
        .four-steps__text
          p Беремся за лечение любых стоматологических проблем
      .four-steps__item
        .four-steps__icon
          svg(width="33" height="44")
            use(xlink:href="img/sprite.svg#four-steps4")
        .four-steps__text
          p 100% стерильность и только импортное современное оборудование
    ol
      li <strong>Мы используем только инновационное европейское оборудование</strong>, что позволяет работать с минимальными для клиента рисками, производить имплантацию быстро и без разрезов.
      li <strong>Мы рассматриваем индивидуально каждое лечение зубов и берём под свою защиту здоровье вашей улыбки</strong>. Вместе с нами вы сможете подобрать именно тот вид имплантата, который будет выглядеть идеально!
      li <strong>Процедура проходит одномоментно и безболезненно</strong>! Благодаря шаблонной имплантации, специально разработанной с помощью цифровых технологий, мы всегда может предсказать результат лечения и просчитать все возможные риски.
