section.viniry2
  .container.3icons__container
    .3icons__list
      .3icons__item
        .3icons__img
        .3icons__text
          span Естественный вид
      .3icons__item
        .3icons__img
        .3icons__text
          span Стойкость
      .3icons__item
        .3icons__img
        .3icons__text
          span Долговечность
      .3icons__item
        .3icons__img
        .3icons__text
          span Без зубного налёта
      .3icons__item
        .3icons__img
        .3icons__text
          span Ровные зубы без щелей
      .3icons__item
        .3icons__img
        .3icons__text
          span Сохранение структуры зуба
