section.viniry4
  .container.3icons__container
    h2 Кому подходят виниры
    p Виниры устанавливают в случаях, когда дефекты полости рта нельзя устранить с помощью стоматологического лечения зубов. К таким дефектам можно отнести:
    .3icons__list
      .3icons__item
        .3icons__img
        .3icons__text
          span Хочет идеальную белоснежную улыбку
      .3icons__item
        .3icons__img
        .3icons__text
          span Трещины, сколы или стёртость эмали
      .3icons__item
        .3icons__img
        .3icons__text
          span Слишком заметные пломбы на фронтальной стороне зуба
      .3icons__item
        .3icons__img
        .3icons__text
          span Нарушение цвета эмали
      .3icons__item
        .3icons__img
        .3icons__text
          span Неправильную форму зуба
      .3icons__item
        .3icons__img
        .3icons__text
          span Щель между зубами
    p Установка виниров в стоматологии “Риадент” на Кавказской позволяет восстановить эстетический вид зубов при хронических заболеваниях, а также заменить привычное отбеливание зубов.
