section.viniry3
  .container.viniry3__container
    h2 Стоматологи делят виниры по параметрам накладки:
    ol
      li <strong>Съёмные виниры</strong>. Устанавливаются временно, пока изготавливаются постоянные пластинки.
      li Самый распространённый вариант накладок. Виниры созданы из прочного медицинского керамического материала. <strong>Керамические виниры</strong> Emax.лщиной до 0,5 мм. Благодаря тому, что керамика внешне совпадает по цвету, прозрачности и блеску с эмалью зуба, создаётся естественный эффект белоснежной и ровной улыбки. Изготавливаются методом прессования.
      li <strong>Циркониевые виниры</strong>. Такие пластинки самые долговечные, поскольку диоксид циркония ничем не отличается по внешнему виду от медицинского фарфора, но при этом является износоустойчивым. Изготавливаются методом вытачивания.
      li <strong>Композитные или стеклокерамические виниры</strong>. Такие виниры подойдут тем, кто желает создать идеальную улыбку по минимальной цене. Возможно установка за одно посещение.
