section.prices
  .container.prices__container
    h2.prices__title Ортодонтия
    p.prices__font Полная стоимость лечения зависит от степени сложности процедур. К каждому пациенту составляется индивидуальный план лечения совершенно бесплатно до конца месяца.
    table.prices__table
      tr
        td Определение прикуса
        td 2000
      tr
        td Снятие слепка с одной челюсти
        td 2000
      tr
        td Фиксация брекет-системы на одну челюсть
        td 12000
      tr
        td Фиксация одного брекета
        td 1000
      tr
        td Фиксация одного брекета с учетом брекета
        td 1550
      tr
        td Установка дуги на одну челюсть
        td 500
      tr
        td Снятие дуги с одной челюсти
        td 500
      tr
        td Закрытие замка (установка лигатуры)
        td 300
      tr
        td Открытие замка (снятие лигатуры)
        td 300
      tr
        td Установка мелких дополнительных элементов 1 ед.(эластики, пружины, крючки)
        td 600
      tr
        td Активация, коррекция системы
        td 4000
      tr
        td Снятие одной металлической брекет-системы с одной челюсти
        td 8000
      tr
        td Снятие одного брекета
        td 1000
      tr
        td Сепарация постоянных зубов
        td 1000
      tr
        td Установка дополнительных элементов (кнопка) 1 ед.
        td 550
      tr
        td Эластичные тяги
        td 200
      tr
        td.prices__maintd(colspan="2") Брекеты лигатурные
      tr
        td Брекеты Hype керамические лигатурные
        td 15000
      tr
        td Брекеты Biomim металические лигатурные
        td 14000
      tr
        td.prices__maintd(colspan="2") Брекеты самолигирующие
      tr
        td Брекеты Pitts 21 металические самолигирующие
        td 19000
      tr
        td Брекеты Н4 металические самолигирующие
        td 17000
      tr
        td.prices__maintd(colspan="2") Ретенционный период
      tr
        td Изготовление ретейнера несъемного (1 челюсть)
        td 9000
      tr
        td Изготовление ретейнера съемного (1челюсть)
        td 6000
      tr
        td Фиксация одного звена ретейнера
        td 1000
      tr
        td Снятие ретейнера с 1 зуба, полировка
        td 1000
      tr
        td.prices__maintd(colspan="2") Лечение съемными аппаратами (ортодонтические пластинки, трейнеры)
      tr
        td Ортодонтические шипы
        td 500
      tr
        td Изготовление ортодонтического аппарата 1-ой степени сложности
        td 6500
      tr
        td Изготовление ортодонтического аппарата 2-й степени сложности (1-4 допол.элемента,установка простого винта)
        td 9000
      tr
        td Изготовление двухчелюстного аппарата
        td 16000
      tr
        td Изготовление аппарата для форсированного расширения верхней челюсти Марка-росса
        td 18000
      tr
        td Контрольное, наблюдение стоматолога-ортодонта  с ортодонтическим аппаратом,трейнером,активация)
        td 800
      tr
        td Изготовление ортодонтичсекого аппарата 3-й степени сложности(более 4-х допол. элементов, установка трехмерного винта)
        td 10000
      tr
        td Контрольное наблюдение стоматолога-ортодонта с функциональным аппаратом( пластинки)
        td 500
      tr
        td Разобщающие накладки
        td 600
      tr
        td Диагностическая консультация стоматолога-ортодонта (слепки, диагностич.модели, фото)
        td 2000
      tr
        td.prices__maintd(colspan="2") Элайнеры
      tr
        td Контрольное наблюдение стоматолога- ортодонта с элайнерами
        td 3000
      tr
        td Сетап для элайнера
        td 16000
      tr
        td Изготовление Т-элайнера (1элайнер)
        td 5000
