section.lechenie-desen3
  .container.lechenie-desen3__container
    h2 Методы лечения дёсен
    p При лечении гингивита важно избавиться от зубного налёта и камней, чтобы не провоцировать дальнейшее воспаление дёсен.
    p При пародонтите также удаляются зубные образования. А если уже образовались пародонтальные карманы, нужно проводить их чистку и обработку.
    p При запущенных стадиях, когда зубные отложения находятся глубоко под десной, проводится открытый кюретаж — чистка с рассечением основания пародонтального кармана.
    p Также в лечении дёсен успешно применяется аппарат “Вектор”.
    p При запущенном пародонтите также важно сохранить расшатанные зубы. Для этого проводится шинирование.
