section.lechenie-desen2
  .container.three-items__container
    h2.three-items__title Виды и симптомы заболеваний дёсен
    p Существует три основных заболевания тканей пародонта. Это:
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/lechenie-desen2.jpg" alt="")
        h3 Гингивит
        p Краевая часть десны воспаляется, приобретая красный или даже синюшный оттенок. Десна может опухать, болеть. Гингивит возникает из-за зубного налёта, который является благоприятной средой для бактерий. Невылеченный гингивит может перерасти в пародонтит
      .three-items__item
        .three-items__img
          img(src="img/lechenie-desen3.jpg" alt="")
        h3 Пародонтит
        p Воспаление, затрагивающее всю десну, а не только её край. Между зубом и десной образуется пространство: пародонтальный карман. В этих карманах могут скапливаться остатки еды, провоцируя размножение бактерий. Зубы могут начать расшатываться
      .three-items__item
        .three-items__img
          img(src="img/lechenie-desen4.jpg" alt="")
        h3 Пародонтоз
        p Заболевание, при котором уменьшается высота десны и обнажается прикорневая область. Как правило. пародонтоз связан с возрастным ослаблением сосудов, и встречается не так часто, как гингивит и пародонтит
