section.lechenie-desen1
  .container.img-left__container
    .img-left__text
      h2 Лечение дёсен в стоматологической клинике «Риадент», Уфа
      p Заболевания дёсен занимают второе после кариеса место по степени распространённости среди населения.
      p Проблемы с тканями пародонта затрагивают примерно 86% взрослых и 64% детей. При этом профилактика таких заболеваний пока не так распространена, как профилактика кариеса.
      p Многие люди игнорируют кровоточивость дёсен, не считая это весомой причиной обращаться к стоматологу. В то время как это яркий признак воспалительного процесса. Если не принимать меры долгое время, воспаление может перерасти в заболевание пародонта, и даже стать причиной преждевременного выпадения зубов.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
