section.ortopedicheskaya-stomatologiya2
  .container.ortopedicheskaya-stomatologiya2__container
    h2 Преимущества съёмных зубных протезов?
    p Зубные протезы нового поколения – это удобные конструкции. На них ложится основная нагрузка при жевании, и при этом внешне их очень сложно отличить от натуральных зубов. Протезирование призвано решать не только эстетические проблемы: при потере зубов может развиться ассиметрия лица, нарушения дикции. Их преимущества:
    ul
      li <strong>Безопасны</strong>. Изготовлены из гипоаллергенных материалов, устойчивых к истиранию
      li <strong>7 дней</strong>. Изготовление в течение недели
      li <strong>Просты и удобны в эксплуатации</strong>. Надёжно фиксируются в полости рта
      li <strong>Естественный цвет</strong>. Естественный цвет зубной эмали
      li <strong>Дешевле</strong>. Обходятся гораздо дешевле, нежели несъёмное протезирование
      li <strong>Гарантия</strong>. до 15 лет
