section.ortopedicheskaya-stomatologiya3
  .container.ortopedicheskaya-stomatologiya3__container
    h2 Виды протезов
    ul
      li <strong>Пластинчатый (пластмассовый)</strong>. Самая простая и недорогая конструкция. Состоит из основы и искусственных зубов. Основа, как правило, сделана из пластмассы. Но существуют протезы и с металлическим нёбом. Пластинчатый протез удерживается на верхнем нёбе за счёт прилипающего эффекта.
      li <strong>Без нёба</strong>. Современные протезы без нёба крепко зафиксированы на дёснах, и даже не требуют дополнительных средств. Они не мешают ощущать вкус еды и не провоцируют рвотного рефлекса.
      li <strong>Акриловые</strong>. Акрил – наиболее бюджетный материал для изготовления. Протезы из акрила рекомендуются при полной потере зубов, изготавливаются из высокопрочной пластмассы (Австрия). Не окрашиваются цветной пищей, а широкая палитра цветов позволяет точно подобрать натуральный оттенок. Срок службы – 15 лет.
      li <strong>Бюгельные</strong>. Бюгельные протезы – это искуственные зубы, установленные на металлический каркас, предварительно покрытый слоем акрила. Благодаря такой конструкции нагрузка при жевании распределяется равномернее, а сам протез занимает гораздо меньше места во рту. Крепиться в полости рта может за счёт крючков или замковой фиксации.
      li <strong>Нейлоновые</strong>. Нейлон так же, как и акрил, является популярным материалом для изготовления. Нейлоновые протезы – гибкие, мягкие, устойчивы к нагрузкам. Рекомендуются при частичной потере зубов. Установка и удаление из ротовой полости крайне быстрое, ведь они фиксируются методом “присасывания”. Срок службы – не менее 10 лет.
      li <strong>Акроновые</strong>. Акрон – современный полимер, полностью безопасный и хорошо совместим с человеческими тканями. Протезы из акрона сочетают в себе прочность, гибкость и естественный цвет зубной эмали. Максимальный срок службы – 20 лет.
      li <strong>Acry Free</strong>. В последнее время растёт популярность протезов Acry Free. Их изготавливают из материалов, не содержащих акрила, поэтому они рекомендуются для пациентов, у которых аллергия на мономеры, акрил и прочие материалы. Протезы акри-фри мягкие, упругие, не натирают дёсны и устойчивы к повреждениям.
      li <strong>Несъемные, на 4 имплантах по методике All-on-4</strong>. Данный тип подходит при полной и частичной потере зубов. Они надёжно фиксируются, более устойчивы к жевательной нагрузке. Гарантия – пожизненная.
