section.ortopedicheskaya-stomatologiya4
  .container.ortopedicheskaya-stomatologiya4__container
    h2 Виды несъёмного протезирования
    p Существует две разновидности несъёмного протезирования: микропротезирование и установка зубных коронок.
    ul
      li К микропротезированию относятся виниры: накладки на внешнюю поверхность зуба, изготовляемые из фарфора. Они помогают улучшить эстетический вид.
      li Зубные коронки подразумевают наличие основы и облицовки. Самый распространённый вид – металлокерамика. То есть, металлическая основа, плотно прилегающая к сохранившейся части зуба, и керамическая облицовка. Также существуют протез из циркония: коронки обладают белым цветом и дарят идеальный эстетический вид зубам.
