section.ortopedicheskaya-stomatologiya1
  .container.img-right__container
    .img-right__text
      h2 Протезирование зубов в Уфе
      p К сожалению, сохранить собственные зубы с возрастом становится всё сложнее. Даже если строго соблюдать рекомендации стоматологов по уходу, лишиться их можно из-за проблем со здоровьем: например, сужение сосудов может привести к плохому кровоснабжению дёсен, и, как следствие – к потере зубов.
      p К счастью, в наше время эта проблема решаема: даже при полном отсутствии зубов у любого человека существует огромный выбор современных протезов.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
