section.prices
  .container.prices__container
    h2.prices__title Цены на кюретаж
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Кюретаж
      tr
        td Открытый кюретаж сегмент
        td 5000₽
      tr
        td Открытый кюретаж в области 2х зубов
        td 2500₽
      tr
        td Закрытый кюретаж сегмент
        td 4000₽
      tr
        td Закрытый кюретаж в области 2х зубов
        td 2500₽
