section.lechenie-desen-apparatom-vektor7
  .container.lechenie-desen-apparatom-vektor7__container
    h2 Как проходит процедура лечения аппаратом Вектор?
    p С помощью особого наконечника зубная поверхность обрабатывается смесью с мелкими частицами кальция. Затем аппарат вырабатывает ультразвуковые волны, развивая эффект кавитации. Все имеющиеся на зубах отложения отделяются от эмали.
    p Продолжительность напрямую связана со степенью запущенности патологии, количеством карманов и поражённых зубов. В среднем она составляет от 40 минут до 2-х часов. Насадки подбираются индивидуально, в зависимости от типа зубов и их поверхности.
    p Максимального эффекта можно добиться максимум за две процедуры, но при наличии наследственной предрасположенности к патологиям пародонта могут понадобится повторные визиты. Как правило, повторный сеанс стоматолог назначает через 2 месяца, а в будущем срок между процедурами может возрасти до года. Результатом лечения становятся благоприятные условия для реабилитации дёсен:
    ul
      li Они уплотняются и розовеют;
      li Прекращаются выделения крови и гноя из зубных карманов;
      li Десна плотнее прилегают к зубу и альвеолярной кости, что сводит на минимум вероятность оголения корней;
      li Процедура максимально снижает риск возникновения новых карманов в дёснах.
