section.lechenie-desen-apparatom-vektor9
  .container.lechenie-desen-apparatom-vektor9__container
    h2 Стоимость лечения аппаратом “Вектор”
    p Точная стоимость процедуры напрямую связана со стадией развития заболевания и с общим состоянием тканей пародонта.
    p Если патология сильно запущена, может понадобиться больше времени для её устранения.
    p Пациенту может потребоваться комплексный подход: например, вылечить кариес, удалить зубы, способствовавшие развитию инфекции, если это будет необходимо. Если причина развития патологии кроется в неправильном прикусе, у пациента есть возможность посетить ортодонта. Не стоит затягивать с лечением: позаботьтесь о здоровье своих зубов и десён своевременно.
    p Записывайтесь на консультацию в стоматологическую клинику “Риадент”! Мы находимся в Уфе по адресу ул. Кавказская 6/8.
