section.lechenie-desen-apparatom-vektor2
  .container.lechenie-desen-apparatom-vektor2__container
    h2 Чем различаются пародонтит и гингивит?
    p Обе патологии причисляются к заболеваниям пародонта и нередко приводят к потере зубов. Причём, довольно часто они могут развиваться неощутимо для больного. Первым видимым признаком становится появление крови при чистке зубов. Воспаление начинает возрастать, возникает неприятный запах изо рта, а на дёснах появляется отёк. Рассмотрим каждое из заболеваний более подробно, чтобы выяснить их различие.
    .two-columns__columns
      .two-columns__column
        p <strong>Гингивит</strong> – воспалительный процесс в дёснах, возникающий под влиянием как внешних, так и внутренних факторов. Как правило, протекает без нарушения зубодесневого соединения. Наиболее частой причиной развития воспаления является активность болезнетворной микрофлоры. Симптомы:
        ul
          li дёсны кровоточат;
          li возникает неприятный запах изо рта;
          li ткани дёсен отёчны;
          li появляются отёчные разрастания в области сосочков;
          li на зубах образуется бактериальный налет.
      .two-columns__column
        p <strong>Пародонтит</strong> – это воспаление зубодесневой связки и альвеолярной кости – челюстной лунки, в которой находится зуб. При заболевании характерно нарушение плотности соединения между зубом и десной, то есть, образование пародонтальных карманов. Именно это и является главным различием между двумя заболеваниями.
        p Пародонтит и гингивит тесным образом взаимосвязаны, их можно назвать последующими. Воспалительный процесс начинается с дёсен, и при отсутствии своевременного лечения он начинает проникать глубже, что способствует поражению зубодесневого соединения – появлению пародонтита. Опорные ткани слабеют, зубы обретают подвижность, и встаёт вопрос об их удалении.
