section.lechenie-desen-apparatom-vektor3
  .container.lechenie-desen-apparatom-vektor3__container
    h2 Специфика лечения пародонтита
    p Пародонтит вполне поддаётся лечению, но только в случае, если визит к специалистам был своевременным. Но при запущенных стадиях всё становится гораздо сложнее. Самое главное в лечении – избавиться от всех факторов, ставших причиной заболевания. Они делятся на две категории. Среди местных факторов:
    ul
      li Неправильная, травмирующая чистка зубов;
      li Систематическое несоблюдение гигиены полости рта;
      li Нарушения окклюзии;
      li Регулярные травматические воздействия на дёсны;
      li Зубные протезы низкого качества, либо нарушения правил ухода за ними;
      li Курение;
      li Повышенная нагрузка на опорный аппарат зуба ортодонтическими конструкциями.
    p Среди общих факторов:
    ul
      li Наследственность;
      li Третья группа крови (согласно статистике, пародонтит наблюдается чаще у людей с этой группой);
      li Наличие эндокринных заболеваний (в особенности – сахарного диабета);
      li Постоянные стрессы.
    p При наличии вышеперечисленных факторов гингивит очень быстро перерастает в пародонтит, особенно если не было своевременно лечения. Запущенный пародонтит может потребовать массы усилий как со стороны пациента, так и от стоматолога. Необходимо именно комплексное воздействие на все причины возникновения и развития патологии, а точнее, их устранение. После этого необходимо восстановить целостность опорного каркаса зубов и поддерживать результат соответствующей терапией.
