section.lechenie-desen-apparatom-vektor6
  .container.lechenie-desen-apparatom-vektor6__container
    h2 Для чего ещё используется аппарат “Вектор”
    p Аппарат применяется в современной стоматологии не только для профилактики и лечения заболеваний пародонта, но также:
    ul
      li Устройство отлично справляется с устойчивыми зубными отложениями за счёт мощности и технологичности, и используется при профессиональной чистке зубов;
      li Аппарат помогает устранить воспаление, возникающее около имплантов, не оказывая вреда при этом самим конструкциям.
