section.lechenie-desen-apparatom-vektor4
  .container.img-right__container
    .img-right__text
      h2 Что будет, если запустить пародонтит?
      p Как мы уже выяснили, отсутствие лечения может привести к потере зубов. Но кроме этого есть риск возникновения других осложнений:
      ul
        li Развитие гранулематозного периодонтита с образованием кист с гнойным содержимым;
        li Эрозия костной ткани и углубление воспалительного процесса;
        li Возникновение флюса.
      p А если запустить и эти осложнения, бактерии при гнойных образованиях могут проникнуть в кровь и вызвать её заражение, что представляет опасность для жизни пациента.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/lechenie-desen-apparatom-vektor1.webp")
        img(src="img/lechenie-desen-apparatom-vektor1.jpg" alt="")
