section.lechenie-desen-apparatom-vektor8
  .container.img-left__container
    .img-left__text
      h2 Почему стоит выбрать именно клинику «Риадент»?
      ul
        li Специалисты нашей клиники работают по международным стандартам стоматологии, постоянно углубляя знания и развивая навыки;
        li Мы выполняем сложнейшие стоматологические операции с применением самых современных технологий, излечиваем патологии любой степени сложности;
        li Мы предоставляем качественное и результативное лечение каждому пациенту – доказательством являются тысячи довольных клиентов;
        li Наша клиника не скрывает стоимость процедур – приблизительный прайс в открытом доступе на сайте;
        li Комфортабельные условия, вежливость и внимательное отношение от нашего персонала – всё это гарантировано каждому пациенту.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
