section.prices
  .container.prices__container
    h2.prices__title Лечение десен
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Лечение десен
      tr
        td Иссечение гипертрофированной десны (в области 1-3 зубов)
        td 1500₽
      tr
        td Пластика рецессии десны коронально смещенным лоскутом в области одного зуба
        td 4500₽
      tr
        td Пластика рецессии десны латерально смещенным лоскутом в области одного зуба
        td 7000₽
      tr
        td Пластика при рецессии десны свободным соединительно-тканным трансплантантом из области нёба и других донорских зон ротовой полости (в области 1 зуба)
        td 9000₽
      tr
        td Циркулярное иссечение десны в области одного зуба
        td 1500₽
      tr
        td Иссечение гипертрофированной десны в области одного зуба
        td 1500₽
