section.service-slider.plan-lecheniya-slider
  .container.service-slider__container
    .service-slider__wrapper
      h1.service-slider__title План лечения зубов на имплантацию под ключ - бесплатно
      .service-slider__img
        picture
          source(type="image/webp" media="(min-width: 768px)" srcset="img/protezirovanie-na-implantah-slider.webp")
          source(type="image/webp" srcset="img/protezirovanie-na-implantah-slider-mobile.webp")
          source(media="(min-width: 768px)"  srcset="img/protezirovanie-na-implantah-slider.png" alt="")
          img(src="img/protezirovanie-na-implantah-slider-mobile.png" alt="")
      .service-slider__text
        ul
          li Консультация хирурга-стоматолога;
          li 3D снимок полости рта;
          li Осмотр высококвалифицированного врача.
        strong Ваша выгода – 2300 рублей
      .service-slider__button-block
        button.service-slider__button.form__call-popup Записаться на прием
