section.o-kompanii1
  .o-kompanii1__wrapper
    .o-kompanii1__img
    .o-kompanii1__text
      .o-kompanii__text-inner
        h1 О компании
        p <span>Риадент</span> – это динамично развивающаяся федеральная сеть центров имплантации и протезирования зубов с деликатным подходом к каждому пациенту.
        p Наша клиника открывает возможности стоматологии совершенно с другой – новой – стороны. В нашем арсенале имеются:
        ul
          li Инновационная диагностика;
          li Высокотехнологические манипуляции;
          li Опытные и квалифицированные специалисты.
        p В центре имплантации и протезирования «Риадент» ведется прием по разным направлениям:
        ul
          li терапевтическая стоматология;
          li хирургическая стоматология;
          li ортопедическая стоматология;
          li ортодонтическая стоматология;
          li детская стоматология;
          li антистресс-лечение (седация);
          li лечение во сне (наркоз).
