section.o-kompanii4
  .container.o-kompanii4__container
    .o-kompanii4__title
      h2 Немного истории
    .o-kompanii4__text
      .o-kompanii__text-list
        .o-kompanii4__text-item
          svg(width="25" height="25")
            use(xlink:href="img/sprite.svg#o-kompanii-arrow")
          p Сеть клиник компании «Риадент» начала свою работу в 2007 году в с. Темясово. Затем, спустя 9 лет, в 2016 году еще один центр стоматологии открылся в г. Сибай.
        .o-kompanii4__text-item
          svg(width="25" height="25")
            use(xlink:href="img/sprite.svg#o-kompanii-arrow")
          p В Уфе «Риадент» открыл свои двери в 2019 году, став одним из крупнейших стоматологических центров по имплантации и протезированию зубов в  городе. Уже в 2020 году в этом центре появилось детское отделение. Наши врачи оказывают помощь подрастающему поколению, ведь мы понимаем, насколько важно сохранить и оберегать здоровье зубной полости еще с детства!
        .o-kompanii4__text-item
          svg(width="25" height="25")
            use(xlink:href="img/sprite.svg#o-kompanii-arrow")
          p В январе 2022 года состоялось открытие большого центра стоматологии в г. Магнитогорск, в котором ведется прием как взрослых пациентов, так и детей.
      .o-kompanii4__link
        a(href="#") Скоро и в вашем городе
