section.o-kompanii5
  .container.o-kompanii5__container
    h2 Планируется расширение сети филиалов в городах:
    .o-kompanii5__images
      .o-kompanii5__2022
        h3 Весной 2022 года
        hr
        .o-kompanii5__p
          p Набережные Челны, Казань.
        .o-kompanii5__2022-topimg
        .o-kompanii5__2022-bottomimg
          .o-kompanii5__2022-bottomimg1
          .o-kompanii5__2022-bottomimg2
      .o-kompanii5__2023
        h3 К началу 2023 года
        hr
        .o-kompanii5__p
          p Челябинск, Екатеринбург, Москва (2 клиники), Санкт-Петербург.
        .o-kompanii5__2023-images
          .o-kompanii5__2023-leftimg
          .o-kompanii5__2023-rightimg
            .o-kompanii5__2023-rightimg1
            .o-kompanii5__2023-rightimg2
