section.o-kompanii2
  .o-kompanii2__img
  .container.o-kompanii2__container
    .o-kompanii2__logo
    .o-kompanii2__text
      p Главный принцип работы клиник сети — сохранить то, что дано природой. Мы используем только бережный профилактический подход к лечению проблем в полости рта. Здесь собран полный комплекс работ, начиная от профессиональной гигиены до тотальных восстановительных работ под наркозом.
