section.o-kompanii3
  .container.o-kompanii3__container
    h2 Совершенство в диагностике и технологиях лечения «Риадент» представлено лучшими современными аппаратами:
    .o-kompanii3__wrapper
      .o-kompanii3__img
      .o-kompanii3__right
        .o-kompanii3__text
          ul
            li микроскоп ZEIZZ – мировой лидер по эффективности и качеству;
            li современный компьютерный томограф;
            li внуриротовой 3D-сканер – позволяет точно визуализировать будущий результат лечения;
            li 3D-принтер – благодаря ему возможно восстановление всех зубов челюсти без швов и разрезов за 1 день.
        .o-kompanii3__img2
