section.o-kompanii2
  .o-kompanii2__img
  .container.o-kompanii2__container
    .o-kompanii2__logo
      picture
        source(type="image/webp" srcset="img/logo-about.webp")
        img(src="img/logo-about.png" alt="")
    .o-kompanii2__text
      p <span>Главный принцип работы клиник сети</span> — сохранить то, что дано природой. Мы используем только бережный профилактический подход к лечению проблем в полости рта. Здесь собран полный комплекс работ, начиная от профессиональной гигиены до тотальных восстановительных работ под наркозом.
