section.granulema-zuba1
  .container.img-left__container
    .img-left__text
      h2 Лечение гранулемы в стоматологической клинике «Риадент» в Уфе
      p Гранулёма — это воспалительное образование в корне зуба, чаще всего в верхней его части. Причиной развития может стать запущенный кариес, пульпит или пародонтит. Погибшие клетки формируются в мешочек, заполненный бактериями и токсинами.
      p Гранулёмой стоматологи называют образование размером до 5 мм. Образование более 10 мм уже называется кистой зуба.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
