section.granulema-zuba4
  .container.granulema-zuba4__container
    h2 Особенности диагностики и терапия
    p Гранулематозное воспаление выявить можно только с помощью рентгенографии. Оно выглядит как затемнение на верхней части зубного корня. Рентген поможет не только поставить верный диагноз, но и определить размеры образования и степень поражения зуба.
    p Гранулёма зуба лечится как с помощью медикаментозной терапии, так и хирургическим путём. Как правило, пациенту выписывают антибиотики, чтобы остановить развитие воспаления. При хирургическом способе устанавливается дренаж для вывода гноя. Терапия направлена на сохранения зуба.
    p Стоимость лечения гранулёмы зависит от стадии воспаления и перечня необходимых процедур.
    p Результативность лечения зависит от уровня диагностики и профессионализма стоматологов.
    p Доверьте лечение гранулёмы специалистам стоматологии “Риадент” в Уфе. Наша клиника оснащена современным и качественным оборудованием, позволяющим провести безошибочную диагностику. Квалифицированные стоматологи подберут подходящий метод лечения, который быстро, безболезненно и эффективно избавит вас от недуга. Записывайтесь на приём! Ждём вас в Уфе по адресу Кавказская 6/8.
