section.granulema-zuba3
  .container.img-right__container
    .img-right__text
      h2 Симптомы гранулёмы
      p Сложность недуга в том, что изначально не бывает заметных симптомов, и пациент может даже не подозревать о воспалении. Ранним признаком могут стать болевые ощущения при надкусывании, а также реакция на горячее и холод. Но поскольку это является симптомом и других стоматологических заболеваний, всё усложняется.
      ul
        li основные симптомы:
        li ощущение инородного тела в зубе;
        li опухание и боль в десне;
        li повышение температуры тела;
        li слабость организма;
        li гнойные выделения.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/granulema-zuba2.webp")
        img(src="img/granulema-zuba2.jpg" alt="")
