section.granulema-zuba2
  .container.granulema-zuba2__container
    h2 Причины развития гранулёмы
    p Поскольку гранулёма развивается довольно быстро, рекомендуется не откладывать лечение. Недуг может проявиться у пациента в любом возрасте.
    p Гранулёмой стоматологи называют образование размером до 5 мм. Образование более 10 мм уже называется кистой зуба.
    p Стоматологи выделяют три основных причины развития заболевания:
    ul
      li запущенный кариес;
      li недолеченный пародонтит;
      li невылеченный пульпит.
    p Корень зуба может воспалиться вследствие воздействия патогенных микроорганизмов как при запущенном поражении зуба (кариес, пульпит), так и по причине плохо запломбированных каналов при лечении пародонтита.
    p Менее распространёнными причинами образования гранулёмы являются:
    ul
      li механическая травма зуба;
      li воспаления в организме: тонзиллит, абсцесс.
    p Если не лечить гранулёму, она может увеличиться и превратиться в кисту корня зуба, что в дальнейшем может привести к его потере. Не менее опасен и риск поражения костной ткани.
