section.parodontologiya4
  .container.img-right__container
    .img-right__text
      h2 Как проводится лечение?
      p Пародонтология — активно развивающееся направление стоматологии. Постоянно разрабатываются новые эффективные методики лечения. Но главным в терапии остаются два фактора:
      ul
        li своевременное устранение зубных отложений;
        li снятие воспаления.
      p Также проводится шинирование и кюретаж пародонтальных карманов. Если зуб невозможно спасти, вам предложат подходящий способ восстановления — коронку или протез.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/parodontologiya4.webp")
        img(src="img/parodontologiya4.jpg" alt="")
