section.parodontologiya5
  .container.img-left__container
    .img-left__text
      h2 Цены пародонтологического отделения стоматологии «Риадент»
      p Стоимость лечения у пародонтолога зависит от сложности конкретного случая и общей клинической картины. Получить точную информацию вы сможете уже на первой консультации: специалист проведёт осмотр, составит план лечения и сообщит окончательную стоимость. 
      p Чтобы получить услуги пародонтолога в Уфе, обращайтесь в стоматологическую клинику “Риадент”! Мы сохраняем лояльную ценовую политику при высоком уровне сервиса и качества оказываемых услуг. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/parodontologiya5.webp")
        img(src="img/parodontologiya5.jpg" alt="")
