section.parodontologiya1
  .container.img-left__container
    .img-left__text
      h2 Пародонтологическое отделение стоматологии «Риадент»
      p Если вам требуется консультация пародонтолога в Уфе, обращайтесь в стоматологическую клинику “Риадент”. Мы рады предложить вам широкий перечень услуг — от осмотра до сложных операций.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/parodontologiya1.webp")
        img(src="img/parodontologiya1.jpg" alt="")
