.akcii {
  padding: 30px 0;
  background-color: #eeeeee;
  @media (min-width: $laptop-min) {
    padding: 50px 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $scaf) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    @media (min-width: $tablet-min) {
      flex-direction: row;
      max-width: 600px;
      height: 320px;
      border-radius: 20px;
    }
    @media (min-width: $scaf) {
      width: 48%;
    }
    &:nth-child(1) {
      .akcii__img {
        background: url('../img/akcii1-mobile.jpg') center/cover no-repeat;
        @media (min-width: $tablet-min) {
          background: url('../img/akcii1.jpg') center/cover no-repeat;
        }
      }
      .akcii__akciya, .akcii__text a {
        background-color: #25333E;
      }
    }
    &:nth-child(2) {
      .akcii__img {
        background: url('../img/akcii2-mobile.jpg') center/cover no-repeat;
        @media (min-width: $tablet-min) {
          background: url('../img/akcii2.jpg') center/cover no-repeat;
        }
      }
      .akcii__akciya, .akcii__text a {
        background-color: #7494D0;
      }
    }
    &:nth-child(3) {
      .akcii__img {
        background: url('../img/akcii3-mobile.jpg') center/cover no-repeat;
        @media (min-width: $tablet-min) {
          background: url('../img/akcii3.jpg') center/cover no-repeat;
        }
      }
      .akcii__akciya, .akcii__text a {
        background-color: #75961F;
      }
    }
    &:nth-child(4) {
      .akcii__img {
        background: url('../img/akcii4-mobile.jpg') center/cover no-repeat;
        @media (min-width: $tablet-min) {
          background: url('../img/akcii4.jpg') center/cover no-repeat;
        }
      }
      .akcii__akciya, .akcii__text a {
        background-color: #595657;
      }
    }
  }
  &__img {
    width: 100%;
    height: 200px;
    @media (min-width: $tablet-min) {
      width: 45%;
      height: 100%;
      min-height: 100%;
    }
  }
  &__akciya {
    position: absolute;
    top: 180px;
    left: calc(50% - 70px);
    width: 100px;
    padding: 5px 20px;
    border-radius: 20px;
    @media (min-width: $tablet-min) {
      position: static;
      width: 100%;
      height: 70px;
      padding-left: 25px;
      box-sizing: border-box;
      text-align: left;
      border-radius: 0;
    }
    span {
      font-size: 20px;
      font-weight: 800;
      color: white;
      @media (min-width: $tablet-min) {
        font-size: 40px;
      }
    }
  }
  &__text {
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    text-align: center;
    @media (min-width: $tablet-min) {
      width: 55%;
      height: 100%;
      padding: 0 0 20px;
      box-sizing: border-box;
      text-align: left;
      background: url('../img/akcii-back.svg') bottom -30% right -30%/217px 197px no-repeat;
    }
    h2, p {
      @media (min-width: $tablet-min) {
        padding-left: 25px;
      }
    }
    h2 {
      font-size: 18px;
      @media (min-width: $laptop-min) {
        font-size: 20px;
      }
    }
    p {
      font-weight: 500;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 36px;
      margin: 0 auto;
      color: white;
      font-weight: 600;
      text-decoration: none;
      border-radius: 18px;
      @media (min-width: $tablet-min) {
        margin: 0 auto 0 25px;
      }
    }
  }
}
