.allservices {
  padding: 30px 0;
  color: white;
  background: url('../img/allservices-back.png') right -5px bottom -5px no-repeat $violet;
  @media (min-width: $tablet-min) {
    padding: 50px 0;
  }
  @media (min-width: $laptop-min) {
    padding: 80px 0;
  }
  &__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $tablet-min) {
      flex-direction: row;
    }
  }
  &__column {
    margin-bottom: 30px;
    @media (min-width: $tablet-min) {
      margin-bottom: 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin: 10px 0;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
