.bottom-header {
  &__container {
    display: flex;
  }
  &__call-button {
    position: relative;
    width: 220px;
    height: 50px;
    margin: 10px 0 10px 50px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    background-color: #462899;
    border: 1px solid #462899;
    border-radius: 15px;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      transform: translateX(-40px) skewX(-45deg);
      animation: 5s moveLight infinite;
    }
    &:hover {
      color: #462899;
      background-color: white;
    }
  }
}
