.ceni {
  background-color: #eeeeee;
  &__container {
    padding: 30px 0;
    @media (min-width: $laptop-min) {
      padding: 50px 0;
    }
  }
  &__top-block {
    @media (min-width: $tablet-min) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  h1 {
    color: $violet;
    text-align: center;
    @media (min-width: $laptop-min) {
      text-align: left;
    }
  }
  &__search-block {
    display: flex;
    flex-direction: column;
  }
  &__search-input {
    height: 40px;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    background: url('../img/search-icon.svg') left 15px top 11px/18px no-repeat white;
    @media (min-width: $tablet-min) {
      min-width: 300px;
    }
    @media (min-width: $laptop-min) {
      min-width: 400px;
      font-size: 18px;
    }
    @media (min-width: $scaf) {
      min-width: 500px;
    }
  }
  &__search-info {
    display: block;
    width: 100%;
    margin-top: 15px;
    @media (min-width: $laptop-min) {
      display: inline;
      width: auto;
      margin-left: 20px;
    }
  }
  &__search-table {
    display: block;
    width: 100%;
    margin: 3px 0;
    border: none;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    @media (min-width: $laptop-min) {
      margin: 18px 0;
    }
    &--show {
      margin: 15px 0;
      border: 1px solid black;
      @media (min-width: $laptop-min) {
        margin: 18px 0 50px;
      }
    }
    tbody {
      display: block;
      width: 100%;
    }
    tr {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-bottom: 1px solid #9A9A9A;
      // &:nth-child(2n) {
      //   background-color: #eeeeee;
      // }
      &:last-child {
        border-bottom: none;
      }
      &.ceni__search-title {
        padding: 20px;
        font-size: 18px;
        color: $violet;
        font-weight: bold;
      }
      @media (min-width: $laptop-min) {
        flex-direction: row;
        padding: 0;
      }
      td {
        font-size: 14px;
        @media (min-width: $laptop-min) {
          padding: 20px;
          font-size: 16px;
        }
        &:first-child {
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 15px;
          @media (min-width: $laptop-min) {
            display: flex;
            align-items: center;
            width: 80%;
            margin-bottom: 0;
            border-right: 1px solid #d8d8d8;
          }
        }
        &:nth-child(2) {
          &::after {
            content: ' руб';
          }
          @media (min-width: $laptop-min) {
            display: inline-block;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            text-align: center;
          }
        }
      }
    }
  }
  &__p-block {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    border-radius: 10px;
    background-color: white;
    @media (min-width: $tablet-min) {
      flex-direction: row;
      padding: 20px;
    }
    @media (min-width: $laptop-min) {
      border-radius: 20px;
    }
    p {
      @media (min-width: $tablet-min) {
        margin: 0 10px;
      }
    }
    p:nth-child(2) {
      @media (max-width: $phone-max) {
        margin-top: 0;
      }
    }
    a {
      color: $violet;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__wrapper {
    margin-top: 20px;
    @media (min-width: $laptop-min) {
      margin-top: 50px;
    }
  }
  &__item {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    &:nth-child(1) {
      .ceni__item-img {background-image: url('../img/ceni-item-back1.jpg');}
    }
    &:nth-child(2) {
      .ceni__item-img {background-image: url('../img/ceni-item-back2.jpg');}
    }
    &:nth-child(3) {
      .ceni__item-img {background-image: url('../img/ceni-item-back3.jpg');}
    }
    &:nth-child(4) {
      .ceni__item-img {background-image: url('../img/ceni-item-back4.jpg');}
    }
    &:nth-child(5) {
      .ceni__item-img {background-image: url('../img/ceni-item-back5.jpg');}
    }
    &:nth-child(6) {
      .ceni__item-img {background-image: url('../img/ceni-item-back6.jpg');}
    }
    &:nth-child(7) {
      .ceni__item-img {background-image: url('../img/ceni-item-back7.jpg');}
    }
    &:nth-child(8) {
      .ceni__item-img {background-image: url('../img/ceni-item-back8.jpg');}
    }
    &:nth-child(9) {
      .ceni__item-img {background-image: url('../img/ceni-item-back9.jpg');}
    }
    &:nth-child(10) {
      .ceni__item-img {background-image: url('../img/ceni-item-back10.jpg');}
    }
    &:nth-child(11) {
      .ceni__item-img {background-image: url('../img/ceni-item-back11.jpg');}
    }
    &:nth-child(12) {
      .ceni__item-img {background-image: url('../img/ceni-item-back12.jpg');}
    }
    &:nth-child(13) {
      .ceni__item-img {background-image: url('../img/ceni-item-back13.jpg');}
    }
    &:nth-child(14) {
      .ceni__item-img {background-image: url('../img/ceni-item-back14.jpg');}
    }
  }
  &__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media (min-width: $tablet-min) {
      padding: 10px 20px;
    }
    @media (min-width: $laptop-min) {
      position: relative;
      height: 70px;
      padding: 0 25px;
      font-size: 18px;
      text-transform: uppercase;
      z-index: 5;
      &:hover {
        background-color: #f9f6ff;
        // opacity: 0.7;
      }
    }
    &::after {
      content: '';
      display: block;
      min-width: 40px;
      min-height: 40px;
      margin-left: 10px;
      border-radius: 20px;
      background: url('../img/ceni-arrow.svg') center/17px no-repeat;
      transition: .3s;
    }
    &--show {
      &::after {
        transform: rotate(180deg);
        @media (min-width: $laptop-min) {
          background-color: #F1F1F1;
        }
      }
      &:hover {
        background-color: transparent;
        &::after {
          @media (min-width: $laptop-min) {
            background-color: #f9f6ff;
          }
        }
      }
    }
  }
  &__item-top {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    &--show {
      display: flex;
    }
    @media (min-width: $tablet-min) {
      flex-direction: row-reverse;
    }
    @media (min-width: $laptop-min) {
      position: relative;
      flex-direction: row;
    }
  }
  &__item-img {
    width: 100%;
    padding-top: 65%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: $tablet-min) {
      width: 48%;
      padding-top: 0;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, white 0, white 5%, transparent 40%);
      }
    }
    @media (min-width: $laptop-min) {
      position: absolute;
      right: 0;
      top: -70px;
      height: calc(100% + 70px);
    }
  }
  &__item-text {
    padding: 0 20px;
    @media (max-width: $phone-max) {
      display: none;
    }
    @media (min-width: $tablet-min) {
      width: 48%;
      padding: 20px;
    }
  }
  &__table {
    display: none;
    height: auto;
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    visibility: hidden;
    transition: max-height .3s,margin .3s;
    &--show {
      display: block;
      max-height: 20000px;
      visibility: visible;
    }
    @media (min-width: $laptop-min) {
      border: 1px solid black;
      border-radius: 0 0 10px 10px;
    }
    tbody {
      display: block;
      width: 100%;
    }
    tr {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-bottom: 1px solid #9A9A9A;
      &:nth-child(2n) {
        @media (min-width: $laptop-min) {
          background-color: #eeeeee;
        }
      }
      &:last-child {
        border-bottom: none;
      }
      @media (min-width: $laptop-min) {
        flex-direction: row;
        padding: 0;
      }
      td {
        font-size: 14px;
        @media (min-width: $laptop-min) {
          padding: 20px;
          font-size: 16px;
        }
        &:first-child {
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 15px;
          @media (min-width: $laptop-min) {
            display: flex;
            align-items: center;
            width: 80%;
            margin-bottom: 0;
            border-right: 1px solid #d8d8d8;
          }
        }
        &:nth-child(2) {
          &::after {
            content: ' руб';
          }
          @media (min-width: $laptop-min) {
            display: inline-block;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            text-align: center;
          }
        }
        &.ceni__item-strong {
          color: $violet;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 0;
          border-right: none;
        }
      }
    }
  }
  &__through {
    span {
      text-decoration: line-through;
    }
    &::after {
      content: none !important;
    }
  }
}
