.child-services {
  background: url('../img/child-services-back.png') center no-repeat;
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__title {
    text-align: center;
  }
  p {
    margin: 100px 0;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    span {
      color: black;
      text-align: center;
    }
  }
}
