.faq {
  &__container {
    padding: 100px 0;
  }
  &__title {
    font-size: 40px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #462899;
    &::after {
      content: '';
      width: 18px;
      height: 10px;
      background: url('../img/faq-arrow.svg') center no-repeat;
      transition: .3s;
    }
    &--show {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &__text {
    height: auto;
    max-height: 0px;
    overflow: hidden;
    margin: 0;
    visibility: hidden;
    transition: max-height .3s, margin .3s;
    &--show {
      max-height: 200px;
      margin: 20px 0;
      visibility: visible;
    }
  }
}
body.webp .faq {
  background: url('../img/faq-background.webp') top right no-repeat;
}
body.no-webp .faq {
  background: url('../img/faq-background.png') top right no-repeat;
}
