.four-steps {
  background-color: $violet;
  &__container {
    padding: 30px 0;
    @media (min-width: $laptop-min) {
      padding: 50px;
    }
  }
  &__title {
    color: white;
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-min) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin: 20px 0;
    color: white;
    @media (min-width: $tablet-min) {
      width: 46%;
    }
    @media (min-width: $scaf) {
      display: flex;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    @media (min-width: $laptop-min) {
      width: 70px;
      height: 70px;
    }
    svg {
      height: 26px;
      @media (min-width: $laptop-min) {
        height: 44px;
      }
    }
  }
  &__text {
    @media (min-width: $scaf) {
      width: calc(100% - 100px);
      margin-left: 30px;
    }
    ul {
      padding-left: 15px;
    }
  }
}
