.gallery {
  display: none;
  padding: 100px 0;
  background: url('../img/background-symbol.png') left -200px top 0 no-repeat #462899;
  @media (min-width: $laptop-min) {
    display: block;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    height: 620px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // &__name {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   div {
  //     width: 1ch;
  //     text-align: center;
  //     font-size: 20px;
  //     color: white;
  //     word-wrap: break-word;
  //   }
  // }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__button-up, &__button-down {
    width: 46px;
    height: 25px;
    border: none;
  }
  &__button-up {
    background: url('../img/arrow-up.svg') center no-repeat;
  }
  &__button-down {
    background: url('../img/arrow-down.svg') center no-repeat;
  }
  &__numbers {
    margin: 30px 0;
    text-align: center;
    span {
      font-size: 18px;
      color: white;
    }
  }
  &__photo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }
  &__photo-item {
    line-height: 0;
    // picture {
    //   line-height: 0;
    // }
  }
}
