.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  &__nav-button {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 20px;
    height: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media (min-width: $laptop-min) {
      display: none;
    }
    span {
      display: block;
      width: 100%;
      height: 2px;
      font-size: 0;
      line-height: 0;
      background-color: white;
      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
      }
      &::before {
        top: 0;
      }
      &::after {
        top: 16px;
      }
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: black;
    animation: from-right .3s;
    &--show {
      display: flex;
    }
    @media (min-width: $laptop-min) {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      height: auto;
    }
  }
  &__close-button {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media (min-width: $laptop-min) {
      display: none;
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-color: transparent;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 9px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
      }
      &::before {
        left: 0;
        transform: rotate(-45deg);
      }
      &::after {
        right: 0;
        transform: rotate(45deg);
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0 0;
    margin: 0;
    list-style: none;
    background-color: white;
    @media (min-width: $laptop-min) {
      flex-direction: row;
      width: calc(100% - 200px);
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 50px;
    &:hover {
      background-color: rgb(237, 234, 245);
      @media (min-width: $laptop-min) {
        background-color: transparent;
      }
      > a {
        color: $violet;
      }
    }
    @media (min-width: $laptop-min) {
      position: relative;
      justify-content: center;
      align-items: center;
      padding-right: 0;
      &:hover .main-nav__item-list {
        position: absolute;
        z-index: 100;
        top: 25px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 45px 0 20px;
        background-color: white;
        li {
          padding: 0 20px;
          &:hover {
            background-color: #EDEAF5;
          }
        }
        a:hover {
          background-color: #EDEAF5;
        }
      }
    }
    & > a {
      width: calc(100% - 39px);
      height: 51px;
      padding: 15px 60px;
      box-sizing: border-box;
      color: black;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      &:hover {color: $violet;}
      @media (min-width: $laptop-min) {
        width: auto;
        height: auto;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
  &__item-list {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: $laptop-min) {
      &:hover {
        display: flex;
      }
    }
    li {
      display: flex;
      align-items: center;
      height: 51px;
    }
    a {
      width: 100%;
      height: 51px;
      padding: 15px 0 15px 60px;
      box-sizing: border-box;
      color: black;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      &:hover {color: $violet;}
      @media (min-width: $laptop-min) {
        width: auto;
        height: auto;
        padding: 0;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
  &__item-button {
    width: 19px;
    height: 31px;
    padding: 10px;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media (min-width: $laptop-min) {
      display: none;
    }
    svg {
      transition: all .3s ease;
    }
    &--show svg {
      transform: rotate(-180deg);
    }
    &--show ~ .main-nav__item-list {
      display: block;
    }
  }
  &__black {
    width: 100%;
    padding: 20px 0;
    background-color: black;
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: flex;
        justify-content: center;
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px 60px;
          color: white;
          text-decoration: none;
        }
      }
    }
    @media (min-width: $laptop-min) {
      display: none;
    }
  }
  &__black-phone {
    display: flex;
    align-items: center;
    width: 100%;
    // height: 100%;
    padding: 10px 60px;
    text-decoration: none;
    span {
      padding-left: 10px;
      color: white;
    }
  }
  &__white {
    width: 100%;
    padding: 10px 0;
    background-color: white;
    @media (min-width: $laptop-min) {
      display: none;
    }
    ul {
      display: flex;
      padding: 0 60px;
      margin: 0;
      list-style: none;
      li {
        margin: 0 5px;
        &:nth-child(1) a::before {background-image: url('../img/instagram.png');}
        &:nth-child(2) a::before {background-image: url('../img/youtube.png');}
        &:nth-child(3) a::before {background-image: url('../img/vk.png');}
        a {
          display: block;
          font-size: 0;
          letter-spacing: 0;
          cursor: pointer;
          &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-size: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
