.new-services {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  a {
    color: black;
    text-decoration: none;
  }
  &__wrapper {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-top: 1px solid $violet;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    visibility: hidden;
    opacity:0;
    transition: all .3s ease;
    z-index: 100;
    &--active {
      display: flex;
      transform: none;
      visibility: visible;
      opacity: 1;
    }
  }
  &__aside {
    width: 25%;
    padding: 20px 0;
    background-color: #e3edf6;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #a7bfc6;
    &:first-child {
      border-top: 1px solid #a7bfc6
    }
    &--active {
      background-color: #fff;
      .new-services__icon {
        fill: #4e4e4e;
      }
      span {color: #4e4e4e}
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px 25px 10px 45px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  &__icon {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    fill: $violet;
    &--1 {
      top: 11px;
      left: 9px;
      width: 27px;
      height: 23px;
    }
    &--2 {
      top: 10px;
      left: 16px;
      width: 14px;
      height: 25px;
    }
    &--3 {
      top: 8px;
      left: 9px;
      width: 27px;
      height: 29px;
    }
    &--4 {
      top: 8px;
      left: 9px;
      width: 27px;
      height: 29px;
    }
    &--5 {
      top: 8px;
      left: 6px;
      width: 33px;
      height: 29px;
    }
    &--6 {
      top: 8px;
      left: 11px;
      width: 24px;
      height: 29px;
    }
    &--7 {
      top: 12px;
      left: 14px;
      width: 17px;
      height: 22px;
    }
    &--8 {
      top: 15px;
      left: 9px;
      width: 28px;
      height: 15px;
    }
    &--9 {
      top: 12px;
      left: 9px;
      width: 27px;
      height: 21px;
    }
    &--10 {
      top: 12px;
      left: 9px;
      width: 27px;
      height: 21px
    }
  }
  &__menu-block {
    position: relative;
    flex-grow: 1;
    padding: 20px;
    overflow-y:scroll;
  }
  &__block-item {
    display: none;
    position: absolute;
    width: calc(100% - 40px);
    &--active {
      display: block;
    }
  }
  &__title-block {
    padding-bottom: 10px;
    border-bottom: 2px solid $violet;
  }
  &__title {
    font-size: 28px;
  }
  &__columns {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    column-count: 2;
  }
  &__columns-item {
    display: inline;
    page-break-inside: avoid;
  }
  &__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__menu-title {
    font-weight: 700;
  }
  &__menu-list li {
    font-size: 14px;
  }
  &__close-button {
    position:absolute;
    top:20px;
    right:30px;
    display:block;
    width:20px;
    height:20px;
    font-size:0;
    line-height:0;
    background:url("../img/close.svg") no-repeat center/20px;
    border:none;
  }
}
