.no-pain {
  color: $violet;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;
    @media (min-width: $tablet-min) {
      position: relative;
      padding: 30px 0;
      flex-direction: column;
      align-items: flex-end;
    }
    @media (min-width: $laptop-min) {
      padding: 80px 0;
    }
  }
  &__maloy {
    width: 60%;
    margin-top: 20px;
    line-height: 0;
    @media (min-width: $tablet-min) {
      position: absolute;
      left: 0;
      top: 0;
      width: 40%;
    }
    @media (min-width: $laptop-min) {
      top: auto;
      bottom: 0;
    }
  }
  &__sertif {
    width: 100%;
    margin-top: -100px;
    @media (min-width: 420px) {
      width: 80%;
    }
    @media (min-width: $tablet-min) {
      position: absolute;
      left: 0;
      bottom: -100px;
      margin-top: 0;
    }
    @media (min-width: $laptop-min) {
      bottom: -150px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media (min-width: $tablet-min) {
      width: 55%;
    }
  }
  &__title {
    font-family: 'Alabama';
    font-size: 24px;
    text-align: center;
    @media (min-width: $tablet-min) {
      font-size: 24px;
    }
    @media (min-width: $laptop-min) {
      font-size: 28px;
    }
  }
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      width: 1px;
      height: 85%;
      background-color: black;
      @media (min-width: $scaf) {
        height: 88%;
      }
    }
    @media (min-width: $tablet-min) {
      margin-top: 20px;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: -30px;
      width: 21px;
      height: 21px;
      margin-right: 20px;
      background-color: #98c8ed;
      border-radius: 50%;
    }
    @media (min-width: $tablet-min) {
      margin-bottom: 70px;
    }
  }
  &__sertif-img {
    @media (min-width: $tablet-min) {
      position: absolute;
      bottom: -220px;
      left: 200px;
    }
  }
}
