.page-footer {
  padding: 20px 0;
  color: white;
  background-color: #462899;
  @media (min-width: $laptop-min) {
    padding: 30px 0;
  }
  @media (min-width: $tablet-min) {
    padding: 50px 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-min) {
      flex-direction: row;
    }
  }
  &__logo {
    width: 100%;
    @media (min-width: $tablet-min) {
      width: 23%;
    }
  }
  &__menus {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: $tablet-min) {
      margin-left: 40px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      margin: 0;
      padding: 0;
      list-style: none;
      @media (min-width: $tablet-min) {
        flex-direction: row;
      }
    }
    a {
      font-size: 16px;
      color: white;
      text-decoration: none;
    }
  }
  &__top-menu {
    width: 100%;
  }
  &__bottom-menu {
    width: 60%;
  }
  .socials__container {
    display: none;
    @media (min-width: $tablet-min) {
      display: block;
      padding: 0;
    }
  }
}
