.reviews {
  padding: 30px 0;
  @media (min-width: $laptop-min) {
    padding: 50px 0;
  }
  &__title {
    text-align: center;
  }
  &__button-list {
    display: none;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 0;
    @media (min-width: $scaf) {
      display: none;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 0;
    border: 2px solid #d6d7d9;
    border-radius: 50%;
    background-color: transparent;
    z-index: 10;
    &::before {
      content: '';
      width: 15px;
      height: 15px;
      border-top: 2px solid #d6d7d9;
    }
    &--prev {
      padding-left: 5px;
      &::before {
        border-left: 2px solid #d6d7d9;
        transform: rotate(-45deg);
      }
    }
    &--next {
      padding-right: 5px;
      &::before {
        border-right: 2px solid #d6d7d9;
        transform: rotate(45deg);
      }
    }
  }
  &__list {
    margin-top: -100px;
    overflow: hidden;
    @media (min-width: $scaf) {
      margin-top: 0;
      padding-top: 50px;
    }
  }
  &__wrapper {
    display: flex;
    width: 400vw;
    transition: .3s ease;
    @media (min-width: $tablet-min) {
      width: 200vw;
    }
    @media (min-width: $scaf) {
      position: relative;
      width: calc(100% - 100px);
    	max-width: 1200px;
    	margin-left: $desktop-paddings;
    	margin-right: $desktop-paddings;
    	margin: 0 auto;
    }
  }
  &__shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 250px;
    box-shadow: 0 -20px 7px 7px rgba(0,0,0,0.1);
    border-radius: 10px 10px 0 0;
    transition: all .5s ease;
    @media (min-width: $scaf) {
      display: block;
    }
  }
  &__item {
    min-width: 100vw;
    // transform: translate(-100px);
    @media (min-width: $tablet-min) {
      min-width: 50vw;
    }
    // @media (min-width: $laptop-min) {
    //   min-width: 50%;
    // }
    @media (min-width: $scaf) {
      min-width: 25%;
    }
  }
  &__item-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: $scaf) {
      padding: 0;
    }
  }
  &__top {
    @media (min-width: $laptop-min) {
      height: 250px;
      cursor: pointer;
    }
    @media (min-width: $scaf) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
  }
  &__star-grade {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__grade {
    span {
      color: $violet;
      font-size: 30px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    a {
      color: $violet;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__reviews {
    @media (min-width: $scaf) {
      width: 100%;
      overflow: hidden;
      transition: all .3s ease;
    }
    &--active {
      // position: absolute;
      // left: 0;
      @media (min-width: $scaf) {
        .reviews__rev-list {
          opacity: 1;
        }
      }
    }
  }
  &__rev-list {
    transition: all 1s ease;
    @media (min-width: $scaf) {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      opacity: 0;
      // transform: translateY(-100%);
      // opacity: 0;
    }
  }
  &__rev-item {
    @media (max-width: 1199px) {
      &:nth-of-type(n+4) {
        display: none;
      }
    }
    @media (min-width: $scaf) {
      width: 50%;
    }
  }
}
