.reviews {
  padding: 50px 0;
  @media (min-width: $tablet-min) {
    padding: 80px 0;
  }
  @media (min-width: $laptop-min) {
    padding: 100px 0;
  }
  &__title {
    text-align: center;
  }
  &__button-list {
    display: none;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 0;
    @media (min-width: $scaf) {
      display: none;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 0;
    border: 2px solid #d6d7d9;
    border-radius: 50%;
    background-color: transparent;
    z-index: 10;
    &::before {
      content: '';
      width: 15px;
      height: 15px;
      border-top: 2px solid #d6d7d9;
    }
    &--prev {
      padding-left: 5px;
      &::before {
        border-left: 2px solid #d6d7d9;
        transform: rotate(-45deg);
      }
    }
    &--next {
      padding-right: 5px;
      &::before {
        border-right: 2px solid #d6d7d9;
        transform: rotate(45deg);
      }
    }
  }
  &__list {
    margin-top: -100px;
    overflow: hidden;
    @media (min-width: $scaf) {
      margin-top: 0;
    }
  }
  &__wrapper {
    display: flex;
    width: 400vw;
    transition: .3s ease;
    @media (min-width: $tablet-min) {
      width: 200vw;
    }
    @media (min-width: $scaf) {
      width: calc(100% - 100px);
    	max-width: 1200px;
    	margin-left: $desktop-paddings;
    	margin-right: $desktop-paddings;
    	margin: 0 auto;
      overflow: hidden;
    }
  }
  &__item {
    min-width: 100vw;
    // transform: translate(-100px);
    @media (min-width: $tablet-min) {
      min-width: 50vw;
    }
    // @media (min-width: $laptop-min) {
    //   min-width: 50%;
    // }
    @media (min-width: $scaf) {
      min-width: 25%;
    }
  }
  &__item-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__top {
    @media (min-width: $laptop-min) {
      height: 250px;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
  }
  &__star-grade {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__grade {
    span {
      color: $violet;
      font-size: 30px;
    }
  }
}
