.sam-form {
  background-color: $violet;
  &__left {
    padding: 50px 0;
    @media (min-width: $laptop-min) {
      max-width: 600px;
    }
  }
  &__title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
    @media (min-width: $tablet-min) {
      margin-top: 40px;
      font-size: 32px;
    }
    @media (min-width: $laptop-min) {
      margin-top: 50px;
      font-size: 40px;
      text-align: left;
    }
  }
  &__span {
    font-size: 18px;
    color: white;
  }
  &__form-block {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    @media (min-width: $tablet-min) {
      margin-top: 40px;
      padding: 45px;
      border-radius: 15px;
    }
    @media (min-width: $laptop-min) {
      margin-top: 50px;
      padding: 55px;
      border-radius: 20px;
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
      color: $violet;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    input {
      margin: 10px 0;
      padding: 15px;
      font-size: 18px;
      font-weight: 300;
      border: 1px solid $main-green;
      border-radius: 20px;
    }
  }
  &__submit {
    margin-top: 50px;
    padding: 15px;
    font-size: 25px;
    font-weight: 300;
    color: white;
    background-color: $main-green;
    border: none;
    border-radius: 20px;
  }
}
body.webp .sam-form__container {
  @media (min-width: $laptop-min) {
    background: url('../img/sam-background.webp') right bottom no-repeat;
  }
}
body.no-webp .sam-form__container {
  @media (min-width: $laptop-min) {
    background: url('../img/sam-background.png') right bottom no-repeat;
  }
}
