.secrets {
  &__container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 10px;
    @media (min-width: $tablet-min) {
      width: calc(100% - 30px);
      padding: 15px;
    }
    @media (min-width: $laptop-min) {
      width: calc(100% - 100px);
      padding: 50px 50px 0;
    }
  }
  &__content {
    width: 100%;
    color: $violet;
    border-radius: 10px;
    background: url('../img/secrets-back.png') right bottom/auto 70% no-repeat #F8F8F8;
    @media (min-width: $laptop-min) {
      background: none;
    }
  }
  &__title {
    font-family: 'Alabama';
    font-size: 20px;
    text-align: center;
    @media (min-width: $tablet-min) {
      font-size: 24px;
    }
    @media (min-width: $laptop-min) {
      font-size: 28px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    max-width: 760px;
    margin: 0 auto;
    @media (min-width: $tablet-min) {
      padding: 50px 0 80px;
    }
  }
  &__item {
    position: relative;
    margin-left: 0;
    margin-bottom: 30px;
    &:last-child {margin-bottom: 0;}
    &::before {
      content: '';
      position: absolute;
      left: 10px;
      top: calc(50% - 6px);
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ECB018;
      @media (min-width: $tablet-min) {
        width: 18px;
        height: 18px;
        background-color: $violet;
      }
    }
    @media (min-width: $tablet-min) {
      margin-left: 30px;
      margin-bottom: 0;
    }
    @media (min-width: $laptop-min) {
      margin-left: 80px;
    }
  }
  svg {
    display: none;
    @media (min-width: $tablet-min) {
      display: block;
      width: 100px;
      height: 100px;
      margin: -20px 0;
    }
    @media (min-width: $laptop-min) {
      width: 178px;
      height: 178px;
      margin: -20px 0;
    }
  }
  &__span {
    position: absolute;
    left: -25px;
    bottom: calc(50% - 30px);
    display: inline-block;
    width: 120px;
    text-align: center;
    transform: rotate(-90deg);
    @media (min-width: $tablet-min) {
      left: 0;
    }
  }
  &__text {
    padding-left: 50px;
    @media (min-width: $tablet-min) {
      max-width: 500px;
      padding-left: 110px;
    }
  }
  &__img {
    display: none;
    @media (min-width: $laptop-min) {
      display: flex;
      align-items: flex-end;
    }
  }
}
