.secrets {
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    color: #462899;
  }
  &__title {
    font-family: 'Alabama';
    font-size: 40px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    position: relative;
    margin-left: 80px;
    // margin-bottom: 120px;
    &:last-child {margin-bottom: 0;}
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% - 9px);
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #462899;
    }
  }
  &__span {
    position: absolute;
    left: 0;
    bottom: calc(50% - 30px);
    display: inline-block;
    transform: rotate(-90deg);
  }
  &__text {
    width: 500px;
    padding-left: 110px;
  }
}
