.service-slider {
  padding: 30px 0;
  background-color: $violet;
  overflow: hidden;
  @media (min-width: $laptop-min) {
    padding: 50px 0;
  }
  @media (min-width: $tablet-min) {
    position: relative;
    padding: 80px 0;
  }
  @media (min-width: $scaf) {
    padding: 0;
    background: url('../img/service-slider-background.svg') right bottom/70% no-repeat $violet;
  }
  &__container {
    @media (min-width: $scaf) {
      position: relative;
      padding: 80px;
    }
  }
  &__wrapper {
    @media (min-width: $tablet-min) {
      width: 50%;
    }
    @media (min-width: $scaf) {
      padding: 50px 0;
    }
  }
  // &__title {
  //   @media (min-width: $tablet-min) {
  //     font-size: 24px;
  //   }
  //   @media (min-width: $laptop-min) {
  //     font-size: 40px;
  //   }
  // }
  &__img {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    line-height: 0;
    background: url('../img/service-slider-back.svg') center/cover no-repeat;
    @media (min-width: $tablet-min) {
      position: absolute;
      bottom: 0;
      right: 30px;
      display: inline-block;
      margin: 0;
      background: none;
    }
    @media (min-width: $scaf) {
      right: 0;
    }
    img {
      width: 228px;
      height: 197px;
      @media (min-width: $tablet-min) {
        width: 453px;
        height: 392px;
      }
      @media (min-width: $scaf) {
        width: 679px;
        height: 587px;
      }
    }
  }
  &__title {
    color: white;
    @media (min-width: $tablet-min) {
      text-align: left;
    }
  }
  &__text {
    margin: 30px 0;
    padding-left: calc(50% - 130px);
    color: white;
    @media (min-width: $tablet-min) {
      padding-left: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        margin: 5px 0;
        &::before {
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          margin-right: 10px;
          background: url('../img/service-slider-galka.svg') center/cover no-repeat;
        }
      }
    }
  }
  &__button-block {
    display: flex;
    justify-content: center;
    @media (min-width: $tablet-min) {
      justify-content: flex-start;
    }
  }
  &__button {
    width: 260px;
    height: 50px;
    font-weight: 500;
    color: $violet;
    background-color: white;
    border: none;
    border-radius: 15px;
  }
}
