.serv-footer {
  padding: 20px 0;
  background-color: #EEEEEE;
  @media (min-width: $tablet-min) {
    padding: 30px 0;
  }
  @media (min-width: $laptop-min) {
    padding: 50px 0;
  }
  &__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $tablet-min) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__column {
    width: 100%;
    @media (min-width: $tablet-min) {
      width: 46%;
    }
    @media (min-width: $scaf) {
      width: 23%;
    }
    h3 {
      font-size: 20px;
      color: $violet;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 10px 0;
    }
    a {
      font-size: 16px;
      color: black;
      text-decoration: none;
    }
  }
}
