.some-staff {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $tablet-min) {
      flex-direction: row;
    }
  }
  &__img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    @media (min-width: $tablet-min) {
      width: 30%;
    }
    img {
      border-radius: 10px;
      overflow: hidden;
      @media (min-width: $laptop-min) {
        border-radius: 20px;
      }
    }
  }
  &__text {
    width: 100%;
    margin: 20px 0;
    @media (min-width: $tablet-min) {
      width: 65%;
      margin: 0;
    }
  }
  hr {
    margin: 30px 0;
    @media (min-width: $laptop-min) {
      margin: 50px 0;
    }
  }
  &__certificate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__button {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    &::after {
      content: '';
      position: absolute;
      top: 9px;
      width: 10px;
      height: 10px;
      border-top: 1px solid black;
      @media (min-width: $tablet-min) {
        top: 13px;
        width: 20px;
        height: 20px;
      }
    }
    &--prev {
      &::after {
        left: 11px;
        border-left: 1px solid black;
        transform: rotate(-45deg);
      }
      @media (min-width: $tablet-min) {
        &::after {
          left: 18px;
        }
      }
    }
    &--next {
      &::after {
        right: 11px;
        border-right: 1px solid black;
        transform: rotate(45deg);
      }
      @media (min-width: $tablet-min) {
        &::after {
          right: 18px;
        }
      }
    }
    @media (min-width: $tablet-min) {
      top: calc(50% - 25px);
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }
  &__certificate-inner {
    width: calc(100% - 100px);
    overflow: hidden;
  }
  &__certificate-list {
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease;
  }
  &__certificate-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 100px);
  }
  &__running {
    position: relative;
    left: 0;
    height: 120px;
    margin-top: 50px;
    @media (max-width: $tablet-max) {height: 100px; margin-top: 30px;}
  }
  &__running-title {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    line-height: normal;
    overflow: hidden;
    span {
      display: inline-block;
      padding-left: 100%;
      font-family: 'Times New Roman';
      font-size: 100px;
      font-weight: normal;
      text-transform: uppercase;
      @media (max-width: $tablet-max) {font-size: 70px;}
      @media (max-width: $phone-max) {font-size: 26px;}
    }
    &--1 span {
      color: #E4E4E4;
      animation: scroll 15s infinite linear;}
    &--2 span {
      color: #F3F3F3;
      animation: scroll 15s infinite linear 7s;
    }
  }
}
