.staff {
  background: url('../img/staff-backimg.png') center/cover no-repeat;
  &__container {
    padding: 220px 0 100px;
  }
  &__wrapper {
    background: url('../img/staff-back.png') top/contain no-repeat;
  }
  &__main-block {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  &__photo, &__text {
    width: 50%;
  }
  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    margin-top: 20px;
    padding: 20px 0 0 20px;
    picture {
      display: block;
      width: 82.5%;
      line-height: 0;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding: 150px 30px 0;
    h2, span {color: white;}
    h2 {font-weight: 300; font-size: 40px;}
  }
  &__sign {
    display: flex;
    align-items: center;
    span {font-size: 24px;}
    img {margin-left: 20px;}
  }
  &__bottom {
    overflow: hidden;
  }
  &__list {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &__item {
    padding: 20px;
    min-width: 25%;
    box-sizing: border-box;
  }
  &__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &:hover h3, &:hover span {
      opacity: 0.7;
    }
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3, span {text-align: center;}
    h3 {font-size: 20px; font-weight: 600;}
    span {font-size: 18px; font-weight: 300;}
  }
}
