section.udalenie-retinirovannogo-zuba-mudrosti3
  .container.udalenie-retinirovannogo-zuba-mudrosti3__container
    h2 Методы лечения ретинированного зуба
    p Ретенцию можно устранить разными методиками, но чаще всего зуб мудрости подлежит удалению, особенно если растёт неправильно.
    p Показания к удалению следующие:
    ul
      li зуб вызывает воспаление всех соседних тканей;
      li ретенция перекрывает доступ к соседним зубам;
      li “восьмёрка” мешает другим зубам, забирая много места.
    p Удаление — процедура, которая проводится с местной анестезией. Стоматологическая клиника “Риадент” в Уфе предлагает услуги по удалению ретинированного зуба. Мы предлагаем пациентам различные варианты анестезии, при которых вы не будете чувствовать боль. Благодаря опыту стоматологов процедура пройдёт быстро, без дискомфорта и стресса. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
