section.udalenie-retinirovannogo-zuba-mudrosti1
  .container.img-left__container
    .img-left__text
      h2 Удаление ретинированного зуба мудрости в стоматологической клинике «Риадент»
      p Ретинированный зуб мудрости — это “восьмёрка”, которая не прорезалась полностью, и частично или целиком скрывается под десной. Это является распространённой проблемой, часто причиняет дискомфорт и болевые ощущения.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
