section.udalenie-retinirovannogo-zuba-mudrosti2
  .container.udalenie-retinirovannogo-zuba-mudrosti2__container
    h2 Причины и основные симптомы ретенции
    .two-columns__columns
      .two-columns__column
        p Зубы мудрости нередко становятся проблемой для своего обладателя. Они растут неправильно, вызывают боль, воспаление, их сложно и страшно удалять. Ретенция зубов мудрости тоже может приносить дискомфорт. Основные причины её возникновения
        ul
          li скученность зубов;
          li воспаления полости рта;
          li генетическая предрасположенность;
          li преждевременное удаление молочных зубов;
          li нарушения в развитии челюсти.
      .two-columns__column
        p Ретенированные зубы мудрости могут развиваться без симптомов, не причиняя человеку никаких неудобств. Но чаще всего их наличие вызывает:
        ul
          li дискомфорт при жевании и раскрытии челюсти;
          li давление на соседние зубы, их смещение;
          li боль в ухе;
          li увеличение лимфатических узлов.
