section.akcii1-slider
  .container.akcii1-slider__container
    .akcii1-slider__wrapper
      h1.akcii1-slider__title Семейная скидка для первичных пациентов
      .akcii1-slider__text
        p Скидка всем новым пациентам – 3% на лечение зубов для членов их семьи.
      .akcii1-slider__button-block.akcii1-slider__button-block
        button.akcii1-slider__button.form__call-popup Записаться на прием
    .akcii1-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider1.webp")
        img(src="img/akcii-slider1.jpg" alt="")
