section.lechenie-zubov4
  .container.img-right__container
    .img-right__text
      h2 Особенности лечения передних зубов
      p Лечение передних зубов, которые видны в полости рта, огромную роль играет эстетическая составляющая. Процедуры необходимы не только для улучшения состояния полости рта, но и для положительного изменения цвета и формы. Чаще всего это происходит, если зубы пострадали от кариеса или эрозии эмали, либо подверглись механическим травмам, либо эстетическим дефектам другого плана.
      p Необходимо обратиться за помощью к стоматологу, если:
      ul
        li зубная эмаль заметно потемнела;
        li возникла кариозная полость;
        li наблюдаются болевые ощущения при принятии холодной и/или горячей пищи;
        li на зубах имеются сколы.
      p Противопоказания к стоматологическому лечению – острые респираторные заболевания, третий триместр беременности и острый пародонтоз.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/lechenie-zubov2.webp")
        img(src="img/lechenie-zubov2.jpg" alt="")
