section.lechenie-zubov3
  .container.lechenie-zubov3__container
    h2 Другие стоматологические заболевания
    p Стоматологии известны сотни разнообразных заболеваний. Кроме кариеса, от которого страдает более 90% мирового населения, существует ряд прочих, например:
    ul
      li <strong>Периодонтит</strong>. Это воспалительный процесс, который способен привести к полной потере зуба. Консервативное лечение периодонтита подразумевает чистку корневого канала, хирургическое лечение требует резекции верхушки, ампутации, либо полного удаления зуба;
      li <strong>Пульпит</strong>. Процесс воспаления пульпы – рыхлой соединительной ткани, заполняющей полость зуба. Воспаление устраняется терапией при помощи антибиотиков и антисептиков, либо хирургическим путём (чистка);
      li <strong>Гипоплазия эмали</strong>. Порок развития, заключающийся в недоразвитии зуба или его эмали при формировании. Лечение подразумевает шлифовку эмали, медикаментозное отбеливание, установку коронок;
      li <strong>Эрозия эмали</strong>. При лечении данного заболевания, как правило, назначаются лекарственные препараты, содержащие кальций, фосфор, витамины, проводится электрофорез, пломбирование, установка коронок или виниров;
      li <strong>Флюороз</strong>. Заболевание может возникнуть при переизбытке фтора. Излечивается путем отбеливания, реставрации или протезирования;
      li <strong>Повышенная чувствительность (гиперестезия)</strong>. Способ избавления от болезни зависит от причин возникновения. Наиболее частыми методами являются пломбирование и реминерализующая терапия;
      li <strong>Заболевания пародонта</strong>. Чаще всего это гингивит, пародонтоз или пародонтит. При болезнях пародонта используют как консервативные, так и хирургические методики – в зависимости от разновидности и степени тяжести заболевания.
