section.lechenie-zubov1
  .container.img-left__container
    .img-left__text
      h2 Лечение зубов в клинике «Риадент»
      p Своевременно позаботиться о здоровье зубов – крайне важно, поэтому рекомендуем вам пройти лечение в стоматологии “Риадент”! Мы гарантируем высокий уровень профессионализма и использование самых современных технологий.
      p Лечение зубов – это перечень разнообразных стоматологических процедур, направленных на сохранение и восстановление повреждённых тканей. Посещать кабинет стоматолога необходимо минимум раз в полгода. Если вы живёте в Уфе, лучшим выбором станет стоматология “Риадент”. Наши стоматологи – специалисты с высокой квалификацией, а клиника оснащена современным оборудованием. Это гарантирует эффективную диагностику и лечение с минимальным уровнем дискомфорта.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
