section.lechenie-zubov6
  .container.lechenie-zubov6__container
    h2 Сколько будет стоить лечение зубов?
    p Цены на лечение могут быть разнообразными. Стоимость услуг стоматолога нельзя назвать точно, поскольку на неё влияет множество различных факторов.
    p Среди них:
    ul
      li вид заболевания и степень его тяжести;
      li сложность каждого конкретного случая;
      li объём предстоящих стоматологических работ;
      li разновидность используемых материалов.
    p Точный расчёт стоимости процедур специалисты стоматологической клиники “Риадент” предоставляют пациенту после консультации и диагностики. Однако у нас существует приблизительный прайс-лист, с помощью которого вы можете ориентироваться по стоимости услуг.
    p <strong>Не забывайте:</strong> чем раньше заболевание будет обнаружено, тем проще и дешевле будет его вылечить. Стоит также помнить, что даже самые сложные процедуры для спасения зуба не так скажутся на бюджете, как протезирование при полной его потере.
    p Не пренебрегайте здоровьем и красотой своей улыбки! Пройдите своевременную диагностику и лечение в стоматологии “Риадент”.
