section.lechenie-zubov2
  .container.lechenie-zubov2__container
    h2 Кариес – наиболее распространённое стоматологическое заболевание
    p Это патологический процесс, поражающий зубную эмаль и дентин. Наличие зубного налёта позволяет развиваться большому количеству бактерий, выделяющих органические кислоты. В результате разрушается зубная ткань. Кариес необходимо своевременно лечить во избежание более серьёзных последствий.
    p Наиболее распространённые причины образования кариеса:
    ul
      li некачественная гигиена полости рта;
      li неправильное питание;
      li нарушенная микрофлора ротовой полости;
      li наследственность и системные заболевания;
      li механические повреждения зубных тканей;
      li негативное воздействие внешних факторов (прием лекарственных препаратов, неблагоприятная экология).
    p Симптомы кариеса разнообразны на каждой стадии. Изначально пациент может обнаружить на эмали небольшие пятна. Когда кариес начинает развиваться, растёт и чувствительность зуба. Появляются болевые ощущения, перерастающие постепенно в постоянную ноющую боль.
    p Метод лечения выбирается в зависимости от стадии. Если повреждён только поверхностный слой эмали, есть возможность восстановить и укрепить зуб с помощью препаратов, содержащих фтор, фосфор и кальций. Если процесс поражения зашёл глубже, необходимо удалить повреждённые зубные ткани и произвести пломбирование.
