section.lechenie-zubov5
  .container.lechenie-zubov5__container
    h2 Лечение зубов мудрости
    p Зубы мудрости в большинстве случаев начинают прорезаться после 18-ти лет, а зачастую и гораздо позже. Чаще всего “восьмёрку” удаляют, так как они могут негативно повлиять на прикус. Удаление не нужно, если зуб мудрости не влияет на положение остальных зубов, либо являются опорой для имплантатов. Также “восьмёрку” оставляют, если соседние зубы удалены.
