section.prices
  .container.prices__container
    h2.prices__title Стоимость реставрации зубов
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Восстановление зуба
      tr
        td Шинирование зубов с применением стекловолоконных материалов, композитных материалов светового отверждения 1 см.(риббонд)
        td 8000₽
      tr
        td Восстановление зуба пломбой 5 класс по Блэку
        td 3000₽
      tr
        td Временное восстановление зуба
        td 1700
      tr
        td Полировка, финишная обработка реставрации зуба
        td 400
      tr
        td Временная реставрация риббонд 1 едр зуба
        td 2500
      tr
        td Временная реставрация
        td 1500
