section.restavraciya-zubov1
  .container.img-left__container
    .img-left__text
      h2 Зачем нужна реставрация?
      p Реставрация зубов — одна из самых востребованных процедур в эстетической стоматологии. Она подразумевает специальные стоматологические процедуры, направленные на восстановление естественного и красивого облика зуба. С помощью реставрации устраняются следующие проблемы:
      ul
        li наличие неровностей, сколов и трещин;
        li плохое качество зубной эмали;
        li наличие межзубных щелей;
        li неправильная форма зуба;
        li неправильное положение зуба.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/restavraciya-zubov1.webp")
        img(src="img/restavraciya-zubov1.jpg" alt="")
