section.restavraciya-zubov3
  .container.restavraciya-zubov3__container
    h2 Реставрация прямым методом
    p Прямой метод реставрации подразумевает использование фотополимеров, которые соединяются с эмалью зуба.
    p С помощью таких материалов можно точно повторить натуральный оттенок эмали и часть её природных особенностей (например, светопроницаемость). Как проходит реставрация:
    ul
      li Проводится профессиональная чистка зубов, с помощью которой можно наиболее точно узнать натуральный оттенок эмали пациента. При необходимости вылечивается кариес и вводится индивидуально подобранная анестезия;
      li Рабочая зона изолируется: если отсутствует значительная часть зуба, устанавливается штифт;
      li Специалист последовательно наносит композитный материал слой за слоем, после чего зуб шлифуется для придания правильной и натуральной формы.
