section.restavraciya-zubov2
  .container.three-items__container
    h2.three-items__title Особенности и способы восстановления зубов
    p Для восстановления зубов требуется строго индивидуальный подход. При этом учитывается ряд факторов:
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/restavraciya-zubov2.jpg" alt="")
        p форма и рельеф зуба: для стоматолога важно воспроизвести правильную анатомическую форму, максимально близкую к натуральной;
      .three-items__item
        .three-items__img
          img(src="img/restavraciya-zubov3.jpg" alt="")
        p оттенок эмали: у каждого человека он индивидуален, и при этом не всегда однороден. Эти показатели важно учитывать, чтобы восстановленный зуб выглядел естественно, и не выделялся среди других;
      .three-items__item
        .three-items__img
          img(src="img/restavraciya-zubov4.jpg" alt="")
        p прозрачность зуба: она бывает разной, и может меняться от основания до края. Этой особенностью нельзя пренебрегать, поскольку, в противном случае, зуб будет выглядеть искусственным.
    p Эстетическая стоматология использует два метода реставрации, которые различаются по срокам выполнения и стоимости. Это:
    ul
      li прямой метод — все процедуры проводятся за одно посещение стоматолога, и выполняются в ротовой полости;
      li непрямой метод — большинство манипуляций совершается вне ротовой полости клиента.
