section.restavraciya-zubov4
  .container.restavraciya-zubov4__container
    h2 Реставрация непрямым методом
    p Непрямой метод подразумевает микропротезирование специальными эстетичными конструкциями — винирами. Это небольшие накладки на зубы, с помощью которых достигается идеальный внешний вид.
    p Как проходит установка:
    ul
      li проводится профессиональная чистка зубов, после чего определяется точный оттенок эмали. Под него стоматолог подбирает нужный оттенок виниров;
      li пациенту индивидуально подбирается и проводится анестезия;
      li передняя поверхность зуба обтачивается, и врач снимает слепок;
      li в лаборатории специалисты создают индивидуальный микропротез: во время его изготовления пациент носит временные пластмассовые пластинки;
      li винир надёжно фиксируется на поверхности зуба с помощью специального стоматологического клея.
    p Наиболее часто пациентов волнует вопрос стоимость процедуры.
    p Цена реставрации зубов напрямую зависит от объёма работ и общей клинической картины. Но вы можете быть уверены, что останетесь полностью довольны результатом реставрации зубов в стоматологической клинике “Риадент”.
    p Мы гарантируем применение самых современных и качественных материалов. Ваша улыбка может быть идеальной!
