section.prices
  .container.prices__container
    h2.prices__title Цены на протезирование передних зубов
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Несъемное протезирование, коронки
      tr
        td Изготовление безметалловой коронки, зуба по технологии Cad-Сam
        td 24900₽
      tr
        td Изготовление винира e-max
        td 24900₽
      tr
        td Изготовление цельнолитой коронки из КХС (входит слепок, фиксация Fuji)
        td 5000₽
      tr
        td Изготовление лабораторной пластмассовой коронки- временная (входит слепок, фиксация Fuji/Hoffmann)
        td 4000₽
      tr
        td Изготовление ПММА коронки методом Cad-Cam (входит слепок, фиксация Fuji/Hoffmann)
        td 4000₽
      tr
        td Металлокерамическая коронка повышенной эстетики
        td 13000₽
      tr
        td Изготовление коронки из ZrO2 с нанесением керамики
        td 24000₽
      tr
        td Изготовление коронки из ZrO2 с нанесением керамики (включая временные)
        td 24900₽
      tr
        td Изготовление временного винира
        td 1550₽
      tr
        td Изготовление клинической композитной коронки
        td 1600₽
      tr
        td Промежуточная часть мостовидного протеза из металлокерамики
        td 10000₽
      tr
        td Промежуточная часть мостовидного протеза из ZrO2
        td 19900₽
      tr
        td Изготовление винира на рефракторе
        td 32000₽
      tr
        td Изготовление накладки (полукоронка) e-max
        td 22900₽
      tr
        td.prices__maintd(colspan="2")
          strong Штифтовые культевые вкладки
      tr
        td Изготовление лабораторной литой культевой штифтовой вкладки на однокорневой зуб из КХС
        td 3000₽
      tr
        td Изготовление лабораторной литой культевой штифтовой вкладки на однокорневой зуб из благородных металлов
        td 4500₽
      tr
        td Изготовление клинической литой культевой штифтовой вкладки на однокорневой зуб из КХС
        td 4500₽
      tr
        td Изготовление штифтовой вкладки с аттачменом из КХС
        td 3800₽
      tr
        td Изготовление вкладки штифтовой культевой цирконевой по технологии Cad-Cam
        td 11000₽
      
