section.protezirovanie-perednih3
  .container.img-right__container
    .img-right__text
      h2 Способы протезирования передних зубов в стоматологической клинике «Риадент», Уфа
      h3 Коронка
      p Несъёмный протез, который полностью заменяет отсутствующий зуб. В случае отсутствия корня ставится имплант— искусственный титановый корень, на который уже устанавливается коронка. Для передних зубов чаще всего применяются коронки:
      ul
        li <strong>из пластмассы</strong>. Временный вариант, срок службы которого не превышает 3 года. Неплохо скрывают дефект отсутствия зуба, но особо эстетичными их не назвать.
        li <strong>из безметалловой керамики</strong>. Например, из диоксида циркония. Такие коронки более эстетичны, чем металлокерамические. Обладают эффектом полупрозрачности, схожей с натуральным зубом. Срок службы — до 25 лет;
        li <strong>из чистой керамики</strong>. Этот тип коронок предназначен только для передних зубов, поскольку они считаются довольно хрупкими. Но идеально подходят для восстановления зоны улыбки благодаря эстетичности и отсутствию большой нагрузки на моляры.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
