section.protezirovanie-perednih2
  .container.img-left__container
    .img-left__text
      h2 Особенности протезирования передних зубов
      p Протезирование в зоне улыбки отличается следующими моментами:
      ul
        li <strong>эстетика и естественность:</strong> при разговоре и улыбке видно не только зуб, но и десневой край — значит, он тоже должен выглядеть натурально и эстетично;
        li <strong>быстрый результат:</strong> долгое отсутствие переднего зуба наносит пациенту сильный психологический дискомфорт и влияет на многие факторы в жизни;
        li <strong>надёжная фиксация:</strong> вне зависимости от того, какой вариант выбран, съёмный или несъёмный, искусственный зуб должен быть надёжно закреплён.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
