section.protezirovanie-perednih4
  .container.img-left__container
    .img-left__text
      h2 Мостовидный протез
      p Подходит для восстановления до 4-х соседних зубов. Две коронки надеваются на свои зубы, а между ними располагаются искусственные. Коронки делаются из тех же материалов, что и единичные. В случае отсутствия опоры применяется имплант. 
      p Существуют также адгезивные мосты — искусственные зубы крепятся на собственные при помощи балок из пластика или металла. Такой протез дешевле, но и срок службы у него меньше.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
