section.protezirovanie-perednih7
  .container.protezirovanie-perednih7__container
    p Если вам необходимо восстановить передние зубы, ждём вас в стоматологической клинике “Риадент” в Уфе. Мы предлагаем широкий перечень услуг по протезированию и имплантации, а также проводим сложные хирургические операции. В работе используются только проверенные временем и опытом протезы и импланты, а профессионализм стоматологов позволит вам долгие годы радоваться красоте своей улыбки. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
