section.protezirovanie-perednih6
  .container.img-left__container
    .img-left__text
      h2 Несъемный протез
      p Если требуется восстановить зубной ряд полностью, либо отсутствует большинство единиц, отличным решение станет несъёмный протез по методике All-on-4. Искусственная челюсть крепится на 4 импланта. Этот вариант отличается высокой эстетикой, удобством и надёжностью. Узнать больше об All-on-4 вы можете здесь.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
