section.ustanovka-implantov1
  .container.img-left__container
    .img-left__text
      h2 Имплантация – зубы на всю жизнь!
      p Имплантология позволяет решать проблему частичного или полного отсутствия зубов пациентам любого возраста.
      p Стоматология Риадент предоставляет услуги по дентальной имплантации зубов под ключ. Благодаря современным технологиям и высокому качеству имплантатов вы можете позволить себе красивую улыбку без разрезов десён, без боли, и без лишних страхов!
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
