section.akcii4-slider
  .container.akcii4-slider__container
    .akcii4-slider__wrapper
      h1.akcii4-slider__title Компьютерная томография за 1500 руб
      .akcii4-slider__text
        strong Только до конца июня!
        p Акция распространяется на услугу компьютерной томографии (панорамный снимок 100х100) на всех пациентов, действует до 30 июня 2022 года, в клинике, расположенной по адресу г. Уфа, ул. Кавказская, 6/8 (ООО "Риадент").
      .akcii4-slider__button-block.akcii4-slider__button-block
        button.akcii4-slider__button.form__call-popup Записаться на прием
    .akcii4-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider7.webp")
        img(src="img/akcii-slider7.jpg" alt="")
