section.brekety7
  .container.img-right__container
    .img-right__text
      h2 Уход за полостью рта  во время ношения брекетов
      p Ношение брекетов требует особого подхода к чистке зубов. Используется специальная щётка, а сама чистка производится после каждого приёма пищи.
      p Твёрдые продукты необходимо ограничить, либо измельчать. Сократить потребление горячего и холодного. Сладкое лучше сократить до самого минимума.
      strong Важно знать: Сладкое сильно повышает риск развития кариеса, в период ношения брекетов он крайне нежелателен. В случае его возникновения конструкцию будет необходимо снимать, проводить лечение, и затем начинать всё сначала.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/brekety6.webp")
        img(src="img/brekety6.jpg" alt="")
