section.brekety2
  .container.brekety2__container
    h2 Что такое  брекеты
    p Брекеты – это аккуратные “замочки”, соединяющее несколько расположенных рядом коронок. От массивных съёмных скоб они отличаются, в первую очередь, способом соединения. Скобы замыкаются по краям, брекеты – в каждом промежутке между зубов тонкими проволочками. Металлическая или керамическая пластинка располагается на каждом зубе, не повреждая эмали и не оставляя на ней следов. Размер и форма этой пластинки подбирается индивидуально под каждый зуб, чтобы они оказывали необходимое давление с нужной силой и в нужном направлении.
    p В зависимости от способа крепления брекеты делятся на лигатурные и безлигатурные. Первые фиксируются замочком на ортодонтической дуге, вторые – с пазом, закрываются на защёлку. По внешнему виду среди них практически нет различий. Ортодонтическая дуга системы имеет память формы – при случайном изменении положения она возвращается в исходное положение.
    p Зубы могут незначительно смещаться в своих лунках, поскольку корневая система связана эластичными связками с челюстью. Длительное воздействие в определённом направлении приводит к перестройке тканей, и зуб принимает новое положение.
    p Ортодонтические аппараты этого типа используются для исправления постоянного прикуса у взрослых и детей и состоят из следующих элементов:
    ul
      li Брекеты — несъемные накладки, фиксируемые на поверхности зуба стоматологическим клеем;
      li Дуга — стальная проволока, которая закрепляется на скобах брекетов и благодаря натяжению смещает зубные единицы в требуемом направлении;
      li Пружины, кольца, трубки и лигатуры — дополнительная фурнитура, благодаря которой обеспечивается фиксация и необходимое натяжение дуги.
    p В зависимости от способа крепления брекеты делятся на лигатурные и безлигатурные. Первые фиксируются замочком на ортодонтической дуге, вторые – с пазом, закрываются на защёлку. По внешнему виду среди них практически нет различий. Ортодонтическая дуга системы имеет память формы – при случайном изменении положения она возвращается в исходное положение.
    p Зубы могут незначительно смещаться в своих лунках, поскольку корневая система связана эластичными связками с челюстью. Длительное воздействие в определённом направлении приводит к перестройке тканей, и зуб принимает новое положение.
