section.brekety6
  .container.brekety6__container
    h2 Противопоказания ношения брекетов
    p Установка брекетов не требует хирургического вмешательства, однако, при нарушении техники может возникнуть кровотечение – поскольку система тесно контактирует с дёснами и оказывает воздействие на зубы.
    p По этой причине существует ряд ограничений, касающихся их установки:
    ul
      li воспалительные процессы в полости рта;
      li заболевания крови;
      li туберкулез;
      li ВИЧ;
      li сахарный диабет;
      li болезни иммунной системы;
      li некоторые формы остеопатий, остеопороз;
      li большая часть психических заболеваний;
      li плохо компенсированные заболевания внутренних органов.
    p Среди противопоказаний также гингивит, пародонтоз и кариес – заболевания, которые необходимо вылечить перед установкой конструкции.
    p Если у пациента в ротовой полости кровоточивость и медленно заживляются раны, брекеты могут усугубить ситуацию. Подобное может случиться при остеопорозе и других патологиях, связанных с ослаблением костей. Брекеты могут оказать деструктивное воздействие на челюсть и сами зубы.
    p При общей слабости и перенапряжении иммунной системы тоже необходимо подождать более благоприятного периода для организма: будучи чувствительным к микробам, он может быть заражён через мельчайшую царапину.
    strong Важно знать: Врач обязан учитывать риски перед установкой брекетов, уделяя внимание всему организму пациента и возможным последствиям. Стоит отнестись к этому с пониманием, и не настаивать на проведении процедуры. Ведь, в первую очередь, это забота о вашем собственном здоровье.
