section.brekety8
  .container.brekety8__container
    h2 Стоимость  брекетов в Уфе
    p Самые бюджетные брекеты на данный момент – металлические. Стоимость металлической системы начинается от 25 тысяч рублей за одну челюсть. Керамические выйдут дороже, порядка 40 тысяч рублей за одну челюсть. Самые дорогие брекеты – лингвальные, цена изготовления под заказ начинается с 50 тысяч рублей за одну челюсть.
    p Дополнительная оплата может потребоваться в случае повышения эстетики. Это выбор керамики под естественный цвет зубов, сапфиры, незаметность лингвальных брекетов. По лечебным свойствам между конструкциями нет весомых различий.
    p Перед оплатой процедуры необходимо уточнить, что входит в прайс, а что нужно оплачивать отдельно. Красивые и ровные зубы – не то, на чём стоит экономить, поэтому важно подготовить сумму с запасом для покрытия всех расходов.
    strong Важно знать: Ортодонтическое лечение пациентов до 18 лет требует письменного согласия взрослых.
