section.brekety1
  .container.img-left__container
    .img-left__text
      h2 Установка  брекетов в стоматологии «Риадент»
      p Брекеты – устройство, изобретённое с целью исправления неправильного расположения зубов. На данный момент оно является наиболее эффективным в ортодонтии. Брекеты делятся на две разновидности: классические и лингвальные, и устанавливаются на соответствующей стороне зубного ряда. Для установки необходимо проконсультироваться с ортодонтом. После этого брекеты будут изготовлены и установлены при помощи современного оборудования. Стоматологическая клиника “Риадент” располагает всеми условиями для проведения такой операции.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
