section.brekety5
  .container.brekety5__container
    h2 Сколько нужно носить брекеты
    p В основном от 1,5 до 3-х лет. Лучше изначально настроиться на длительное лечение. В брекетах можно обнаружить эстетику, и относиться к ним как к своей изюминке – это поможет избежать психологического дискомфорта. Либо, если средства позволяют, заказать ювелирную систему. Наиболее распространёнными являются сапфировые брекеты.
    p Первые заметные улучшения прикуса проявятся спустя 3-4 месяца после установки. Но это не значит, что брекеты уже можно снимать: зубы ещё не привыкли к своему новому положению, и могут быстро вернуться в прежнее. Пациенту необходимо регулярно посещать стоматолога для контроля над состоянием зубов.
    p Не стоит переживать: дольше положенного времени брекеты носить не придётся. После того, как прикус будет полностью исправлен, врач сразу же позволит снять их.
    p За конструкцией необходимо ухаживать особым образом. Чистка зубов проводится специальной щёткой: тщательно и аккуратно. Из рациона необходимо исключить твёрдые продукты: семечки, орехи, жёсткие фрукты и овощи. Морковь и яблоки можно употреблять только в тёртом виде. Употребление горячего и холодного стоит свести к минимуму, как и сладкое. Резкие перепады температур могут вызвать деформацию накладок, а сладкое – спровоцировать кариес, который будет необходимо лечить, сняв брекеты.
    p Некоторые пациенты жалуются на сильные болезненные ощущения. Они возникают в первое время после установки. Если отсутствует кровотечение, а зубы и дёсны не повреждены, можно принимать обезболивающие препараты. Если болевые ощущения не прекращаются, это может говорить об индивидуальной непереносимости. В таком случае брекеты придётся снять, и воспользоваться другими способами исправления прикуса.
