section.brekety4
  .container.brekety4__container
    h2 Этапы установки  и ношения брекетов
    p Процедура установки брекетов длится около 1,5 часов. Зубы подвергаются профессиональной чистке, промыванию, затем их сушат, протравливают антисептиком, снова моют и сушат.
    p После этого наносится праймер и специальный стоматологический клей для фиксации накладок. Брекеты фиксируются, излишки клея удаляются, и проводится полимеризация клея специальным световым излучением
    p Боли при установке брекетов нет, но неприятные ощущения могут вызвать звуки: стоматолог устанавливает конструкцию щипцами, сдавливая металл и закрепляя замки. На процедуру лучше прийти в хорошем настроении. Можно попросить включить музыку или взять с собой наушники.
