section.brekety3
  .container.brekety3__container
    h2 Виды  брекетов
    .two-columns__columns
      .two-columns__column
        picture
          source(type="image/webp" srcset="img/implantaciya2.webp")
          img(src="img/implantaciya2.jpg" alt="")
        h3 Металлические брекеты
        p Стоматологи рекомендуют брекеты, изготовленные полностью из металла, по причине повышенной безопасности и практичности. Состав из одинакового сплава исключает риск возникновения электрохимической реакции. Металл не подвергается коррозии, не усложняет процесс лечения. Наиболее популярным является биологически совместимый сплав титана и никеля. Если на зубах имеются коронки из металла, стоит выбирать брекеты из аналогичного сплава.
        p Преимущества:
        ul
          li Прочность и эффективность;
          li Доступность и проверенность;
          li Исправление прикуса на 2-3 месяца быстрее, чем с другими видами.
        p Стоимость: от 25 000 рублей (брекеты, металлические дуги и ретейнеры).
      .two-columns__column
        picture
          source(type="image/webp" srcset="img/implantaciya2.webp")
          img(src="img/implantaciya2.jpg" alt="")
        h3 Керамические брекеты
        p Брекеты из керамики (фарфора) удобны своей незаметностью: их легко подобрать под естественный цвет зубов, а их повышенная прочность гарантирует выравнивание даже самых сложных искривлений. Керамическая брекет-система – современное средство борьбы с неправильным прикусом и искривлениями зубов, цвет материала которой схож с природной эмалью. Вот почему такая конструкция не бросается в глаза и выглядит гораздо эстетичнее металлической.
        p Преимущества:
        ul
          li Высокая прочность;
          li Эстетичный внешний вид;
          li Керамика не травмирует дёсны.
        p Стоимость: от 40 000 рублей (брекеты, металлические дуги, ретейнеры).
    .two-columns__columns
      .two-columns__column
        picture
          source(type="image/webp" srcset="img/implantaciya2.webp")
          img(src="img/implantaciya2.jpg" alt="")
        h3 Лингвальные брекеты
        p Обычно накладки брекетов размещены с наружной стороны зубов. Но существуют и лингвальные брекеты. У этого вида накладки расположены на внутренней стороне зубов.
        p Близость к языку может негативно сказаться на произношении звуков и усложнить процесс принятия пищи, поэтому этот вид редко используется. Но такие брекеты могут быть рекомендованы пациентам с наличием травм слизистой щёк. Основным плюсом этого вида брекетов является незаметность – накладки скрыты, а на зубах лишь тонкая проволока.
        ul
          li Практически незаметны;
          li Позволяют исправить глубокий прикус.
        p Стоимость: от 30 000 рублей (брекеты, металлические дуги, ретейнеры).
      .two-columns__column
        picture
          source(type="image/webp" srcset="img/implantaciya2.webp")
          img(src="img/implantaciya2.jpg" alt="")
        h3 Комбинированные брекеты
        p Комбинированные брекеты рекомендуются в ситуации, когда на часть зубов необходимо установить керамику, а на остальные зубы – металл. Обычно керамику ставят на передние зубы, а на боковые – металлические брекеты. Иногда на верхнюю челюсть ставят керамические брекеты, так как при улыбке видны больше верхние зубы, а на нижнюю – металл. Всё зависит от индивидуальных пожеланий пациента и рекомендаций стоматолога.
        p Преимущества:
        ul
          li Экономичное решение;
          li Более эффективное воздействие.
        p Стоимость: от 30 000 рублей (брекеты, металлические дуги, ретейнеры).
