section.vospalenie-zubov3
  .container.vospalenie-zubov3__container
    h2 Симптомы воспаления зуба
    p Существует два типа воспаления: острое и хроническое.
    p При остром воспалении характерно повышение температуры, отёк и сильная боль, особенно при надавливании. Может присутствовать общая слабость организма, наблюдаться увеличение лимфатических узлов.
    p Хроническое воспаление может протекать без явных симптомов, и характеризоваться лишь реакцией зуба на температуры и неприятным запахом изо рта. Очаг можно обнаружить только с помощью рентгенографии. Боль пациент может почувствовать только на стадии обострения, когда затронуты корни зуба и нервные волокна.
    p Вне зависимости от типа воспаления, игнорировать любые симптомы и неприятные ощущения в полости рта крайне нежелательно. Поражение, которое развивается медленно и незаметно, может принести множество негативных последствий, вплоть до удаления зуба. Воспаление может развиваться незаметно под пломбой или коронкой.
