section.vospalenie-zubov1
  .container.img-left__container
    .img-left__text
      h2 Лечение воспаления зуба
      p Зубная боль — неприятное явление, от которого хочется быстрее избавиться. Но даже несмотря на это, многие пациенты откладывают визит к стоматологу по причине страха, и предпочитают терпеть боль. Но такая практика может выйти боком: если в зубе возникает боль, это значит, что воспаление добралось до нервных окончаний.
      p Если не лечить воспаление, то оно может привести к гнойному образованию — кисте зуба. А сам очаг будет только расти, затрагивая соседние единицы. Гораздо проще вылечить кариес, чем лечить воспаление зуба.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/vospalenie-zubov1.webp")
        img(src="img/vospalenie-zubov1.jpg" alt="")
