section.vospalenie-zubov2
  .container.vospalenie-zubov2__container
    h2 Причины возникновения воспаления
    p Кроме запущенного кариеса, причиной воспаления могут стать и факторы. Например:
    ul
      li некачественное пломбирование каналов;
      li запущенный пульпит;
      li механическая травма зуба;
      li травмы лица или челюсти;
      li неправильно установленная или повреждённая коронка.
