section.vospalenie-zubov4
  .container.img-right__container
    .img-right__text
      h2 Лечение воспаления
      p Метод лечения воспаления зуба зависит от стадии. Если оно затронуло надкостницу, то возможно хирургическое вмешательство. В некоторых случаях зуб приходится удалять. На ранних стадиях прогноз благоприятный, зуб можно спасти.
      p Многое зависит от того, насколько рано пациент обратился к стоматологу. Поэтому советуем не пренебрегать профилактическими осмотрами, ведь лечение зуба намного быстрее и дешевле, чем его восстановление.
      p Чтобы вылечить воспаление зуба в Уфе, обращайтесь в стоматологическую клинику “Риадент”. Наша стоматология совмещает в себе профессионализм и технологическую оснащённость, высокий уровень сервиса и приятные цены. Мы находимся по адресу Кавказская 6/8.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/vospalenie-zubov2.webp")
        img(src="img/vospalenie-zubov2.jpg" alt="")
