section.ainur-form.ainur-form--show
  .ainur-form__img
  .ainur-form__text
    h2 Записаться на консультацию
    p Обязательные для заполнения поля помечены знаком *
    form
      input(type="text" placeholder="Ваше имя")
      input(type="tel" placeholder="Телефон")
      input(type="email" placeholder="Email")
      button Записаться на прием
