section.ainur-form
  .ainur-form__img
  .ainur-form__text
    h2 Записаться на консультацию
    form
      input(type="text" placeholder="Ваше имя")
      input(type="tel" placeholder="Телефон")
      input(type="email" placeholder="Email")
      .ainur-form__button-block
        button Записаться на прием
  button.ainur-form__close
