footer.page-footer
  .container.page-footer__container
    .page-footer__logo
      img(src="img/footer-logo.png")
      p Copyright © 2017-2021. Все права защищены. Центр Имплантации и протезирования «Риадент»
    .page-footer__menus
      .page-footer__top-menu
        ul
          li
            a(href="/o-stomatologii/") О Центре
          li
            a(href="/o-stomatologii/komanda/") Стоматологи
          li
            a(href="/ceni/") Цены
          li
            a(href="/o-stomatologii/otzivi/") Отзывы
          li
            a(href="/vc/") Вакансии
          li
            a(href="/faq/") FAQ — Частые вопросы
      .page-footer__bottom-menu
        ul
          li
            a(href="#") Заполнить анкету врача
          li
            a(href="#") Франшиза
          li
            a(href="https://riamedtd.ru/") Магазин
          li
            a(href="/karta-sajta/") Карта сайта
  .container.socials__container
    span Мы в социальных сетях
    .socials__list
      .socials__item
        a(href="https://vk.com/riadent_ufa")
          //- svg(width="60" height="60")
          //-   use(xlink:href="img/sprite.svg#vk-icon")
      .socials__item
        a(href="https://www.instagram.com/riadent_ufa/")
          //- svg(width="60" height="60")
          //-   use(xlink:href="img/sprite.svg#youtube-icon")
      .socials__item
        a(href="https://wa.me/79649582816")
          //- svg(width="60" height="60")
          //-   use(xlink:href="img/sprite.svg#instagram-icon")
