footer.page-footer
  .container.page-footer__container
    .page-footer__logo
      img(src="img/footer-logo.png")
      p Copyright © 2017-2021. Все права защищены. Центр Имплантации и протезирования «Риадент»
    .page-footer__menus
      .page-footer__top-menu
        ul
          li
            a(href="#") О Центре
          li
            a(href="#") Стоматологи
          li
            a(href="#") Цены
          li
            a(href="#") Отзывы
          li
            a(href="#") Вакансии
          li
            a(href="#") FAQ — Частые вопросы
      .page-footer__bottom-menu
        ul
          li
            a(href="#") Франшиза
          li
            a(href="#") Магазин
          li
            a(href="#") Инвестиции
          li
            a(href="#") Карта сайта
  .container.socials__container
    span Мы в социальных сетях
    .socials__list
      .socials__item
        a
          svg(width="60")
            use(xlink:href="img/sprite.svg#vk-icon")
      .socials__item
        a
          svg(width="60")
            use(xlink:href="img/sprite.svg#youtube-icon")
      .socials__item
        a
          svg(width="60")
            use(xlink:href="img/sprite.svg#instagram-icon")
