section.childform
  button.childform__close
  .childform__content
    h2 Записаться на прием
    form.childform__form
      p
        span
          input.childform__input(type="text" placeholder="Ваше имя")
        span
          input.childform__input(type="text" placeholder="Телефон")
      p
        input(type="submit" value="Записаться на прием")
  .childform__img
    picture
      source(srcset="img/riadentik.webp" type="image/webp")
      img(src="img/riadentik.png" width="237")
    //- <div class="form_call">
    //- <div class="form_call_imgblock">
    //- <picture>
    //- <source srcset="/wp-content/uploads/2020/11/ainur_elina.webp" type="image/webp">
    //- <img class="form_call_img" src="/wp-content/uploads/2020/11/ainur_elina.png" alt="Записаться к стоматологу">
    //- </picture>
    //- </div>
    //- <div class="form_call_content">
    //- <p class="form_call_head">
    //- Заказать консультацию
    //- </p>
    //- <div role="form" class="wpcf7" id="wpcf7-f2628-p408-o3" lang="ru-RU" dir="ltr">
    //- <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
    //- <form action="/#wpcf7-f2628-p408-o3" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
    //- <div style="display: none;">
    //- <input type="hidden" name="_wpcf7" value="2628">
    //- <input type="hidden" name="_wpcf7_version" value="5.4.2">
    //- <input type="hidden" name="_wpcf7_locale" value="ru_RU">
    //- <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2628-p408-o3">
    //- <input type="hidden" name="_wpcf7_container_post" value="408">
    //- <input type="hidden" name="_wpcf7_posted_data_hash" value="">
    //- </div>
    //- <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form_call_name" aria-required="true" aria-invalid="false" placeholder="ИМЯ"></span><br>
    //- <span class="wpcf7-form-control-wrap mask-697"><input type="tel" name="mask-697" value="" id="myphone" class="wpcf7-form-control wpcf7mf-mask wpcf7-mask wpcf7-validates-as-required form_call_tel" size="40" aria-required="1" placeholder="Телефон" data-mask="+7 (___) ___-__-__"></span><br>
    //- <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email form_call_mail" aria-invalid="false" placeholder="EMAIL"></span></p>
    //- <input type="hidden" name="roistat-promo-code" value="" class="wpcf7-form-control wpcf7-hidden">
    //- <p><input type="submit" value="Оставить заявку" class="wpcf7-form-control wpcf7-submit form_call_submit"><span class="ajax-loader"></span></p>
    //- <div class="wpcf7-response-output" aria-hidden="true"></div></form></div>
    //- </div>
    //- </div>
