header.page-header
  .top-header
    .container.top-header__container
      .top-header__logo
        a(href="#")
          img(src="img/logo.png" width="141")
      .top-header__socials
        ul.top-header__socials-list
          li.top-header__socials-item
            a.top-header__socials-link Инстаграм
          li.top-header__socials-item
            a.top-header__socials-link Youtube
          li.top-header__socials-item
            a.top-header__socials-link Вконтакте
      .top-header__place
        select.top-header__place-select
          option Уфа ул.Кавказская 6/8
          option Сибай ул.Горбкого 66
      .top-header__time
        span Мы работаем: Понедельник - Пятница: с 9:00 до 21:00,<br> Суббота - Воскресенье: с 9:00 до 18:00
      .top-header__phone
        a.top-header__phone-link(href="tel:+73472252520") +7 (347) 225-25-20
  .bottom-header
    .container.bottom-header__container
      ul.bottom-header__main-nav.main-nav__list
        li.main-nav__item
          a(href="#") О клинике
        li.main-nav__item
          a(href="#") Услуги
        li.main-nav__item
          a(href="#") Цены
        li.main-nav__item
          a(href="#") Диагностика
        li.main-nav__item
          a(href="#") Лечение
        li.main-nav__item
          a(href="#") Имплантация
        li.main-nav__item
          a(href="#") Протезирование
        li.main-nav__item
          a(href="#") КТ
        li.main-nav__item
          a(href="#") ДМС
      button.bottom-header__call-button Записаться на прием
