header.page-header
  .top-header
    .container.top-header__container
      .top-header__logo
        a(href="/")
          picture
            source(media="(min-width: 1024px)" srcset="img/logo.png")
            img(width="141" height="31" src="img/logo-mobile.png")
      .top-header__socials
        ul.top-header__socials-list
          li.top-header__socials-item
            a.top-header__socials-link(href="https://www.instagram.com/riadent_ufa/") Инстаграм
          li.top-header__socials-item
            a.top-header__socials-link(href="https://www.youtube.com/channel/UCC_A_tpczf9aT3HHFYgLtYA") Youtube
          li.top-header__socials-item
            a.top-header__socials-link(href="https://vk.com/riadent_ufa") Вконтакте
      .top-header__place
        button.top-header__place-select Уфа ул. Кавказская 6/8
          .top-header__place-options
            a(href="https://sibay.riadent.ru/") Сибай ул.Горького 66
            a(href="https://magnitogorsk.riadent.ru/") Магнитогорск пр. Ленина 140/3
      .top-header__time
        span Мы работаем: Понедельник - Пятница: с 9:00 до 21:00,<br> Суббота - Воскресенье: с 9:00 до 18:00
      .top-header__phone
        a.top-header__phone-link(href="tel:+73472252520") +7 (347) 225-25-20
  .bottom-header
    .container.bottom-header__container
      button.main-nav__nav-button
        span Меню
      .main-nav__wrapper
        button.main-nav__close-button
          span Закрыть меню
        ul.bottom-header__main-nav.main-nav__list
          li.main-nav__item
            a(href="/o-stomatologii/") О клинике
            button.main-nav__item-button
              svg(width="14" height="7")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/o-stomatologii/komanda/") Команда
              li
                a(href="/o-stomatologii/otzivi/") Отзывы
              li
                a(href="/o-stomatologii/pravovaya-informaciya/") Правовая информация
              li
                a(href="/politika-konfidencialnosti/") Политика конфиденциальности
              li
                a(href="/faq/") FAQ
              li
                a(href="/blog/") Блог
              li
                a(href="/contacti/") Контакты
          li.main-nav__item.main-nav__item--services
            a.main-nav__item--services-link(href="/uslugi/") Услуги
            button.main-nav__item-button
              svg(width="14" height="7")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya/") Имплантация
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-na-implantakh/") Протезирование на имплантах
                  li
                    a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Новые зубы за 1 день по технологии All-On-4 в Уфе
                  li
                    a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-4-kh-implantakh-po-te/") Несъемные протезы на 4-х имплантах по технологии All-on-4
                  li
                    a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-6-ti-implantakh-po-t/") Несъемные протезы на 6-ти имплантах по технологии All-on-6
                  li
                    a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-8-mi-implantakh-po-tekhnologii-all-on-8/") Несъемные протезы на 8-ми имплантах по технологии All-on-8
                  li
                    a(href="/uslugi/dlya-vzroslykh/implantaciya/ustanovka-implantatov/") Установка имплантатов
                  li
                    a(href="/uslugi/dlya-vzroslykh/implantaciya/implantaciya-pod-kljuch/") Имплантация зубов под ключ
                  li
                    a(href="/uslugi/dlya-vzroslykh/implantaciya/odnomomentnaya-implantaciya-zubov/") Одномоментная имплантация зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/implantaciya/implanty-za-odin-den/") Импланты зубов за один день
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-na-implantakh/") Протезирование на имплантах
              li
                a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Протезирование
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/nesyemnoe-protezirovanie/") Несъемное протезирование
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-perednikh-zubov/") Протезирование передних зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/bruksizm/") Лечение бруксизма
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Съемные зубные протезы
                  li
                    a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Коронки на зубы
                  li
                    a(href="/uslugi/dlya-vzroslykh/terapiya/skaysy/") Скайсы
                  li
                    a(href="/uslugi/dlya-vzroslykh/terapiya/kapy/") Капы
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Ортопедия
                  li
                    a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Зубные коронки
                  li
                    a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/") Протезирование зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Новые зубы за 1 день по технологии All-On-4 в Уфе
                  li
                    a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/syemnye-protezy/") Съемные Протезы
              li
                a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/") Виниры
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/") Виниры
                  li
                    a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/lyuminiry/") Люминиры
              li
                a(href="/uslugi/dlya-vzroslykh/parodontologiya/") Пародонтология
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontoza/") Лечение пародонтоза
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/plazmolifting/") Плазмолифтинг
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/zubnoy-nalet/") Зубной налет
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/zubnye-otlozheniya/") Зубные отложения
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontita/") Лечение пародонтита
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/bakterialnaya-bioplenka/") Бактериальная биопленка
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/vestibuloplastika/") Вестибулопластика
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/zakrytie-retsessii-desny/") Закрытие рецессии десны
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/zakrytiy-kyuretazh/") Закрытый кюретаж
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/loskutnaya-operatsiya/") Лоскутная операция
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/frenuloplastika/") Френулопластика
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/shinirovanie/") Шинирование
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-desen/") Лечение десен
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-flyusa-periostita/") Лечение флюса (периостита)
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-desen/kyuretazh-desen/") Кюретаж десен
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-gingivita/") Лечение гингивита
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-desen-apparatom-vektor/") Лечение десен аппаратом Вектор
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-granulemy/") Гранулема зуба
              li
                a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/") Лечение зубов
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/restavratsiya-zubov/") Реставрация зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/parodontologiya/vospalenie-zubov/") Воспаление зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/") Лечение зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/ustanovka-plomby/") Пломбирование зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-podvizhnosti-zubov/") Лечение подвижности зубов
                  li
                    a(href="/uslugi/lechenie/lechenie-kariesa-ufa/") Лечение кариеса
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-pulpita/") Лечение пульпита
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/maloinvozivnoe-lechenie/") Малоинвазивное лечение
                  li
                    a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-kisty/") Лечение кисты зуба
                  li
                    a(href="/uslugi/dlya-vzroslykh/khirurgiya/lazernaya-stomatologiya/") Лазерная стоматология
              li
                a(href="/uslugi/dlya-vzroslykh/khirurgiya/") Хирургия
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/") Удаление зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/zub-mudrosti/") Удаление зуба мудрости
                  li
                    a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/udalenie-retinirovannogo-zuba-mudro/") Удаление ретинированного зуба мудрости
                  li
                    a(href="/uslugi/dlya-vzroslykh/khirurgiya/kostnaya-plastika/") Костная пластика
                  li
                    a(href="/uslugi/dlya-vzroslykh/khirurgiya/sinus-lifting/") Синус лифтинг
              li
                a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/") Эстетика
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/otbelivanie-zubov/") Отбеливание зубов
                  li
                    a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/ultrazvukovaya-chistka-zubov/") Ультразвуковая чистка зубов
                  li
                    a(href="/uslugi/professionalnaya-gigiena/") Профессиональная гигиена полости рта
              li
                a(href="/uslugi/dlya-vzroslykh/ortodontiya/") Ортодонтия
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortodontiya/sistema-invisalign/") Элайнеры
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortodontiya/anomalii-prikusa/") Аномалии прикуса
                  li
                    a(href="/uslugi/dlya-vzroslykh/ortodontiya/ispravlenie-prikusa/") Исправление прикуса
                  li
                    a(href="/uslugi/dlya-vzroslykh/brekety/") Брекеты
              li
                a(href="#") Без боли
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/dlya-vzroslykh/anesteziya/") Анестезия
                  li
                    a(href="/uslugi/dlya-vzroslykh/anesteziya/") Проводниковая анестезия
                  li
                    a(href="/uslugi/dlya-vzroslykh/anesteziya/") Инфильтрационная анестезия
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-pod-narkozom-u-detei/") Лечение зубов под наркозом у детей
              li
                a(href="/uslugi/detskaya-stomatologiya/") Детская стоматология
                button.main-nav__item-button
                  svg(width="14" height="7")
                    use(xlink:href="img/sprite.svg#arrow-down")
                ul.main-nav__services-list
                  li
                    a(href="/uslugi/detskaya-stomatologiya/germetizatsiya-fissur/") Герметизация фиссур
                  li
                    a(href="/uslugi/detskaya-stomatologiya/detskaya-ortodontiya/") Детская ортодонтия
                  li
                    a(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/") Исправление прикуса у детей
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-detey/") Лечение зубов у детей
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-vo-sne/") Лечение зубов во сне
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-kariesa-u-detey/") Лечение кариеса у детей
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-molochnykh-zubov/") Лечение молочных зубов
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-pod-sedatsiey/") Лечение под седацией
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-sistemoy-icon/") Лечение системой Icon
                  li
                    a(href="/uslugi/detskaya-stomatologiya/plastika-uzdechki-yazyka-lazerom/") Пластика уздечки языка лазером
                  li
                    a(href="/uslugi/detskaya-stomatologiya/udalenie-zubov/") Удаление зубов у детей
                  li
                    a(href="/uslugi/detskaya-stomatologiya/ftorirovanie-molochnykh-zubov/") Фторирование молочных зубов
                  li
                    a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-pod-narkozom-u-detei/") Лечение зубов под наркозом у детей
              li
                a(href="/akcii-i-goryashhie-predlozheniya/") Акции
          li.main-nav__item
            a(href="/ceni/") Цены
          li.main-nav__item
            a(href="/vc/") Вакансии
          li.main-nav__item
            a(href="/akcii-i-goryashhie-predlozheniya/") Акции
          li.main-nav__item
            a(href="/ustanovka-implantatov/") Имплантация
            button.main-nav__item-button
              svg(width="14" height="7")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/") Имплантация зубов во время беременности
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/implantaciya-pod-kljuch/") Имплантация зубов под ключ
              li
                a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Несъемные протезы на 4-х имплантах по технологии All-on-4
              li
                a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-6-ti-implantakh-po-t/") Несъемные протезы на 6-ти имплантах по технологии All-on-6
              li
                a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-8-mi-implantakh-po-tekhnologii-all-on-8/") Несъемные протезы на 8-ми имплантах по технологии All-on-8
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/odnomomentnaya-implantaciya-zubov/") Одномоментная имплантация зубов
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/implanty-za-odin-den/") Импланты зубов за один день
              li
                a(href="/uslugi/dlya-vzroslykh/khirurgiya/sinus-lifting/") Синус лифтинг
          li.main-nav__item
            a(href="/uslugi/detskaya-stomatologiya/") Для детей
            button.main-nav__item-button
              svg(width="14" height="7")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/uslugi/detskaya-stomatologiya/germetizatsiya-fissur/") Герметизация фиссур
              li
                a(href="/uslugi/detskaya-stomatologiya/detskaya-ortodontiya/") Детская ортодонтия
              li
                a(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/") Исправление прикуса у детей
              li
                a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-detey/") Лечение зубов у детей
              li
                a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-vo-sne/") Лечение зубов во сне
              li
                a(href="/uslugi/detskaya-stomatologiya/lechenie-kariesa-u-detey/") Лечение кариеса у детей
              li
                a(href="/uslugi/detskaya-stomatologiya/lechenie-molochnykh-zubov/") Лечение молочных зубов
              li
                a(href="/uslugi/detskaya-stomatologiya/lechenie-pod-sedatsiey/") Лечение под седацией
              li
                a(href="/uslugi/detskaya-stomatologiya/lechenie-sistemoy-icon/") Лечение системой Icon
              li
                a(href="/uslugi/detskaya-stomatologiya/plastika-uzdechki-yazyka-lazerom/") Пластика уздечки языка лазером
              li
                a(href="/uslugi/detskaya-stomatologiya/udalenie-zubov/") Удаление зубов у детей
              li
                a(href="/uslugi/detskaya-stomatologiya/ftorirovanie-molochnykh-zubov/") Фторирование молочных зубов
              li
                a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-pod-narkozom-u-detei/") Лечение зубов под наркозом у детей
          li.main-nav__item
            a(href="/uslugi/po-dms/") ДМС
        .main-nav__search
          input.main-nav__search-input(type="text" placeholder="Поиск")
        .main-nav__black
          ul
            li
              a(href="#") Зубы за один день
            li
              a(href="#") Дентал туризм
            li
              a(href="/o-stomatologii/otzivi/") Отзывы
          a.main-nav__black-phone(href="tel:+73472252520")
            svg(width="25" height="25")
              use(xlink:href="img/sprite.svg#phone")
            span +7 (347) 225-25-20
        .main-nav__white
          ul
            li
              a(href="https://www.instagram.com/riadent_ufa/") Инстаграм
            li
              a(href="https://www.youtube.com/channel/UCC_A_tpczf9aT3HHFYgLtYA") Youtube
            li
              a(href="https://vk.com/riadent_ufa") Вконтакте
        button.bottom-header__call-button.form__call-popup Записаться
  .new-services
    .new-services__wrapper
      aside.new-services__aside
        ul.new-services__list
          .new-services__blick
          li.new-services__item.new-services__item--first.new-services__item--active
            svg.new-services__icon.new-services__icon--1(width="27" height="23")
              use(xlink:href="img/sprite.svg#implantaciya")
            span Имплантация
          li.new-services__item
            svg.new-services__icon.new-services__icon--2(width="14" height="25")
              use(xlink:href="img/sprite.svg#protezirovanie")
            span Протезирование
          li.new-services__item
            svg.new-services__icon.new-services__icon--3(width="27" height="29")
              use(xlink:href="img/sprite.svg#vinir")
            span Виниры
          li.new-services__item
            svg.new-services__icon.new-services__icon--4(width="27" height="29")
              use(xlink:href="img/sprite.svg#parodontologiya")
            span Пародонтология
          li.new-services__item
            svg.new-services__icon.new-services__icon--5(width="33" height="29")
              use(xlink:href="img/sprite.svg#lechenie-zubov")
            span Лечение зубов
          li.new-services__item
            svg.new-services__icon.new-services__icon--6(width="24" height="29")
              use(xlink:href="img/sprite.svg#hirurgiya")
            span Хирургия
          li.new-services__item
            svg.new-services__icon.new-services__icon--7(width="17" height="22")
              use(xlink:href="img/sprite.svg#estetika")
            span Эстетика
          li.new-services__item
            svg.new-services__icon.new-services__icon--8(width="28" height="15")
              use(xlink:href="img/sprite.svg#ortodontiya")
            span Ортодонтия
          li.new-services__item
            svg.new-services__icon.new-services__icon--9(width="27" height="21")
              use(xlink:href="img/sprite.svg#bez-boli")
            span Анестезия и наркоз
          li.new-services__item
            svg.new-services__icon.new-services__icon--10(width="27" height="21")
              use(xlink:href="img/sprite.svg#baby-boy")
              span Детская стоматология
          li.new-services__item
            a(href="/akcii-i-goryashhie-predlozheniya/")
              svg.new-services__icon.new-services__icon--9(width="27" height="21")
                use(xlink:href="img/sprite.svg#bez-boli")
              span Акции
      .new-services__menu-block
        .new-services__block-item.new-services__block-item--active
          .new-services__title-block
            a.new-services__title(href="/uslugi/dlya-vzroslykh/implantaciya/") Имплантация
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-na-implantakh/") Протезирование на имплантах
                li
                  a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Новые зубы за 1 день по технологии All-On-4 в Уфе
                li
                  a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-4-kh-implantakh-po-te/") Несъемные протезы на 4-х имплантах по технологии All-on-4
                li
                  a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-6-ti-implantakh-po-t/") Несъемные протезы на 6-ти имплантах по технологии All-on-6
                li
                  a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-8-mi-implantakh-po-tekhnologii-all-on-8/") Несъемные протезы на 8-ми имплантах по технологии All-on-8
                li
                  a(href="/uslugi/dlya-vzroslykh/implantaciya/ustanovka-implantatov/") Установка имплантатов
                li
                  a(href="/uslugi/dlya-vzroslykh/implantaciya/implantaciya-pod-kljuch/") Имплантация зубов под ключ
                li
                  a(href="/uslugi/dlya-vzroslykh/implantaciya/odnomomentnaya-implantaciya-zubov/") Одномоментная имплантация зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/implantaciya/implanty-za-odin-den/") Импланты зубов за один день
                li
                  a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-na-implantakh/") Протезирование на имплантах
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Протезирование
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/nesyemnoe-protezirovanie/") Несъемное протезирование
                li
                  a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-perednikh-zubov/") Протезирование передних зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/bruksizm/") Лечение бруксизма
                li
                  a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Съемные зубные протезы
                li
                  a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Коронки на зубы
                li
                  a(href="/uslugi/dlya-vzroslykh/terapiya/skaysy/") Скайсы
                li
                  a(href="/uslugi/dlya-vzroslykh/terapiya/kapy/") Капы
                li
                  a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Ортопедия
                li
                  a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Зубные коронки
                li
                  a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/") Протезирование зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Новые зубы за 1 день по технологии All-On-4 в Уфе
                li
                  a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/syemnye-protezy/") Съемные Протезы
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/") Виниры
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/") Виниры
                li
                  a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/lyuminiry/") Люминиры
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="/uslugi/dlya-vzroslykh/parodontologiya/") Пародонтология
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontoza/") Лечение пародонтоза
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/plazmolifting/") Плазмолифтинг
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/zubnoy-nalet/") Зубной налет
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/zubnye-otlozheniya/") Зубные отложения
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/lechenie-parodontita/") Лечение пародонтита
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/bakterialnaya-bioplenka/") Бактериальная биопленка
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/vestibuloplastika/") Вестибулопластика
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/zakrytie-retsessii-desny/") Закрытие рецессии десны
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/zakrytiy-kyuretazh/") Закрытый кюретаж
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/loskutnaya-operatsiya/") Лоскутная операция
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/frenuloplastika/") Френулопластика
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/shinirovanie/") Шинирование
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-desen/") Лечение десен
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-flyusa-periostita/") Лечение флюса (периостита)
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-desen/kyuretazh-desen/") Кюретаж десен
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-gingivita/") Лечение гингивита
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-desen/lechenie-desen-apparatom-vektor/") Лечение десен аппаратом Вектор
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-granulemy/") Гранулема зуба
        .new-services__block-item
          .new-services__title-block
            a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/" class="new-services__title") Лечение зубов
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/restavratsiya-zubov/") Реставрация зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/parodontologiya/vospalenie-zubov/") Воспаление зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/") Лечение зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/ustanovka-plomby/") Пломбирование зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-podvizhnosti-zubov/") Лечение подвижности зубов
                li
                  a(href="/uslugi/lechenie/lechenie-kariesa-ufa/") Лечение кариеса
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-pulpita/") Лечение пульпита
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/maloinvozivnoe-lechenie/") Малоинвазивное лечение
                li
                  a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/lechenie-kisty/") Лечение кисты зуба
                li
                  a(href="/uslugi/dlya-vzroslykh/khirurgiya/lazernaya-stomatologiya/") Лазерная стоматология
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="/uslugi/dlya-vzroslykh/khirurgiya/") Хирургия
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/") Удаление зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/zub-mudrosti/") Удаление зуба мудрости
                li
                  a(href="/uslugi/dlya-vzroslykh/udalenie-zubov/udalenie-retinirovannogo-zuba-mudro/") Удаление ретинированного зуба мудрости
                li
                  a(href="/uslugi/dlya-vzroslykh/khirurgiya/kostnaya-plastika/") Костная пластика
                li
                  a(href="/uslugi/dlya-vzroslykh/khirurgiya/sinus-lifting/") Синус лифтинг
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/") Эстетика
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/otbelivanie-zubov/") Отбеливание зубов
                li
                  a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/ultrazvukovaya-chistka-zubov/") Ультразвуковая чистка зубов
                li
                  a(href="/uslugi/professionalnaya-gigiena/") Профессиональная гигиена полости рта
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="/uslugi/dlya-vzroslykh/ortodontiya/") Ортодонтия
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/ortodontiya/anomalii-prikusa/") Аномалии прикуса
                li
                  a(href="/uslugi/dlya-vzroslykh/ortodontiya/ispravlenie-prikusa/") Исправление прикуса
                li
                  a(href="/uslugi/dlya-vzroslykh/brekety/") Брекеты
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="#") Без боли
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/dlya-vzroslykh/anesteziya/") Анестезия
                li
                  a(href="/uslugi/dlya-vzroslykh/anesteziya/") Проводниковая анестезия
                li
                  a(href="/uslugi/dlya-vzroslykh/anesteziya/") Инфильтрационная анестезия
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-pod-narkozom-u-detei/") Лечение зубов под наркозом у детей
        .new-services__block-item
          .new-services__title-block
            a.new-services__title(href="/uslugi/detskaya-stomatologiya/") Детская стоматология
          .new-services__columns
            .new-services__columns-item
              ul.new-services__menu-list
                li
                  a(href="/uslugi/detskaya-stomatologiya/germetizatsiya-fissur/") Герметизация фиссур
                li
                  a(href="/uslugi/detskaya-stomatologiya/detskaya-ortodontiya/") Детская ортодонтия
                li
                  a(href="/uslugi/detskaya-stomatologiya/ispravlenie-prikusa/") Исправление прикуса у детей
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-detey/") Лечение зубов у детей
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-vo-sne/") Лечение зубов во сне
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-kariesa-u-detey/") Лечение кариеса у детей
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-molochnykh-zubov/") Лечение молочных зубов
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-pod-sedatsiey/") Лечение под седацией
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-sistemoy-icon/") Лечение системой Icon
                li
                  a(href="/uslugi/detskaya-stomatologiya/plastika-uzdechki-yazyka-lazerom/") Пластика уздечки языка лазером
                li
                  a(href="/uslugi/detskaya-stomatologiya/udalenie-zubov/") Удаление зубов у детей
                li
                  a(href="/uslugi/detskaya-stomatologiya/ftorirovanie-molochnykh-zubov/") Фторирование молочных зубов
                li
                  a(href="/uslugi/detskaya-stomatologiya/lechenie-zubov-pod-narkozom-u-detei/") Лечение зубов под наркозом у детей
      button.new-services__close-button Закрыть меню
