header.page-header
  .top-header
    .container.top-header__container
      .top-header__logo
        a(href="#")
          picture
            source(media="(min-width: 1024px)"  srcset="img/logo.png" alt="")
            img(src="img/logo-mobile.png" width="141")
      .top-header__socials
        ul.top-header__socials-list
          li.top-header__socials-item
            a.top-header__socials-link Инстаграм
          li.top-header__socials-item
            a.top-header__socials-link Youtube
          li.top-header__socials-item
            a.top-header__socials-link Вконтакте
      .top-header__place
        select.top-header__place-select
          option Уфа ул.Кавказская 6/8
          option Сибай ул.Горбкого 66
      .top-header__time
        span Мы работаем: Понедельник - Пятница: с 9:00 до 21:00,<br> Суббота - Воскресенье: с 9:00 до 18:00
      .top-header__phone
        a.top-header__phone-link(href="tel:+73472252520") +7 (347) 225-25-20
  .bottom-header
    .container.bottom-header__container
      button.main-nav__nav-button
        span Меню
      .main-nav__wrapper.main-nav__wrapper--show
        button.main-nav__close-button
          span Закрыть меню
        ul.bottom-header__main-nav.main-nav__list
          li.main-nav__item
            a(href="#") О клинике
            ul
              li
                a(href="#") Команда
              li
                a(href="#") Отзывы
              li
                a(href="#") Правовая информация
              li
                a(href="#") Политика конфиденциальности
              li
                a(href="#") FAQ
              li
                a(href="#") Блог
              li
                a(href="#") Контакты
          li.main-nav__item
            a(href="#") Услуги
          li.main-nav__item
            a(href="#") Цены
          li.main-nav__item
            a(href="#") Вакансии
          li.main-nav__item
            a(href="#") Акции
          li.main-nav__item
            a(href="#") Имплантация
            ul
              li
                a(href="#") Имплантация зубов во время беременности
              li
                a(href="#") Имплантация зубов под ключ
              li
                a(href="#") Несъемные протезы на 4-х имплантах по технологии All-on-4
              li
                a(href="#") Несъемные протезы на 6-ти имплантах по технологии All-on-6
              li
                a(href="#") Несъемные протезы на 8-ми имплантах по технологии All-on-8
              li
                a(href="#") Одномоментная имплантация зубов
              li
                a(href="#") Импланты зубов за один день
              li
                a(href="#") Синус лифтинг
          li.main-nav__item
            a(href="#") Протезирование
            ul
              li
                a(href="#") Съемные протезы
              li
                a(href="#") Протезирование на имплантах
              li
                a(href="#") Протезирование передних зубов
              li
                a(href="#") Несъемное протезирование
              li
                a(href="#") Коронки на зубы
              li
                a(href="#") Металлокерамические коронки
          li.main-nav__item
            a(href="#") КТ
            ul
              li
                a(href="#") Исследование методом 3D компьютерной томографии
              li
                a(href="#") Исследование ВНЧС методом 3D компьютерной томографии
              li
                a(href="#") Телерентгенограмма
              li
                a(href="#") Диагностика
          li.main-nav__item
            a(href="#") ДМС
        .main-nav__black
          ul
            li
              a(href="#") Зубы за один день
            li
              a(href="#") Дентал туризм
            li
              a(href="#") Отзывы
          a(href="#") +7 (347) 225-25-20
        .main-nav__white
          
        button.bottom-header__call-button Записаться на прием
