header.page-header
  .top-header
    .container.top-header__container
      .top-header__logo
        a(href="/")
          picture
            source(media="(min-width: 1024px)"  srcset="img/logo.png" alt="")
            img(src="img/logo-mobile.png" width="141")
      .top-header__socials
        ul.top-header__socials-list
          li.top-header__socials-item
            a.top-header__socials-link(href="https://www.instagram.com/riadent_ufa/") Инстаграм
          li.top-header__socials-item
            a.top-header__socials-link(href="https://www.youtube.com/channel/UCC_A_tpczf9aT3HHFYgLtYA") Youtube
          li.top-header__socials-item
            a.top-header__socials-link(href="https://vk.com/riadent_ufa") Вконтакте
      .top-header__place
        select.top-header__place-select
          option Уфа ул.Кавказская 6/8
          option Сибай ул.Горбкого 66
      .top-header__time
        span Мы работаем: Понедельник - Пятница: с 9:00 до 21:00,<br> Суббота - Воскресенье: с 9:00 до 18:00
      .top-header__phone
        a.top-header__phone-link(href="tel:+73472252520") +7 (347) 225-25-20
  .bottom-header
    .container.bottom-header__container
      button.main-nav__nav-button
        span Меню
      .main-nav__wrapper
        button.main-nav__close-button
          span Закрыть меню
        ul.bottom-header__main-nav.main-nav__list
          li.main-nav__item
            a(href="/o-stomatologii/") О клинике
            button.main-nav__item-button
              svg(width="19" height="10")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/o-stomatologii/komanda/") Команда
              li
                a(href="/o-stomatologii/otzivi/") Отзывы
              li
                a(href="/o-stomatologii/pravovaya-informaciya/") Правовая информация
              li
                a(href="/politika-konfidencialnosti/") Политика конфиденциальности
              li
                a(href="/faq/") FAQ
              li
                a(href="/blog/") Блог
              li
                a(href="/contacti/") Контакты
          li.main-nav__item
            a(href="#") Услуги
            button.main-nav__item-button
              svg(width="19" height="10")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya/") Имплантация
              li
                a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Протезирование
              li
                a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/viniry/") Виниры
              li
                a(href="/uslugi/dlya-vzroslykh/parodontologiya/") Пародонтология
              li
                a(href="/uslugi/dlya-vzroslykh/lechenie-zubov/") Лечение зубов
              li
                a(href="/uslugi/dlya-vzroslykh/khirurgiya/") Хирургия
              li
                a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/") Эстетика
              li
                a(href="/uslugi/dlya-vzroslykh/ortodontiya/") Ортодонтия
              li
                a(href="#") Без боли
              li
                a(href="/uslugi/detskaya-stomatologiya/") Детская стоматология
              li
                a(href="/akcii-i-goryashhie-predlozheniya/") Акции
          li.main-nav__item
            a(href="/ceni/") Цены
          li.main-nav__item
            a(href="/vc/") Вакансии
          li.main-nav__item
            a(href="/akcii-i-goryashhie-predlozheniya/") Акции
          li.main-nav__item
            a(href="/ustanovka-implantatov/") Имплантация
            button.main-nav__item-button
              svg(width="19" height="10")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/") Имплантация зубов во время беременности
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/implantaciya-pod-kljuch/") Имплантация зубов под ключ
              li
                a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/") Несъемные протезы на 4-х имплантах по технологии All-on-4
              li
                a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-6-ti-implantakh-po-t/") Несъемные протезы на 6-ти имплантах по технологии All-on-6
              li
                a(href="/uslugi/dlya-vzroslykh/protezirovanie-zubov/novye-zuby-za-1-den-po-tekhnologii-all-on-4-v-uf/nesyemnye-protezy-na-8-mi-implantakh-po-tekhnologii-all-on-8/") Несъемные протезы на 8-ми имплантах по технологии All-on-8
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/odnomomentnaya-implantaciya-zubov/") Одномоментная имплантация зубов
              li
                a(href="/uslugi/dlya-vzroslykh/implantaciya-vo-vremya-beremennosti/implanty-za-odin-den/") Импланты зубов за один день
              li
                a(href="/uslugi/dlya-vzroslykh/khirurgiya/sinus-lifting/") Синус лифтинг
          li.main-nav__item
            a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Протезирование
            button.main-nav__item-button
              svg(width="19" height="10")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/") Съемные протезы
              li
                a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-na-implantakh/") Протезирование на имплантах
              li
                a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/protezirovanie-perednikh-zubov/") Протезирование передних зубов
              li
                a(href="/uslugi/dlya-vzroslykh/ortopedicheskaya-stomatologiya/nesyemnoe-protezirovanie/") Несъемное протезирование
              li
                a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Коронки на зубы
              li
                a(href="/uslugi/dlya-vzroslykh/esteticheskaya-stomatologiya/koronki/") Металлокерамические коронки
          li.main-nav__item
            a(href="/uslugi/dlya-vzroslykh/kompyuternaya-tomografiya/") КТ
            button.main-nav__item-button
              svg(width="19" height="10")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.main-nav__item-list
              li
                a(href="/uslugi/dlya-vzroslykh/kompyuternaya-tomografiya/issledovanie-metodom-3d-kompjuternoj-tomografii/") Исследование методом 3D компьютерной томографии
              li
                a(href="/uslugi/dlya-vzroslykh/kompyuternaya-tomografiya/issledovanie-vnchs-metodom-3d-kompyuternoy-tomografii/") Исследование ВНЧС методом 3D компьютерной томографии
              li
                a(href="/uslugi/dlya-vzroslykh/kompyuternaya-tomografiya/telerentgenogramma/") Телерентгенограмма
              li
                a(href="/diagnostika/") Диагностика
          li.main-nav__item
            a(href="/uslugi/po-dms/") ДМС
        .main-nav__black
          ul
            li
              a(href="#") Зубы за один день
            li
              a(href="#") Дентал туризм
            li
              a(href="/o-stomatologii/otzivi/") Отзывы
          a.main-nav__black-phone(href="tel:+73472252520")
            svg(width="25" height="25")
              use(xlink:href="img/sprite.svg#phone")
            span +7 (347) 225-25-20
        .main-nav__white
          ul
            li
              a(href="https://www.instagram.com/riadent_ufa/") Инстаграм
            li
              a(href="https://www.youtube.com/channel/UCC_A_tpczf9aT3HHFYgLtYA") Youtube
            li
              a(href="https://vk.com/riadent_ufa") Вконтакте
        button.bottom-header__call-button Записаться
