section.riaquiz
  .riaquiz__begin
    p Узнайте точную стоимость лечения за 1 минуту
    button Рассчитать стоимость
  .riaquiz__bottom
    h2 Узнайте точную стоимость лечения за 1 минуту
    p Отправим расчёт на WhatsApp, СМС или по телефону
    button Рассчитать стоимость
    p.riaquiz-adress Стоматологическая клиника Риадент, Уфа, Кавказская, 6/8
