section.riaquiz.riaquiz--show.riaquiz--questions
  .riaquiz__wrapper
    .riaquiz__begin
      p Узнайте точную стоимость лечения за 1 минуту
      button Рассчитать стоимость
    .riaquiz__bottom
      h2 Узнайте точную стоимость лечения за 1 минуту
      p Отправим расчёт на WhatsApp, СМС или по телефону
      .riaquiz__button-block
        button.riaquiz__button-start Рассчитать стоимость
      p.riaquiz__adress Стоматологическая клиника Риадент, Уфа, Кавказская, 6/8
    .riaquiz__questions
      .riaquiz__questions-item.riaquiz__questions-item--1
        span Выберите услугу, на которую хотите рассчитать стоимость
        .riaquiz__answers
          button.riaquiz__ans.riaquiz__ans1-1 Имплантация зубов
          button.riaquiz__ans.riaquiz__ans1-2 Лечение зубов
          button.riaquiz__ans.riaquiz__ans1-3 Удаление зубов
          button.riaquiz__ans.riaquiz__ans1-4 Виниры и реставрация зубов
          button.riaquiz__ans.riaquiz__ans1-5 Гигиена полости рта
          button.riaquiz__ans.riaquiz__ans1-6 Протезирование зубов
          button.riaquiz__ans.riaquiz__ans1-7 Брекеты и исправление прикуса
          button.riaquiz__ans.riaquiz__ans1-8 Детская стоматология
          button.riaquiz__ans.riaquiz__ans1-9 Отбеливание зубов
  button.riaquiz__close
