section.riaquiz
  .riaquiz__wrapper
    .riaquiz__begin
      p Узнайте точную стоимость лечения за 1 минуту
      button Рассчитать стоимость
    .riaquiz__bottom
      h2 Узнайте точную стоимость лечения за 1 минуту
      p Отправим расчёт на WhatsApp, СМС или по телефону
      .riaquiz__button-block
        button.riaquiz__button-start Рассчитать стоимость
      p.riaquiz__adress Стоматологическая клиника Риадент, Уфа, Кавказская, 6/8
    .riaquiz__questions
      .riaquiz__questions-list
        .riaquiz__questions-item.riaquiz__questions-item--1
          .riaquiz__questions-view
            .riaquiz__questions-content
              span Выберите услугу, на которую хотите рассчитать стоимость
              .riaquiz__answers
                button.riaquiz__ans.riaquiz__ans1-1 Имплантация зубов
                button.riaquiz__ans.riaquiz__ans1-2 Лечение зубов
                button.riaquiz__ans.riaquiz__ans1-3 Удаление зубов
                button.riaquiz__ans.riaquiz__ans1-4 Виниры и реставрация зубов
                button.riaquiz__ans.riaquiz__ans1-5 Гигиена полости рта
                button.riaquiz__ans.riaquiz__ans1-6 Протезирование зубов
                button.riaquiz__ans.riaquiz__ans1-7 Брекеты и исправление прикуса
                button.riaquiz__ans.riaquiz__ans1-8 Детская стоматология
                button.riaquiz__ans.riaquiz__ans1-9 Отбеливание зубов
        .riaquiz__questions-item.riaquiz__questions-item--2.riaquiz__questions-item--2from1
          .riaquiz__questions-view
            .riaquiz__questions-content
              span Сколько зубов Вы хотите восстановить?
              .riaquiz__answers
                button.riaquiz__ans.riaquiz__ans2-1 1
                button.riaquiz__ans.riaquiz__ans2-2 2
                button.riaquiz__ans.riaquiz__ans2-3 3
                button.riaquiz__ans.riaquiz__ans2-4 4
                button.riaquiz__ans.riaquiz__ans2-5 5
                button.riaquiz__ans.riaquiz__ans2-6 6
                button.riaquiz__ans.riaquiz__ans2-7 7
                button.riaquiz__ans.riaquiz__ans2-8 8
                button.riaquiz__ans.riaquiz__ans2-9 9
                button.riaquiz__ans.riaquiz__ans2-10 10 и более
                button.riaquiz__ans.riaquiz__ans2-11 Одна челюсть
                button.riaquiz__ans.riaquiz__ans2-12 Две челючти
        .riaquiz__questions-item.riaquiz__questions-item--3.riaquiz__questions-item--2from1
      .riaquiz__navbar
  button.riaquiz__close
