section.lechenie-parodontita7
  .container.lechenie-parodontita7__container
    h2 Имплантация при пародонтите
    p Можно ли ставить имплантаты при пародонтите? Ответ на этот вопрос — только если удалось достичь ремиссии. Острый пародонтит является противопоказанием к имплантации.
    p Более того, при успешном лечении и ремиссии заболевания установка имплантатов даже полезна. Особенно если имеются зубы в подвижном состоянии. Имплантация помогает не только восстановить уже утраченные зубные единицы, но и сохранить целые.
