section.lechenie-parodontita8
  .container.lechenie-parodontita8__container
    h2 Профилактика пародонтита
    p Чтобы снизить риск возникновения заболевания, придерживайтесь следующих мер:
    ul
      li Чистите зубы два раза в день: утром и перед сном;
      li После каждого приёма пищи поласкайте рот, чтобы избавиться от остатков еды;
      li Не пренебрегайте твёрдой пищей, овощами и фруктами: это полезно для дёсен;
      li Пользуйтесь зубной нитью во время чистки зубов;
      li Не забывайте хотя бы раз в полгода посещать стоматолога;
      li Ежегодно проходите комплексную чистку зубов.
