section.lechenie-parodontita9
  .container.lechenie-parodontita9__container
    h2 Эффективны ли народные средства для лечения пародонтита?
    p Пародонтит является хроническим заболеванием, которое в настоящий день невозможно излечить полностью. Но можно добиться длительной ремиссии заболевания, если провести своевременную терапию в стоматологической клинике.
    p Самостоятельное лечение с помощью народных средств не может улучшить состояние дёсен и зубов. Различные отвары трав лишь снимут симптомы и принесут кратковременное облегчение. Поэтому чем быстрее вы окажетесь у стоматолога, тем меньше шансов, что заболевание перерастёт в тяжёлую форму.
