section.lechenie-parodontita1
  .container.img-left__container
    .img-left__text
      h2 Что такое пародонтит?
      p Пародонтит — это хронический воспалительный процесс в тканях, окружающих зуб. Это и дёсны, и костная ткань, и связки, удерживающие зуб на месте. Несвоевременное лечение, или его отсутствие приводит к ослаблению тканей и выпадению зубов.
      p Стоматологическая клиника «Риадент» предлагает услуги по лечению пародонтита в Уфе.
      p Мы поможем вернуть здоровье зубов и дёсен вне зависимости от стадии заболевания, а также предоставим всю необходимую информацию для профилактики заболевания.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
