section.lechenie-parodontita4
  .container.two-columns__container
    h2 Основные симптомы и причины возникновения пародонтита
    .two-columns__columns
      .two-columns__column
        p Заметить воспаление пародонта можно за счёт основных признаков, среди которых:
        ul
          li кровь при чистке зубов или пережёвывании пищи;
          li зуд в дёснах;
          li вязкая слюна;
          li перманентное покраснение дёсен (здоровые дёсны имеют светло-розовый цвет);
          li оголение шейки зуба;
          li гнойные выделения из дёсен;
          li неприятный запах изо рта.
      .two-columns__column
        p Воспаление зубных тканей может возникнуть по разным причинам, но самыми распространёнными являются:
        ul
          li неправильный уход за зубами;
          li запущенные воспаления (кариес или гингивит);
          li невылеченный зубной камень;
          li ослабленный иммунитет;
          li болезни ЖКТ, изменившие кислотность;
          li гормональные нарушения;
          li сахарный диабет;
          li курение.
