section.lechenie-parodontita6
  .container.lechenie-parodontita6__container
    h2 Лечение пародонтита в стоматологии «Риадент»
    p Основываясь на результатах диагностики, стоматолог составляет план лечения. При составлении обязательно учитываются причины возникновения пародонтита и его стадия.
    p В перечень рекомендуемых действий входит:
    ul
      li устранение воспалительных очагов в полости рта;
      li лечение кариеса;
      li удаление зубного камня;
      li полировка зубов;
      li терапия.
    p При лечении пародонтита в начальной стадии достаточно пройти ряд простых процедур, среди которых:
    ul
      li <strong>Удаления зубного камня</strong>. Для этого применяется аппарат “Вектор” или техника Air Flow</strong>. Вне зависимости от способа процедура простая и безболезненная.
      li <strong>Десневые аппликации</strong>. Шейки зубов укрепляются специальными накладками, содержащими лекарственные вещества.
      li <strong>Полоскания</strong>. Стоматолог назначит курс полоскания полости рта антисептиками. Это важно для избавления от патогенных бактерий и восстановления правильной микрофлоры слизистой.
    p Если болезнь перешла в более серьёзную стадию, то придётся прибегать и к другим методам лечения:
    ul
      li <strong>Лекарственная терапия</strong>. При воспалениях в серьёзной стадии пациенту будет назначена терапия антибиотиками: в виде инъекций или в таблетках.
      li <strong>Кюретаж</strong>. Это процедура по удалению повреждённых тканей с дальнейшей санацией карманов. Кюретаж бывает открытым и закрытым: с отслаиванием десны или без. После операции накладываются швы.
      li <strong>Шинирование</strong>. Если в одном ряду 3-4 зуба подвижны, их стягивают прочной арамидной нитью или лентой из стекловолокна.
      li <strong>Лоскутная операция</strong>. Проводится только при тяжёлой стадии пародонтита, когда глубина карманов не менее 6 мм, а также заметно убывание костной ткани. Лоскут десны убирается в сторону, содержимое карманов удаляется и обрабатывается антисептиками, затем накладываются швы.
