section.lechenie-parodontita3
  .container.three-items__container
    h2.three-items__title Стадии пародонтита
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/parodontit2.jpg" alt="")
        h3 Начальная
        p Воспаление десны, появление крови и покраснение.
      .three-items__item
        .three-items__img
          img(src="img/parodontit3.jpg" alt="")
        h3 Средняя
        p Отёк десны, оголение шейки зуба, возникновение кармана между зубом и десной, усиление кровоточивости и реакция зубов на холодное и горячее.
      .three-items__item
        .three-items__img
          img(src="img/parodontit4.jpg" alt="")
        h3 Тяжёлая
        p Карман между зубом и десной становится большим, зуб становится подвижен.
