section.lechenie-parodontita2
  .container.two-columns__container
    h2 Виды пародонтита
    p Пародонтит разделяется на виды по локализации и по характеру протекания.
    .two-columns__columns
      .two-columns__column
        p По локализации пародонтит делится на:
        ul
          li локализованный — воспаление, затронувшее только один зуб, которое чаще всего возникает из-за внешнего повреждения;
          li генерализованный — затрагивает несколько зубных единиц, включая ткани дёсен и кость.
      .two-columns__column
        p В зависимости от характера протекания пародонтит бывает:
        ul
          li острым — с внезапными приступами боли и быстрым проявлением симптомов;
          li хроническим — при отсутствии лечения острый пародонтит может перейти в хронический: симптомы и боль практически не проявляются, но ткани деформируются и разрушаются.
