section.lechenie-parodontita5
  .container.four-steps__container
    h2.four-steps__title Диагностика пародонтита
    p В стоматологической клинике ­«Риадент» мы проводим всестороннюю диагностику пародонтита. Что туда входит:
    .four-steps__list
      .four-steps__item
        .four-steps__icon
          svg(width="44" height="44")
            use(xlink:href="img/sprite.svg#four-steps1")
        .four-steps__text
          p 1 этап:
          h3 Первичный осмотр
          p Стоматолог общается с пациентом и осматривает его, обращая внимание на состояние зубов, дёсен и полости рта. Уже на этой стадии врач ставит предварительный диагноз.
      .four-steps__item
        .four-steps__icon
          svg(width="45" height="44")
            use(xlink:href="img/sprite.svg#four-steps2")
        .four-steps__text
          p 2 этап:
          h3 Рентгенография
          p С помощью рентгена стоматолог сможет получить более полную информацию о состоянии околозубных тканей пациента.
      .four-steps__item
        .four-steps__icon
          svg(width="40" height="42")
            use(xlink:href="img/sprite.svg#four-steps3")
        .four-steps__text
          p 3 этап:
          h3 Анализ крови
          p С его помощью можно определить патологические процессы в организме, которые привели к возникновению заболевания.
      .four-steps__item
        .four-steps__icon
          svg(width="33" height="44")
            use(xlink:href="img/sprite.svg#four-steps4")
        .four-steps__text
          p 4 этап:
          h3 Мазок слизи с десен
          p Помогает определить наличие патогенной микрофлоры, её количества и разновидности.
