section.prices
  .container.prices__container
    h2.prices__title Цены на лечение пародонтита
    p Общая стоимость лечения пародонтита зависит от стадии заболевания, причин возникновения и плана лечения, который будет составлен после консультации.
    p Стоматологическая клиника «Риадент» в Уфе предоставляет различные услуги, которые могут понадобиться при лечении пародонтита. Примерный прайс вы можете увидеть здесь:
    table.prices__table
      tr
        td Шинирование
        td 500
      tr
        td Кюретаж открытый и закрытый
        td 500
      tr
        td Пластика уздечки языка
        td 3900
      tr
        td Лечение аппаратом «Вектор»
        td 500
      tr
        td Ультразвуковая чистка зубов
        td 500
      tr
        td Комплексная гигиена полости рта
        td 500
