section.maloinvazivnoe-lechenie1
  .container.img-left__container
    .img-left__text
      h2 Малоинвазивные методы лечения зубов в Уфе
      p Имплантология давно заняла уверенную позицию среди медицинских наук, предложив людям удобное решение проблемы с потерей зубов.
      p Раньше, лишившись нескольких или всех зубов, человек мог выбрать лишь съёмный протез, который доставлял дискомфорт в повседневной жизни. Современные имплантаты позволяют пациенту вернуть функциональность и эстетику утраченных зубных единиц, при этом исключая неудобство при приёме пищи, общении, и других ситуациях.
      p В последние годы ведётся активное внедрение методик, подразумевающих минимальное хирургическое вмешательство при имплантации. Несмотря на различные названия, смысл у этих методик общий: минимальная травматичность при операции.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
