section.service-slider.lechenie-zubov-slider
  .container.service-slider__container
    .service-slider__wrapper
      h1.service-slider__title Малоинвазивное лечение, записаться на консультацию к терапевту
      .service-slider__img
        picture
          source(type="image/webp" media="(min-width: 768px)" srcset="img/vospalenie-zubov-slider.webp")
          source(type="image/webp" srcset="img/vospalenie-zubov-slider-mobile.webp")
          source(media="(min-width: 768px)"  srcset="img/vospalenie-zubov-slider.png" alt="")
          img(src="img/vospalenie-zubov-slider-mobile.png" alt="")
      .service-slider__text
        ul
          li Гарантия качества работы
          li Безболезненно
          li Бесплатная консультация
      .service-slider__button-block
        button.service-slider__button.form__call-popup Записаться на прием
