section.maloinvazivnoe-lechenie3
  .container.maloinvazivnoe-lechenie3__container
    h2 О методике
    p Суть методики в том, что вместо разреза слизистую рта прокалывают специальным инструментом. В образовавшееся маленькое отверстие помещается имплантат.
    p Малоинвазивная методика применяется как в одномоментной, так и в двухэтапной имплантации.
    p Преимущества малоинвазивной имплантации:
    ul
      li нет потери крови;
      li быстрое заживление;
      li сокращается время операции;
      li сокращается период реабилитации;
      li низкий уровень психологического стресса пациента.
    p Но стоит заметить, что эта методика применима не в каждом случае. Исключением станет недостаток костной ткани и сложное анатомическое строение челюсти.
    p Но при этом малоинвазивный метод применяется для установки эндооссальных имплантатов — когда имплантат устанавливают прямо в кость челюсти.
    p В стоматологической клинике “Риадент” мы применяем только имплантаты от ведущих европейских производителей (Швейцария, Германия). У нас есть современное оборудование, необходимое для чёткого планирования и успешного проведения малоинвазивной имплантации. Доверьте нам свои зубы, и наслаждайтесь результатом долгие годы!
    p Записывайтесь на консультацию в Уфе. Наш адрес: ул. Кавказская 6/8.
