section.maloinvazivnoe-lechenie2
  .container.maloinvazivnoe-lechenie2__container
    h2 Виды имплантации
    p Примеры, как называют такую имплантацию:
    ul
      li бескровная;
      li бесшовная;
      li трансгингивальная;
      li малоинвазивная;
      li эндоскопическая.
    p Различные названия методик ясно демонстрируют, что направленность у них одна. В отличии от классического протокола, проникновение в ткани происходит без больших разрезов и наложения швов.
    p Любое хирургическое вмешательство влечёт за собой повреждение здоровых тканей и их последующую регенерацию. При восстановлении тканей не обойти симптомы повреждения: боль, отёк, воспаление. Даже несмотря на то, что воспаление является защитной реакцией организма, оно значительно усугубляет общую клиническую картину, и несёт в себе риск развития осложнений.
    p При стандартной имплантации, включающей в себя откидывание лоскута десны, происходило и убывание костной ткани, поскольку она не получала необходимого питания во время операции и около суток после.
    p Все эти, на первый взгляд, незначительные признаки заставили стоматологов искать менее травматичные методики установки имплантатов.
    p Нельзя не заметить, что стоматологам и так повезло: слизистая полости рта регенерирует в разы быстрее, чем любая другая ткань в теле человека. Это создавало некую иллюзию вседозволенности, и позволяло без тяжелых последствий совершать ошибки, которые в любой другой области хирургии ощущались бы гораздо серьёзнее.
    p Но по итогам вывод один: чем меньше искусственного внедрения в организм, тем вероятнее успешный исход операции.
    p Малоинвазивная имплантация планируется по данным, полученным с помощью компьютерной томографии. Томография предоставляет специалисту трёхмерную модель челюсти. Видны все особенности строения, за счёт чего можно точно рассчитать область внедрения имплантата, его направление и размер, не задевая при установке сосуды и нервные окончания. Благодаря этому вмешательство в организм минимизируется, а период реабилитации сокращается, и проходит без болевых ощущений. Отсутствует также воспаление тканей. Результат — более высокий процент успешных операций.
