section.vacancies-main
  .container.vacancies-main__container
    h2.vacancies-main__title Актуальные вакансии
    .vacancies-main__city-block
      select.vacancies-main__select-options(id="mySelect" onchange="fun1()")
        option Уфа
        option Сибай
        option Магнитогорск
        option Набережные Челны
        option Казань
    .vacancies-main__vacancies-wrapper
      .vacancies-main__vacancies-actual-city
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title.vacancies-main__vacancy-title--show Медицинская сестра стерилизационной
          .vacancies-main__vacancy.vacancies-main__vacancy--show
            <strong>Требуемый опыт работы:</strong> не требуется<br>
            span Полная занятость, сменный график<br>
            strong Обязанности:
            ul
              li исполнение врачебных назначений;
              li утилизация медицинских отходов;
              li ведение документации;
              li ассистирование врачам, стерилизация инструментов;
              li умение оказать неотложную помощь.
            strong Требования:
            ul
              li наличие диплома о медицинском образовании или сертификата сестринское дело (обязательно);
              li работа в стоматологии (будет преимуществом);
              li навыки владения сестринских манипуляций: вн/м и вн/в уколы.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Ассистент стоматолога
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> желателен опыт в стоматологии от 1 года;<br>
            span Стажировка, сменный график<br>
            strong Обязанности:
            ul
              li ассистирование в 4 руки высококлассным профессионалам в стоматологии (терапия/ хирургия/ детское отделение/ ортопедия/ ортодонтия);
              li соблюдение санитарно-эпидемиологического режима.
            strong Требования:
            ul
              li активность и драйв;
              li ответственность;
              li умение быстро усваивать информацию и применять в деле;
              li стрессоустойчивость;
              li опрятный внешний вид;
              li наличие сертификата сестринское дело (обязательно).
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортодонт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li работа на съемной и несъемной аппаратуре, все виды ортодонтического лечения;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата;
              li опыт самостоятельного приема не менее 3 лет;
              li владение всеми современными технологиями;
              li расчет ТРГ, чтение ОПТГ, владение техникой многопетлевой дуги желательно;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-терапевт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li эстетические реставрации;
              li восстановление зубов жевательной группы (лечение кариеса и его осложнений);
              li эндодонтическое лечение/перелечивание зубов(микроскоп);
              li эстетическое восстановление зубов — Микропротезирование.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортопед
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li протезирование пациентов по современным стандартам;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата по направлению "Ортопедическая стоматология" (либо свидетельство об аккредитации);
              li опыт работы не менее 3 лет;
              li владение всеми современными технологиями;
              li протезирование на имплантатах;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог детский
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li лечение кариеса и его осложнений;
              li эндодонтическое лечение/перелечивание зубов.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li высшее законченное образование, стоматология, актуальный сертификат;
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
    .vacancies-main__vacancies-hidden
      .vacancies-main__vacancies-city
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Медицинская сестра стерилизационной
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется<br>
            span Полная занятость, сменный график<br>
            strong Обязанности:
            ul
              li исполнение врачебных назначений;
              li утилизация медицинских отходов;
              li ведение документации;
              li ассистирование врачам, стерилизация инструментов;
              li умение оказать неотложную помощь.
            strong Требования:
            ul
              li наличие диплома о медицинском образовании или сертификата сестринское дело (обязательно);
              li работа в стоматологии (будет преимуществом);
              li навыки владения сестринских манипуляций: вн/м и вн/в уколы.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Ассистент стоматолога
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> желателен опыт в стоматологии от 1 года;<br>
            span Стажировка, сменный график<br>
            strong Обязанности:
            ul
              li ассистирование в 4 руки высококлассным профессионалам в стоматологии (терапия/ хирургия/ детское отделение/ ортопедия/ ортодонтия);
              li соблюдение санитарно-эпидемиологического режима.
            strong Требования:
            ul
              li активность и драйв;
              li ответственность;
              li умение быстро усваивать информацию и применять в деле;
              li стрессоустойчивость;
              li опрятный внешний вид;
              li наличие сертификата сестринское дело (обязательно).
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортодонт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li работа на съемной и несъемной аппаратуре, все виды ортодонтического лечения;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата;
              li опыт самостоятельного приема не менее 3 лет;
              li владение всеми современными технологиями;
              li расчет ТРГ, чтение ОПТГ, владение техникой многопетлевой дуги желательно;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-терапевт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li эстетические реставрации;
              li восстановление зубов жевательной группы (лечение кариеса и его осложнений);
              li эндодонтическое лечение/перелечивание зубов(микроскоп);
              li эстетическое восстановление зубов — Микропротезирование.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортопед
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li протезирование пациентов по современным стандартам;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата по направлению "Ортопедическая стоматология" (либо свидетельство об аккредитации);
              li опыт работы не менее 3 лет;
              li владение всеми современными технологиями;
              li протезирование на имплантатах;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог детский
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li лечение кариеса и его осложнений;
              li эндодонтическое лечение/перелечивание зубов.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li высшее законченное образование, стоматология, актуальный сертификат;
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
      .vacancies-main__vacancies-city
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-терапевт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li эстетические реставрации;
              li восстановление зубов жевательной группы (лечение кариеса и его осложнений);
              li эндодонтическое лечение/перелечивание зубов(микроскоп);
              li эстетическое восстановление зубов — Микропротезирование.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
      .vacancies-main__vacancies-city
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Медицинская сестра стерилизационной
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется<br>
            span Полная занятость, сменный график<br>
            strong Обязанности:
            ul
              li исполнение врачебных назначений;
              li утилизация медицинских отходов;
              li ведение документации;
              li ассистирование врачам, стерилизация инструментов;
              li умение оказать неотложную помощь.
            strong Требования:
            ul
              li наличие диплома о медицинском образовании или сертификата сестринское дело (обязательно);
              li работа в стоматологии (будет преимуществом);
              li навыки владения сестринских манипуляций: вн/м и вн/в уколы.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Ассистент стоматолога
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> желателен опыт в стоматологии от 1 года;<br>
            span Стажировка, сменный график<br>
            strong Обязанности:
            ul
              li ассистирование в 4 руки высококлассным профессионалам в стоматологии (терапия/ хирургия/ детское отделение/ ортопедия/ ортодонтия);
              li соблюдение санитарно-эпидемиологического режима.
            strong Требования:
            ul
              li активность и драйв;
              li ответственность;
              li умение быстро усваивать информацию и применять в деле;
              li стрессоустойчивость;
              li опрятный внешний вид;
              li наличие сертификата сестринское дело (обязательно).
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-терапевт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li эстетические реставрации;
              li восстановление зубов жевательной группы (лечение кариеса и его осложнений);
              li эндодонтическое лечение/перелечивание зубов(микроскоп);
              li эстетическое восстановление зубов — микропротезирование.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-пародонтолог
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li амбулаторный прием;
              li ведение электронной медицинской документации.
            strong Требования:
            ul
              li консервативные методики лечения заболеваний пародонта;
              li терапевтическая стоматология: гигиена, реставрации, идеальная эндодонтия, микропротезирование, отбеливание, микроабразия, умение работать в команде, комплексный подход к лечению пациента;
              li высшее медицинское образование, действующий сертификат по специальности «Стоматология терапевтическая»;
              li опыт практической работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-хирург
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение клинического приема по специальности "Хирургическая стоматология";
              li диагностика и лечение хирургической патологии полости рта;
              li удаление зубов;
              li костная пластика;
              li синус-лифтинг;
              li имплантология;
              li чтение КТ и рентгеновских снимков.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат "Стоматология хирургическая" и/или "Челюстно-лицевая хирургия";
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li аккуратность, профессионализм, пунктуальность, вежливость, серьёзный настрой на сотрудничество;
              li умение разрешать сложные ситуации;
              li высокие профессиональные навыки, стремление качественно работать и получать за это достойную оплату;
              li опыт работы от 3 лет (необходимо предоставить портфолио: фото работ на любом носителе, диске Гугл, Инстаграм...).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортопед
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li протезирование пациентов по современным стандартам;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата по направлению "Ортопедическая стоматология" (либо свидетельство об аккредитации);
              li опыт работы не менее 3 лет;
              li владение всеми современными технологиями;
              li протезирование на имплантатах;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортодонт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li работа на съемной и несъемной аппаратуре, все виды ортодонтического лечения;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата;
              li опыт самостоятельного приема не менее 3 лет;
              li владение всеми современными технологиями;
              li расчет ТРГ, чтение ОПТГ, владение техникой многопетлевой дуги желательно;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог детский
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li лечение кариеса и его осложнений;
              li эндодонтическое лечение/перелечивание зубов.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li высшее законченное образование, стоматология, актуальный сертификат;
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
      .vacancies-main__vacancies-city
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Администратор
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется<br>
            span Полная занятость, сменный график<br>
            strong Обязанности:
            ul
              li доброжелательная встреча пациентов;
              li заполнение карточек пациентов, ведение медицинской документации, направление к врачу или в зал ожидания;
              li обзвон пациентов только для подтверждения записи (все иные звонки осуществляет Call-центр);
              li ведение кассы;
              li учет рабочего времени медперсонала.
            strong Требования:
            ul
              li развитые коммуникативные навыки;
              li опрятный внешний вид;
              li ответственность;
              li грамотная устная и письменная речь;
              li умение ладить с детьми;
              li доброжелательность, энергичность.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li оклад + % от продаж стоматологических аксессуаров;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Старшая медсестра
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 1–3 года<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li контроль работы ассистентов и санитарок;
              li составление рабочего графика;
              li найм и обучение младшего медицинского персонала;
              li соблюдение требований СЭС;
              li контроль склада материалов (закупка, инвентаризация, выдача по кабинетам).
            strong Требования:
            ul
              li высшее медицинское образование либо среднее медицинское образование со стажем от 3 лет, наличие сертификата;
              li ответственность;
              li коммуникабельность;
              li стрессоустойчивость;
              li умение работать в условиях многозадачности.
            strong Мы предлагаем:
            ul
              li график работы: с 9.00 до 18.00, 5/2;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Медицинская сестра стерилизационной
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется<br>
            span Полная занятость, сменный график<br>
            strong Обязанности:
            ul
              li исполнение врачебных назначений;
              li утилизация медицинских отходов;
              li ведение документации;
              li ассистирование врачам, стерилизация инструментов;
              li умение оказать неотложную помощь.
            strong Требования:
            ul
              li наличие диплома о медицинском образовании или сертификата сестринское дело (обязательно);
              li работа в стоматологии (будет преимуществом);
              li навыки владения сестринских манипуляций: вн/м и вн/в уколы.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Ассистент стоматолога
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> желателен опыт в стоматологии от 1 года;<br>
            span Стажировка, сменный график<br>
            strong Обязанности:
            ul
              li ассистирование в 4 руки высококлассным профессионалам в стоматологии (терапия/ хирургия/ детское отделение/ ортопедия/ ортодонтия);
              li соблюдение санитарно-эпидемиологического режима.
            strong Требования:
            ul
              li активность и драйв;
              li ответственность;
              li умение быстро усваивать информацию и применять в деле;
              li стрессоустойчивость;
              li опрятный внешний вид;
              li наличие сертификата сестринское дело (обязательно).
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Санитарка
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется;<br>
            span Стажировка, сменный график<br>
            strong Обязанности:
            ul
              li уборка территории клиники;
              li проведение генеральных уборок;
              li соблюдение санитарно-эпидемиологического режима.
            strong Требования:
            ul
              li чистоплотность;
              li ответственность;
              li умение быстро и аккуратно работать;
              li опрятный внешний вид.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 21.00; 2/2;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж).
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-терапевт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li эстетические реставрации;
              li восстановление зубов жевательной группы (лечение кариеса и его осложнений);
              li эндодонтическое лечение/перелечивание зубов(микроскоп);
              li эстетическое восстановление зубов — микропротезирование.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-пародонтолог
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li амбулаторный прием;
              li ведение электронной медицинской документации.
            strong Требования:
            ul
              li консервативные методики лечения заболеваний пародонта;
              li терапевтическая стоматология: гигиена, реставрации, идеальная эндодонтия, микропротезирование, отбеливание, микроабразия, умение работать в команде, комплексный подход к лечению пациента;
              li высшее медицинское образование, действующий сертификат по специальности «Стоматология терапевтическая»;
              li опыт практической работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-хирург
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение клинического приема по специальности "Хирургическая стоматология";
              li диагностика и лечение хирургической патологии полости рта;
              li удаление зубов;
              li костная пластика;
              li синус-лифтинг;
              li имплантология;
              li чтение КТ и рентгеновских снимков.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат "Стоматология хирургическая" и/или "Челюстно-лицевая хирургия";
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li аккуратность, профессионализм, пунктуальность, вежливость, серьёзный настрой на сотрудничество;
              li умение разрешать сложные ситуации;
              li высокие профессиональные навыки, стремление качественно работать и получать за это достойную оплату;
              li опыт работы от 3 лет (необходимо предоставить портфолио: фото работ на любом носителе, диске Гугл, Инстаграм...).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортопед
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li протезирование пациентов по современным стандартам;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата по направлению "Ортопедическая стоматология" (либо свидетельство об аккредитации);
              li опыт работы не менее 3 лет;
              li владение всеми современными технологиями;
              li протезирование на имплантатах;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортодонт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li работа на съемной и несъемной аппаратуре, все виды ортодонтического лечения;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата;
              li опыт самостоятельного приема не менее 3 лет;
              li владение всеми современными технологиями;
              li расчет ТРГ, чтение ОПТГ, владение техникой многопетлевой дуги желательно;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
      .vacancies-main__vacancies-city
        //- .vacancies-main__vacancies-item
        //-   h2.vacancies-main__vacancy-title Управляющий стоматологической клиникой
        //-   .vacancies-main__vacancy
        //-     <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
        //-     span Полная занятость, полный день<br>
        //-     strong Обязанности:
        //-     ul
        //-       li руководство стоматологической клиники в соответствии с действующими законодательством и нормативно-правовыми актами;
        //-       li развитие и продвижение клиники, работа по увеличению оборота и прибыли;
        //-       li участие в поиске, наборе и адаптации персонала;
        //-       li участие в разработке маркетинговой кампании;
        //-       li участие в мероприятиях по привлечению пациентов;
        //-       li контроль работы подрядчиков по привлечению пациентов;
        //-       li организация работы коллектива, лечебно-профилактической и хозяйственной деятельности клиники;
        //-       li координация деятельности врачей, обеспечивая их взаимосвязь в работе;
        //-       li отчетность, осуществление анализа деятельности клиники на основе оценки показателей его работы;
        //-       li обеспечение высокого уровня сервиса;
        //-       li взаимодействие с бухгалтерией клиники для контроля финансовых операций и своевременной сдачи отчетности.
        //-     strong Требования:
        //-     ul
        //-       li высшее (стоматологическое или зуботехническое приветствуется) образование;
        //-       li дополнительное образование в области продаж и управления персоналом желательно;
        //-       li опыт работы на аналогичной должности от 3-х лет;
        //-       li опыт внедрения и поддержания бизнес - процессов; опыт в сфере продаж, клиенториентированном бизнесе;
        //-       li опыт работы в частной медицине будет преимуществом;
        //-       li развитые коммуникативные навыки, самоорганизация;
        //-       li умение грамотно выстраивать работу команды, мотивировать каждого члена коллектива и, при необходимости, принимать сложные решения;
        //-       li желание развиваться в сфере управления в стоматологии.
        //-     strong Мы предлагаем:
        //-     ul
        //-       li график работы: с 9.00 до 18.00, 5/2;
        //-       li работу в клинике с максимальным уровнем безопасности и качества;
        //-       li самое передовое оборудование и материалы;
        //-       li командную работу в лучшем смысле этого слова;
        //-       li заботливое отношение к каждому сотруднику;
        //-       li возможность с удовольствием работать и зарабатывать;
        //-       li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
        //-       li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Администратор
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется<br>
            span Полная занятость, сменный график<br>
            strong Обязанности:
            ul
              li доброжелательная встреча пациентов;
              li заполнение карточек пациентов, ведение медицинской документации, направление к врачу или в зал ожидания;
              li обзвон пациентов только для подтверждения записи (все иные звонки осуществляет Call-центр);
              li ведение кассы;
              li учет рабочего времени медперсонала.
            strong Требования:
            ul
              li развитые коммуникативные навыки;
              li опрятный внешний вид;
              li ответственность;
              li грамотная устная и письменная речь;
              li умение ладить с детьми;
              li доброжелательность, энергичность.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li оклад + % от продаж стоматологических аксессуаров;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Старшая медсестра
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 1–3 года<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li контроль работы ассистентов и санитарок;
              li составление рабочего графика;
              li найм и обучение младшего медицинского персонала;
              li соблюдение требований СЭС;
              li контроль склада материалов (закупка, инвентаризация, выдача по кабинетам).
            strong Требования:
            ul
              li высшее медицинское образование либо среднее медицинское образование со стажем от 3 лет, наличие сертификата;
              li ответственность;
              li коммуникабельность;
              li стрессоустойчивость;
              li умение работать в условиях многозадачности.
            strong Мы предлагаем:
            ul
              li график работы: с 9.00 до 18.00, 5/2;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Медицинская сестра стерилизационной
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется<br>
            span Полная занятость, сменный график<br>
            strong Обязанности:
            ul
              li исполнение врачебных назначений;
              li утилизация медицинских отходов;
              li ведение документации;
              li ассистирование врачам, стерилизация инструментов;
              li умение оказать неотложную помощь.
            strong Требования:
            ul
              li наличие диплома о медицинском образовании или сертификата сестринское дело (обязательно);
              li работа в стоматологии (будет преимуществом);
              li навыки владения сестринских манипуляций: вн/м и вн/в уколы.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Ассистент стоматолога
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> желателен опыт в стоматологии от 1 года;<br>
            span Стажировка, сменный график<br>
            strong Обязанности:
            ul
              li ассистирование в 4 руки высококлассным профессионалам в стоматологии (терапия/ хирургия/ детское отделение/ ортопедия/ ортодонтия);
              li соблюдение санитарно-эпидемиологического режима.
            strong Требования:
            ul
              li активность и драйв;
              li ответственность;
              li умение быстро усваивать информацию и применять в деле;
              li стрессоустойчивость;
              li опрятный внешний вид;
              li наличие сертификата сестринское дело (обязательно).
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 15.00/ с 15.00 до 21.00;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li самое передовое оборудование и материалы;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li возможность с удовольствием работать и зарабатывать;
              li график работы по согласованию;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж);
              li возможность обучения и профессионального развития.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Санитарка
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> не требуется;<br>
            span Стажировка, сменный график<br>
            strong Обязанности:
            ul
              li уборка территории клиники;
              li проведение генеральных уборок;
              li соблюдение санитарно-эпидемиологического режима.
            strong Требования:
            ul
              li чистоплотность;
              li ответственность;
              li умение быстро и аккуратно работать;
              li опрятный внешний вид.
            strong Мы предлагаем:
            ul
              li сменный график работы: с 9.00 до 21.00; 2/2;
              li работу в клинике с максимальным уровнем безопасности и качества;
              li командную работу в лучшем смысле этого слова;
              li заботливое отношение к каждому сотруднику;
              li официальное трудоустройство по ТК РФ (а значит отпуска и больничные, медицинский стаж).
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-терапевт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение стоматологического терапевтического приема с применением операционного микроскопа;
              li эстетические реставрации;
              li восстановление зубов жевательной группы (лечение кариеса и его осложнений);
              li эндодонтическое лечение/перелечивание зубов(микроскоп);
              li эстетическое восстановление зубов — микропротезирование.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат;
              li опыт работы по самым передовым протоколам эндодонтии строго коффердам, с использованием дентального микроскопа (желательно, но мы готовы обучить);
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li опыт работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-пародонтолог
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li амбулаторный прием;
              li ведение электронной медицинской документации.
            strong Требования:
            ul
              li консервативные методики лечения заболеваний пародонта;
              li терапевтическая стоматология: гигиена, реставрации, идеальная эндодонтия, микропротезирование, отбеливание, микроабразия, умение работать в команде, комплексный подход к лечению пациента;
              li высшее медицинское образование, действующий сертификат по специальности «Стоматология терапевтическая»;
              li опыт практической работы от 3 лет (необходимо предоставить портфолио).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-хирург
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, полный день<br>
            strong Обязанности:
            ul
              li ведение клинического приема по специальности "Хирургическая стоматология";
              li диагностика и лечение хирургической патологии полости рта;
              li удаление зубов;
              li костная пластика;
              li синус-лифтинг;
              li имплантология;
              li чтение КТ и рентгеновских снимков.
            strong Требования:
            ul
              li высшее законченное образование, стоматология, актуальный сертификат "Стоматология хирургическая" и/или "Челюстно-лицевая хирургия";
              li развитое клиническое мышление;
              li позитивность и мотивация к командной работе;
              li аккуратность, профессионализм, пунктуальность, вежливость, серьёзный настрой на сотрудничество;
              li умение разрешать сложные ситуации;
              li высокие профессиональные навыки, стремление качественно работать и получать за это достойную оплату;
              li опыт работы от 3 лет (необходимо предоставить портфолио: фото работ на любом носителе, диске Гугл, Инстаграм...).
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортопед
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li протезирование пациентов по современным стандартам;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата по направлению "Ортопедическая стоматология" (либо свидетельство об аккредитации);
              li опыт работы не менее 3 лет;
              li владение всеми современными технологиями;
              li протезирование на имплантатах;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
        .vacancies-main__vacancies-item
          h2.vacancies-main__vacancy-title Врач-стоматолог-ортодонт
          .vacancies-main__vacancy
            <strong>Требуемый опыт работы:</strong> 3–6 лет;<br>
            span Полная занятость, гибкий график<br>
            strong Обязанности:
            ul
              li проведение комплексных консультаций и диагностика;
              li составление плана лечения;
              li работа на съемной и несъемной аппаратуре, все виды ортодонтического лечения;
              li работа в команде со смежными специалистами клиники;
              li ведение медицинской документации.
            strong Требования:
            ul
              li высшее медицинское образование;
              li наличие действующего сертификата;
              li опыт самостоятельного приема не менее 3 лет;
              li владение всеми современными технологиями;
              li расчет ТРГ, чтение ОПТГ, владение техникой многопетлевой дуги желательно;
              li коммуникабельность, доброжелательность, ответственность;
              li портфолио желательно.
            strong Мы предлагаем:
            ul
              li конкурентоспособный уровень заработной платы;
              li гибкий график, возможно совместительство;
              li трудоустройство по ТК РФ;
              li профессиональное развитие и карьерный рост в высококвалифицированной команде врачей;
              li передовое оборудование и материалы;
              li минимальное время простоев;
              li гарантированный поток первичных пациентов для новых врачей;
              li устойчиво растущий поток пациентов по рекомендациям.
    .vacancies-main__bottom
      .vacancies-main__bottom-button
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSdtK4jRQc6Dy2JWl7KN7KanKpwqL1gcdL6IlA8LoIlusxsuBA/viewform") Записаться на собеседование
      h3 Если вы считаете, что Вы подходите на какие-либо из вышеперечисленных вакансий, то высылайте свое резюме на почту <a href="mailto:personal@riadent.ru">personal@riadent.ru</a> и мы обязательно с Вами свяжемся. Либо отправьте СМС с названием интересующей вакансии на номер <a href="tel:+79374730134">+7(937)473-0134</a>, чтобы мы могли Вам перезвонить.
