section.vacancies-slider
  .container.vacancies-slider__container
    h1 Приглашаем в команду!
    .vacancies-slider__videos
      .vacancies-slider__video
        iframe(width="100%" src="https://www.youtube.com/embed/3VnhVhNVfp8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      .vacancies-slider__video
        iframe(width="100%" src="https://www.youtube.com/embed/YO38MBWmktc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
