.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
picture {
	font-size: 0;
	line-height: 0;
}
.container {
	max-width: 1200px;
	width: calc(100% - 40px);
	padding-left: $phone-paddings;
	padding-right: $phone-paddings;
	margin: 0 auto;
	@media (min-width: $tablet-min) {
		width: calc(100% - 60px);
		padding-left: $tablet-paddings;
		padding-right: $tablet-paddings;
	}
	@media (min-width: $laptop-min) {
		width: calc(100% - 100px);
		padding-left: $desktop-paddings;
		padding-right: $desktop-paddings;
	}
}
body, p, span, ol, ul {
	font-family: 'Montserrat';
	font-weight: normal;
	font-size: 14px;
	@media (min-width: $tablet-min) {
		font-size: 16px;
	}
}
h1 {
	font-size: 20px;
	font-weight: bold;
	@media (min-width: $tablet-min) {
		font-size: 28px;
	}
	@media (min-width: $laptop-min) {
		font-size: 40px;
	}
}
h2 {
	font-size: 18px;
	@media (min-width: $tablet-min) {
		font-size: 24px;
	}
	@media (min-width: $laptop-min) {
		font-size: 32px;
	}
}
button {
	cursor: pointer;
}
@media (max-width: $tablet-max) {
	a, button {outline: 0;}
}
@keyframes from-top {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}
@keyframes from-right {
	0% {transform: translateX(100%);}
	70% {transform: translateX(-20px);}
	90% {transform: translateX(10px);}
	100% {transform: translateX(0);}
}
@keyframes from-right-reverse {
	0% {transform: translateX(0);}
	10% {transform: translateX(10px);}
	30% {transform: translateX(-20px);}
	100% {transform: translateX(100%);}
}
@keyframes wiggle {
	1% {transform: translateX(3px) rotate(2deg);}
	2% {transform: translateX(-3px) rotate(-2deg);}
	3% {transform: translateX(3px) rotate(2deg);}
	4% {transform: translateX(-3px) rotate(-2deg);}
	5% {transform: translateX(2px) rotate(1deg);}
	6% {transform: translateX(-2px) rotate(-1deg);}
	7% {transform: translateX(2px) rotate(1deg);}
	8% {transform: translateX(-2px) rotate(-1deg);}
	9% {transform: translateX(1px) rotate(0);}
	10% {transform: translateX(-1px) rotate(0);}
}
@keyframes moveLight {
  0% {
    transform: translateX(-40px) skewX(-45deg);
  }
  20% {
    transform: translateX(300px) skewX(-45deg);
  }
  40% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    transform: translateX(-40px) skewX(-45deg);
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes moveLightBig {
  0% {
    transform: translateX(-100px) skewX(-45deg);
  }
  20% {
    transform: translateX(600px) skewX(-45deg);
  }
  40% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    transform: translateX(-100px) skewX(-45deg);
    background-color: rgba(255, 255, 255, 0);
  }
}
