section.prices
  .container.prices__container
    h2.prices__title Стоимость удаления зубов
    p Окончательная стоимость станет известна только после тщательного стоматологического осмотра: она складывается из способа удаления и необходимого оборудования. Записывайтесь на консультацию в “Риадент” в Уфе, и сделайте процедуру удаления зубов максимально комфортной и безболезненной.
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Удаление зубов
      tr
        td Удаление временного зуба
        td 1000
      tr
        td Удаление постоянного зуба простое 3-4 степени подвижности без стоимости анестезии
        td 1000
      tr
        td Удаление постоянного зуба средней степени сложности без стоимости анестезии
        td 2000
      tr
        td Удаление многокорневого зуба с помощью бормашины и раздлением корней без стоимости анестезии
        td 2500
      tr
        td Удаление зуба сложное с разъединением корней
        td 3000
      tr
        td Удаление зуба при незавершенной экстракции в других медицинских организациях
        td 6000
      tr
        td Удаление фрагмента зуба при фрактуре
        td 1000
      tr
        td Удаление 1 степени сложности (дистопированный) без стоимости анестезии
        td 5000
      tr
        td Удаление зуба мудрости
        td 5500
