section.udalenie-zubov1
  .container.img-left__container
    .img-left__text
      h2 Удаление зубов в клинике «Риадент»
      p Нередко случается, что все старания в попытке сохранить и вылечить зуб оказываются безрезультатными. И бывает это намного чаще, чем хотелось бы. Поэтому, чтобы минимизировать дискомфорт и болевые ощущения при избавлении от неизлечимого зуба, специалисты стоматологической клиники “Риадент” проводят данную процедуру по особым правилам.
      p Если вы хотите, чтобы процедура удаления зуба показалась вам максимально простой, и не несла в себе страха, обращайтесь в “Риадент”!
      p Но для начала важно убедиться, что зуб действительно подлежит удалению.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
