section.udalenie-zubov4
  .container.udalenie-zubov4__container
    h2 Как правильно ухаживать за полостью рта после удаления зуба?
    p После удаления важно соблюдать определённые рекомендации стоматолога, чтобы избежать осложнений и болезненных ощущений. Что важно:
    ul
      li <strong>Отказаться от приёма пищи</strong> на несколько часов после процедуры. При приёме пищи есть риск повредить незажившую поверхность десны и занести инфекцию.
      li <strong>Следить за частью десны</strong>, где был зуб. Если вы заметите кровотечение, стоит обратиться к стоматологу.
      li Не рекомендуется курить, употреблять алкоголь и горячую пищу. Эти действия могут спровоцировать болевые ощущения и растянуть процесс заживления десны.
      li Если удаление было проведено хирургическим путём, по прошествии 24 часов необходимо проводить <strong>полоскания десны раствором</strong>, который порекомендует стоматолог.
      li Если зуб был удалён хирургическим путём, <strong>не рекомендуется использовать жёсткую зубную щётку и освежающие средства для полости рта</strong>.
    p В большинстве случаев пациенты не жалуются на особый дискомфорт и длительные болевые ощущения. Но, чтобы быть максимально уверенным в нормальном заживлении, важно придерживаться рекомендаций стоматолога, и обращаться в стоматологическую клинику «Риадент».
    p После процедуры удаления вы можете сразу проконсультироваться с нашими специалистами по вопросам протезирования и имплантации, чтобы ваша улыбка стала прежней.
