section.udalenie-zubov2
  .container.udalenie-zubov2__container
    h2 Показания к удалению
    .two-columns__columns
      .two-columns__column
        p Стоматологическая практика рассматривает определённый перечень случаев, в которых удаление зуба является необходимой мерой. Среди них:
        ul
          li некупируемое воспаление в зубе консервативным способом;
          li зубы мудрости, которые доставляют дискомфорт из-за неправильного роста;
          li перелом челюсти или опухоль;
          li наличие зубов, которые деформируют своим ростом весь зубной ряд;
          li зуб, который не подлежит восстановлению;
          li наличие зуба, который препятствует установке коронок или протезов.
      .two-columns__column
        p Таким образом, удаление зуба требуется только в сложных случаях, когда его наличие оказывает вред соседним зубам, либо мешает проводить полноценное и эффективное лечение.
        p Но бывают и такие ситуации, при которых удаление зубов наоборот не рекомендуется. Среди них:
        ul
          li наличие сердечных и психических болезней в стадии обострения;
          li острые инфекционные заболевания;
          li беременность на поздних сроках.
        p При наличии противопоказаний необходимо отложить процедуру до более подходящего периода.
