section.udalenie-zubov3
  .container.udalenie-zubov3__container
    h2 Как проходит процедура удаления зуба?
    p Удаление, несмотря на кажущуюся простоту, всё же требует аккуратного подхода. В стоматологии “Риадент” об этом знают, поэтому мы стараемся, чтобы процедура прошла:
    ul
      li <strong>Без боли</strong>. Пациенту вводят современные обезболивающие препараты. Этот укол будет самой неприятной частью процедуры.
      li <strong>Быстро</strong>. Стоматолог использует специальные инструменты — хирургические, либо классические, в зависимости от ситуации. Если зуб подлежит хирургическому удалению, на десне делается надрез, при классическом способе зуб слегка расшатывается и быстро удаляется.
      li <strong>Без последствий</strong>. После удаления стоматолог даст все необходимые рекомендации, чтобы процесс заживления был более быстрым и эффективным, и расскажет о необходимых временных ограничениях.
    p Удаление зуба — более простая процедура, чем может показаться. Процедура удаления зубов у маленьких пациентов проходит так же, только в специальном кабинете, опытным детским стоматологом.
    p Грамотный подход к ребёнку помогает минимизировать страх, и зуб удаляется быстро и безболезненно.
    p Но не только профессионализм при проведении процедуры способствует отсутствию дискомфорта и быстрому заживлению. Главным фактором является должный уход и соблюдение гигиены после удаления.
