section.odnomomentnaya-implantaciya-zubov7
  .container.odnomomentnaya-implantaciya-zubov7__container
    h2 Показания и противопоказания
    .two-columns__columns
      .two-columns__column
        p Для каждой клинической ситуации стоматолог подбирает подходящую методику. Как правило, выбор строится следующим образом:
        ul
          li если зуб повреждён, его необходимо удалить — применяется классическая методика;
          li отсутствует сразу несколько соседствующих зубов — базальная имплантация;
          li полное отсутствие зубного ряда — All-on-4, All-on-6, либо базальная методика.
      .two-columns__column
        p Конечно, каждый случай индивидуален, поэтому всё решается в кабинете стоматолога после тщательного обследования.
        p Противопоказания делятся на постоянные и относительные. К постоянным относятся:
        ul
          li возраст пациента младше 18 лет — челюсть ещё не сформировалась окончательно, поэтому любые вмешательства могут вызвать осложнения;
          li наличие злокачественных опухолей
          li серьёзные заболевания крови у пациента.
    p Также отказывают в процедуре пациентам с сахарным диабетом, атрофией костной ткани и СПИДом. Но всё зависит от конкретного случая. Можно провести имплантацию, обойдя эти противопоказания. Операция возможна и при беременности и грудном вскармливании, если принимать назначенные препараты.
    p При наличии остеопороза пациенту также будет необходимо пройти лечение, прежде чем восстанавливать отсутствующие единицы. При пародонтозе тоже часто случается отказ в процедуре, но иногда применима базальная методика. Она нередко даже помогает улучшить ситуацию с заболеванием.
    p Вывод: в любой ситуации стоит посетить стоматолога и проконсультироваться. Специалисты клиники “Риадент” смогут грамотно оценить вашу ситуацию, а затем подобрать подходящий способ.
