section.odnomomentnaya-implantaciya-zubov12
  .container.img-left__container
    .img-left__text
      h2 Почему «Риадент»?
      p Стоматологическая клиника “Риадент” предлагает услуги одномоментной имплантации. Наши стоматологи помогут подобрать подходящий метод. Материалы, с которыми мы работаем, известны своим качеством всему миру.
      p Клиника оснащена всем необходимым оборудованием для диагностики, а стоматологи обладают большим опытом, что гарантирует вам желанный результат без проявления осложнений. Мы поможем вам получить новую улыбку быстро и надёжно.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
