section.odnomomentnaya-implantaciya-zubov11
  .container.odnomomentnaya-implantaciya-zubov11__container
    h2 Стоимость одномоментной имплантации
    p Итоговая стоимость зависит от материалов и количества единиц, которые нужно восстановить. При восстановлении одного зуба протезирование будет стоить от 18 тысяч рублей.
    p Из стоимости импланта чаще всего складывается стоимость всей процедуры в целом. Как правило, самыми дорогими и высококачественными являются материалы из Швейцарии. Но пациент может выбрать южнокорейские имплантаты. Они славятся хорошим качеством и надёжностью, но при этом ощутимо дешевле.
    p На стоимость влияют также материалы постоянной коронки. Самым бюджетным из них является металлокерамика. Несмотря на сравнительно низкую цену, это прочный материал, схожий с натуральным зубом. Если же пациент хочет премиальное качество, ему предлагают циркониевые коронки, либо современную керамику.
    p Если пациенту необходимо восстановить зубной ряд полностью, лучше выбрать методику All-on-4, либо All-on-6. Это будет выгоднее, чем 10-12 отдельных имплантатов. Восстановление челюсти по методу “всё на четырех” стоит от 189 тысяч рублей.
    p Конечно, всё зависит от медицинских показаний. Но эстетика и восстановление функциональности — не то, на что стоит жалеть деньги. Речь не просто о красивой улыбке, это качество всей вашей жизни.
