section.odnomomentnaya-implantaciya-zubov6
  .odnomomentnaya-implantaciya-zubov6-1
    .container.odnomomentnaya-implantaciya-zubov6-1__container
      h2 Методики одномоментной имплантации
      p Перед проведением операции стоматолог проведёт ряд осмотров и исследований. Это важно для верного определения нужной методики имплантации. Существует четыре основных методики, каждая из которых имеет свои особенности.
  .container.img-right__container
    .img-right__text
      h3 Классическая методика
      p Классическая методика подразумевает установку титановой основы сразу после удаления зуба. За одно посещение стоматологического кабинета проводятся сразу оба этапа. Обычно такой метод применяется для восстановления одной зубной единицы, и занимаем максимум 2 дня.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
  .odnomomentnaya-implantaciya-zubov6-3
    .container.odnomomentnaya-implantaciya-zubov6-3__container
      p Для установки имплантата этим способом желательно, чтобы зуб был удалён прямо перед установкой штифта. Если он уже отсутствовал, необходимо дождаться полного заживления десны и костной ткани. Если врач сам удаляет зуб, то удаление проводится с осторожностью, чтобы не повредить ткани.
      p Второй этап: установка титановой основы в освободившуюся лунку. При необходимости лунка заполняется костным материалом, чтобы обеспечить надёжную фиксацию. На имплантат сразу же устанавливается переходник, а следом — временная облегчённая коронка. Через 4-6 месяцев, после полного приживления имплантата временная коронка заменяется на постоянную.
  .container.img-left__container
    .img-left__text
      h3 Базальная имплантация
      p При имплантации врач устанавливает титановый стержень на место, где ранее располагался корень. Но если зуб был потерян уже давно, на месте его корня может значительно уменьшиться объём ткани, необходимой для фиксации стержня. В этом случае приходится наращивать костную ткань. Либо стоматолог предложит пациенту другой метод.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
  .odnomomentnaya-implantaciya-zubov6-5
    .container.odnomomentnaya-implantaciya-zubov6-5__container
      p Существует возможность расположить титановую основу в кости, которая не подверглась атрофии: это базальный, то есть более глубоко расположенных слоях тканей. От этого произошло название методики.
      p Имплантат устанавливают без серьёзного повреждения тканей: без разрезов и проколов. Это гарантирует краткий период заживления. Для более надёжного расположения имплантат ставится под углом, что никак не влияет на положение искусственного зуба: он будет стоять ровно. Но у методики есть недостаток: установка под углом может затронуть корни соседних здоровых зубов. Поэтому такой способ применяется в основном для восстановления ряда соседствующих единиц. При помощи нескольких базальных имплантатов можно восстановить целый зубной ряд на челюсти.
      p Процедуры занимают 3-4 дня. В первый день стоматолог устанавливает имплантат. На третий день уже можно установить на него временную коронку, которая добавит эстетики, а также позволит постепенно восстановить жевательную функцию, не мешая при этом корню прижиться. Через полгода-год временную коронку можно будет заменить постоянной.
  .container.img-right__container
    .img-right__text
      h3 All-on-4
      p Методика “All-on-4”, или “всё на четырёх”, была изобретена в 1998 году португальским специалистом Пауло Мало. Представляет собой установку дугообразного протеза на 4 имплантата.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
  .odnomomentnaya-implantaciya-zubov6-7
    .container.odnomomentnaya-implantaciya-zubov6-7__container
      p В челюсть пациента устанавливают четыре штифта: два из них — ровно, а два — под углом. На эти штифты в последующем ставится несъёмный протез с искусственными зубами. Весь ряд можно восстановить сразу: всего за одну процедуру. При этом костная пластика не нужна. Сам же протез выглядит естественно, а жевательная нагрузка допустима почти сразу. В случае необходимости стоматолог может снимать конструкцию, если будет нужно что-то исправить, или лечить дёсна.
  .container.img-left__container
    .img-left__text
      h3 All-on-6
      p Принцип методики такой же, как и “All-on-4”, только протез устанавливается не на 4, а на 6 имплантатов. Дополнительная пара ставится в боковые участки челюсти. Это необходимо для более равномерного распределения жевательной нагрузки при средней или средне-высокой степени нехватки костной ткани.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
