section.odnomomentnaya-implantaciya-zubov5
  .container.two-columns__container
    h2 Преимущества и недостатки одномоментной имплантации
    .two-columns__columns
      .two-columns__column
        p Быстрый результат — не единственный плюс метода. Одномоментная имплантация имеет и другие положительные стороны. К ним относятся:
        ul
          li высокий уровень эстетики: даже при полном отсутствии зубов пациент может быстро получить новую красивую улыбку;
          li сравнительная выгода: при классическом варианте расходов заметно больше, а также не нужно дополнительных расходов на костную пластику;
          li практически универсальная процедура: список противопоказаний небольшой;
          li долгий срок службы новых зубных единиц;
          li при установке имплантата не требуются разрезы и швы, что снижает до минимума вероятность появления инфекции, проявления осложнений, а также значительно сокращает восстановительный процесс после операции.
      .two-columns__column
        p Несмотря на многие положительные моменты, существует пара недостатков и примечаний. Например:
        ul
          li Экспресс-имплантация обычно не требует наращивания костной ткани. Но при сложных случаях атрофии могут возникнуть проблемы. Рыхлая костная ткань может не выдержать нагрузки, а срок службы имплантата заметно сократится. Либо специалист сразу предложит пациенту другой вариант восстановления улыбки.
          li Процедура требует определённых умений и широкого опыта врача-стоматолога. Для достижения хорошего результата необходимо отлично знать анатомию, правильно оценивать общую клиническую картину, безошибочно определить подходящий метод. Но в стоматологической клинике “Риадент” вы можете не беспокоиться об этом.
