section.odnomomentnaya-implantaciya-zubov8
  .container.odnomomentnaya-implantaciya-zubov8__container
    h2 Подготовка к имплантации
    p Имплантация требует предварительной подготовки пациента. Необходимо пройти следующие этапы:
    ol
      li Внимательный осмотр врача-стоматолога, при котором важно уточнить все детали предстоящей операции, узнать о наличии возможных аллергических реакций, сделать выбор среди предлагаемых материалов.
      li Ряд обследований, среди которых рентгенография, компьютерная томография, общие/биохимические анализы крови, мочи.
    p Также, чтобы имплантация прошла максимально успешно, крайне желательно вылечить имеющиеся проблемы. Избавиться от кариеса, зубных камней, других возможных проблем. Это значительно сократит риск возникновения инфекций и осложнений, а результат будет качественнее.
