section.odnomomentnaya-implantaciya-zubov2
  .container.img-left__container
    .img-left__text
      h2 Преимущества технологии протезирования на имплантах в  «Риадент»
      p Протезирование на имплантах обладает рядом весомых преимуществ, среди которых:
      ul
        li полное восстановление жевательной функции;
        li сочетание эстетики и естественного внешнего вида;
        li удобство в сравнении со съёмными протезами;
        li препятствие для атрофии костной ткани и смещения зубов;
        li долгий срок службы.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
