section.loskutnaya-operaciya2
  .container.img-left__container
    .img-left__text
      h2 Когда требуется лоскутная  операция
      p Лоскутная операция может проводиться при:
      ul
        li тяжёлых формах пародонтита;
        li глубоких пародонтальных карманах;
        li поддесневых отложениях;
        li воспалении костной ткани;
        li неустойчивости зубов;
        li рецессии дёсен.
      p Открытый доступ к тканям позволяет стоматологу устранить очаги воспаления и провести все необходимые манипуляции.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/loskutnaya-operaciya2.webp")
        img(src="img/loskutnaya-operaciya2.jpg" alt="")
