section.loskutnaya-operaciya3
  .container.img-right__container
    .img-right__text
      h2 Противопоказания
      p Лоскутная операция может быть противопоказана при некоторых заболеваниях: как полости рта, так и других органов. Среди противопоказаний:
      ul
        li уменьшение альвеолярного гребня;
        li разрушение костной ткани (остеомиелит);
        li любые патологии сердца и сосудов;
        li нарушения свёртываемости крови;
        li заболевания иммунной системы;
        li онкология;
        li рецессии дёсен.
      p Открытый доступ к тканям позволяет стоматологу устранить очаги воспаления и провести все необходимые манипуляции.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/loskutnaya-operaciya3.webp")
        img(src="img/loskutnaya-operaciya3.jpg" alt="")
