section.loskutnaya-operaciya1
  .container.img-right__container
    .img-right__text
      h2 Что такое лоскутная операция
      p <strong>Лоскутная операция</strong> — распространённая хирургическая манипуляция, которая является одним из этапов лечения ряда стоматологических заболеваний. Стоматолог получает доступ к корневой системе через вертикальные разрезы и отслаивание десны, и очищает пространство от зубных отложений и отмерших тканей.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/loskutnaya-operaciya1.webp")
        img(src="img/loskutnaya-operaciya1.jpg" alt="")
