section.loskutnaya-operaciya5
  .container.loskutnaya-operaciya5__container
    h2 Реабилитационный период лоскутной операции
    p Как и любое хирургическое вмешательство, лоскутная операция требует времени на восстановление организма. Первое время могут проявиться такие симптомы, как:
    ul
      li повышенная чувствительность зубов;
      li болевые ощущения в месте разреза;
      li интоксикация.
    p Важно соблюдать ряд правил, чтобы процесс восстановления прошел быстрее и без осложнений. Это:
    ul
      li отказ от курения на 2 месяца;
      li избегание перегрева и повышенных физических нагрузок
      li отказ от употребления твёрдой и чрезмерно горячей еды на 1 неделю;
      li сон с приподнятым положением головы;
      li чистка зубов только мягкой щёткой.
    p Лоскутные операции в Уфе успешно проводят специалисты стоматологической клиники “Риадент”. Мы располагаем всем, что необходимо для комфортного и эффективного лечения любых стоматологических заболеваний. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
