section.loskutnaya-operaciya4
  .container.loskutnaya-operaciya4__container
    h2 Как проводится лоскутная операция
    p Вне зависимости от показаний к проведению операции, начать необходимо с профессиональной чистки полости рта. Также может быть заранее назначена лекарственная терапия — витамины и иммуномодуляторы. 
    p Существует несколько методик проведения. Наиболее распространены два метода:
    ul
      li <strong>Коронарно-смещённый лоскут</strong>: стоматолог делает два параллельных надреза и один скошенный. После совершения необходимых манипуляций десну зашивают;
      li <strong>Лоскут на ножке</strong>: разрез делается в виде буквы V, разделяется на слои. После обработки корней десну зашивают саморассасывающимися нитями. 
    p Операция проводится под местной анестезией.
