section.anesteziya3
  .container.anesteziya3__container
    h2 Противопоказания
    .two-columns__columns
      .two-columns__column
        p Существуют основные и временные противопоказания к анестезии. Среди основных:
        ul
          li аллергическая реакция на компоненты;
          li болезни сердца и сосудов;
          li эндокринные заболевания;
          li печёночная недостаточность;
          li бронхиальная астма;
          li психические заболевания;
          li приём антидепрессантов и бета-адреноблокаторов;
          li травмы челюсти и лица.
      .two-columns__column
        p К временным противопоказаниям относятся:
        ul
          li употребление спиртного менее чем за сутки до операции;
          li ОРВИ;
          li менструация у женщин.
        p Каждая ситуация рассматривается индивидуально. Например, при бронхиальной астме анестезия возможна, но может потребоваться консультация с лечащим врачом и приём дополнительных препаратов перед процедурой.
