section.anesteziya2
  .container.anesteziya2__container
    h2 Виды анестезии
    p Анестезия бывает местной и общей, и каждый из этих видов делится на типы.
    p Первый тип местной анестезии — аппликационная: нанесение мази или жидкости, которая обезболивает на 20 минут. Применяется чаще всего перед уколом.
    p Второй тип — инъекционная анестезия, делится на следующие подвиды:
    ul
      li инфильтрационная: применяется при лечении кариеса или удалении зубов, вводится тонкой иглой и блокирует передачу импульсов из нервных окончаний;
      li проводниковая: для обезболивания широкой области путём введения препарата на расстоянии от нужного участка;
      li внутрисвязочная: безболезненные инъекции, выполняемые специальным шприцом под давлением. Не вызывает онемения губ и языка;
      li внутрикостная: при лечении и удалении проблемных единиц, вводится прямо в кость с помощью специального шприца с бором.
    p Под общей анестезией в стоматологии чаще всего подразумевается седация. Это медикаментозный сон, при котором пациент сохраняет способность двигаться: наклонять голову или открывать рот шире. Седация позволяет за один сеанс вылечить большое количество зубов. Процесс контролируется анестезиологом и аппаратом ЭКГ, ведётся наблюдение за пульсом, дыханием и давлением. После седации присутствует только лёгкая сонливость. Такой метод применим к пациентам, испытывающим сильный страх, имеющим противопоказания к другим видам анестезии, а также к детям.
