section.anesteziya1
  .container.img-left__container
    .img-left__text
      h2 Анестезия в стоматологической клинике «Риадент»
      p Современные методики анестезии способны обеспечить пациенту абсолютное обезболивание во время любой стоматологической процедуры. Главное — вовремя сообщить врачу об имеющихся противопоказаниях и аллергических реакциях, чтобы он подобрал подходящий способ.
      p Стоматологическая клиника “Риадент” предлагает пациентам комфортное лечение с применением различных видов анестезии. Полностью безболезненное лечение — одна из основных задач наших специалистов.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
