section.anesteziya5
  .container.anesteziya5__container
    h2 Современные препараты для анестезии
    p Анестетик подбирает стоматолог, опираясь на противопоказания, план лечения и пожелания пациента. При аппликационной анестезии чаще всего применяются лидокаиновые, дикаиновые, бумекаиновые спреи и гели.
    p При инъекционной анестезии используются лидокаин, прокаин, тримекаин, мепивакаин. Если пациенту требуется анестезия без адреналина, применяются ультракаин, альфакаин и убистезин. Седация подразумевает использование смесь из закиси азота и кислорода.
    p В стоматологической клинике “Риадент” применяются только современные и безопасные виды анестезии, которые обеспечивают полное отсутствие болевых ощущений. Записывайтесь на консультацию в Уфе! Мы находимся по адресу Кавказская 6/8.
