section.anesteziya4
  .container.img-right__container
    .img-right__text
      h2 Особенности анестезии при беременности и грудном вскармливании
      p При беременности рекомендуется вылечить все зубы, поскольку инфекция в полости рта может стать угрозой для здоровья будущего ребёнка. Беременным разрешено проводить лечение кариеса, удаление зубов, чистку камня и налёта. Запрещены рентгенография, имплантация, самовольный приём препаратов.
      p Во время беременности и грудного вскармливания анестезию проводят специальными артикаиновыми препаратами, которые не проникают через плаценту, но при этом дают нужный эффект обезболивания.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
