section.prices
  .container.prices__container
    h2.prices__title Цены на анестезию
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Анестезия
      tr
        td Консультация анестезиолога-реаниматолога
        td 1500
      tr
        td Масочная седация (Закись азота). Первые 30 мин
        td 3000
      tr
        td Масочная седация (Закись азота). Каждые последующие 30 мин
        td 1800
      tr
        td Масочная седация (Севоран). 15 мин
        td 1000
      tr
        td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Первый час
        td 14400
      tr
        td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующие 30 мин
        td 2700
      tr
        td Комбинированный эндотрахеальный и(или) лярингиально-масочный наркоз с ипользованием:ингаляционных анестетиков(севоран)+внутривенные анестетики(диприван или пропофол,тиопентал натрия) миорелаксанты,транквилизаторы. Последующий час
        td 5400
      tr
        td Внутримышечное введение препаратов
        td 450
      tr
        td Внутривенное введение препаратов
        td 450
      tr
        td Антигистаминная подготовка
        td 400
      tr
        td Внеротовые методы обезболивания
        td 400
      tr
        td Проводниковая анестезия с применением карпульных препаратов
        td 580
      tr
        td Инфильтрационная анестезия с применением карпульных препаратов
        td 580
      tr
        td Послеоперационное наблюдение. Мониторинг до 30 мин
        td 1500
      tr
        td Послеоперационное наблюдение. Мониторинг от 1 часа до 3 часов
        td 3500
      tr
        td Внутривенная седация в комбинации с местной анестезией. 30 мин
        td 2800
      tr
        td Внутривенная седация в комбинации с местной анестезии. Длительность до 1 часа.
        td 6800
      tr
        td Внутривенная седация в комбинации с местной анестезии при продолжительности седации более одного часа, дополнительно за каждые 60 мин
        td 5500
