section.ispravlenie-prikusa2
  .container.ispravlenie-prikusa2__container
    h2 Что такое неправильный прикус и причины его развития
    p Нарушения прикуса характеризуются тем, что при смыкании верхней и нижней челюсти зубы располагаются неправильно, происходит смещение. Оно может быть как сильно заметным внешне, так и незначительным. Но вне зависимости от внешних проявлений неправильный прикус приводит к нарушениям функций зубов и челюсти.
    p Причиной развития нарушений может стать множество факторов, самым весомым из которых является наследственность. Начиная с материнской утробы, ребёнок может быть подвержен различным патологиям, влияющим на будущий прикус. К примеру, многие стоматологи сходятся во мнении, что полное отсутствие грудного вскармливания приводит к нарушениям прикуса.
    p Также причиной неправильного развития может стать и обычная травма, например, выбитый зуб.
