section.ispravlenie-prikusa7
  .container.ispravlenie-prikusa7__container
    h2 Упражнение  для исправления прикуса
    p Чтобы самостоятельно повлиять на положение челюстей, можно прибегнуть к лечебной гимнастике, которая признана эффективной многими ортодонтами:
    ol
      li Ритмично закрывайте и размыкайте челюсть;
      li Дотянитесь кончиком языка до поверхности неба и пытайтесь сдвинуть язык назад. Как только он достигнет максимальной точки отклонения, сомкните и разомкните челюсть несколько раз;
      li Поставьте локти на стол, раскрытыми ладонями упираясь в подбородок. В этом положении открывайте и закрывайте рот. Вы должны ощущать сопротивление.
    p Каждое упражнение рекомендуется повторять минимум по 5 раз.
    p Кроме этого, для работы челюсти рекомендуется чаще употреблять яблоки и морковь.
    strong Важно: гимнастика не исправит серьёзные проблемы с прикусом. Она принесёт существенную пользу детям и подросткам, но в зрелом возрасте, когда челюсть уже сформирована, является поддерживающей терапией при исправлении прикуса.
    p Если вас интересует исправление прикуса в Уфе, рекомендуем вам стоматологическую клинику “Риадент”. Мы предлагаем пациентам широкий выбор способов исправления нарушений, и проводим сложные челюстные операции. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
