section.ispravlenie-prikusa5
  .container.img-left__container
    .img-left__text
      h2 Способы  исправления прикуса
      p Исправить прикус можно с помощью брекетов. Это считается наиболее эффективным и проверенным способом, подходящим большинству пациентов. Брекеты бывают:
      ul
        li металлические;
        li керамические;
        li сапфировые;
        li лингвальные;
        li комбинированные;
        li безлигатурные.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/ispravlenie-prikusa3.webp")
        img(src="img/ispravlenie-prikusa3.jpg" alt="")
