section.ispravlenie-prikusa1
  .container.img-left__container
    .img-left__text
      h2 Исправление прикуса в стоматологии «Риадент»
      p Исправление прикуса у многих людей ассоциируется с неудобными и некрасивыми механизмами, которые причиняют моральный и физический дискомфорт.
      p Но современные методики в стоматологии позволяют делать это:
      ul
        li без боли и дискомфорта;
        li быстро и эффективно;
        li практически незаметно для окружающих.
      p Стоматологическая клиника “Риадент” предлагает услуги исправления прикуса в Уфе.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/ispravlenie-prikusa1.webp")
        img(src="img/ispravlenie-prikusa1.jpg" alt="")
