section.ispravlenie-prikusa3
  .container.img-right__container
    .img-right__text
      h2 Почему нужно исправлять прикус
      p Конечно, один из важнейших критериев — эстетическая составляющая. Правильный прикус даёт не только красивую улыбку, а даже может ощутимо изменить форму лица в лучшую сторону. Но, кроме этого, неправильный прикус влияет на:
      ul
        li <strong>Срок жизни зубов</strong>. При неправильном прикусе зубы быстрее стираются и чаще выпадают;
        li <strong>Предрасположенность к заболеваниям</strong>. Нарушения прикуса в разы увеличивают риск развития пародонтита и пародонтоза;
        li <strong>Качество речи</strong>. Любое незначительное смещение челюстей оказывает непосредственное влияние на дикцию человека, чистоту произношения звуков.
      p Неправильный прикус — проблема не только эстетики, но и здоровья. К счастью, это можно исправить, вернув себе качество жизни и улыбку без комплексов.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
