section.ispravlenie-prikusa6
  .container.three-items__container
    p Кроме брекетов существуют и другие способы исправления прикуса. Это:
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/implantaciya3.jpg" alt="")
        h3 Элайнеры
        p Элайнеры — съёмные каппы из прозрачных полимеров, которые пациент может снимать и надевать самостоятельно. Носить их необходимо минимум 18 часов в сутки, и периодически заменять на новые;
      .three-items__item
        .three-items__img
          img(src="img/implantaciya4.jpg" alt="")
        h3 Вестибулярные пластины
        p Вестибулярные пластины — приспособления, которые устанавливают детям в возрасте от 2 до 5 лет. Главной функцией таких пластин является отучение ребёнка от вредной привычки, например, сосания пальца. Речь здесь, скорее, не об исправлении прикуса, а об устранении причины развития патологий;
      .three-items__item
        .three-items__img
          img(src="img/implantaciya5.jpg" alt="")
        h3 Трейнеры
        p Трейнеры — специальные шины из силикона, которые приносят наименьший дискомфорт при ношении, поскольку надеваются чаще всего на ночь. Помогают устранить небольшие нарушения прикуса.
