section.ispravlenie-prikusa4
  .container.ispravlenie-prikusa4__container
    h2 Когда нужно исправлять прикус
    p Исправлять прикус можно в любом возрасте — это подтверждает опыт множества стоматологов и пациентов, в том числе и стоматологии “Риадент”.
    p Конечно, если речь идёт о ребёнке, здоровьем его зубов лучше заняться с детства, отслеживая любые изменения. Мы с радостью вам в этом поможем: узнайте больше о детском отделении “Риадент”.
    p Но сделать свои зубы здоровыми и красивыми не поздно никогда: просто посетите стоматолога-ортодонта, и вам подберут подходящую методику.
