section.prices
  .container.prices__container
    h2.prices__title Цены на определние прикуса
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Аномалии прикуса
      tr
        td Определение прикуса
        td 2000₽
