section.akcii-advantages.akcii3-advantages
  .container.akcii-advantages__container
    h2 Что вы получите?
    fieldset.akcii-advantages__list
      legend(align="center") Что вы получите?
      .akcii-advantages__item
        .akcii-advantages__img
          svg(width="52" height="52")
            use(xlink:href="img/sprite.svg#akcii-advantages1")
        .akcii-advantages__text
          span Осмотр высококвалифицированного врача-стоматолога
      .akcii-advantages__item
        .akcii-advantages__img
          svg(width="48" height="50")
            use(xlink:href="img/sprite.svg#akcii-advantages2")
        .akcii-advantages__text
          span Консультация хирурга-стоматолога
      .akcii-advantages__item
        .akcii-advantages__img
          svg(width="44" height="52")
            use(xlink:href="img/sprite.svg#akcii-advantages3")
        .akcii-advantages__text
          span Постоянную скидку на лечение зубов 7% для всех групп инвалидности при предъявлении удостоверения
