section.akcii3-slider
  .container.akcii3-slider__container
    .akcii3-slider__wrapper
      h1.akcii3-slider__title Скидка инвалидам на лечение зубов
      .akcii3-slider__text
        p Скидка на лечение зубов – 7% для всех инвалидов
      .akcii3-slider__button-block.akcii3-slider__button-block
        button.akcii3-slider__button.form__call-popup Записаться на прием
    .akcii3-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider3.webp")
        img(src="img/akcii-slider3.jpg" alt="")
