section.shinirovanie3
  .container.shinirovanie3__container
    h2 Показания и противопоказания
    p Для плотной фиксации зубного ряда применяется шинирование. Это позволяет предупредить смещение, расшатывание и выпадение зубов. Если патология выявлена на начальной стадии, то можно полностью ее устранить. Специалисты применяют 2 метода – постоянный и временный. Если смещение зубов и повреждение мягких тканей произошли недавно, то применяется временное шинирование. Большой риск выпадения зубов подразумевает использование постоянных систем. Но клиенты часто отказываются от процедуры по следующим причинам:
    ul
      li финансовые затраты;
      li низкие эстетические качества;
      li большая продолжительность работы;
      li препарирование зубов.
    p Поэтому специалист должен не только подобрать оптимальный метод, но и убедить клиента в необходимости процедуры.
    .two-columns__columns
      .two-columns__column
        h3 Показания
        p Ортодонтические системы крепят в следующих случаях:
        ul
          li гингивит и частые кровотечения десен;
          li травмы и подвижность зубов;
          li большие десневые карманы;
          li открытые корни зубов и образование твердого налета;
          li пародонтит;
          li смещение и неровное положение зубов;
          li хирургическая операция в зоне основания корней;
      .two-columns__column
        h3 Противопоказания
        p Нельзя выполнять процедуру при наличии:
        ul
          li огромного количества подвижных зубов
          li серьезных заболеваний десен и зубов
          li острых заболеваний ротовой полости и мягких тканей
