section.shinirovanie5
  .container.shinirovanie5__container
    h2 Способы  шинирования
    p Шинирование зубов может быть:
    ul
      li <strong>временным</strong> — применяется для стабилизации зубов перед хирургическим вмешательством, удалением зубных отложений или для создания оптимальных условий для восстановления тканей пародонта;
      li <strong>постоянным</strong> — применяется в период восстановления и предусматривает использование несъёмных ортопедических конструкций.
