section.shinirovanie4
  .container.shinirovanie4__container
    h2 Из каких материалов изготавливают шинирование
    p Шинирование верхних и нижних зубов может проводиться разными материалами: шёлк, полиэтилен, стекловолокно, арамидная нить. Все они надёжно фиксируются на тканях зубов и эффективно исключают их подвижность. Благодаря своей незаметности, они идеально подходят для шинирования передних зубов, но и это далеко не все их преимущества, поскольку они:
    ul
      li не травмируют зуб и окружающие их ткани;
      li не влияют на дикцию и не причиняют неудобств при приёме пищи;
      li не препятствуют проведению гигиенических процедур ротовой полости.
    p Стоимость шинирования зубов вполне доступна, несмотря на сложность самой процедуры. Более того, она позволяет не только на долгое время сохранить зубы, но и вернуть их функциональность, а также снова сделать улыбку пациента привлекательной!
