section.shinirovanie1
  .container.img-left__container
    .img-left__text
      h2 Что такое шинирование
      p Шинирование зубов — это процедура, направленная на их укрепление посредством объединения их в группы с использованием таких ортопедических систем, как шины. Благодаря шинированию нижних или верхних зубов можно не только снизить их подвижность, но и предупредить дальнейшее расшатывание и выпадение.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
