section.shinirovanie2
  .container.img-right__container
    .img-right__text
      h2 Шинирование проводится при:
      ul
        li сильном смещении зубов;
        li заболеваниях дёсен и их кровоточивости;
        li существенном нарушении зубного ряда;
        li расшатывании зубов вследствие механического воздействия (травмы);
        li обнажении корней зубов.
      p Цена шинирования зубов в Уфе напрямую зависит от того, с использованием каких материалов оно будет проводиться, а также от количества зубов, которые нужно объединить в группу.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
