section.akcii2-slider
  .container.akcii2-slider__container
    .akcii2-slider__wrapper
      h1.akcii2-slider__title Скидка пенсионерам
      .akcii2-slider__text
        p Скидка на лечение зубов – 3% для всех пенсионеров
      .akcii2-slider__button-block.akcii2-slider__button-block
        button.akcii2-slider__button.form__call-popup Записаться на прием
    .akcii2-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider2.webp")
        img(src="img/service-slider2.jpg" alt="")
