section.kostnaya-plastika9
  .container.kostnaya-plastika9__container
    h2 Наращивание  костной ткани в Уфе
    p Стоматологическая клиника “Риадент” предоставляет услуги по проведению костной пластики для имплантации.
    p Наша стоматология оснащена всем необходимым оборудованием для успешного проведения сложных стоматологических операций. Квалифицированные и опытные стоматологи и имплантологи будут сопровождать вас на каждом этапе: от первичной диагностики до успешного завершения.
    p Качественные материалы и оборудование европейского производства позволяет нам проводить костную пластику с наименьшим дискомфортом для пациента, а также минимизировать негативные последствия.
    p Мы применяем различные технологии и материалы, проверенные научными исследованиями и годами опыта. Грамотные специалисты подберут для вас наиболее эффективную и доступную методику проведения остеопластики. При возможности мы проводим имплантацию одновременно с операцией.
    p Записывайтесь на приём в Уфе! Ждём вас по адресу Кавказская 6/8.
