section.kostnaya-plastika6
  .container.kostnaya-plastika6__container
    h2 Разновидности костной пластики
    p Остеопластика проводится по четырём основным методикам:
    .two-columns__columns
      .two-columns__column
        h3 1. Расщепление альвеолярного гребня
        p Формируется аккуратный разрез по альвеолярному гребню. Полученное отверстие расширяется сверлом, затем туда помещают корневидные имплантаты. В полости рядом со стержнями помещают костный материал, закрывают мембраной. Десна ушивается. Через 4-6 месяцев можно проводить имплантацию.
        p Рекомендуется при необходимости восстановить более одного зуба и горизонтальной атрофии толщиной более 2 мм.
      .two-columns__column
        h3 2. Трансплантация костного блока
        p Методика состоит из двух этапов:
        p Сначала требуется взять у пациента донорский материал: небольшой кусочек кости. Как правило, забор проходит с ротовой полости пациента: с области зубов мудрости. Только в случае если атрофия сильная, кость могут взять с подбородка или тазобедренной кости.
        p Затем костный материал пересаживают в нужную область, подсаживая на винты из титана, закрывают мембраной и зашивают.
        p Рекомендуется при серьёзной атрофии костной ткани по ширине или высоте.
    .two-columns__columns
      .two-columns__column
        h3 3. Расщепление альвеолярного гребня
        p Десна разрезается, и область заполняют материалом на основе обработанной бычьей кости. Затем закрывают коллагеновой мембраной, либо специальной плёнкой на титановом каркасе. Десну зашивают.
        p Рекомендуется при слабой или средней степени атрофии.
      .two-columns__column
        h3 3. Синус-лифтинг
        p Пластика верхней челюсти, при которой приподнимают нижнюю часть гайморовых пазух, и в получившуюся полость помещают искусственный остеопластический материал. Синус-лифтинг бывает открытого и закрытого типа.
        p Рекомендуется при атрофии в верхней челюсти, в области жевательных зубов, и близком расположение гайморовых пазух.
