section.kostnaya-plastika8
  .container.kostnaya-plastika8__container
    h2 Частые вопросы  в костной пластике
    ul
      li <strong>Как определить наличие атрофии костной ткани?</strong> Самостоятельно определить это невозможно. Диагноз вам поставит стоматолог после осмотра, основываясь на результатах трёхмерной компьютерной томографии.
      li <strong>Есть ли противопоказания к остеопластике?</strong> Противопоказанием являются те же заболевания или временные нагрузки на организм, что и при имплантации: сахарный диабет, сердечно-сосудистые заболевания, беременность, инфекционные заболевания, онкология и т.д.
      li <strong>Насколько болезненна операция?</strong> Конечно, назвать костную пластику простой операцией было бы неправильно. Как и любое вмешательство в организм, она требует периода реабилитации, который не обходится без дискомфорта. Но стоматолог даст вам все необходимые рекомендации, назначит обезболивающие, а также будет держать под контролем процесс реабилитации.
