section.kostnaya-plastika5
  .container.kostnaya-plastika5__container
    h2 Материалы для наращивания костной ткани
    p При остеопластике применяются материалы разных видов: мембраны, блоки или гранулы. Также они делятся по происхождению — есть как искусственные, так и донорские.
    p Для наращивания костной ткани при имплантации чаще всего применяются такие материалы, как:
    ul
      li <strong>Аутогенный</strong>: собственная донорская кость пациента, извлекаемая из другой области;
      li <strong>Аллогенный</strong>: донорская кость из банка донорских тканей;
      li <strong>Ксеногенный</strong>: готовый материал для трансплантации, созданный из бычьей кости;
      li <strong>Аллопластический</strong>: синтетические гранулы на основе фосфата кальция.
    p К отдельной группе материалов можно отнести коллагеновые мембраны. Они применяются при операциях как изолирующий материал, а также могут оказывать стимулирующее действие, провоцируя рост собственных тканей.
