section.kostnaya-plastika2
  .container.kostnaya-plastika2__container
    h2 В каких случаях необходима костная пластика
    strong Костная пластика (остеопластика, костная аугментация, синус-лифтинг) — искусственное увеличение объёма костной ткани хирургическим путём, необходимое для успешной имплантации. Часто имплантат устанавливают сразу в ходе операции, но при тяжёлой степени атрофии эти две процедуры проходят раздельно.
    p Костная пластика необходима в следующих случаях:
    ul
      li Если пациент утратил зубы больше года назад, существует риск, что за этот период костные ткани ослабли и частично атрофировались. Если зуб отсутствует, то ткань не участвует в жевательной нагрузке, поэтому ослабевает и постепенно убывает. Также её недостаток может проявляться по причине физиологических особенностей организма.
      li Если кости в челюсти недостаточно, это не позволяет имплантату крепко держаться в челюсти. Он может расшататься, выпасть, или его установку не получится провести. Именно во избежание этой проблемы нужна остеопластика.
