section.kostnaya-plastika4
  .container.kostnaya-plastika4__container
    h2 Типы атрофии
    p Объём кости может уменьшаться по-разному, в зависимости от причин и локализации проблемы. К примеру, кость нижней челюсти изначально плотнее, чем кость верхней. А значит, ткани верхней челюсти сильнее подвержены резорбции. При нехватке тонуса, получаемого от жевательной нагрузки, кость на нижней челюсти начинает убывать только через полгода-год. А резорбция тканей на верхней челюсти может начаться уже через 2-3 месяца.
    p Выделяются следующие типы атрофии костной ткани:
    ul
      li горизонтальная: объём кости уменьшается по ширине;
      li вертикальная: объём кости уменьшается по высоте;
      li комбинированная: убывание происходит сразу в двух направлениях.
    p Исходя из типа атрофии, её причин и степени развития стоматологи применяют разные технологии проведения костной пластики. От этого будет зависеть и выбранный материал для наращивания.
