section.kostnaya-plastika1
  .container.img-left__container
    .img-left__text
      h2 Костная пластика в клинике «Риадент»
      p Имплантация — одна из самых эффективных методик восстановления утраченных зубов. Но стать препятствием на пути к идеальной улыбке может стать недостаточное количество костной ткани для надёжного крепления искусственного корня имплантата. Согласно статистике, 70% пациентов, прибегающих к имплантации, страдают от этого недуга в разной стадии. Чтобы успешно установить имплантаты, эту проблему необходимо устранить с помощью костной пластики.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
