section.kostnaya-plastika7
  .container.img-left__container
    .img-left__text
      h2 Альтернативы  остеопластике
      p Можно ли обойтись без наращивания костной ткани? Конечно, всё зависит от индивидуальных показаний пациента. Но существует несколько способов имплантации, не требующих остеопластики. Например:
      ul
        li компрессионный метод имплантации;
        li установка длинных корневидных имплантатов под углом;
        li имплантация по методикам all-on-4 или all-on-6.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
