section.kostnaya-plastika3
  .container.img-right__container
    .img-right__text
      h2 Атрофия костной ткани: причины возникновения
      p Зубные корни изначально находятся в альвеолярном отростке. Это кость челюсти с губчатой структурой, через отверстия которой проходят кровеносные сосуды. Размеры этого отростка могут стать меньше по разным причинам. Например:
      ul
        li наличие жевательной нагрузки;
        li заболевания, воздействующие на кости;
        li травмы при удалении зубов.
      p К примеру, после удаления коренного зуба снижается жевательная нагрузка. Корни зуба,за счёт которых альвеолярный отросток получал нужный тонус, перестают давать ему необходимую нагрузку. Это становится причиной убывания костной ткани. Атрофия развивается уже через два-три месяца после удаления, и может длиться до полной утраты изначального объёма.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/kostnaya-plastika2.webp")
        img(src="img/kostnaya-plastika2.jpg" alt="")
