section.prices
  .container.prices__container
    h2.prices__title Стоимость  костной пластики
    p Итоговая стоимость всей операции складывается из нескольких факторов:
    ul
      li степень и тип атрофии;
      li метод проведения;
      li тип материалов.
    p Стоимость расходных материалов также зависит от этих факторов: при выборе импортного материала увеличивается и стоимость расходников, поскольку они индивидуальны для каждого типа.
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Протезирование на имплантах
      tr
        td Панорамный снимок (ОПТГ)
        td 650₽
      tr
        td Забор костного материала у пациента
        td 1500₽ 
      tr
        td Трансплантация костного блока
        td 2500₽
      tr
        td Направленная костная регенерация
        td 30000₽
      tr
        td Синус-лифтинг малый
        td 33000
      tr
        td Закрытый синус-лифтинг
        td 15000
      tr
        td Синус-лифтинг средний
        td 40000
      tr
        td Синус-лифтинг большой
        td 47000
