section.esteticheskaya-stomatologiya4
  .container.img-right__container
    .img-right__text
      h2 Реставрация зубов
      p Реставрация зубов подразумевает под собой ряд манипуляций, направленных на восстановление эстетического состояния и функционала резцов/моляров. Бывает нескольких видов, каждый из которых подразумевает использование определенных составов и материалов (например, фотополимеров, виниров). Записаться на консультацию в стоматологию “Риадент”
    .img-right__img
      picture
        source(type="image/webp" srcset="img/esteticheskaya-stomatologiya3.webp")
        img(src="img/esteticheskaya-stomatologiya3.jpg" alt="")
