section.esteticheskaya-stomatologiya2
  .container.img-right__container
    .img-right__text
      h2 Виниры
      p Виниры – тонкие эстетичные пластинки, которые крепятся на зубы и исправляют их внешнюю поверхность. Виниринг – один из самых быстрых, комфортных и надежных видов зубной коррекции, позволяющий в кратчайшие сроки добиться прекрасной белоснежной улыбки. Такую улыбку еще называют в народе “голливудской”.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/esteticheskaya-stomatologiya1.webp")
        img(src="img/esteticheskaya-stomatologiya1.jpg" alt="")
