section.esteticheskaya-stomatologiya1
  .container.esteticheskaya-stomatologiya1__container
    h2 Что такое эстетическая стоматология?
    p Эстетическая стоматология от стоматологии “Риадент” это - комплекс мероприятий, направленных на улучшение эстетического вида зубов и создание красивой и привлекательной улыбки. Если говорить просто, то эстетическая стоматология – комплекс мер, направленных на улучшение вида зубов и создание привлекательной улыбки. Она может включать в себя:
    ul
      li отбеливание эмали зубов. Привлекательная улыбка основана на белоснежных зубах, так как именно они привлекают внимание окружающих и свидетельствуют о привлекательности;
      li наращивание сколов и исправление похожих недостатков. Это – одна из основных частей, которые делают улыбку идеальной. Наличие сколов или трещин эмали будет не только нарушать общий вид, но и может способствовать возникновению кариеса;
      li исправление формы зубов. Неправильная форма или поворот зубов также могут повлиять на привлекательность улыбки – поэтому для исправления этой проблемы можно подумать о модных или незаметных брекетах;
      li наращивание зубов или их протезирование. Даже самая яркая улыбка будет непривлекательной, если отсутствует один или несколько зубов – поэтому не стоит забывать об их протезировании, наращивании;
      li лечение десен;
      li создание виниров или люминиров – специальных кап, которые надеваются на зубы;
      li установку скайсов – украшений для зубов.
    p Для получения идеальной улыбки можно сделать многое – но, конечно, в зависимости от ваших потребностей. При этом вид должен быть естественным – в моде естественные, природные, а не искусственные голливудские улыбки.
    p В результате получается идеальный баланс здоровья и привлекательности, а именно:
    ul
      li Ровные, красивые зубы, которые соответствуют форме головы и особенностям челюсти;
      li Белоснежная, здоровая эмаль с небольшой прозрачностью у края зубов;
      li Здоровые, розовые десна, которые в ровной мере прикрывают зуб и скрывают промежутки зубного ряда;
      li Отсутствие неприятного запаха и болезненных ощущений.
    p Но и это не предел – современная эстетическая стоматология помогает не просто создавать идеальную улыбку, но и привлекать к ней внимание, оттенять ее с помощью специальных украшений.
