section.esteticheskaya-stomatologiya3
  .container.img-left__container
    .img-left__text
      h2 Люминиры
      p Люминиры впервые начали использоваться для создания идеальной улыбки у телеведущих, актеров и певцов в США, именно поэтому в народе они получили название «голливудских люминиров». Сейчас, в наше время, с развитием медицинских технологий, люминиры доступны всем, кто желает, чтобы улыбка была безупречна.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
