section.esteticheskaya-stomatologiya5
  .container.img-left__container
    .img-left__text
      h2 Ультразвуковая чистка зубов
      p Ультразвуковая чистка зубов– предназначена для снятия твердых зубных отложений. Используются специальные установки — скейлеры. На тонкий вибрирующий наконечник аппарата подается вода, под воздействием ультразвука она вспенивается и очищает все даже труднодоступные места.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/esteticheskaya-stomatologiya4.webp")
        img(src="img/esteticheskaya-stomatologiya4.jpg" alt="")
