section.plombirovanie-zubov1
  .container.plombirovanie-zubov1__container
    h2 Зачем нужна реставрация?
    p Современные пломбы различаются между собой по нескольким признакам. В первую очередь это срок использования.
    p По сроку службы пломбы делятся на:
    ul
      li <strong>Временные</strong>. Устанавливаются для проверки наличия болевых ощущений или в дальнейшем продолжить лечение. При отсутствии боли вместо временной устанавливается постоянная. Срок ношения – до двух недель.
      li <strong>Постоянные</strong>. Срок службы таких пломб – несколько лет. При изготовлении применяются различные материалы.
    p В современных стоматологических клиниках пломбы можно выбирать, исходя из их состава.
