section.plombirovanie-zubov3
  .container.img-left__container
    .img-left__text
      h2 Плюсы пломбы из композитных материалов:
      ul
        li долгий срок службы (при правильной и регулярной гигиене полости рта – до 7 лет);
        li надёжная фиксация в полости зуба;
        li широкие возможности восстановления зубной ткани;
        li высокая эстетичность;
        li возможность полного восстановления формы зуба.
      strong Противопоказания для установки:
      ul
        li Высокая степень подвижности зубов: в этом случае показано только лечение или удаление;
        li Зуб разрушен более, чем на 70%: в таком случае необходима установка коронки.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
