section.plombirovanie-zubov4
  .container.plombirovanie-zubov4__container
    h2 Как правильно ухаживать за пломбой
    ol
      li После установки пломбы, пока не перестала действовать анестезия, стоит воздержаться от приёма пищи пару часов.
      li Если пломба была установлена на фронтальную часть переднего зуба, в первый день следует воздержаться от пищи с красителями (например: красное вино, соки, чай, кофе), это может повлиять на цвет материала.
      li Когда с момента установки материала пройдет полгода, стоит посетить стоматолога: возможно, пломба нуждается в дополнительной полировке. Специалист проверит состояние всей ротовой полости, и в случае необходимости проведет санацию или профилактическую чистку.
      li Чтобы максимально увеличить срок службы материалов, необходимо не лениться и уделять внимание гигиене. Ежедневным правилом должна стать не только регулярная чистка зубов, но и полоскание полости рта после приёма пищи, а также использование зубной нити.
      li Хоть композитный материал и отличаются высокой прочностью, не нужно злоупотреблять этим. Если постоянно употреблять жёсткую пищу, грызть жёсткие предметы, может треснуть не только конструкция, но и сам зуб, ведь его стенки тонкие.
      li Между пломбой и зубом со временем может возникнуть небольшой зазор. Такие места часто поражаются кариесом, поэтому необходимо соблюдать гигиену и тщательно следить за состоянием зубов.
