section.plombirovanie-zubov2
  .container.plombirovanie-zubov2__container
    h2 Материалы пломб
    p Стоматологическая клиника “Риадент” работает только с композитными материалами. Мы используем только самые современные пломбы и технологии их установки, чтобы вы получили здоровую улыбку на долгий срок.
    p Реставрация зубов — одна из самых востребованных процедур в эстетической стоматологии. Она подразумевает специальные стоматологические процедуры, направленные на восстановление естественного и красивого облика зуба. С помощью реставрации устраняются следующие проблемы:
    ul
      li 1 этап: обезболивание. Подбирается анестезирующий препарат с учётом физиологических особенностей пациента;
      li 2 этап: очистка полости зуба. Для установки пломбы необходимо удалить повреждённые зубные ткани и сформировать полость, куда и будут помещены материалы;
      li 3 этап: проверка пульпы. Если пульпа не была повреждена, процедура продолжается. Но если стоматолог обнаружит воспаление, будет необходимо его вылечить;
      li 4 этап: установка изолирующего материала. Полость просушивается, и в неё помещается специальная прокладка, которая обладает антибактериальной и изолирующей функцией. Участок работы изолируется коффердамом;
      li 5 этап: пломбирование. Устанавливается пломба, и в течение 20-40 секунд каждый слой облучается специальной лампой. Композитный материал наносится слой за слоем: это позволяет добиться высочайшей прочности и даёт возможность контролировать цвет каждого слоя для создания максимально естественного и натурального оттенка.
