section.prices
  .container.prices__container
    h2.prices__title Стоимость зубной пломбы
    p Цена напрямую зависит от производителя и вида материала, а также от размера дефекта, который необходимо устранить. Окончательную стоимость может сказать только стоматолог после осмотра. Композитные материалы являются лучшим выбором для эстетической реставрации.
    p Именно поэтому их широко используют в лучших клиниках, в том числе и в стоматологической клинике “Риадент” в Уфе.
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Пломбирование
      tr
        td Восстановление зуба пломбой 5 класс по Блэку
        td 3000₽
