section.lechenie-parodontoza1
  .container.lechenie-parodontoza1__container
    h2 Лечение пародонтоза в стоматологии «Риадент»
    p <strong>Пародонтоз</strong> — это поражение тканей десны, располагающейся между лункой и корнем зуба. Неблагоприятное течение заболевания, как правило, приводит к утрате зуба.
    p Начинается заболевание незаметно и на начальной стадии диагностируется крайне редко. Патологический процесс не виден ни пациенту, ни стоматологу. Рентгенологические исследования результатов также не дают.
    p Пораженная заболеванием десна со временем опускается, обнажая шейку зуба. Последний начинает расшатываться, появляется чувствительность к горячей, холодной или сладкой пище. Пережевывание продуктов с грубыми волокнами значительно затрудняется.
    p По мере развития заболевания на рентгенологических исследованиях становятся заметными изменения в костных тканях. Заболевание, в большинстве случаев, развивается медленно. Период от начальной до четвертой стадии может растянуться на несколько десятков лет.
    p <strong>Пародонтоз</strong> нельзя путать с пародонтитом. У этих заболеваний течение и симптоматика, разные. При пародонтите десны кровоточат, воспаляются, меняется их окраска, появляется неприятный запах. Ткани слизистой при пародонтозе визуально ничем не отличаются от здоровых, особенно на первых стадиях заболевания. Характерное для пародонтита образование десневых карманов при пародонтозе не наблюдается.
