section.narkoz-detey3
  .container.narkoz-detey3__container
    h2 Как проходит лечение под наркозом?
    h3 Знакомство
    p На первом приеме доктор знакомится с ребёнком и родителями, выполняет первичный осмотр полости рта, при необходимости делает рентгенограммы для того, чтобы поставить диагноз  и разработать бережный план лечения. В ходе первой встречи малыш в игровой форме адаптируется к обстановке клиники и обязательно подружится с командой заботливых докторов “Риадент”.
    h3 Подготовка
    p Перед началом лечения потребуется выполнить следующие обследования:
    ul
      li общий анализ крови с развернутой лейкоформулой, свертываемости крови;
      li анализы на RW/ВИЧ, гепатит В (эти анализы действительны в течении 6 месяцев);
      li ЭКГ с описанием (результаты действительны в течении 6 месяцев);
      li консультация педиатра и справка о состоянии здоровья ребенка;
      li при необходимости врач-анестезиолог может назначить дополнительные обследования и анализы.
    h3 В день лечения
    p За 6 часов до начала процедуры необходимо исключить прием твердой пищи, а за 2 часа нельзя пить. Поэтому назначить время проведения лечения следует с учетом режима питания ребенка, его пищевых привычек и индивидуальных особенностей.
    p Идеальное время проведения лечения под наркозов у грудничков –  в обед, а не утром, тогда родителям не придется всю ночь отвлекать малыша, привыкшего к ночным прикладываниям. Ведь грудное молоко тоже придется ограничить, как и другие напитки.
