section.narkoz-detey4
  .container.three-items__container
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/narkoz-detey2.jpg" alt="")
        h3 Погружение в сон
        p После того как малыш надел силиконовую маску, достаточно пары входов Севорана – и малыш мягко погружается в сон, его сознание отключается, мышцы расслабляются, рефлексы и чувствительность снижаются. После этого команда приступает к работе. Во время процедуры анестезиологическая бригада проводит постоянный мониторинг основных жизненных показателей состояния малыша и поддерживает его в расслабленном состоянии.
      .three-items__item
        .three-items__img
          img(src="img/narkoz-detey3.jpg" alt="")
        h3 После процедуры
        p Когда лечение завершено, спящего малыша переводят в комнату пробуждения, где его ожидают родители, любимые игрушки и мультфильмы. После того как он проснется, врач определенное время наблюдает за его состоянием и настроением, рассказывает родителям, как прошло лечение, и дает рекомендации. А довольный малыш получает долгожданный подарок от Зубной феи.
      .three-items__item
        .three-items__img
          img(src="img/narkoz-detey4.jpg" alt="")
        h3 Контрольный осмотр
        p Послеоперационный осмотр полости рта необходим для того, чтобы убедиться в отсутствии осложнений и оценить уровень индивидуальной гигиены, ведь от нее зависит успех реабилитации. В случае необходимости, доктор подберет средства гигиены, расскажет обо всех этапах, покажет, как правильно чистить зубы, и составит план профилактики и осмотров именно для вас.
