section.narkoz-detey2
  .container.img-left__container
    .img-left__text
      h2 Когда необходимо применять наркоз?
      ul
        li Если ребенку от 0 до 3х лет;
        li Был негативный опыт встречи со стоматологом и малыш боится;
        li Когда необходимо провести очень большой объем лечения за 1 визит;
        li Если ребенок «особенный» и требует специального подхода (тяжелые формы аутизма, ДЦП, эпилепсия и другие неврологические расстройства, когда ребенок не коммуницирует в должной степени с окружающим миром);
        li Если малыш непоседа и ему трудно усидеть на месте долгое время.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/narkoz-detey1.webp")
        img(src="img/narkoz-detey1.jpg" alt="")
