section.narkoz-detey5
  .container.narkoz-detey5__container
    .narkoz-detey5__wrapper
      .narkoz-detey5__video
        iframe(width="100%" src="https://www.youtube.com/embed/kIMQMfHm6ng" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
