section.narkoz-detey1
  .container.narkoz-detey1__container
    ul
      li Все лечение за 1 раз. Врач может провести большой объем работ всего за один прием: вылечить множественный кариес, несколько пульпитов, провести реставрацию зубов или сделать все это в комплексе теперь можно вылечить за 1 прием с применением мягкого наркоза.
      li Без стресса и тревог. Малыш просыпается со здоровой улыбкой, не испытав страха и боли, проведя время процедуры в расслабленном состоянии медикаментозного сна.
      li Безопасно. За состоянием малыша следит опытная команда анестезиологов-реаниматологов и анестезистов; операционный блок оснащен оборудованием экспертного класса; в работе используются только одноразовые расходники; перед процедурой проводится профилактика послеоперационной тошноты и рвоты для хорошего самочувствия после пробуждения.
