extends common/layout

block content
  main.page-main
    include includes/akcii6/akcii6-slider.pug
    include includes/form-girls.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
