extends common/layout

block content
  main.page-main
    include includes/akcii/akcii-slider.pug
    include includes/akcii/akcii.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
