extends common/layout

block content
  main.page-main
    include includes/akcii1/akcii1-slider.pug
    include includes/akcii1/akcii1-advantages.pug
    include includes/akcii1/akcii1-benefit.pug
    include includes/form-girls.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
