extends common/layout

block content
  main.page-main
    include includes/akcii3-slider.pug
    include includes/akcii3-advantages.pug
    include includes/akcii3-benefit.pug
    include includes/form-girls.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
