extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/all-on-8-1.pug
    include includes/all-on-8-2.pug
    include includes/all-on-8-3.pug
    include includes/all-on-8-4.pug
    include includes/nobelicx.pug
    include includes/narkoz.pug
    include includes/prices-all-on-8.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
