//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/anesteziya/anesteziya-slider.pug
//-     include includes/anesteziya/anesteziya1.pug
//-     include includes/anesteziya/anesteziya2.pug
//-     include includes/anesteziya/anesteziya3.pug
//-     include includes/anesteziya/anesteziya4.pug
//-     include includes/anesteziya/anesteziya5.pug
//-     include includes/anesteziya/prices-anesteziya.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
