extends common/layout

block content
  main.page-main
    include includes/anomalii-prikusa/anomalii-prikusa-slider.pug
    include includes/anomalii-prikusa/anomalii-prikusa1.pug
    include includes/anomalii-prikusa/anomalii-prikusa2.pug
    include includes/anomalii-prikusa/anomalii-prikusa3.pug
    include includes/anomalii-prikusa/anomalii-prikusa4.pug
    include includes/anomalii-prikusa/anomalii-prikusa5.pug
    include includes/anomalii-prikusa/prices-anomalii-prikusa.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
