extends common/layout

block content
  main.page-main
    include includes/brekety/brekety-slider.pug
    include includes/brekety/brekety1.pug
    include includes/brekety/brekety2.pug
    include includes/brekety/brekety3.pug
    include includes/brekety/brekety4.pug
    include includes/brekety/brekety5.pug
    include includes/brekety/brekety6.pug
    include includes/brekety/brekety7.pug
    include includes/brekety/brekety8.pug
    include includes/brekety/prices-brekety.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
