extends common/layout

block content
  main.page-main
    include includes/child-slider.pug
    include includes/orange-services.pug
    include includes/child-services.pug
    include includes/child-form.pug
    include includes/no-pain.pug
    include includes/socials.pug
    include includes/secrets.pug
    include includes/breket.pug
    include includes/ainur-baby.pug
    include includes/reviews.pug
    include includes/gallery.pug
    include includes/sam-form.pug
    include includes/faq.pug
    include includes/some-slider.pug
    include includes/some-videos.pug
    include includes/allservices.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
