extends common/layout

block content
  main.page-main
    include includes/implantaciya-zubov-pod-kluch-slider.pug
    include includes/implantaciya-zubov-pod-kluch1.pug
    include includes/implantaciya-zubov-pod-kluch2.pug
    include includes/implantaciya-zubov-pod-kluch3.pug
    include includes/implantaciya-zubov-pod-kluch4.pug
    include includes/implantaciya-zubov-pod-kluch5.pug
    include includes/implantaciya-zubov-pod-kluch6.pug
    include includes/implantaciya-zubov-pod-kluch7.pug
    include includes/implantaciya-zubov-pod-kluch8.pug
    include includes/implantaciya-zubov-pod-kluch9.pug
    include includes/implantaciya-zubov-pod-kluch10.pug
    include includes/implantaciya-zubov-pod-kluch11.pug
    include includes/implantaciya-zubov-pod-kluch12.pug
    include includes/nobelicx.pug
    include includes/narkoz.pug
    include includes/prices-ustanovka-implantov.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
