extends common/layout

block content
  main.page-main
    include includes/implanty-za-odin-den/implanty-za-odin-den-slider.pug
    include includes/nobelicx.pug
    include includes/narkoz.pug
    include includes/implanty-za-odin-den/prices-implanty-za-odin-den.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
