extends common/layout

block content
  main.page-main
    include includes/main-slider.pug
    include includes/numbers.pug
    include includes/form-block.pug
    include includes/services.pug
    include includes/socials.pug
    include includes/staff.pug
    include includes/reviews.pug
    include includes/form-girls.pug
    include includes/about-us.pug
    include includes/gallery.pug
    include includes/smile.pug
    include includes/sam-form.pug
    include includes/faq.pug
    include includes/some-slider.pug
    //- include includes/some-videos.pug
    include includes/allservices.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
