extends common/layout

block content
  main.page-main
    include includes/main-slider.pug
    include includes/numbers.pug
    include includes/form-block.pug
    include includes/services.pug
    include includes/socials.pug
    include includes/smile.pug
    include includes/lilform.pug
    include includes/staff.pug
    include includes/about-us.pug
