extends common/layout

block content
  main.page-main
    include includes/ispravlenie-prikusa/ispravlenie-prikusa-slider.pug
    include includes/ispravlenie-prikusa/ispravlenie-prikusa1.pug
    include includes/ispravlenie-prikusa/ispravlenie-prikusa2.pug
    include includes/ispravlenie-prikusa/ispravlenie-prikusa3.pug
    include includes/ispravlenie-prikusa/ispravlenie-prikusa4.pug
    include includes/ispravlenie-prikusa/ispravlenie-prikusa5.pug
    include includes/ispravlenie-prikusa/ispravlenie-prikusa6.pug
    include includes/ispravlenie-prikusa/ispravlenie-prikusa7.pug
    include includes/ispravlenie-prikusa/prices-ispravlenie-prikusa.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
