extends common/layout

block content
  main.page-main
    include includes/khirurgiya/khirurgiya-slider.pug
    include includes/khirurgiya/khirurgiya1.pug
    include includes/khirurgiya/khirurgiya2.pug
    include includes/khirurgiya/khirurgiya3.pug
    include includes/khirurgiya/prices-khirurgiya.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
