extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/kostnaya-plastika/kostnaya-plastika1.pug
    include includes/kostnaya-plastika/kostnaya-plastika2.pug
    include includes/kostnaya-plastika/kostnaya-plastika3.pug
    include includes/kostnaya-plastika/kostnaya-plastika4.pug
    include includes/kostnaya-plastika/kostnaya-plastika5.pug
    include includes/kostnaya-plastika/kostnaya-plastika6.pug
    include includes/kostnaya-plastika/kostnaya-plastika7.pug
    include includes/kostnaya-plastika/kostnaya-plastika8.pug
    include includes/kostnaya-plastika/kostnaya-plastika9.pug
    include includes/kostnaya-plastika/prices-kostnaya-plastika.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
