//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/kuretazh-desen/kuretazh-desen-slider.pug
//-     include includes/form-girls.pug
//-     include includes/kuretazh-desen/prices-kuretazh-desen.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
