extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/lechenie-kariesa/lechenie-kariesa1.pug
    include includes/lechenie-kariesa/lechenie-kariesa2.pug
    include includes/lechenie-kariesa/lechenie-kariesa3.pug
    include includes/lechenie-kariesa/lechenie-kariesa4.pug
    include includes/lechenie-kariesa/lechenie-kariesa5.pug
    include includes/lechenie-kariesa/lechenie-kariesa6.pug
    include includes/lechenie-kariesa/lechenie-kariesa7.pug
    include includes/lechenie-kariesa/prices-lechenie-kariesa.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
