extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor1.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor2.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor3.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor4.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor5.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor6.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor7.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor8.pug
    include includes/lechenie-desen-apparatom-vektor/lechenie-desen-apparatom-vektor9.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
