extends common/layout

block content
  main.page-main
    include includes/lechenie-pulpita/lechenie-pulpita-slider.pug
    include includes/lechenie-pulpita/lechenie-pulpita1.pug
    include includes/lechenie-pulpita/lechenie-pulpita2.pug
    include includes/lechenie-pulpita/lechenie-pulpita3.pug
    include includes/lechenie-pulpita/lechenie-pulpita4.pug
    include includes/lechenie-pulpita/lechenie-pulpita5.pug
    include includes/lechenie-pulpita/prices-lechenie-pulpita.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
