extends common/layout

block content
  main.page-main
    include includes/lechenie-desen/lechenie-desen-slider.pug
    include includes/lechenie-desen/lechenie-desen1.pug
    include includes/lechenie-desen/lechenie-desen2.pug
    include includes/lechenie-desen/lechenie-desen3.pug
    include includes/lechenie-desen/prices-lechenie-desen.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
