//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/lechenie-zubov/lechenie-zubov-slider.pug
//-     include includes/lechenie-zubov/lechenie-zubov1.pug
//-     include includes/lechenie-zubov/lechenie-zubov2.pug
//-     include includes/lechenie-zubov/lechenie-zubov3.pug
//-     include includes/lechenie-zubov/lechenie-zubov4.pug
//-     include includes/lechenie-zubov/lechenie-zubov5.pug
//-     include includes/lechenie-zubov/lechenie-zubov6.pug
//-     include includes/lechenie-zubov/prices-lechenie-zubov.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
