//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/lechenie-gingivita/lechenie-gingivita-slider.pug
//-     include includes/lechenie-gingivita/lechenie-gingivita1.pug
//-     include includes/lechenie-gingivita/lechenie-gingivita2.pug
//-     include includes/lechenie-gingivita/lechenie-gingivita3.pug
//-     include includes/lechenie-gingivita/lechenie-gingivita4.pug
//-     include includes/lechenie-desen/prices-lechenie-desen.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
