//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/lechenie-parodontita/lechenie-parodontita-slider.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita1.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita2.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita3.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita4.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita5.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita6.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita7.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita8.pug
//-     include includes/lechenie-parodontita/lechenie-parodontita9.pug
//-     include includes/lechenie-parodontita/prices-lechenie-parodontita.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
