extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/lechenie-parodontoza1.pug
    include includes/lechenie-parodontoza2.pug
    include includes/lechenie-parodontoza3.pug
    include includes/prices-lechenie-parodontoza.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
