//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/lechenie-flusa/lechenie-flusa-slider.pug
//-     include includes/lechenie-flusa/lechenie-flusa1.pug
//-     include includes/lechenie-flusa/lechenie-flusa2.pug
//-     include includes/lechenie-flusa/lechenie-flusa3.pug
//-     include includes/lechenie-flusa/lechenie-flusa4.pug
//-     include includes/lechenie-flusa/lechenie-flusa5.pug
//-     include includes/lechenie-flusa/lechenie-flusa6.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
