extends common/layout

block content
  main.page-main
    include includes/lechenie-kisty/lechenie-kisty-slider.pug
    include includes/lechenie-kisty/lechenie-kisty1.pug
    include includes/lechenie-kisty/lechenie-kisty2.pug
    include includes/lechenie-kisty/lechenie-kisty3.pug
    include includes/lechenie-kisty/lechenie-kisty4.pug
    include includes/lechenie-kisty/prices-lechenie-kisty.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
