extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/loskutnaya-operaciya/loskutnaya-operaciya1.pug
    include includes/loskutnaya-operaciya/loskutnaya-operaciya2.pug
    include includes/loskutnaya-operaciya/loskutnaya-operaciya3.pug
    include includes/loskutnaya-operaciya/loskutnaya-operaciya4.pug
    include includes/loskutnaya-operaciya/loskutnaya-operaciya5.pug
    include includes/loskutnaya-operaciya/prices-loskutnaya-operaciya.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
