extends common/layout

block content
  main.page-main
    include includes/luminiry-slider.pug
    include includes/luminiry1.pug
    include includes/luminiry2.pug
    include includes/luminiry3.pug
    include includes/luminiry4.pug
    include includes/luminiry5.pug
    include includes/prices-luminiry.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
