//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/luminiry/luminiry-slider.pug
//-     include includes/luminiry/luminiry1.pug
//-     include includes/luminiry/luminiry2.pug
//-     include includes/luminiry/luminiry3.pug
//-     include includes/luminiry/luminiry4.pug
//-     include includes/luminiry/luminiry5.pug
//-     include includes/luminiry/prices-luminiry.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
