//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/maloinvazivnoe-lechenie/maloinvazivnoe-lechenie-slider.pug
//-     include includes/maloinvazivnoe-lechenie/maloinvazivnoe-lechenie1.pug
//-     include includes/maloinvazivnoe-lechenie/maloinvazivnoe-lechenie2.pug
//-     include includes/maloinvazivnoe-lechenie/maloinvazivnoe-lechenie3.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
