//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/nazmieva-svetlana.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
