extends common/layout

block content
  main.page-main
    include includes/novie-zubi-za-odin-den/novie-zubi-za-odin-den-slider.pug
    include includes/novie-zubi-za-odin-den/novie-zubi-za-odin-den1.pug
    include includes/novie-zubi-za-odin-den/novie-zubi-za-odin-den2.pug
    include includes/novie-zubi-za-odin-den/novie-zubi-za-odin-den3.pug
    include includes/novie-zubi-za-odin-den/novie-zubi-za-odin-den4.pug
    include includes/nobelicx.pug
    include includes/narkoz.pug
    include includes/novie-zubi-za-odin-den/prices-novie-zubi.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
