extends common/layout

block content
  main.page-main
    include includes/o-kompanii/o-kompanii1.pug
    include includes/o-kompanii/o-kompanii2.pug
    include includes/o-kompanii/o-kompanii3.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
