extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/odnomomentnaya-implantaciya-zubov1.pug
    include includes/odnomomentnaya-implantaciya-zubov2.pug
    include includes/odnomomentnaya-implantaciya-zubov3.pug
    include includes/odnomomentnaya-implantaciya-zubov4.pug
    include includes/odnomomentnaya-implantaciya-zubov5.pug
    include includes/nobelicx.pug
    include includes/narkoz.pug
    include includes/prices-ustanovka-implantov.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
