extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov1.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov2.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov3.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov4.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov5.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov6.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov7.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov8.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov9.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov10.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov11.pug
    include includes/odnomomentnaya-implantaciya-zubov/odnomomentnaya-implantaciya-zubov12.pug
    include includes/nobelicx.pug
    include includes/narkoz.pug
    include includes/odnomomentnaya-implantaciya-zubov/prices-odnomomentnaya-implantaciya-zubov.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
