extends common/layout

block content
  main.page-main
    include includes/ortopedicheskaya-stomatologiya/ortopedicheskaya-stomatologiya-slider.pug
    include includes/ortopedicheskaya-stomatologiya/ortopedicheskaya-stomatologiya1.pug
    include includes/ortopedicheskaya-stomatologiya/ortopedicheskaya-stomatologiya2.pug
    include includes/ortopedicheskaya-stomatologiya/ortopedicheskaya-stomatologiya3.pug
    include includes/form-girls.pug
    include includes/ortodontiya/prices-ortodontiya.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
