//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/otbelivanie-zubov/otbelivanie-zubov-slider.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov1.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov2.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov3.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov4.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov5.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov6.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov7.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov8.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov9.pug
//-     include includes/otbelivanie-zubov/otbelivanie-zubov10.pug
//-     include includes/otbelivanie-zubov/prices-otbelivanie-zubov.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
