//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/parodontologiya/parodontologiya-slider.pug
//-     include includes/parodontologiya/parodontologiya1.pug
//-     include includes/parodontologiya/parodontologiya2.pug
//-     include includes/parodontologiya/parodontologiya3.pug
//-     include includes/parodontologiya/parodontologiya4.pug
//-     include includes/parodontologiya/parodontologiya5.pug
//-     include includes/parodontologiya/prices-parodontologiya.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
