extends common/layout

block content
  main.page-main
    include includes/plazmolifting/plazmolifting-slider.pug
    include includes/plazmolifting/plazmolifting1.pug
    include includes/plazmolifting/plazmolifting2.pug
    include includes/plazmolifting/plazmolifting3.pug
    include includes/plazmolifting/plazmolifting4.pug
    include includes/plazmolifting/prices-plazmolifting.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
