//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/politika-konfidencialnosti.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
