//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/professionalnaya-gigiena/professionalnaya-gigiena-slider.pug
//-     include includes/professionalnaya-gigiena/professionalnaya-gigiena1.pug
//-     include includes/professionalnaya-gigiena/professionalnaya-gigiena2.pug
//-     include includes/professionalnaya-gigiena/professionalnaya-gigiena3.pug
//-     include includes/professionalnaya-gigiena/professionalnaya-gigiena4.pug
//-     include includes/professionalnaya-gigiena/professionalnaya-gigiena5.pug
//-     include includes/professionalnaya-gigiena/prices-professionalnaya-gigiena.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
