//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/service-slider.pug
//-     include includes/protezirovanie-perednih/protezirovanie-perednih1.pug
//-     include includes/protezirovanie-perednih/protezirovanie-perednih2.pug
//-     include includes/protezirovanie-perednih/protezirovanie-perednih3.pug
//-     include includes/protezirovanie-perednih/protezirovanie-perednih4.pug
//-     include includes/protezirovanie-perednih/protezirovanie-perednih5.pug
//-     include includes/protezirovanie-perednih/protezirovanie-perednih6.pug
//-     include includes/protezirovanie-perednih/protezirovanie-perednih7.pug
//-     include includes/nobelicx.pug
//-     include includes/narkoz.pug
//-     include includes/protezirovanie-perednih/prices-protezirovanie-perednih.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
