extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/protezirovanie-na-implantah/protezirovanie-na-implantah1.pug
    include includes/protezirovanie-na-implantah/protezirovanie-na-implantah2.pug
    include includes/protezirovanie-na-implantah/protezirovanie-na-implantah3.pug
    include includes/protezirovanie-na-implantah/protezirovanie-na-implantah4.pug
    include includes/protezirovanie-na-implantah/protezirovanie-na-implantah5.pug
    include includes/protezirovanie-na-implantah/protezirovanie-na-implantah6.pug
    include includes/nobelicx.pug
    include includes/narkoz.pug
    include includes/protezirovanie-na-implantah/prices-protezirovanie-na-implantah.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
