extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/img-right.pug
    include includes/img-left.pug
    include includes/3items.pug
    include includes/implantaciya1.pug
    include includes/implantaciya2.pug
    include includes/4steps.pug
    include includes/nobelicx.pug
    include includes/implantaciya3.pug
    include includes/prices-implantaciya.pug
    include includes/additions.pug
