//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/shinirovanie/shinirovanie-slider.pug
//-     include includes/shinirovanie/shinirovanie1.pug
//-     include includes/shinirovanie/shinirovanie2.pug
//-     include includes/shinirovanie/shinirovanie3.pug
//-     include includes/shinirovanie/shinirovanie4.pug
//-     include includes/shinirovanie/shinirovanie5.pug
//-     include includes/shinirovanie/prices-shinirovanie.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
