//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/service-slider.pug
//-     include includes/sinus-lifting/sinus-lifting1.pug
//-     include includes/sinus-lifting/sinus-lifting2.pug
//-     include includes/sinus-lifting/sinus-lifting3.pug
//-     include includes/sinus-lifting/sinus-lifting4.pug
//-     include includes/sinus-lifting/sinus-lifting5.pug
//-     include includes/sinus-lifting/sinus-lifting6.pug
//-     include includes/sinus-lifting/sinus-lifting7.pug
//-     include includes/sinus-lifting/sinus-lifting8.pug
//-     include includes/sinus-lifting/sinus-lifting9.pug
//-     include includes/sinus-lifting/prices-sinus-lifting.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
