//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/udalenie-zuba-mudrosti/udalenie-zuba-mudrosti-slider.pug
//-     include includes/udalenie-zuba-mudrosti/udalenie-zuba-mudrosti1.pug
//-     include includes/udalenie-zuba-mudrosti/udalenie-zuba-mudrosti2.pug
//-     include includes/udalenie-zuba-mudrosti/udalenie-zuba-mudrosti3.pug
//-     include includes/udalenie-zuba-mudrosti/udalenie-zuba-mudrosti4.pug
//-     include includes/udalenie-zuba-mudrosti/udalenie-zuba-mudrosti5.pug
//-     include includes/udalenie-zuba-mudrosti/udalenie-zuba-mudrosti6.pug
//-     include includes/udalenie-zuba-mudrosti/prices-udalenie-zuba-mudrosti.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
