extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/udalenie-zubov/udalenie-zubov1.pug
    include includes/udalenie-zubov/udalenie-zubov2.pug
    include includes/udalenie-zubov/udalenie-zubov3.pug
    include includes/udalenie-zubov/udalenie-zubov4.pug
    include includes/udalenie-zubov/prices-udalenie-zubov.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
