extends common/layout

block content
  main.page-main
    include includes/service-slider.pug
    include includes/vestibuloplastika/vestibuloplastika1.pug
    include includes/vestibuloplastika/vestibuloplastika2.pug
    include includes/vestibuloplastika/vestibuloplastika3.pug
    include includes/vestibuloplastika/vestibuloplastika4.pug
    include includes/vestibuloplastika/vestibuloplastika5.pug
    include includes/vestibuloplastika/vestibuloplastika6.pug
    include includes/vestibuloplastika/vestibuloplastika7.pug
    include includes/vestibuloplastika/prices-vestibuloplastika.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
