//- extends common/layout
//- 
//- block content
//-   main.page-main
//-     include includes/viniry/viniry-slider.pug
//-     include includes/viniry/viniry1.pug
//-     include includes/viniry/viniry2.pug
//-     include includes/viniry/viniry3.pug
//-     include includes/viniry/viniry4.pug
//-     include includes/viniry/viniry5.pug
//-     include includes/viniry/viniry6.pug
//-     include includes/viniry/prices-viniry.pug
//-     include includes/form-girls.pug
//-     include includes/additions.pug
//-     include includes/services.pug
//-     include includes/staff.pug
//-     include includes/lilform.pug
//-     include includes/consult.pug
//-     include includes/map.pug
//-     include includes/serv-footer.pug
