extends common/layout

block content
  main.page-main
    include includes/vospalenie-zubov/vospalenie-zubov-slider.pug
    include includes/vospalenie-zubov/vospalenie-zubov1.pug
    include includes/vospalenie-zubov/vospalenie-zubov2.pug
    include includes/vospalenie-zubov/vospalenie-zubov3.pug
    include includes/vospalenie-zubov/vospalenie-zubov4.pug
    include includes/vospalenie-zubov/prices-vospalenie-zubov.pug
    include includes/form-girls.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
