extends common/layout

block content
  main.page-main
    include includes/zakrytie-recessii-desny/zakrytie-recessii-desny-slider.pug
    include includes/form-girls.pug
    include includes/zakrytie-recessii-desny/prices-zakrytie-recessii-desny.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
