extends common/layout

block content
  main.page-main
    include includes/zubnoy-nalet/zubnoy-nalet-slider.pug
    include includes/form-girls.pug
    include includes/zubnoy-nalet/prices-zubnoy-nalet.pug
    include includes/additions.pug
    include includes/services.pug
    include includes/staff.pug
    include includes/lilform.pug
    include includes/consult.pug
    include includes/map.pug
    include includes/serv-footer.pug
