section.anomalii-prikusa1
  .container.img-left__container
    .img-left__text
      h2 Аномалии прикуса
      p Прикус — это расположение зубных рядов по отношению друг к другу при полном смыкании челюсти.
      p В период развития челюсти под влиянием различных факторов у ребёнка могут наблюдаться нарушения, которые приводят к аномалиям прикуса.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/anomalii-prikusa1.webp")
        img(src="img/anomalii-prikusa1.jpg" alt="")
