section.anomalii-prikusa5
  .container.anomalii-prikusa5__container
    h2 Диагностика и лечение аномалий прикуса
    p Вид нарушения, причины его возникновения и пути исправления вам подскажет стоматолог-ортопед после тщательного осмотра и обследования. Может понадобиться рентгенография.
    p Для исправления положения зубов пациенту может быть предложено ортодонтическое лечение брекет-системами, элайнерами, трейнерами. В особо сложных случаях возможно хирургическое вмешательство.
    p Несмотря на то, что прикус желательно контролировать и исправлять на этапе формирования челюсти, современные методики в стоматологии позволяют проводить ортодонтическое лечение пациентам любого возраста.
    p Стоматологическая клиника “Риадент” в Уфе предлагает услуги по исправлению аномалий прикуса. В нашей клинике есть всё необходимое для тщательной диагностики и успешного ортодонтического лечения. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
