section.anomalii-prikusa4
  .container.anomalii-prikusa4__container
    h2 Последствия нарушения прикуса
    p Чаще всего обладатели неправильного прикуса долгое время ничего не тревожит, разве что эстетический вопрос. Но важно понимать, что неправильное положение зубов — это бомба замедленного действия, которая обязательно проявит себя со временем. И может проявиться это следующим образом:
    ul
      li быстрое стирание зубов;
      li нарушения работы челюстных суставов;
      li развитие пародонтита или пародонтоза;
      li неправильная форма лица;
      li речевые дефекты;
      li сложности при имплантации зубов.
    p Аномалии прикуса становятся причиной речевых дефектов, неправильного положения лицевых мышц, развития различных заболеваний и быстрого стирания зубов.
    p Любое из этих нарушений может проявится как в одиночку, так и в комбинации с другим.
