section.anomalii-prikusa2
  .container.anomalii-prikusa2__container
    h2 Типы нарушения прикуса
    p Существует 7 основных разновидностей нарушения прикуса. Это:
    ul
      li <strong>Открытый прикус</strong> — при смыкании зубов между резцами остаётся заметное расстояние (реже — между боковыми).
      li <strong>Глубокий прикус</strong> — нарушение, при котором резцы верхнего ряда при смыкании челюсти сильно перекрывают зубы нижнего ряда.
      li <strong>Дистальный прикус</strong> —  слабо развитая нижняя челюсти, либо излишне развитая верхняя. Характерным признаком является, что при смыкании зубов верхняя челюсть размещается гораздо дальше нижней
      li <strong>Мезиальный прикус</strong> — нижняя челюсть развита больше, чем верхняя. При смыкании зубов нижняя челюсть заметно выдается вперёд.
      li <strong>Перекрёстный прикус</strong> — одна из сторон челюсти (верхней или нижней) развивается слабее, что приводит к смещению всей челюсти в сторону.
      li <strong>Дистопия</strong> — зубы при росте сильно смещаются со своего места, могут расти как будто “из десны”.
      li <strong>Диастема</strong> — образование расщелины между передними зубами, чаще всего в верхнем ряду, но встречается и в нижнем. Это нарушение обычно называют “щербинкой”.
