section.anomalii-prikusa3
  .container.img-right__container
    .img-right__text
      h2 Причина развития аномалии прикуса
      p Причиной развития нарушений прикуса могут стать многие факторы. Начиная с наследственности и заканчивая перенесёнными в детстве болезнями. Нередко аномалии прикуса формируются у ребёнка еще до рождения, если во время беременности его мать перенесла какое-либо заболевание. Среди причин также встречаются:
      ul
        li родовая травма;
        li неправильное кормление;
        li сосание пальца, игрушек, долгое увлечение соской в детстве;
        li сон в неправильном положении;
        li рахит;
        li неправильная осанка;
        li нарушения в развитии молочных зубов.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
