section.lechenie-pulpita3
  .container.lechenie-pulpita3__container
    h2 Как диагностировать пульпит?
    p В процессе постановки диагноза стоматолог получает больше всего информации за счёт оценивания симптомов и изучения кариозной полости.
    p Внимательное исследование при помощи стоматологического зеркала и зонда позволяет отличить пульпит от других заболеваний. Также могут применяться и другие методы:
    ul
      li <strong>термометрия</strong> — проверка реакции зуба на температурные раздражители;
      li <strong>рентгенография</strong> — для отслеживания изменений в костной структуре.
