section.lechenie-pulpita5
  .container.lechenie-pulpita5__container
    h2 Как проходит процедура?
    p При витальном методе не используется мышьяк. Удаление нерва проводится под анестезией. Также под местной анестезией стоматолог удаляет ткани, поражённые кариесом, и раскрывает полость зуба. После этого воспалённая и инфицированная пульпа удаляется, а корневые каналы проходят тщательную обработку особыми инструментами. Это позволяет полностью удалить остатки пульпы и снять слой поражённой инфекцией ткани. При механической обработке корневые каналы неоднократно очищаются антисептическими растворами.
    p Завершающим этапом лечения является установка пломбы в корневые каналы зуба. Новейшие методики лечения позволяют качественно обработать корневые каналы и провести герметичное пломбирование.
