section.lechenie-pulpita1
  .container.img-left__container
    .img-left__text
      h2 Лечение пульпита в стоматологической клинике «Риадент»
      p Пульпит — это воспалительный процесс в пульпе, сосудистом пучке зуба.
      p Пульпа содержит в себе множество нервных окончаний и сосудов, поэтому её воспаление представляет собой серьёзную проблему, требующую срочного лечения.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/lechenie-pulpita1.webp")
        img(src="img/lechenie-pulpita1.jpg" alt="")
