section.lechenie-pulpita2
  .container.lechenie-pulpita2__container
    h2 Симптомы пульпита
    p Симптомы заболевания напрямую зависят от его формы. Острая и хроническая формы пульпита проявляют себя по-разному.
    ul
      li При <strong>острой форме</strong> ярко выражена приступообразная сильная боль. Острая очаговая форма подразумевает боль в конкретном зубе;
      li При <strong>диффузной форме</strong> боль может рассеиваться и переходить в другие органы: отдавать в скулы или другую челюсть;
      li Для <strong>хронической стадии</strong> пульпита характерна ноющая боль, но нередко эта форма проходит без симптомов;
      li <strong>Фиброзный хронический пульпит</strong> характеризуется болью во время приёма горячей пищи, гангренозный — болью, возникающей самопроизвольно.
