section.lechenie-pulpita4
  .container.img-right__container
    .img-right__text
      h2 Как вылечить пульпит?
      p Основным направлением в лечении пульпита является устранение риска развития гнойных воспалений — флегмон.
      p Гнойное воспаление может представлять риск не только для здоровья, но и для жизни.
      p На сегодняшний день стоматология активно применяет передовые методики лечения пульпита.
      p Основными целями при лечении пульпита являются:
      ul
        li устранение болевых ощущений;
        li ликвидация очага воспаления;
        li восстановление функциональности зуба.
      p Витальный метод лечения состоит из двух основных этапов: полное удаление пульпы и герметичное пломбирование корневых каналов.
      p Эта методика наиболее распространена для лечения острого и хронического пульпита.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
