section.prices
  .container.prices__container
    h2.prices__title Стоимость лечения пульпита в «Риадент»
    table.prices__table
      tr
        td.prices__maintd(colspan="2") Лечение пульпита
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
        td 6100
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
        td 7600
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
        td 7400
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
        td 8900
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
        td 9800
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
        td 11300
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
        td 11500
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
        td 13000
