section.all-on-6-1
  .container.img-right__container
    .img-right__text
      h2 Что такое All-on-6?
      p Как восстановить сразу все зубы на одной челюсти, не затрачивая месяцы на каждый этап имплантации? Как получить при этом хорошее качество и удобство конструкции? Поможет All-on-6 — методика “всё на 6”. Стоматологи клиники “Риадент” в Уфе уже не первый год успешно проводят такие операции.
      p Это конструкция, состоящая из шести имплантатов и одного несъёмного протеза с искусственными зубами. Шесть дентальных имплантатов вживляют в челюсть пациента, определяя оптимальный угол наклона для равномерной жевательной нагрузки.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/all-on-6-1.webp")
        img(src="img/all-on-6-1.jpg" alt="")
