section.prices
  .container.prices__container
    h2.prices__title Цена зубных протезов на 6-ти имплантах (All-on-6), Уфа
    p Стоимость имплантации All-on-6 может меняться в зависимости от ряда факторов:
    ul
      li количества нужных обследований, подготовительных и лечебных процедур;
      li количества и вида расходных материалов;
      li вида штифтов, имплантатов и несъёмных протезов.
    p Наши стоматологи не накручивают цены, не придумывают дополнительные процедуры. Вы оплачиваете только то, что действительно необходимо.
    p Наш прайс вы можете увидеть здесь
    table.prices__table
      tr
        td Установка all on 6 c немедленной нагрузкой с использованием имплантов Nobel, Швеция, хирургический этап
        td от 250000
