section.prices
  .container.prices__container
    h2.prices__title Виды и стоимость имплантов
    p В стоматологии «Риадент» нашим пациентам доступны импланты ICX (Германия) и Nobel Biocare (Швейцария). Они наиболее соответствуют нашим запросам в плане качества, показателей приживаемости и надёжности.
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Протезирование на имплантах
      tr
        td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium цементной фиксации на титановом основании
        td 21000₽
      tr
        td Изготовление металлокерамической коронки на имплантате ICX, Osstem, Dentium винтовой фиксации на титановом основании
        td 20000₽ 
      tr
        td Изготовление металлокерамической коронки на имплантате Any Ridge цементной/винтовой фиксации на титановом основании
        td 25000₽
      tr
        td Изготовление металлокерамической коронки на импланте Nobel Biocare цементной фиксации на титановом основании
        td 37000₽
      tr
        td Изготовление металлокерамической коронки на импланте Nobel Biocare винтовой фиксации на титановом основании
        td 35000₽
      tr
        td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium винтовой фиксации на титановом основании	
        td 28000₽
      tr
        td Изготовление коронки из ZrO2 на имплантате Any Ridge винтовой фиксации на титановом основании	
        td 35000₽
      tr
        td Изготовление коронки из ZrO2 на имплантате Nobel винтовой фиксации на титановом основании	
        td 40500₽
      tr
        td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium цементной фиксации на циркониевом основании	
        td 32000₽
      tr
        td Изготовление коронки из ZrO2 на имплантате ICX, Osstem, Dentium цементной фиксации на титановом основании	
        td 28000₽
      tr
        td Изготовление коронки из ZrO2 на имплантате Any Ridge цементной фиксации на титановом/циркониевом основании	
        td 38000₽
      tr
        td Изготовление коронки из ZrO2 на имплантате Nobel цементной фиксации на циркониевом основании	
        td 44500₽
      tr
        td Изготовление коронки из ZrO2 с керамической облицовкой на имплантате (без стоимости абатмента)	
        td 26000₽
      tr
        td Изготовление коронки Е-max на имплантате (без абатмента)	
        td 24000₽
      tr
        td Изготовление коронки из ZrO2 на имплантате (без абатмента)	
        td 24500₽
      tr
        td Изготовление лечебно-профилактической коронки на имплантате ICX	
        td 10000₽
      tr
        td Изготовление лечебно-профилактической коронки на имплантате Dentium/Osstem	
        td 9500₽
      tr
        td Изготовление лечебно-профилактической коронки на имплантате Nobel	
        td 15000₽
      tr
        td Временная коронка на имплантате Nobel Biocare, прямым методом
        td 14500₽
      tr
        td Изготовление лечебно-профилактической пластмассовой коронки РММА с использованием РЕЕК абатмента (ICX)
        td 8500₽
      tr
        td Изготовление бюгельного протеза на балке с опорой на имплантах	
        td 130000₽
      tr
        td Индивидуальный формирователь десны	
        td 6500₽
      tr
        td.prices__maintd(colspan="2")
          strong Дополнительные услуги: диагностика
      tr
        td Снятие стальной штампованной коронки
        td 500₽
      tr
        td Снятие слепков, использование лицевой дуги, изготовление КДМ, загипсовка в анатомический артикулятор. Планирование будущей ортопедической конструкции	
        td 15000₽
      tr
        td Снятие цельнолитой, металлокерамической, металлопластмассовой коронки	
        td 1000₽
      tr
        td Диагностическое восковое моделирование (Wax-up), 1 зуб	
        td 500₽
      tr
        td Использование лицевой дуги; изготовление мастер модели	
        td 5000₽
      tr
        td Изготовление контрольно-диагностической модели	
        td 2000₽
      tr
        td.prices__maintd(colspan="2")
          strong Индивидуальная ложка
      tr
        td Индивидуальная ложка
        td 1500₽
      tr
        td Фиксация временная «водный дентин»
        td 100₽
      tr
        td Фиксация временная «Temp bond»
        td 200₽
      tr
        td Фиксация на цинк-фосфатный цемент «Унифас», «Уницем»
        td 200₽
      tr
        td Фиксация на стеклоиномерный цемент «Фуджи», «Хофман»
        td 500₽
      tr
        td Фиксация на цемент двойного отверждения «Мультилинк»
        td 1000₽
      tr
        td Замена установка винта для работ на имплантах (использование винта, работа доктора)
        td 3000₽
      tr
        td.prices__maintd(colspan="2")
          strong Ремонт протезов
      tr
        td Ремонт протеза при одном переломе базиса
        td 2000 ₽
      tr
        td Ремонт протеза при двух переломах базиса
        td 2500₽
      tr
        td Снятие слепка альгинатным материалом
        td 400₽
      tr
        td Снятие слепка «А» силиконовым материалом
        td 400₽
      tr
        td Снятие слепка «C» силиконовым материалом
        td 850₽
      tr
        td Снятие слепка монофазным материалом
        td 1800₽
      tr
        td Прикус силиконовый
        td 350₽
