section.four-steps
  .container.four-steps__container
    h2.four-steps__title Этапы установки имплантов
    .four-steps__list
      .four-steps__item
        .four-steps__icon
          svg(width="44" height="44")
            use(xlink:href="img/sprite.svg#four-steps1")
        .four-steps__text
          p 1 этап:
          h3 Обследование
          ul
            li полное восстановление жевательной функции;
            li сочетание эстетики и естественного внешнего вида;
            li удобство в сравнении со съёмными протезами;
            li препятствие для атрофии костной ткани и смещения зубов;
            li долгий срок службы.
      .four-steps__item
        .four-steps__icon
          svg(width="45" height="44")
            use(xlink:href="img/sprite.svg#four-steps2")
        .four-steps__text
          p 2 этап:
          h3 Планирование и подготовка
          p Перед протезированием необходимо устранить все источники возможной инфекции из полости рта. Вылечить кариес, удалить зубы, не поддающиеся лечению, и провести санацию. Также с помощью 3D-моделирования врач планирует установку имплантатов, при необходимости изготавливаются специальные хирургические шаблоны.
      .four-steps__item
        .four-steps__icon
          svg(width="40" height="42")
            use(xlink:href="img/sprite.svg#four-steps3")
        .four-steps__text
          p 3 этап:
          h3 Вживление имплантов
          p Пациенту устанавливают требуемое количество штифтов и снимают слепки для изготовления временных протезов или коронок. Их устанавливают в тот же день.
      .four-steps__item
        .four-steps__icon
          svg(width="33" height="44")
            use(xlink:href="img/sprite.svg#four-steps4")
        .four-steps__text
          p 4 этап:
          h3 Установка постоянного протеза
          p После успешного приживления (4-6 месяцев) пациенту снова снимают слепки для изготовления постоянного протеза. После чего его примеряют, подгоняют и устанавливают.
