section.three-items
  .container.three-items__container
    h2.three-items__title Разновидности протезов
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/implantaciya3.jpg" alt="")
        h3 Мосты
        p Мост — это протез, представляющий собой 3-5 соединённых между собой коронок. Удобен для восстановления нескольких отсутствующих зубов сразу. Мостовидный протез устанавливается на 2 импланта, материалы коронок идентичны одиночным.
      .three-items__item
        .three-items__img
          img(src="img/implantaciya4.jpg" alt="")
        h3 Коронки
        p Применяются для восстановления одного или нескольких зубов. Бывают временными и постоянными. Временные устанавливаются на имплант сразу после операции, после приживления заменяются постоянной — более эстетичной и надёжной. Постоянные коронки изготавливаются из металлокерамики, керамики и циркония. В нашей клинике доступна имплантация зубов под ключ.
      .three-items__item
        .three-items__img
          img(src="img/implantaciya5.jpg" alt="")
        h3 Мосты с искусственной десной
        p Состоят из десны, изготовленной из нейлона или акрила, и ряда искусственных зубов. Нередко такой протез дополнительно укрепляется стальной дугой. Применяются при полном восстановлении зубного ряда, закрывая неровности десны.
