section.implantaciya2
  .container.img-left__container
    .img-left__text
      h2 Протезирование верхней челюсти
      p Имплантация зубов на верхней челюсти имеет свои особенности. Это связано с тем, что изначально кости в верхней челюсти меньше, чем в нижней. также играет роль близость гайморовых пазух. При наличии серьёзной атрофии костной ткани перед протезированием может потребоваться синус-лифтинг — специальная операция по наращиванию костной ткани.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya7.webp")
        img(src="img/implantaciya7.jpg" alt="")
