section.implantaciya1
  .container.img-right__container
    .img-right__text
      h2 Протезирование при полном отсутствии зубов
      p Идеальный вариант для восстановления всего ряда зубов — это одиночные коронки. Но такой вариант может обойтись очень дорого, к тому же, не каждому пациенту доступна установка коронок по причине недостатка костной ткани. Эту проблему решают современные протоколы All-on-4, All-on-6 и All-on-8.
      .accordion__item
        .accordion__title All-on-4 <span>(протезирование на 4-х имплантах)</span>
        .accordion__text Пациенту вживляются 4 имплантата, на которые устанавливается готовая челюсть с искусственными зубами. Два имплантата в переднем отделе ставятся прямо, два в боковых отделах — под углом. Это даёт конструкции дополнительную устойчивость и равномерное распределение нагрузки. Метод удобен, эстетичен, и во многих случаях новые зубы можно получить за одну операцию. Также весомым плюсом является возможность немедленной нагрузки. Подробнее об All-on-4.
      .accordion__item
        .accordion__title All-on-6 <span>(протезирование на 6-х имплантах)</span>
        .accordion__text Пациенту вживляются 6 имплантатов, на которые устанавливается готовая челюсть с искусственными зубами. Два имплантата в переднем отделе ставятся прямо, два в боковых отделах — под углом. Это даёт конструкции дополнительную устойчивость и равномерное распределение нагрузки. Метод удобен, эстетичен, и во многих случаях новые зубы можно получить за одну операцию. Также весомым плюсом является возможность немедленной нагрузки. Подробнее об All-on-6.
      .accordion__item
        .accordion__title All-on-8 <span>(протезирование на 8-х имплантах)</span>
        .accordion__text Пациенту вживляются 8 имплантатов, на которые устанавливается готовая челюсть с искусственными зубами. Два имплантата в переднем отделе ставятся прямо, два в боковых отделах — под углом. Это даёт конструкции дополнительную устойчивость и равномерное распределение нагрузки. Метод удобен, эстетичен, и во многих случаях новые зубы можно получить за одну операцию. Также весомым плюсом является возможность немедленной нагрузки. Подробнее об All-on-8.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/protezirovanie-na-implantah3.webp")
        img(src="img/protezirovanie-na-implantah3.jpg" alt="")
