section.lechenie-podvizhnosti-zubov1
  .container.img-left__container
    .img-left__text
      h2 Лечение подвижности зубов в стоматологической клинике «Риадент»
      p Подвижность зубов — яркий сигнал о плохом состоянии десневых тканей. Именно степень подвижности позволяет выявить патологии дёсен и определить стадию развития заболевания. Поэтому, если вы заметили даже небольшое расшатывание зуба, следует как можно скорее приступать к лечению, чтобы была возможность спасти единицу.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
