section.lechenie-podvizhnosti-zubov3
  .container.img-right__container
    .img-right__text
      h2 Причины подвижности зубов
      p Ослабление тканей, удерживающих единицу в лунке, может быть вызвано рядом факторов, среди которых:
      ul
        li нарушения прикуса;
        li атрофия костной ткани;
        li неправильная гигиена полости рта;
        li воспаление в дёснах, вызванное заболеваниями пародонта.
      p В некоторых случаях зуб расшатывается из-за механического повреждения — травм и ушибов.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
