section.lechenie-podvizhnosti-zubov2
  .container.lechenie-podvizhnosti-zubov2__container
    h2 Разновидности патологии
    p Подвижность зубов может быть нормальной и патологической.
    p Нормальная подвижность — это естественный процесс. Зубы незаметно смещаются при жевании, обеспечивая правильное распределение нагрузки. Такое явление присуще каждому, и как правило, даже не ощущается.
    p Патологическая подвижность — это расшатывание зубов, вызванное заболеваниями пародонта. Существует 4 степени подвижности:
    ul
      li 1 степень: зуб подвижен только в одном направлении;
      li 2 степень: единица двигается горизонтально, в две стороны;
      li 3 степень: зуб двигается вертикально, при надавливании углубляется в лунку а затем вылезает обратно;
      li 4 степень: движение во всех направлениях.
    p Для стоматолога очень важно определить степень подвижности, поскольку именно этот показатель помогает выявить масштаб поражения дёсен.
