section.lechenie-podvizhnosti-zubov4
  .container.lechenie-podvizhnosti-zubov4__container
    h2 Лечение подвижности зубов в стоматологической клинике «Риадент»
    p Чтобы вылечить подвижность зубов, стоматологу для начала необходимо провести обследование и выявить точную причину развития патологии. После этого будут проведены все необходимые процедуры, направленные на устранение подвижности. Лечение осуществляется в следующих направлениях:
    ul
      li <strong>Устранение причины расшатывания</strong>. Это может быть лечение пародонтита или пародонтоза, исправление прикуса, и другие процедуры, вид которых зависит от индивидуальной клинической картины.
      li <strong>Защита и сохранение зубов</strong>. Это возможно с помощью шинирования, установки протезов, применения композитных материалов, и другими методиками
    p Если вы хотите решить проблему подвижности зубов, сделать это можно в стоматологической клинике “Риадент” в Уфе. Большой опыт в лечении сложных стоматологических заболеваний и техническая оснащённость клиники позволяют проводить качественную диагностику и подбирать эффективное лечение для каждого пациента. Записывайтесь на консультацию! Ждём вас по адресу Кавказская 6/8.
