section.prices
  .container.prices__container
    h2.prices__title Цены на профессиональную гигиену
    table.prices__table
      tr
        td.prices__maintd(colspan="2") Профессиональная гигиена зубов в молочном и сменном прикусе щеткой и пастой:
      tr
        td Снятие зубного налета и зубного камня с одного зуба (ультразвук+AIR FLOW)
        td 150
      tr
        td Фторирование одного зуба
        td 120
      tr
        td Глубокое фторирование 1 зуба
        td 120
      tr
        td Обработка зуба препаратом ICON (без препарирования, одна поверхность)
        td 3500
      tr
        td Лечение заболеваний слизистой оболочки полости рта (первое посещение)
        td 500
      tr
        td Лечение заболеваний слизистой оболочки полости рта (последующие посещения)
        td 500
      tr
        td Реминирализующая терапия 1 зуба
        td 150
      tr
        td Адаптационная чистка зубов
        td 1800
      tr
        td Наложение девитализирующей пасты
        td 1000
      tr
        td Обучение гигиене полости рта с рекомендациями по средствам гигиены
        td 50
      tr
        td Восстановление молочного зуба композитным материалом
        td 2500
      tr
        td Восстановление твердых тканей постоянного зуба при травмах в пределах эмали
        td 3000
      tr
        td Восстановление твердых тканей постоянного зуба при травмах в пределах дентина без вскрытия полости зуба
        td 3500
      tr
        td Шинирование зубов
        td 2500
      tr
        td Замещение дефекта зубного ряда системой Ribbond
        td 2500
      tr
        td Снятие зубного налета и зубного камня с одного зуба ручным способом
        td 130
      tr
        td Снятие остатков пломбировочного материала с одного зуба после ортодонтического лечения
        td 100
      tr
        td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: обе челюсти
        td 2100
      tr
        td Профессиональная чистка зубов в молочном и сменном прикусе щеткой и пастой: один зуб
        td 100
      tr
        td Снятие зубных отложений при удовлетворительном состоянии зубов
        td 2000
      tr
        td Полировка одного зуба
        td 100
      tr
        td Снятие зубных отложений при хорошем состоянии зубов
        td 1500
      tr
        td Полировка сегмента
        td 500
      tr
        td Снятие зубных отложений при неудовлетворительном состоянии зубов
        td 2500
      tr
        td Полировка все зубы
        td 1600
      tr
        td Восстановление формы зуба (постановка пломбы после лечения каналов; при стираемости; для завышения высоты прикуса)
        td 2500
      tr
        td Восстановление формы зуба при отсутствии твердых тканей 1/2 коронки зуба
        td 4000
      tr
        td Герметезация фиссур молочных зубов (1зуб)
        td 1000
      tr
        td Герметизация фиссур постоянных зубов (1 зуб)
        td 2000
      tr
        td Избирательное прошлифовывание одного зуба
        td 150
