section.professionalnaya-gigiena2
  .container.professionalnaya-gigiena2__container
    h2 Для чего нужна профессиональная гигиена?
    p Профессиональная гигиена направлена на устранение последствий, вызванных неправильным или недостаточным уходом за полостью рта. Мягкий зубной налёт, который ежедневно образуется на зубах, со временем минерализуется и превращается в зубной камень. Это негативно влияет на дёсны, и может привести к развитию гингивита, пародонтита, и других заболеваний. В перечень проводимых процедур входят:
    ul
      li осмотр;
      li диагностика;
      li чистка зубного налёта и камней;
      li реминерализация;
      li противовоспалительная терапия;
      li полировка зубов;
      li рекомендации по уходу.
    p Стоматологи рекомендуют включить профессиональную чистку в личный перечень профилактических процедур, поскольку это не только положительно влияет на внешний вид зубов, но и снижает риск развития кариеса и пародонтита на 60-70%.
    p Данную процедуру нецелесообразно сравнивать с обычной чисткой зубов, поскольку она проводится профессиональным оборудованием с применением специальных препаратов и составов.
