section.professionalnaya-gigiena5
  .container.professionalnaya-gigiena5__container
    h2 Этапы процедуры гигиены зубов
    ul
      li <strong>1 этап: Обследование</strong>. Стоматолог проводит осмотр, выявляет наличие кариеса, оценивает качество самостоятельной гигиены, оценивает состояние слизистых и тканей пародонта, наблюдает риски развития патологий;
      li <strong>2 этап: Рекомендации</strong>. Пациенту могут предложить самостоятельно провести чистку зубов, после чего с помощью специальных красителей будет продемонстрирован остаточный налёт. Это становится мотивацией к более качественному уходу за зубами. Также стоматолог даёт ряд подробных рекомендаций касательно чистки зубов, выбора щётки и паст, питания и массажа дёсен;
      li <strong>3 этап: Ирригация</strong>. Она проводится антисептическими растворами, либо настоями трав. Если дёсны чувствительны, может применяться местная анестезия;
      li <strong>4 этап: Удаление отложений и налёта</strong>. Стоматолог счищает налёт, удаляет зубной камень. Налёт счищается методом air-flow — аэрозольного потока с абразивными частицами. Чистка зубного камня может проводиться с помощью инструментов, либо ультразвуковым скейлером;
      li <strong>5 этап: Полировка зубов</strong>. Зубы полируют при помощи специальных абразивных составов, резиновых дисков и щёточек;
      li <strong>6 этап: Реминерализация</strong>. Проводится глубокое фторирование эмали при помощи фторсодержащих препаратов. Длительность профессиональной гигиены составляет около 60 минут.
