section.professionalnaya-gigiena1
  .container.img-left__container
    .img-left__text
      h2 Гигиена полости рта в стоматологической клинике «Риадент»
      p Профессиональная гигиена полости рта — комплекс профилактических процедур для предотвращения развития стоматологических заболеваний. Такой комплекс рекомендуется проходить каждые полгода, при наличии пародонтита — раз в три месяца. Также профессиональная гигиена обязательна перед большинством хирургических, ортодонтических и ортопедических операций.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
