section.professionalnaya-gigiena3
  .container.img-right__container
    .img-right__text
      h2 Показания для профессиональной гигиены
      p Профессиональная гигиена проводится как для профилактики, так и перед многими другими процедурами и операциями. Это необходимо, чтобы минимизировать риск попадания инфекции и развития осложнений. Чистку проводят в ходе:
      ul
        li ортодонтического лечения;
        li хирургических операций;
        li терапевтических процедур;
        li отбеливания зубов;
        li глубокого фторирования;
        li реставрации зубов;
        li имплантации и протезирования.
      p Что касается профилактических мер, частоту процедуры выбирает стоматолог, основываясь на индивидуальных данных пациента, полученных в ходе осмотра.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
