section.professionalnaya-gigiena4
  .container.professionalnaya-gigiena4__container
    h2 Гигиена зубов с брекетами
    p Пациентам, носящим брекеты, профессиональная гигиена полости рта особенно необходима. Ведь даже несмотря на тщательный уход, частицы пищи могут скапливаться в труднодоступных частях конструкции. Поэтому пациентам с брекетами рекомендуется проходить чистку минимум раз в 3 месяца.
