section.novie-zubi-za-odin-den1
  .container.img-left__container
    .img-left__text
      h2 Технология метода довольна проста:
      ol
        li Устанавливаются 4 имплантата: 2 вертикальных в переднем отделе и 2 под углом 45 гр. Это позволяет правильно распределить нагрузку по всей челюсти;
        li Изготавливается протез с 12-14 зубами, который закрепляется на эти 4 имплантата.
      strong Внимание!
      p Данное предложение актуально при использовании имплантов Nobel Biocare. При использовании других имплантов протезы можно устанавливать на 4-7 месяц.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
