section.novie-zubi-za-odin-den2
  .container.novie-zubi-za-odin-den2__container
    ul
      li <strong>Гарантия</strong>. Даём гарантию на импланты — пожизненно
      li <strong>Короткий срок</strong>. Вы получаете несъемный протез зубов за короткий срок
      li <strong>2 челюсти за 1 день</strong>. Возможность восстановления 2 челюстей за 1 день
      li <strong>Без боли</strong>. Вы не почувствуете никакой боли
      li <strong>От 40 минут</strong>. Операция занимает от 40 минут до 2 часов
      li <strong>Подходит каждому</strong>. Включая людей, страдающих диабетом и пациентов после 80 лет
      li <strong>Прочность</strong>. Высокая прочность конструкции
      li <strong>Экономия</strong>. Экономичное решение по сравнению с другими методами имплантации
      li <strong>Без разрезов</strong>. Используется специальный 3D шаблон
