section.prices
  .container.prices__container
    h2.prices__title Виды и стоимость имплантов
    p В стоматологии «Риадент» нашим пациентам доступны импланты ICX (Германия) и Nobel Biocare (Швейцария). Они наиболее соответствуют нашим запросам в плане качества, показателей приживаемости и надёжности.
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Имплантация
      tr
        td All-on-4
        td 249000₽
