section.prices
  .container.prices__container
    h2.prices__title Цены на вестибулопластику
    table.prices__table
      tr
        td Вестибулопластика (с учетом повторного приема)
        td 7000
