section.prices
  .container.prices__container
    h2.prices__title Стоимость вестибулопластики в Уфе
    p В стоматологической клинике “Риадент” вестибулопластику проводят множеством методов, в том числе и лазерным. Примерные цены вы можете увидеть ниже:
    p Обычная вестибулопластика (любой метод) Лазерная вестибулопластика
    p Записывайтесь на консультацию в стоматологию “Риадент”! Ждём вас по адресу Кавказская 6/8.
    table.prices__table
      tr
        td Вестибулопластика (с учетом повторного приема)
        td 7000
