section.vestibuloplastika3
  .container.vestibuloplastika3__container
    h2 Показания и противопоказания
    p Чаще всего врач рекомендует вестибулопластику с целью предотвращения заболеваний пародонта, либо в ходе их лечения. Также процедура распространена в детской стоматологии. Вестибулопластика может проводится на верхней или нижней челюсти.
    .two-columns__columns
      .two-columns__column
        h3 Показания к вестибулопластике:
        ul
          li предотвращение или лечение заболеваний пародонта;
          li нарушенное кровообращение;
          li речевые дефекты;
          li для проведения кюретажа (иногда);
          li при имплантации зубов;
          li для лучшей фиксации съёмных протезов;
          li при пластике губ и лицевого контура.
      .two-columns__column
        h3 Противопоказания к вестибулопластике:
        ul
          li болезни крови;
          li заболевания ЦНС;
          li онкология;
          li остеомиелит;
          li хронические болезни слизистой рта;
          li множество зубов, поражённых кариесом;
          li алкогольная и наркотическая зависимость.
