section.vestibuloplastika3
  .container.vestibuloplastika3__container
    h2 Этапы операции
    ul
      li <strong>Подготовительный этап</strong>. Чтобы подготовиться к операции, пациенту необходимо пройти рентгенографию, сдать анализы, отказаться от приёма сильнодействующих препаратов, пройти профессиональную чистку зубов. За 10 часов до операции рекомендуется отказаться от твёрдой пищи.
      li <strong>Подготовка к операции</strong>. Пациенту вводят местную анестезию, полость рта дезинфицируют антисептиками.
      li <strong>Основные манипуляции</strong>. Производится разрез, отслаивание тканей, пластика и фиксация.
      li <strong>Завершающий этап</strong>. Накладывание фиксирующей повязки на область вмешательства. Также пациенту рекомендуется носит давящую повязку в области подбородка.
