section.vestibuloplastika6
  .container.img-right__container
    .img-right__text
      h2 Лазерная вестибулопластика
      p Несмотря на разнообразие различных методик, наиболее перспективной является лазерная вестибулопластика, которая доступна в стоматологической клинике «Риадент». Её преимущества:
      ul
        li минимум болевых ощущений;
        li минимальная травматичность;
        li отсутствие кровопотери;
        li высокая стерильность;
        li быстрое заживление.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
