section.vestibuloplastika7
  .container.vestibuloplastika7__container
    h2 Восстановление после операции
    p После операции врач предоставит перечень рекомендаций, которые важно соблюдать во избежание развития осложнений. Среди них:
    ul
      li Полоскание полости рта антисептиками после каждого приёма пищи;
      li Чистка зубов мягкой щёткой через 3-4 дня после операции;
      li Отказ от жёсткой, острой, солёной пищи;
      li Специальная лёгкая гимнастика для ускорения заживления;
      li Посещение врача для контроля над заживлением.
