section.vestibuloplastika4
  .container.vestibuloplastika4__container
    h2 Методы проведения вестибулопластики
    p Вестибулопластика проводится разными методами, выбор которых зависит от конечной цели операции. Среди них:
    ul
      li <strong>По Кларку</strong>. Самый простой метод, в основном применяется на верхней челюсти. Мягкие ткани рассекаются прямым разрезом, мышцы и сухожилия сдвигаются глубже методом отслаивания.
      li <strong>По Эдлану-Мейхеру</strong>. Этот метод чаще применяется на нижней челюсти. Ткани рассекаются дугообразным разрезом, смещая их в сторону либо удаляя ненужные.
      li <strong>По Гликману</strong>. Малотравматичный метод, применяемый при незначительных патологиях. Делается небольшой надрез в месте крепления губы, ткани отслаивают.
      li <strong>Туннельный</strong>. Тоже считается малотравматичным методом, где вместо одного большого разреза делают три маленьких рассечения.
