section.vestibuloplastika1
  .container.img-left__container
    .img-left__text
      h2 Вестибулопластика в стоматологической клинике «Риадент»
      p К сожалению, сохранить собственные зубы с возрастом становится всё сложнее. Даже если строго соблюдать рекомендации стоматологов по уходу, лишиться их можно из-за проблем со здоровьем: например, сужение сосудов может привести к плохому кровоснабжению дёсен, и, как следствие – к потере зубов.
      p К счастью, в наше время эта проблема решаема: даже при полном отсутствии зубов у любого человека существует огромный выбор современных протезов.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/vestibuloplastika1.webp")
        img(src="img/vestibuloplastika1.jpg" alt="")
