section.vestibuloplastika8
  .container.vestibuloplastika8__container
    h2 Стоимость вестибулопластики в Уфе
    p В стоматологической клинике “Риадент” вестибулопластику проводят множеством методов, в том числе и лазерным. Примерные цены вы можете увидеть ниже:
    p Обычная вестибулопластика (любой метод) Лазерная вестибулопластика
    p Записывайтесь на консультацию в стоматологию “Риадент”! Ждём вас по адресу Кавказская 6/8.
