section.plazmolifting2
  .container.img-right__container
    .img-right__text
      h2 Преимущества плазмолифтинга
      ul
        li <strong>Комфорт</strong>. Инъекции проводятся без боли. Анестезия в основном не требуется.
        li <strong>Безопасность</strong>. Вместо антибиотиков и противовоспалительных средств используется плазма, полученная из вашей крови.
        li <strong>Оперативность</strong>. На плазмолифтинг, начиная от забора крови до последней инъекции, уйдет не более 30 минут.
        li <strong>Без последствий</strong>. Использование вашего собственного материала исключает вероятность аллергии и осложнений.
        li <strong>Эффективность</strong>. Богатая активными элементами плазма запускает процесс восстановления мгновенно.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/plazmolifting2.webp")
        img(src="img/plazmolifting2.jpg" alt="")
