section.plazmolifting4
  .container.img-right__container
    .img-right__text
      h2 Результаты плазмолифтинга
      ul
        li Исчезает неприятный запах изо рта
        li Прекращается кровоточивость
        li Уменьшается подвижность зубов
        li Возвращается естественный цвет и форма десны
        li Ускоряется заживление после удаления и других операций
        li Снижается риск отторжения имплантатов
        li Укрепляется костная ткань
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
