section.plazmolifting1
  .container.img-left__container
    .img-left__text
      h2 Что такое плазмолифтинг десен
      p <strong>Плазмолифтинг</strong> — лечебная и профилактическая процедура, во время которой в десну делают инъекции собственной плазмы крови. Этот способ позволяет остановить воспаление и активировать восстановление клеток. Плазма, насыщенная большим количеством тромбоцитов, начинает работать сразу после введения. Она усиливает обмен веществ, который благотворно воздействует на процесс регенерации.
      p <strong>Процедура плазмолифтинга</strong> – инъекционный метод, получивший распространение в начале 2000 г. Регенерационная процедура позволяет безболезненно и в короткие сроки устранить патологические процессы в ротовой полости и сохранить здоровье десны.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
