section.plazmolifting3
  .container.img-left__container
    .img-left__text
      h2 Как готовят плазму
      p Специалист стоматологической клиники «Риадент» делает забор небольшого количества крови, помещает в центрифугу, где в течение короткого времени плазма отделяется от крови. Насыщенный тромбоцитами материал обрабатывают, добиваясь максимальной концентрации. Доктор аккуратно вводит плазму в проблемные участки, которая активирует процесс их восстановления.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
