section.prices
  .container.prices__container
    h2.prices__title Цены на закрытие рецессии десны
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Рецессия десны
      tr
        td Пластика рецессии десны коронально смещенным лоскутом в области одного зуба
        td 4500₽
      tr
        td Пластика рецессии десны латерально смещенным лоскутом в области одного зуба
        td 7000₽
      tr
        td Пластика при рецессии десны свободным соединительно-тканным трансплантантом из области нёба и других донорских зон ротовой полости (в области 1 зуба)
        td 9000₽
