section.akcii4-slider
  .container.akcii4-slider__container
    .akcii4-slider__wrapper
      h1.akcii4-slider__title Имплантация зубов - План лечения бесплатно
      .akcii4-slider__text
        p План лечения зубов бесплатно при имплантации зубов
      .akcii4-slider__button-block.akcii4-slider__button-block
        button.akcii4-slider__button.form__call-popup Записаться на прием
    .akcii4-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider4.webp")
        img(src="img/service-slider4.jpg" alt="")
