section.akcii4-slider
  .container.akcii4-slider__container
    .akcii4-slider__wrapper
      h1.akcii4-slider__title Скидка от 13% на профилактическую гигиену полости рта
      .akcii4-slider__text
        p Полный комплекс услуг за 5500 руб. включает:
        ul
          li Консультация врача-стоматолога;
          li Компьютерная томография;
          li Профилактическая гигиена зубов и полости рта
        p Акция на услугу профессиональной гигиены полости рта действует до 30 апреля 2022 года, в клинике, расположенной по адресу г. Уфа, ул. Кавказская, 6/6 (ООО "Риадент").
      .akcii4-slider__button-block.akcii4-slider__button-block
        button.akcii4-slider__button.form__call-popup Записаться на прием
    .akcii4-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider4.webp")
        img(src="img/akcii-slider4.jpg" alt="")
