section.akcii4-slider
  .container.akcii4-slider__container
    .akcii4-slider__wrapper
      h1.akcii4-slider__title Скидка 8% на профессиональную гигиену полости рта
      .akcii4-slider__text
        p Акция действует до 15 марта для мужчин и женщин
      .akcii4-slider__button-block.akcii4-slider__button-block
        button.akcii4-slider__button.form__call-popup Записаться на прием
    .akcii4-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider4.webp")
        img(src="img/akcii-slider4.jpg" alt="")
