section.akcii-benefit.akcii4-benefit
  .container.akcii-benefit__container
    .akcii-benefit__img
      .akcii-benefit__img-wrapper
        img(src="img/akcii-benefit-img.png" alt="")
    .akcii-benefit__text
      span Ваша выгода – от 2700 рублей
      p за лечение зубов
