section.akcii4-slider
  .container.akcii4-slider__container
    .akcii4-slider__wrapper
      h1.akcii4-slider__title Скидка 15% на профилактическую гигиену полости рта
      .akcii4-slider__text
        p Всем пациентам, записавшимся на проф. гигиену в день празднования – 20 марта получат скидку 15% на услугу профилактической гигиены полости рта. Получить процедуру можно в период с 20 марта по 20 апреля 2022 года в клинике по адресу: ул. Кавказская 6/8
      .akcii4-slider__button-block.akcii4-slider__button-block
        button.akcii4-slider__button.form__call-popup Записаться на прием
    .akcii4-slider__img
      picture
        source(type="image/webp" srcset="img/akcii-slider4.webp")
        img(src="img/akcii-slider4.jpg" alt="")
