section.zubnie-otlozheniya2
  .container.zubnie-otlozheniya2__container
    h2 Причины возникновения зубных отложений
    p Основной причиной появления зубных отложений является некачественная гигиена полости рта. Если вы чистите зубы недостаточно тщательно, или пропускаете чистки, то мягкий налёт постепенно отвердевает. А патогенная микрофлора, содержащаяся в налёте, провоцирует кариес и воспаление дёсен.
