section.zubnie-otlozheniya3
  .container.img-right__container
    .img-right__text
      h2 Как проходит процедура
      p Перед чисткой стоматолог оценивает степень поражения, и подбирает подходящий способ. Зубной камень удаляется ультразвуковым скалером, либо по методике air flow: поток воды, воздуха и абразивных частиц. В качестве профилактической меры идеально раз в полгода проходить профессиональную чистку зубов, которая не позволит скапливаться налёту. Зубные отложения часто становятся причиной развития гингивита, пародонтита и пародонтоза, поэтому своевременный уход важен, чтобы сохранить здоровье ваших зубов и дёсен.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/zubnie-otlozheniya2.webp")
        img(src="img/zubnie-otlozheniya2.jpg" alt="")
