section.zubnie-otlozheniya1
  .container.img-left__container
    .img-left__text
      h2 Снятие зубных отложений в стоматологической клинике «Риадент»
      p Зубные отложения — это частая проблема, которая может провоцировать воспаление дёсен и заболевания пародонта. Мягкий зубной налёт, образующийся ежедневно,человек может убрать самостоятельно при помощи обычной чистки зубов. Но если гигиена полости рта не соблюдается, либо проводится недостаточно тщательно, этот налёт может превратиться в бляшки, а затем в зубной камень. Зубной камень может удалить только стоматолог.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/zubnie-otlozheniya1.webp")
        img(src="img/zubnie-otlozheniya1.jpg" alt="")
