section.zubnie-otlozheniya4
  .container.zubnie-otlozheniya4__container
    h2 Снятие зубных отложений в Уфе
    p Стоматологическая клиника “Риадент” предлагает услуги снятия зубных отложений и профилактики их появления. Наша клиника оснащена передовым оборудованием, позволяющим проводить процедуры по новейшим методикам. Записывайтесь на консультацию! Мы находимся по адресу Кавказская 6/8.
