section.prices
  .container.prices__container
    h2.prices__title Цена зубных протезов на 8-ми имплантах (All-on-8), Уфа
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Имплантация
      tr
        td All-on-8
        td 360000₽
