section.prices
  .container.prices__container
    h2.prices__title Цены на имплантацию
    table.prices__table
      tr
        td Установка дентального импланта Dentium, Корея, хирургический этап
        td от 25000
      tr
        td Установка дентального импланта ICX, Германия, хирургический этап
        td от 25000
      tr
        td Установка дентального импланта NOBEL, Швеция, хирургический этап
        td от 50000
      tr
        td Установка системы all on 4 c немедленной нагрузкой с использованием имплантов Nobel, Швеция, хирургический этап
        td от 170000
      tr
        td Установка all on 6 c немедленной нагрузкой с использованием имплантов Nobel, Швеция, хирургический этап
        td от 250000
