section.implantaciya-zubov-pod-kluch3
  .container.implantaciya-zubov-pod-kluch3__container
    h2 Вид импланта
    p В стоматологии “Риадент” применяются имплантаты ICX (Германия) и Nobel Biocare (Швейцария). Оба производителя заслужили доверие имплантологов по всему миру благодаря высочайшему качеству и хорошим показателям приживаемости.
    p Выбор имплантата проходит совместно с пациентом на этапе планирования. При этом учитываются:
    ul
      li общая клиническая картина (например, структура и плотность костной ткани);
      li метод проведения имплантации (одноэтапная, одномоментная, All-on-4 или All-on-6);
      li бюджет пациента.
