section.implantaciya-zubov-pod-kluch12
  .container.img-left__container
    .img-left__text
      h2 Ортопедия-  коррекция зубов
      p Через несколько месяцев после вживления имплантата заглушка заменяется на формирователь десны. Он создаёт естественный контур вокруг имплантата, и носится в течение двух недель.
      p По истечению этого срока его заменят на временный абатмент. В это время по снятым заранее слепкам в лаборатории изготавливаются коронки или несъёмный протез, который затем фиксируют.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya-pod-kluch8.webp")
        img(src="img/implantaciya-pod-kluch8.jpg" alt="")
