section.implantaciya-zubov-pod-kluch9
  .container.img-right__container
    .img-right__text
      h2 Планирование лечения и имплантации 
      p Специалист составит подробный план лечения. В нём учитываются все детали — от угла наклона имплантата до типа коронки, которая будет установлена на него.
      strong Длительность: до 2-х дней.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya-pod-kluch5.webp")
        img(src="img/implantaciya-pod-kluch5.jpg" alt="")
