section.prices
  .container.prices__container
    h2.prices__title Имплантация зубов под ключ
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Имплантация зубов под ключ
      tr
        td Установка дентального импланта NOBEL
        td 35000₽
      tr
        td Установка формирователя десны NOBEL
        td 4500₽
      tr
        td Имплантация Dentium/Osstem (без коронки)
        td 20000₽
      tr
        td Установка формирователя десны стандартного
        td 2000₽
      tr
        td Установка дентального импланта ICX
        td 20000₽
      tr
        td Установка формирователя десны ICX
        td 2000₽
      tr
        td Взятие соединительно-тканного трасплантата с неба/бугра
        td 5000₽
      tr
        td Взятие слизисто-десневого трасплантата с неба
        td 14000₽
      tr
        td Закрытый синус-лифтинг
        td 15000₽
      tr
        td Открытый синус-лифтинг простой в области одного отсутствующего зуба
        td 33000₽
      tr
        td Открытый синус-лифтинг сложный в области двух и более зубов
        td 45000₽
      tr
        td Направленная костная регенерация в области одного импланта
        td 30000₽
      tr
        td Направленная костная регенерация по ширине в области двух и более зубов
        td 40000₽
      tr
        td Направленная костная регенерация по высоте без стоимости материала
        td 50000₽
      tr
        td Взятие аутогенной костной стружки из ретромолярной области
        td 2500₽
      tr
        td Удаление одного импланта простое
        td 5000₽
      tr
        td Удаление одного импланта сложное
        td 7000₽
