section.prices
  .container.prices__container
    h2.prices__title Стоимость удаления зуба мудрости
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Зубы мудрости
      tr
        td Удаление зуба мудрости
        td 5500
