section.service-slider.khirurgiya-slider
  .container.service-slider__container
    .service-slider__wrapper
      h1.service-slider__title Удаление зуба мудрости, запишитесь на консультацию к хирургу
      .service-slider__img
        picture
          source(type="image/webp" media="(min-width: 768px)" srcset="img/udalenie-zuba-mudrosti-slider.webp")
          source(type="image/webp" srcset="img/udalenie-zuba-mudrosti-slider-mobile.webp")
          source(media="(min-width: 768px)"  srcset="img/udalenie-zuba-mudrosti-slider.png" alt="")
          img(src="img/udalenie-zuba-mudrosti-slider-mobile.png" alt="")
      .service-slider__text
        ul
          li Гарантия качества работы
          li Безболезненно
          li Бесплатная консультация
      .service-slider__button-block
        button.service-slider__button.form__call-popup Записаться на прием
