section.udalenie-zuba-mudrosti4
  .container.udalenie-zuba-mudrosti4__container
    h2 Как проходит процедура удаления?
    .two-columns__columns
      .two-columns__column
        p Процедура может оказаться как простой, так и сложной. Простое хирургическое вмешательство продлится всего 3-9 минут. Процесс основан из нескольких этапов:
        ul
          li Сбор сведений, позволяющий правильно подобрать анестезию и исключить риски;
          li Инъекция индивидуально подобранного обезболивающего, которая действует спустя 5-8 минут;
          li Само удаление зуба: его извлекают, а образовавшаяся лунка обрабатывается противовоспалительным средством для снижения риска развития альвеолита;
          li Наложение швов (требуется не всегда), чтобы предотвратить кровотечение.
      .two-columns__column
        p Сложной операцией считается случай, когда зуб мудрости ещё не прорезался, либо если у него разрушена коронка, искривлены корни, либо сам зуб растёт с большим уклоном.
        p Перед такой операцией необходимо сделать рентген, чтобы стоматолог мог более чётко увидеть картину и спланировать ход процедуры заранее. После этого:
        ul
          li производится разрез десны;
          li костная ткань удаляется, либо же распиливается сам зуб;
          li обязательно накладываются швы.
        p Такая операция занимает от 25 минут до 2-х часов.
