section.udalenie-zuba-mudrosti3
  .container.udalenie-zuba-mudrosti3__container
    h2 Насколько болезненно удаление зуба мудрости?
    p Данный вопрос волнует большинство пациентов в первую очередь. Существует общепринятое мнение, что удаление зуба мудрости — невероятно болезненная процедура, требующая чуть ли не общего наркоза.
    p К счастью, это всего лишь миф, родившийся ещё в те времена, когда хирургическая стоматология не была столь развита, как в наши дни. Когда удалением зуба мудрости занимается профессиональный стоматолог, использующий передовое современное оборудование и правильно подобранную анестезию — болевых ощущений, скорее всего, и вовсе не возникнет.
    p Современные анестетики, применяемые стоматологами-хирургами, полностью исключают риск испытать боль при процедуре. Самое неприятное ощущение при удалении зуба в хорошей стоматологии — это инъекция обезболивающего.
    p Стоматологи способы добиться полного отсутствия боли даже если у пациента имеются гнойные воспаления. Конечно, операцию можно проводить и под общим наркозом, но такой подход требует применения крайне редко.
