section.udalenie-zuba-mudrosti1
  .container.img-left__container
    .img-left__text
      h2 Удаление зуба мудрости в клинике «Риадент»
      p Зубы мудрости, которые ещё называют восьмерками, в большинстве случаев не участвуют в жевательном процессе, и их вполне можно назвать лишними.
      p Поскольку они не несут пользы для функциональности, в современной стоматологии существует единогласное мнение, что их необходимо удалять хирургическим путём.
      p Именно благодаря удалению снижается риск развития различных нарушений.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
