section.udalenie-zuba-mudrosti6
  .container.img-right__container
    .img-right__text
      p К самым значимым факторам можно отнести именно последний. От профессионализма врача напрямую зависит сложность операции. Стоматологическая клиника “Риадент” предлагает своим пациентам услуги опытных стоматологов, которые постоянно обучаются и следуют за современными тенденциями в свой области. Клиника оснащена качественным и передовым оборудованием, в ней есть всё необходимое для проведения самых сложных стоматологических операций.
      p А это гарантирует, что удаление зуба мудрости не станет для вас неприятным испытанием, скорее, покажется рядовой процедурой.
      p Записывайтесь на консультацию в стоматологическую клинику “Риадент”, и убедитесь в этом сами!
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
