section.udalenie-zuba-mudrosti2
  .container.udalenie-zuba-mudrosti2__container
    h2 Когда необходимо удалить зуб мудрости?
    .two-columns__columns
      .two-columns__column
        p Существует большое количество показаний, согласно которым процедура удаления необходима. Их принято разделять на две категории — плановые и экстренные.
        p Срочное удаление требуется в следующих ситуациях:
        ul
          li наличие сильной зубной боли;
          li возникновение воспалительного процесса, нагноение, ведущие к возникновению перикоронарита и периостита;
          li осевой перелом, или перелом коронковой доли, не подлежащие ортопедическому лечению и пломбированию.
      .two-columns__column
        p Плановое удаление зубов мудрости применяется при:
        ul
          li неудачном расположении, вызывающем ранение полости рта или затрудняющем жевательную функцию;
          li наличии опухоли на челюсти;
          li травме механического типа;
          li необходимости ортодонтической терапии.
    p Несмотря на перечисленные показания, удалить восьмёрку можно и по желанию пациента, если нет противопоказаний.
