section.udalenie-zuba-mudrosti5
  .container.udalenie-zuba-mudrosti5__container
    h2 Сложности при удалении зубов мудрости
    .two-columns__columns
      .two-columns__column
        p Удаление восьмёрок — непростая задача, поскольку процедура выделяется рядом особенностей:
        ul
          li зубы мудрости располагаются в труднодоступных местах, что само по себе усложняет работу специалисту;
          li как правило, корневая система сильно искривлена;
          li нередко зубы уже вырастают с явными признаками эрозии.
      .two-columns__column
        p Сложность процедуры складывается из нескольких основных факторов, среди которых:
        ul
          li степень искривлённости и разветвления корня;
          li то, насколько зуб успел прорезаться;
          li уровень наклона в сторону;
          li квалифицированность и опыт стоматолога.
