section.sinus-lifting1
  .container.img-left__container
    .img-left__text
      h2 Что такое синус-лифтинг?
      p Если у пациента недостаточное количество костной ткани для вживления зубных имплантатов, ему показана операция по наращиванию дополнительной костной ткани на верхней челюсти. Это и есть синус-лифтинг.
      p В стоматологии данный метод применяется не так давно, но его результаты уже успели впечатлить специалистов. Преобладающая часть пациентов отлично переносит данную операцию, и уже через несколько месяцев у них появляется возможность устанавливать стержни из титана для коронок.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
