section.sinus-lifting9
  .container.sinus-lifting9__container
    h2 Возможны ли осложнения после синус-лифтинга?
    p К сожалению, пусть и редко, но бывают случаи осложнений после проведения операции. Среди них:
    ul
      li Повреждение слизистой оболочки;
      li Недостаточная эффективность операции;
      li Обострение хронического гайморита.
    p Данные осложнения не столь тяжёлые, как может показаться на первый взгляд, и вполне устранимы при помощи соответствующего лечения. Особенно, если вы под наблюдением профессиональных стоматологов.
    p Несмотря на кажущуюся сложность синус-лифтинга, данная операция считается абсолютно безопасной и комфортной. И пройти через неё стоит, потому что результатом становится новая, красивая, белоснежная улыбка, которая будет с вами до конца жизни.
    p Стоматологическая клиника “Риадент” гарантирует вам помощь в обретении этой улыбки, вне зависимости от вашего случая. Записывайтесь на консультацию стоматолога в Уфе!
