section.sinus-lifting8
  .container.sinus-lifting8__container
    h2 Как проводится синус-лифтинг?
    p Латеральный метод операции проводится с применением местной анестезии. Это является большим преимуществом, особенно для пациентов, которым по каким-либо причинам не подходит общий наркоз.
    p Также благодаря этому сокращается длительность операции и уменьшается её стоимость.
    p В начале операции происходит блокировка нервных окончаний верхней челюсти при помощи анестетика. После того, как обезболивание подействовало, хирурги принимаются за самую главную часть операции: получение доступа к пазухам верхней челюсти. Над областью установки имплантатов в кости проделывается небольшое отверстие, которое заполняется материалом для стимуляции образования костной ткани.
    p Операция не несёт за собой долгого периода реабилитации. Единственным неудобством может стать только отёк лица. Специалисты дают пациенту важные рекомендации на период восстановления.
