section.sinus-lifting6
  .container.sinus-lifting6__container
    h2 Методики латерального синус-лифтинга
    p У данной операции существует множество усовершенствований и методов проведения. Среди них даже встречаются:
    ul
      li эндоскопический;
      li балонный;
      li ультразвуковой.
    p Но более надёжным и проверенным всё же считается классический метод проведения, при котором не затрагивается слизистая.
