section.sinus-lifting5
  .container.sinus-lifting5__container
    h2 Когда нельзя проводить операцию?
    p Синус-лифтинг противопоказан, если у пациента:
    ul
      li обострение гайморита;
      li опухоли в соседних тканях;
      li аутоиммунные заболевания;
      li частое табакокурение (более 2-х пачек в день);
      li недавно была операция гайморовых пазух;
      li прохождение лучевой или химиотерапии.
    p Важно отметить, что при любой слабости организма и понижению скорости восстановительных процессов хирургическое вмешательство крайне нежелательно.
