section.sinus-lifting4
  .container.img-right__container
    .img-right__text
      h2 Диагностика для проведения синус-лифтинга
      p Перед любой имплантацией проводится 3D-томография. Благодаря этому исследованию специалисты получают более точную визуализацию, и могут подробнее изучить гайморовые пазухи пациента. Также становятся видны и особенности строения челюсти, и врач может измерить толщину кости. Если толщина менее 1 см, необходим синус-лифтинг.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
