section.sinus-lifting2
  .container.sinus-lifting2__container
    h2 Кому необходима данная операция?
    p В современном мире существует замечательная возможность при потере зуба установить качественные имплантаты, но, к сожалению, не всем пациентам это доступно. Случается такое,что на верхней челюсти не хватает костной ткани. При подобных показателях имплантат либо вообще невозможно установить, либо он не будет долго держаться. И если раньше стоматологи были вынуждены отказывать пациентам с такой проблемой в имплантации,то сейчас стало вполне реальным исправить эту ситуацию.
