section.sinus-lifting7
  .container.img-left__container
    .img-left__text
      h2 Когда можно устанавливать имплантаты после операции?
      p Нередко возможны случаи, когда имплантация возможна сразу после проведения синус лифтинга. Это зависит от размеров альвеолярного отростка — если его толщина 5 мм и более, имплантация разрешена. Но в ином случае необходимы две операции с перерывом в 3-4 месяца.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
