section.sinus-lifting3
  .container.sinus-lifting3__container
    h2 Разновидности синус-лифтинга
    p Данная операция делится на два способа проведения: вертикальный и латеральный.
    .two-columns__columns
      .two-columns__column
        p <strong>Вертикальный</strong> синус-лифтинг (его ещё называют закрытым) проводится через лунку имплантата при помощи специального хирургического инструмента — остеотома. Это достаточно редкая операция, которая бывает нужна лишь в отдельных ситуациях.
      .two-columns__column
        p <strong>Латеральный</strong> синус-лифтинг, в отличие от первого вида, это стандартная операция, которая и проводится в подавляющем большинстве случаев. Выполняется при помощи бокового доступа в пазухи верхней челюсти.
