section.lechenie-kisty3
  .container.lechenie-kisty3__container
    h2 Особенности лечения передних зубов
    p Наши стоматологи имеют большой опыт в лечении зубов на разной стадии запущенности. Если Ваш зуб очень запущен, то не обязательно его нужно удалять. Приезжайте к нам, за осмотр зубов и консультацию мы денег не берем!
    .two-columns__columns
      .two-columns__column
        h3 1 метод
        p Первый метод без разреза десны. Сверлится зуб, удаляется нерв, очищаются каналы и ложатся лекарства. Данное лекарство высасывает кисту. Далее все прочищается и пломбируется.
      .two-columns__column
        h3 2 метод
        p Резекция. Хирург – стоматолог разрезает десну, срезает кончик корня зуба и вместе с ним убирает кисту. Далее оставляет там костную ткань.
