section.lechenie-kisty1
  .container.img-left__container
    .img-left__text
      h2 Лечение кисты в «Риадент»
      p «Киста» – представляет собой пузырь, который заполнен гнойной жидкостью.
      p Киста зуба (одонтогенная киста) наблюдается обычно на кончике корня заболевшего зуба. Если киста только появилась и не успела увеличится в размерах, то в этом случае ее можно вылечить. Если же ее не лучить, то киста имеет свойство увеличиваться в размерах и это приводит к удалению зуба.
      p Избавиться от дефектов вам поможет эстетическая реставрация зубов в стоматологической клинике “Риадент”!
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
