section.lechenie-kisty2
  .container.three-items__container
    h2.three-items__title Как убирают кисту зуба у нас
    p В зависимости от запущенности зуба у нас есть три метода для удаления кисты зуба. В самом начале делается снимок, который может нам показать какой метод лечения Вам подходит.
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/lechenie-kisty2.jpg" alt="")
        h3 Лечение кисты с удалением зуба
        p Врач стоматолог делает анестезию и удаляет Вам зуб. Далее десна очищается от кисты и дезинфицируется.
      .three-items__item
        .three-items__img
          img(src="img/lechenie-kisty3.jpg" alt="")
        h3 Резекция. Разрезание десны.
        p В самом начале делается снимок. Дальше делаем анестезию, врач-стоматолог делает разрез в десне и срезая кончик корня зуба вытаскивает вместе с ним саму кисту. А на ее место ставит специальную костную ткань.
      .three-items__item
        .three-items__img
          img(src="img/lechenie-kisty4.jpg" alt="")
        h3 Удаление кисты зуба без разреза десны.
        p Удаляется больной нерв, очищаются каналы и все пространство заполняется специальным лекарством. Которое в свою очередь доходит до самой кисты и высасывает ее. Данный метод не может гарантировать Вам 100% результат.
