section.lechenie-kisty4
  .container.lechenie-kisty4__container
    h2 Больные зубы нужно лечить
    p В стоматологической клинике “Риадент” специалисты проводят рентгенографию на каждом этапе лечения. Это позволяет получать развёрнутую информацию о ходе лечения, отслеживать его качество и остановить воспалительный процесс.
    p С помощью современных методик вероятность повторного проявления кисты зуба сводится к минимуму, в том случае если была проведена резекция.
    p После удаления кисты зуба пациент может ощущать небольшой дискомфорт, вызванный механическим воздействием на ткани зуба и дёсен. Может возникнуть легкий отёк тканей.
