section.prices
  .container.prices__container
    h2.prices__title Стоимость лечения кисты в «Риадент»
    table.prices__table
      tr
        td.prices__maintd(colspan="2") Лечение кисты
      tr
        td Удаление ретенционной кисты слюнной железы
        td 5000
      tr
        td Вылущивание гранулемы / кисты
        td 1100
