section.luminiry2
  .container.three-icons__container
    h2 Преимущества установки люминиров в стоматологии «Риадент»
    .three-icons__list
      .three-icons__item
        .three-icons__img
          svg(width="47" height="28")
            use(xlink:href="img/sprite.svg#viniry-icon1")
        .three-icons__text
          span Естественный вид
      .three-icons__item
        .three-icons__img
          svg(width="44" height="43")
            use(xlink:href="img/sprite.svg#viniry-icon2")
        .three-icons__text
          span Стойкость
      .three-icons__item
        .three-icons__img
          svg(width="40" height="42")
            use(xlink:href="img/sprite.svg#viniry-icon3")
        .three-icons__text
          span Долговечность
      .three-icons__item
        .three-icons__img
          svg(width="47" height="33")
            use(xlink:href="img/sprite.svg#viniry-icon4")
        .three-icons__text
          span Без зубного налёта
      .three-icons__item
        .three-icons__img
          svg(width="43" height="46")
            use(xlink:href="img/sprite.svg#viniry-icon5")
        .three-icons__text
          span Ровные зубы без щелей
      .three-icons__item
        .three-icons__img
          svg(width="46" height="26")
            use(xlink:href="img/sprite.svg#viniry-icon6")
        .three-icons__text
          span Сохранение структуры зуба
