section.luminiry5
  .container.luminiry5__container
    h2 Этапы установки люминиров
    p Накладки устанавливаются в несколько этапов. Процедура проходит по такой приблизительной схеме:
    ul
      li осмотр и лечение при наличии стоматологических заболеваний, которые являются противопоказаниями к установке;
      li подбор подходящего оттенка материала;
      li снятие слепков для изготовления протезов;
      li закрепление изготовленных пластин при помощи специального клея.
    p Единственное неудобство – необходимость ждать изготовления микропротезов. Сама процедура является безболезненной для пациента и проходит быстро. В стоматологии «Риадент» вы попадете в руки опытных врачей, результатом работы которых останетесь более чем довольны. С нами установка люминиров на зубы в Уфе пройдет гладко и безболезненно!
