section.khirurgiya1
  .container.img-left__container
    .img-left__text
      h2 Хирургическая стоматология в Уфе
      p Больше не нужно беспокоиться о том, что улыбка выглядит несовершенной! Даже отсутствие зуба не может ограничить возможность общения, ведь на помощь всегда готова прийти хирургическая стоматология – лучший способ вновь сделать улыбку безупречной.
      p Современная хирургическая стоматология в стоматологической клинике “Риадент” в Уфе – это широкий выбор возможностей сохранить красоту улыбки, и больше не переживать о дискомфорте, доставляемом недостатками или дефектами зубного ряда!
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
