section.khirurgiya2
  .container.img-right__container
    .img-right__text
      h2 В каких случаях нужна хирургическая стоматология
      p Причин для операционного вмешательства довольно много. Операция на зубы показана при наличии таких проблем:
      ul
        li дистопированный и ретинированный зуб;
        li сильно разрушенная поддесневая или коронковая часть;
        li значительная подвижность зубов на фоне тяжелого пародонтита;
        li перелом зубного корня;
        li затрудненное прорезывание;
        li ортодонтические показания;
        li перикоронарит и т.д.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
