section.viniry1
  .container.img-left__container
    .img-left__text
      h2 Виниры для зубов от стоматологии «Риадент»
      p Как вы думаете, каждая ли публичная личность исправляла прикус и отбеливала зубы для шикарной голливудской улыбки?
      p Представьте себе – нет! На самом деле белоснежную и идеально ровную улыбку они смогли создать с помощью современной техники, которая теперь доступна каждому пациенту стоматологии Риадент в Уфе!
      p <strong>Виниры</strong> – это специальные пластинки на зубы, которые изготавливаются из особо прочных материалов, повторяющих прозрачность и цвет естественной эмали зуба. Установка этих пластинок позволяет добиться желаемого эстетического результата без использования брекет-системы и отдельного отбеливания зубов.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/viniry1.webp")
        img(src="img/viniry1.jpg" alt="")
