section.service-slider.viniry-slider
  .container.service-slider__container
    .service-slider__wrapper
      h1.service-slider__title Установка виниров в стоматологической клинике «Риадент»
      .service-slider__img
        picture
          source(type="image/webp" media="(min-width: 768px)" srcset="img/viniry-slider.webp")
          source(type="image/webp" srcset="img/viniry-slider-mobile.webp")
          source(media="(min-width: 768px)"  srcset="img/viniry-slider.png" alt="")
          img(src="img/viniry-slider-mobile.png" alt="")
      .service-slider__text
        ul
          li Без обточки
          li Без боли
          li Без стресса
      .service-slider__button-block
        button.service-slider__button Записаться на прием
