section.viniry4
  .container.three-images__container
    h2 Кому подходят виниры
    p Виниры устанавливают в случаях, когда дефекты полости рта нельзя устранить с помощью стоматологического лечения зубов. К таким дефектам можно отнести:
    .three-images__list
      .three-images__item
        .three-images__img
          picture
            source(type="image/webp" srcset="img/viniry4-1.webp")
            img(src="img/viniry4-1.jpg" alt="")
        .three-images__text
          span Хочет идеальную белоснежную улыбку
      .three-images__item
        .three-images__img
          picture
            source(type="image/webp" srcset="img/viniry4-2.webp")
            img(src="img/viniry4-2.jpg" alt="")
        .three-images__text
          span Трещины, сколы или стёртость эмали
      .three-images__item
        .three-images__img
          picture
            source(type="image/webp" srcset="img/viniry4-3.webp")
            img(src="img/viniry4-3.jpg" alt="")
        .three-images__text
          span Слишком заметные пломбы на фронтальной стороне зуба
      .three-images__item
        .three-images__img
          picture
            source(type="image/webp" srcset="img/viniry4-4.webp")
            img(src="img/viniry4-4.jpg" alt="")
        .three-images__text
          span Нарушение цвета эмали
      .three-images__item
        .three-images__img
          picture
            source(type="image/webp" srcset="img/viniry4-5.webp")
            img(src="img/viniry4-5.jpg" alt="")
        .three-images__text
          span Неправильную форму зуба
      .three-images__item
        .three-images__img
          picture
            source(type="image/webp" srcset="img/viniry4-6.webp")
            img(src="img/viniry4-6.jpg" alt="")
        .three-images__text
          span Щель между зубами
    p Установка виниров в стоматологии “Риадент” на Кавказской позволяет восстановить эстетический вид зубов при хронических заболеваниях, а также заменить привычное отбеливание зубов.
