section.viniry5
  .container.viniry5__container
    h2 Сравнение виниров и люминиров
    table.viniry5__table
      thead
        tr
          td Параметр
          td Виниры
          td Люминиры
      tbody
        tr
          td Толщина
          td 0,5-0,7 мм
          td 0,3 мм
        tr
          td Срок службы
          td около 20 лет
          td около 20-25 лет
        tr
          td Установка
          td нужна консультация врача
          td за 2 посещения
        tr
          td Цена
          td Виниры дешевле в установке
          td Люминиры сделаны из дорогостоящих материалов, поэтому потребуют несколько больших вложений в красоту улыбки
