section.viniry6
  .container.viniry6__container
    h2 Этапы установки виниров
    p В зависимости от того, какой тип накладок выбрал пациент, отличается и процесс установки. Разберёмся подробнее. Если пациент предпочёл фарфоровые либо циркониевые виниры, то их установка состоит из следующих этапов:
    ul
      li Консультация врача. Первичный приём стоматолога, на котором происходит исследование полости рта на выявление заболеваний и патологий с последующим лечением
      li Подбор подходящего материала
      li Снимок челюсти для детального изучения перед процедурой
      li Обточка зубов перед установкой. Это обязательный этап, которого не нужно бояться. Снимается небольшой слой эмали с фронтальной стороны зуба. В среднем толщина обточки составляет менее 0,5 мм
      li Снятие слепков зубов для изготовления накладок
      li Защита обработанной поверхности с помощью фиксации временных пластинок
      li Изготовление накладок. Фарфоровые накладки появляются благодаря методу литьевого прессования или послойного нанесения
      li Установка пластинок с помощью цементной пасты, подобранной по оттенку зубов пациента
