section.ultrazvukovaya-chistka5
  .container.ultrazvukovaya-chistka5__container
    h2 Как выполняется ультразвуковая чистка зубов 
    p Для выполнения процедуры стоматологи используют специальный лазерный аппарат. Он называется скалер. Характеристики колебаний лазера (в частности, их частота и амплитуда) просчитываются заранее так, чтобы воздействие позволило разрушить твердые отложения, а затем смыть их с помощью водяного тумана.
    p Скалер имеется изогнутые либо округленные насадки. Стоматолог движет ими по поверхности зубов пациента. Насадки являются неострыми – они не врезаются в зубную поверхность и не причиняют ни малейшего вреда. В их задачу входить сбить твердые отложения.
    p Этап воздействия скалером называется механическим. По его завершении стоматолог использует специальные ручные инструменты, чтобы удалить остатки отложений. Форма инструментов повторяет форму зубов, благодаря чему стоматолог получает доступ к труднодоступным местам и может безболезненно для пациента удалить мелкие отложения.
    p На следующем этапе выполняется полировка. Она позволяет придать эмали гладкости. При полировке применяется специальная насадка в виде небольшой эластичной чаши, которая заполнена специальной пастой.
    p Завершающий этап – фторирование. Используются пены и гели, имеющие в своем составе фтор. Их наносят на зубную поверхность, чтобы защитить и укрепить эмаль.
    p Каждый из этапов является безболезненным. На выполнение всех этапов необходимо в среднем около часа. Специалисты стоматологической клиники «Риадент» обладают большим опытом использования скалеров. Наша стоматология располагает наиболее прогрессивным лазерным оборудованием, применение которого позволяет достигать максимальных результатов.
    p Позаботьтесь о своем здоровье – запишитесь на прием к специалистам Центра Имплантации и Протезирования «Риадент» ! Доступные цены на ультразвуковую чистку зубов вас приятно порадуют.
