section.ultrazvukovaya-chistka3
  .container.img-right__container
    .img-right__text
      h2 Вредно ли выполнять чистку зубов ультразвуком
      p Процедура является совершенно безопасной и даже полезной для здоровья зубов. Тем не менее к ее выполнению имеется несколько противопоказаний. Она не проводится, если пациент:
      ul
        li является ребенком или подростком, у которого меняется прикус;
        li находится на 1-м триместре беременности;
        li носит ортопедические конструкции, имеет имплантаты;
        li страдает острыми респираторными заболеваниями;
        li страдает от гиперчувствительности зубов.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/ultrazvukovaya-chistka2.webp")
        img(src="img/ultrazvukovaya-chistka2.jpg" alt="")
