section.ultrazvukovaya-chistka1
  .container.img-left__container
    .img-left__text
      h2 Ультразвуковая чистка зубов в стоматологии «Риадент»
      p Ищете стоматологию, в которой ультразвуковая чистка зубов в Уфе выполняется качественно? Воспользуйтесь услугами «Риадент»! Вы обязательно оцените результат, а цены приятно удивят! Запишитесь на прием по телефону +7(347)2252502.
      p Ультразвуковая чистка зубов является одной из наиболее востребованных стоматологических услуг. Ее рекомендуется осуществлять перед любыми лечебными и восстановительными процедурами, а также в качестве эффективной профилактики.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
