section.ultrazvukovaya-chistka2
  .container.ultrazvukovaya-chistka2__container
    h2 Для чего делать  ультразвуковую чистку зубов
    p Процедура подразумевает устранение зубного налета и камня посредством применения специального оборудования – ультразвукового лазера. Она преследует те же цели, что механическая очистка, однако обладает одним важнейшим преимуществом – это полная безопасность.
    p Зубной камень является твердым образованием, при удалении которого механическим методом может пострадать эмаль. Если же воздействие осуществляется за счет ультразвука, риск повреждения отсутствует. При этом процедура является максимально комфортной для пациента и, как правило, совершенно безболезненной.
    p Стоимость ультразвуковой чистки зубов можно назвать невысокой, а потому такую профилактику может себе позволить большинство людей. Выполнять ее рекомендуется каждые 6-12 месяцев. Это позволяет:
    ul
      li избавиться от зубного налета;
      li удалить зубной камень;
      li очистить пародонтальные карманы;
      li осветлить эмаль на пару тонов.
