section.ultrazvukovaya-chistka4
  .container.ultrazvukovaya-chistka4__container
    h2 Почему ультразвуковую чистку зубов надо выполнять регулярно
    p Очистка при помощи ультразвука неслучайно стала популярной стоматологической услугой. Пройти ее стоит по ряду весьма веских причин:
    ul
      li идеальная профилактика всевозможных заболеваний ротовой полости. Процедура позволяет не просто устранить налет и зубной камень, предотвратив тем самым множеством проблем (от кровоточивости десен до болезней пародонта). Она также способствует поддержанию в ротовой полости здоровой микрофлоры, устранению вредоносных бактерий;
      li если зубы здоровые, ваша улыбка будет красивой. Таким образом, чистка ультразвуком позволяет добиться более эстетичного внешнего вида, восстановить природный цвет зубной эмали, что, безусловно, каждому добавит уверенности в себе;
      li возможность повысить эффективность лечения зубов. Наличие зубного камня и налета способно существенно ухудшить результат. Избавление от вредных отложений положительно повлияет на долгосрочность результатов лечебных процедур.
