section.lechenie-gingivita2
  .container.lechenie-gingivita2__container
    h2 Причины возникновения
    p Основная причина развития гингивита — бактерии, которые размножаются в условиях долгого присутствия зубного налёта. Но могут влиять и другие факторы:
    ul
      li недостаток витамина C;
      li снижение иммунитета;
      li заболевания ЖКТ;
      li курение;
      li прорезывание зубов у детей;
      li травмы, ожоги, облучение;
      li неправильное питание;
      li нарушения прикуса.
    p Часто гингивит является лишь проявлением других заболеваний полости рта, или организма в целом.
