section.lechenie-gingivita1
  .container.img-left__container
    .img-left__text
      h2 Лечение гингивита в стоматологической клинике «Риадент», Уфа
      p <strong>Гингивит</strong> — это воспаление слизистой оболочки дёсен. Первым симптомом обычно является их повышенная чувствительность и незначительная кровоточивость. Привычка игнорировать первые проявления и откладывать посещение стоматолога может привести к развитию заболевания, которое в запущенной форме перерастает в пародонтит. Не стоит откладывать лечение, тем более, вылечить гингивит несложно.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/lechenie-gingivita1.webp")
        img(src="img/lechenie-gingivita1.jpg" alt="")
