section.lechenie-gingivita4
  .container.img-right__container
    .img-right__text
      h2 Диагностика и лечение
      p Для выявления гингивита достаточно стандартного осмотра у стоматолога. Но для выяснения причины могут потребоваться консультации с пародонтологом и терапевтом.
      p Гингивит лечится местными методами. Пациенту будут назначены:
      ul
        li чистка зубного камня;
        li полоскания антисептическими растворами;
        li препараты для повышения иммунитета.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
