section.lechenie-gingivita3
  .container.lechenie-gingivita3__container
    h2 Симптомы и виды гингивита
    .two-columns
      .two-column
        p Как проявляется гингивит, зависит от его разновидности.
        ul
          li Катаральный (острый) гингивит характеризуется покраснением и опуханием десны, дискомфортом и болью при жевании;
          li Хронический гингивит может никак не проявлять себя: в некоторых случаях отмечается лишь разрастание тканей дёсен (гиперплазия). Но воспаление всё равно происходит.
      .two-column
        p Хронический гингивит также может быть:
        ul
          li Гипертрофическим;
          li Гипотрофическим;
          li Язвенным.
    p Важно не игнорировать любые внезапно возникшие проблемы в полости рта. Ведь проще вылечить заболевание в зачатке, чем восстанавливать потерянный зуб, либо проходить долгое и сложное лечение.
