section.lechenie-gingivita4
  .container.lechenie-gingivita4__container
    h2 Диагностика и лечение
    p Для выявления гингивита достаточно стандартного осмотра у стоматолога. Но для выяснения причины могут потребоваться консультации с пародонтологом и терапевтом.
    p Гингивит лечится местными методами. Пациенту будут назначены:
    ul
      li чистка зубного камня;
      li полоскания антисептическими растворами;
      li препараты для повышения иммунитета.
    p При наличии болевых ощущений стоматолог выпишет анальгетики. Если отмечается разрастание тканей, будет проведена гингивэктомия — небольшая операция по удалению участков десны.
    p Лечение простое и эффективное. Главной целью стоматолога и пациента является своевременность лечения, чтобы не допустить развития пародонтита — опасной патологии, приводящей к выпадению зубов.
    p Доверить лечение гингивита в Уфе вы можете стоматологической клинике «Риадент». Записывайтесь на приём! Ждём вас по адресу Кавказская 6/8.
