section.otbelivanie-zubov1
  .container.img-left__container
    .img-left__text
      h2 Отбеливание зубов в стоматологии «Риадент» в Уфе
      p Думаете, что стоимость отбеливания зубов в Уфе слишком высокая? Стоматологическая клиника «Риадент» докажет: это не так! Наша стоматология может предложить всевозможные методики, среди которых вы обязательно найдете подходящую! Записывайтесь на прием по телефону +7 (347) 225-25-02.
      p Белозубая улыбка – один из символов красоты. Однако редкие счастливчики получают такой дар от природы. Зачастую для того, чтобы добиться привлекательного оттенка зубной эмали, нужно приложить немало усилий. К счастью, современная эстетическая стоматология находится на высочайшем уровне развития, а потому может решить проблему потемнения зубов, какой бы ни была его причина.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
