section.otbelivanie-zubov6
  .container.otbelivanie-zubov6__container
    h2 Показания и противопоказания для  отбеливания зубов
    p Необходимо сказать следующее: медицинских показаний для проведения отбеливающих процедур не существует. Они выполняются по желанию пациентов, которые не удовлетворены цветом своих зубов и испытывают связанный с этим психологический дискомфорт.
    p Некоторые пациенты желают вернуть зубам утраченный природный оттенок. Другие стремятся к знаменитой глянцевой «голливудской» улыбке. Так или иначе, отбеливание зубов в стоматологии на нынешнем этапе ее развития позволяет добиться желаемого результата в обоих случаях.
    p Задумываясь над тем, не отбелить ли зубы, важно узнать о существующих противопоказаниях. Их перечень можно назвать относительно небольшим:
    ul
      li <strong>стоматологические заболевания</strong> – кариес, пародонтоз, воспаления (гингивит, пародонтит и др.);
      li <strong>наличие глубоких трещин</strong>;
      li <strong>наличие на передних зубах скоб, пломб, различных протезных конструкций</strong>;
      li <strong>период беременности и лактации</strong>;
      li <strong>аллергия на компоненты использующихся отбеливающих составов</strong>.
    p Хронические заболевания чаще всего не представляют собой помехи. Если у пациента наблюдается онкологическое заболевание, решение принимается индивидуально. Это же справедливо тогда, когда пациент не достиг возраста совершеннолетия. В этом случае, при отсутствии других противопоказаний, процедура может быть выполнена с согласия родителей.
