section.otbelivanie-zubov2
  .container.img-right__container
    .img-right__text
      h2 Сделаем улыбку ослепительной, а жизнь яркой!
      p Белоснежная улыбка всегда вызывает восторг и располагает к себе собеседника. Ведь белизна зубов является признаком здоровья и красоты.
      p Zoom 4 – это лучшая и безопасная система отбеливания зубов, признанная во всем мире! Она позволяет осветлить эмаль до 12 разных оттенков белого менее всего за 45 минут!
    .img-right__img
      picture
        source(type="image/webp" srcset="img/otbelivanie-zubov2.webp")
        img(src="img/otbelivanie-zubov2.jpg" alt="")
