section.otbelivanie-zubov5
  .container.otbelivanie-zubov5__container
    h2 Этапы работы
    p Формула отбеливающего геля запатентована производителем Philips. Именно этот гель позволяет добиться желаемых результатов отбеливания всего за один приём.
    ul
      li <strong>1 этап</strong>. Консультация с врачом. Стоматолог обязан провести осмотр зубной полости, чтобы убедиться в здоровье зубов. При необходимости применяется санация полости рта и удаление зубного камня. Подбор цвета. Чтобы добиться естественного оттенка, специалист с помощью цветовой шкалы определяет природной цвет эмали пациента и подбирает для него индивидуальный тон белизны.
      li <strong>2 этап</strong>. Сначала проводятся мероприятия, направленные на защиту мягких тканей полости рта.
      li <strong>3 этап</strong>. На зубную эмаль наносится специальный гель, состоящеий из двух компонентов. Далее примененяют LED-лампы с воздействием света, который активирует компоненты, находящиеся в составе основного вещества. Врач настраивает световой индикатор по индивидуальным желаниям клиента. Регулируется направленность и интенсивность потока света.
      li <strong>4 этап</strong>. Гель наносят еще раз на поверхность эмали и активируют потоком света. Происходит высвобождение кислорода. Кислород проникает в структуру эмали и нейтрализует пятна коричневого и жёлтого цвета. В результате эмаль осветляется на 8-12 тонов.
      li <strong>5 этап</strong>. Для снижения чувствительности эмали обрабатывают восстанавливающим составом.
