section.otbelivanie-zubov3
  .container.otbelivanie-zubov3__container
    h2 Как и почему темнеют зубы
    p Зубные ткани содержат фторсодержащие минералы. Они отличаются высокой плотностью, твердостью, стойкостью к химическому воздействию, а потому не вступают в реакцию с пигментами.
    p Однако бактерии, находящиеся в ротовой полости, выделяют кислоты. Под их воздействием фтор вымывается. При чистке зубов его недостаток восполняется, но это происходит далеко не всегда.
    p В отличие от зубной эмали, дентин является пористой тканью. При стирании эмали до дентина мельчайшие частицы красителей будут постепенно заполнять поры. Это приводит к потере естественной белизны и гладкости зубов.
    p По каким причинам такое может происходить? Таких причин огромное количество. Вот лишь основные из них:
    ul
      li <strong>нарушение правил личной гигиены</strong> – недостаточно частая или недостаточно тщательная чистка зубов, использование некачественных паст и щеток;
      li <strong>курение</strong> – смолы, которые содержатся в табачном дыме, постепенно окрашивают зубы в желтый, а затем коричневый цвет;
      li <strong>частое употребление продуктов и напитков, которые содержат красящие вещества</strong> – кофе, чай, вино, ягодные соки, сладости и газированные напитки с синтетическими красителями, шоколад, соевый соус, свекла;
      li <strong>злоупотребление сладостями</strong>, способствующее развитию кариеса, и, собственно, кариозные изменения;
      li <strong>неправильное эндодонтическое лечение</strong> (в частности, использование устаревших пломбировочных материалов);
      li <strong>механическая травма зуба</strong>, вследствие которой повреждается сосудисто-нервный пучок;
      li <strong>длительный прием ряда лекарственных препаратов</strong> (в частности, тетрациклина);
      li <strong>наличие эндемического флюороза</strong> – заболевания, характерного для жителей регионов, где наблюдается повышенное содержание фтора в питьевой воде;
      li <strong>наличие ряда системных либо генетических заболеваний</strong>.
