section.otbelivanie-zubov7
  .container.otbelivanie-zubov7__container
    h2 Отбеливание  домашнее или кабинетное
    p Вот что необходимо знать тем, кто решился пройти отбеливание зубов: виды и цены могут быть очень разными. Это позволяет подобрать оптимальную методику пациентам с практически любым бюджетом.
    p В первую очередь пациенту необходимо определиться с тем, будет отбеливание домашним или профессиональным (кабинетным). Сразу нужно сказать, выполнение процедур в домашних условиях не означает бесконтрольность. Их в любом случае должен контролировать стоматолог.
    p Говоря о домашнем отбеливании, не стоит брать во внимание возможность применения отбеливающих паст и распространенных народных методов. Отказаться от таких способов стоит по ряду веских причин:
    ul
      li процедуры отнимают много времени;
      li должный эффект отсутствует;
      li некоторые методы являются небезопасными для здоровья.
    p Таким образом, в домашних условиях отбеливать зубы стоит лишь при помощи специальных капп. Они бывают стандартными и индивидуальными. Такие каппы наполнены гелем. Концентрация отбеливающего вещества низкая:
    ul
      li перекись водорода – 4-7,5%;
      li перекись карбамида – 10-15%.
    p Пациенту необходимо носить каппы тот период времени, который определяет врач. Как правило, это 2-3 недели по 4-6 часов ежедневно. Однако все сроки нужно определять строго индивидуально, поскольку важнейшее значение имеет состояние полости рта.
    p Преимуществом использования капп является простота метода, возможность самостоятельно выбрать время и место для выполнения процедуры – каппы можно носить днем или ночью, дома или на работе. Однако у такого способа достаточно минусов:
    ul
      li требуется много времени, чтобы увидеть результат;
      li результат является менее длительным;
      li существует риск аллергической реакции и раздражений слизистых рта;
      li результат отбеливания невозможно предугадать с точностью.
    p Всех этих недостатков лишено профессиональное отбеливание, которое выполняется непосредственно в стоматологическом кабинете. Используемые методики дают быстрый ощутимый результат, а постоянный врачебный контроль сводит к минимуму риски.
    p Цены на профессиональное отбеливание зубов могут быть различными. Все зависит от выбранного способа. Все их можно разделить на две большие категории – механические и химические.
