section.otbelivanie-zubov4
  .container.img-left__container
    .img-left__text
      h2 Медицинское отбеливание зубов в Уфе с Zoom 4
      p Благодаря многолетним наработкам Zoom 4 стала настоящим прорывом в эстетической стоматологии!
      p Система была разработана с учётом всех недостатков своих предшественников, поэтому качественно превосходит аналоги процедуры.
      p Главным компонентом системы является отбеливающий гель, способный осветлить любую эмаль.
      p Свойства геля активируются под воздействием световой волны, создающейся с помощью специальной лампы. В стоматологии Риадент на Кавказской для этого используется оборудование марки Philips. Во время процедуры под лампой выделяется активный кислород, который проникает в самую глубь эмали. Он вступает в реакцию с естественным пигментом. Красящее вещество при этом становится прозрачным, а эмаль – отбеливается.
      p В Уфе воспользоваться уникальной системой отбеливания Zoom 4 возможно в стоматологии “Риадент”.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
