section.otbelivanie-zubov8
  .container.otbelivanie-zubov8__container
    h2 Механическое отбеливание зубов  при помощи профессиональной чистки
    p Как понятно из названия, отбеливание выполняется механически при помощи специального оборудования. Оно не предполагает использования отбеливающих химических составов. Это отличный вариант для тех, кто хочет восстановить природный оттенок зубной эмали. Наиболее востребованные, результативные, современные методы – это ультразвуковая чистка и Air Flow.
    p Ультразвуковая чистка выполняется при помощи специального стоматологического аппарата – скалера. Он представляет собой ультразвуковой лазер. Ультразвук, воздействуя на твердые образования, разрушает их, не затрагивая эмаль. Метод является безболезненным для пациента и безопасным для его здоровья.
    p Ультразвуковая профессиональная чистка позволяет устранить зубной камень и налет. Вследствие этого зубы светлеют на 1-2 тона, приобретая свой природный оттенок.
    p Подобным методом отбеливаются зубы при помощи Air Flow. Это вид профессиональной чистки, при которой используется специальный пескоструйный аппарат. Из него под давлением подается струя, состоящая из воды, воздуха и абразивного вещества. Таким образом, выполняется воздушно-абразивная обработка, что позволяет устранить мягкий и твердый налет. Это быстрая, безопасная, безболезненная процедура, вследствие которой зубы становятся светлее на 1-2 тона.
    p При флюорозе и стойкой потере кальция используются абразивные методики – шлифовку алмазным бором и микроабразию. При таком воздействии удаляются поверхностные поврежденные слои эмали. Однако потеря эмали является незначительной.
    p Такая процедура отличается невысокой стоимостью, выполняется довольно быстро. Пациент может ощущать некоторый дискомфорт. Если чувствительность зубов является повышенной, возможно применение местной анестезии.
