section.otbelivanie-zubov9
  .container.three-items__container
    h2.three-items__title Химическое отбеливание  зубов
    p Данный вариант подходит для тех пациентов, которые хотят получить белоснежную «голливудскую» улыбку. В основе методик лежит использование химических отбеливающих веществ (чаще всего перекиси водорода).
    .three-items__list
      .three-items__item
        .three-items__img
          img(src="img/otbelivanie-zubov4.jpg" alt="")
        h3 Классическое химическое отбеливание
        p Классическое химическое отбеливание не подразумевает задействование катализаторов. На поверхность зубов на определенное время наносится отбеливающий состав. Такой метод имеет немало преимуществ:
        ul
          li возможно осветлить эмаль на 5-10 тонов;
          li под контролем опытного стоматолога проведение процедуры является безопасным;
          li осветление выполняется за один сеанс;
          li стоимость процедуры ниже, чем у прочих процедур с применением осветляющих составов.
      .three-items__item
        .three-items__img
          img(src="img/otbelivanie-zubov5.jpg" alt="")
        h3 Фотоотбеливание
        p Наиболее прогрессивные методы химического отбеливания подразумевают применение катализаторов. Их роль может выполнять специальная лампа (метод Zoom) либо же лазер.
        p Zoom, или фотоотбеливание является одной из самых востребованных процедур. Для ее проведения на зубы наносят гель, а затем активизируют его при помощи световых лучей с определенным, предварительно заданными параметрами. Вследствие этого происходит химическая реакция. Высвобождаются активные молекулы кислорода, которые буквально выталкивают пигменты.
        p Главные преимущества фотоотбеливания:
        ul
          li высочайшая эффективность – эмаль светлеет на 8-12 тонов;
          li результат заметен сразу же по окончании сеанса;
          li при соблюдении правил гигиены эффект сохраняется на несколько лет.
      .three-items__item
        .three-items__img
          img(src="img/otbelivanie-zubov6.jpg" alt="")
        h3 Лазерное отбеливание
        p Лазерное отбеливание выполняется так же, как фотоотбеливание. Разница состоит в том, что вместо ламп используется лазер, под воздействием которого и активизируется отбеливающий гель.
        p Преимущества применение лазера:
        ul
          li превосходный результат – эмаль осветляется на 5-7 тонов;
          li процедура является безболезненной для пациента;
          li достаточно одного сеанса, после которого сразу виден результат;
          li результат сохраняется на несколько лет;
          li данный метод является самым безопасным в эстетической стоматологии.
        p Недостатков – минимальное количество. К ним относится временное (1-2 дня) повышение чувствительности зубов, а также относительная дороговизна процедуры.
    p Отдельной и специфической методикой является внутриканальное отбеливание. Этот способ используют только в ситуации, когда один зуб потемнел изнутри (к примеру, вследствие пломбирования некоторыми устаревшими материалами).
    p Суть процедуры такова: отбеливающий состав помещается непосредственно в полость зуба. Затем полость закрывается при помощи временной пломбы. По истечении нескольких дней эта процедура повторяется. Для получения желаемого результата требуется 3-5 сеансов.
