section.otbelivanie-zubov10
  .container.otbelivanie-zubov10__container
    h2 Какой способ  отбеливания зубов лучше
    p Оптимальный метод врач-стоматолог подбирает совместно с пациентом после проведения диагностики. Спешим заверить: какому бы способу вы ни отдали предпочтение, вы можете быть полностью уверены в высочайшем качестве медицинских услуг, полной безопасности процедур и максимальной комфортности их проведения.
    p Запишитесь на  отбеливание зубов в стоматологии «Риадент» – улыбайтесь этому миру с гордостью и уверенностью в себе!
