section.prices
  .container.prices__container
    h2.prices__title Цены на отбеливание
    table.prices__table
      tr
        td.prices__maintd(colspan="2")
          strong Отбеливание
      tr
        td Отбеливание фронтальных зубов “зона улыбки “Zoom WhiteSpeed (Zoom 4), Все включено+чистка
        td 24500₽
      tr
        td Химическое отбеливание зубов “зона улыбки”
        td 8500₽ 
      tr
        td Изготовление индивидуальной силиконовой капы (1 челюсть)
        td 1700₽
