section.lechenie-kariesa3
  .container.lechenie-kariesa3__container
    h2 Что будет, если кариес не лечить и почему это опасно?
    p Как вы уже поняли, кариес — это серьёзное заболевание, которое может привести к пульпиту, ведь со временем микробы доберутся и до нервов вашего зуба.
    p Пульпит является признаком того, что большая часть зуба уже поражена, так как происходит воспаление сосудисто-нервного пучка.
    p Именно эти пучки доставляют зубам питательные элементы. Поэтому при их поражении зуб постепенно становится мертвым и перестаёт ощущать холод или тепло.
    p Когда воспаляется пульпа, возникает отёк, при котором давление внутри твёрдых тканей зуба становится довольно огромным. Пациент ощущает острую, интенсивную боль и обращается к стоматологам. Однако, единственное, что можно сделать в такой ситуации — удалить часть нервных пучков и очистить зуб от вредоносных бактерий.
