section.lechenie-kariesa1
  .container.img-left__container
    .img-left__text
      h2 Лечение кариеса в стоматологии «Риадент»
      p “Вы мне, главное, больной зуб вылечите, а кариес пока может и подождать…” – именно такую фразу можно чаще всего услышать на приёме у стоматолога.
      p Пациенты привыкли относится к кариесу несерьёзно, однако именно он является первым этапом на пути к серьёзным заболеваниям зубов и дёсен.
      p Приведём статистику всемирной организации здоровья: в среднем с кариесом сталкивается более 80% детей и 98% взрослых. Довольно большой процент, не правда ли?
      p Эта статья поможет вам узнать, почему не стоит пренебрегать лечением этого заболевания и к чему может привести долгое игнорирование проблемы.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/lechenie-kariesa5.webp")
        img(src="img/lechenie-kariesa5.jpg" alt="")
