section.lechenie-kariesa4
  .container.img-left__container
    .img-left__text
      h2 Стадии кариеса
      h3 Белое пятно. Начальная стадия кариеса
      p Посмотрите внимательно в зеркало на свои зубы. Если вы заметили, что на зубе появилось небольшое белое пятнышко, значит в нём не хватает минеральных элементов. Именно этот признак указывает на кариозное поражение зуба.
      h3 Методы лечения начальной стадии
      p Если вовремя заметить нехватку минералов и обратиться за помощью к стоматологам, то в этом случае вы сможете вылечить зубы без сверления и наложения пломб.
      p Достаточно будет восстановить структуру зуба с помощью специальных препаратов, насыщенных фтором и кальцием. Для предотвращения кариеса необходимо посещать кабинет стоматолога не реже, чем раз в полгода.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
