section.lechenie-kariesa2
  .container.lechenie-kariesa2__container
    h2 Почему развивается кариес?
    ul
      li Генетическая предрасположенность;
      li Любовь к сладостям и вредные привычки;
      li Пониженное слюноотделение;
      li Плохая гигиена полости рта;
      li Неправильное питание.
    p Вот основные факторы, которые благоприятно влияют на развитие кариеса на ваших зубах.
    p Кариес появляется благодаря зубным отложениям после приёмов пищи. В этой среде создаются комфортные условия для патогенных микробов, которые разрушают ткани зуба с помощью кислоты. Все полезные минералы оказываются под её воздействием.
    p В конечном итоге зубная эмаль размягчается и перестаёт противостоять атакующим организмам. Те же, в свою очередь, разрушают верхний слой зуба и начинают проникать в глубокие ткани и поражают всё, что попадается у них на пути.
