section.lechenie-kariesa5
  .container.img-right__container
    .img-right__text
      h3 Тёмная точка. Поверхностный кариес
      p Если на эмали ваших зубов образовались тёмные пятна, но дискомфорта вы ещё не ощущаете, значит кариес затронул только поверхность эмали и ещё не успел добраться до более глубоких тканей.
      p Однако не стоит откладывать посещение стоматолога и ждать, пока зуб заболит. В стоматологии Риадент устранить такой кариес вы сможете всего за несколько минут.
      h3 Методы лечения поверхностного кариеса
      p Если вовремя обратиться с проблемой, то для лечения кариеса на зубной эмали потребуется только небольшая чистка и обработка поражённого участка, а также наложение маленькой пломбы. Довольно часто поверхностный кариес может поражать не один, а несколько расположенных рядом зубов, поэтому лучше обращаться за помощью при первом появлении пятен на зубной эмали.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
