section.lechenie-kariesa6
  .container.img-left__container
    .img-left__text
      h3 Средний кариес
      p Когда эмаль зуба становится тонкой, бактерии и микробы легко проникают в главную часть зуба — дентин. Среда твёрдой ткани зуба становится комфортным для бактерий и микробов, что способствует их быстрому размножению.
      p Увидеть или почувствовать такой кариес самостоятельно практически невозможно. Для выявления заболевания необходим осмотр стоматолога с помощью специальных инструментов и рентгена. Когда заболевание подтверждается, лечение затягивать не рекомендуется.
      h3 Методы лечения среднего кариеса
      ul
        li Если кариес достиг своей острой формы, пациенту обезбаливают поражённый зуб;
        li С помощью специального оборудования происходит удаление инфицированной ткани;
        li Полость обрабатывается противомикробными и антибактериальными препаратами;
        li Зуб пломбируют;
      p В Уфе подобрать эффективное лечение европейского качества вам помогут специалисты стоматологии Риадент на Кавказской 6/8.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/implantaciya2.webp")
        img(src="img/implantaciya2.jpg" alt="")
