section.lechenie-kariesa7
  .container.img-right__container
    .img-right__text
      h3 Глубокий кариес
      p Когда микробы поражают большую часть дентина, в зубе образуется дыра (кариозная полость). При столкновении с холодом или теплом пациент начинает ощущать боль в зубе и дискомфорт.
      p На этой стадии не обойтись без специального осмотра врача с применением рентгенографии и зондирования поражённой области.
      h3 Методы лечения глубокого кариеса
      p После осмотра стоматолог выявляет наилучший вариант лечения кариеса, который проходит в несколько этапов:
      ul
        li Врач выполняет анестезию поражённого участка;
        li Поражённые ткани удаляются с помощью специального оборудования;
        li Чтобы процесс не повторился, в кариозную полость устанавливается прокладка, которая убивает микробы и предотвращает воспаление;
        li Лечебную прокладку перекрывают изолирующими материалами;
        li Устанавливается временная или постоянная пломба.
      p После лечения кариеса любой стадии развития, пациенту необходимо приходить на осмотры стоматолога, чтобы исключить признаки развития заболевания в поражённом или соседних зубах.
      p В стоматологии Риадент вы сможете не только устранить дискомфорт и вылечить кариес зубов, но и получить профессиональную консультацию по профилактике и гигиене полости рта.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
