section.prices
  .container.prices__container
    h2.prices__title Стоимость лечения зубов в «Риадент»
    table.prices__table
      tr
        td.prices__maintd(colspan="2") Анестезия
      tr
        td Аппликационная анестезия 
        td 150
      tr
        td Инфильтрационная/интралигаментарнная/проводниковая анестезия
        td 580
      tr
        td Временная реставрация
        td 1700
      tr
        td.prices__maintd(colspan="2") Восстановление зуба
      tr
        td Шинирование зубов с применением стекловолоконных материалов, композитных материалов светового отверждения 1 см.(риббонд)
        td 8000
      tr
        td Восстановление зуба пломбой 5 класс по Блэку
        td 3600
      tr
        td Полировка, финишная обработка реставрации зуба
        td 400
      tr
        td Временная реставрация риббонд 1 ед зуба
        td 2500
      tr
        td Восстановление формы зуба после эндодонтического лечения/под коронку
        td 3500
      tr
        td.prices__maintd(colspan="2") Лечение кариеса постоянных зубов:
      tr
        td.prices__maintd(colspan="2") Ceram
      tr
        td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
        td 3000
      tr
        td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
        td 4000
      tr
        td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы или Filtek z 550, или Ceram.x ;шлифовка и полировка пломбы)
        td 5000
      tr
        td.prices__maintd(colspan="2") Estelite Asteria
      tr
        td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
        td 3000
      tr
        td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
        td 4300
      tr
        td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
        td 5300
      tr
        td Эстетическая художественная реставрация (материал Estelite Asteria)
        td 6000
      tr
        td Средний кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
        td 5200
      tr
        td Глубокий кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Estelite Asteria;шлифовка и полировка пломбы)
        td 5800
      tr
        td Эстетическая художественная реставрация под микроскопом (материал Estelite Asteria)
        td 6900
      tr
        td.prices__maintd(colspan="2") Enamel
      tr
        td Лечение методом ICON
        td 3500
      tr
        td Поверхностный кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
        td 4100
      tr
        td Средний кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
        td 6600
      tr
        td Глубокий кариес (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
        td 7900
      tr
        td Эстетическая художественная реставрация (материал Enamel)
        td 10000
      tr
        td Средний кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
        td 7500
      tr
        td Глубокий кариес, лечение под микроскопом (обработка кариозной полости; наложение подкладочного материала под основную пломбу SDR; наложение пломбы Enamel; шлифовка и полировка пломбы)
        td 8800
      tr
        td Эстетическая художественная реставрация под микроскопом (материал Enamel)
        td 10400
      tr
        td.prices__maintd(colspan="2") Лечение периодонтита: 1 канальный зуб
      tr
        td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 1-е посещение
        td 4900
      tr
        td Лечение периодонтита без использования микроскопа, 1-канальный зуб, 2-е посещение
        td 4900
      tr
        td Лечение периодонтита без использования микроскопа, 1-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
        td 1000
      tr
        td Лечение периодонтита с использованием микроскопа, 1-канальный зуб, 1-е посещение
        td 6000
      tr
        td Лечение периодонтита с использованием микроскопа, 1-канальный зуб, 2-е посещение
        td 6000
      tr
        td Лечение периодонтита с использованием микроскопа, 1-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
        td 1000
      tr
        td.prices__maintd(colspan="2") Лечение периодонтита: 2 канальный зуб
      tr
        td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 1-е посещение
        td 7000
      tr
        td Лечение периодонтита без использования микроскопа, 2-канальный зуб, 2-е посещение
        td 6400
      tr
        td Лечение периодонтита без использования микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
        td 2000
      tr
        td Лечение периодонтита с использованием микроскопа, 2-канальный зуб, 1-е посещение
        td 7500
      tr
        td Лечение периодонтита с использованием микроскопа, 2-канальный зуб, 2-е посещение
        td 7500
      tr
        td Лечение периодонтита с использованием микроскопа, 2-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
        td 2100
      tr
        td.prices__maintd(colspan="2") Лечение периодонтита: 3 канальный зуб
      tr
        td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 1-е посещение
        td 8090
      tr
        td Лечение периодонтита без использования микроскопа, 3-канальный зуб, 2-е посещение
        td 8000
      tr
        td Лечение периодонтита без использования микроскопа, 3-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
        td 3000
      tr
        td Лечение периодонтита с использованием микроскопа, 3-канальный зуб, 1-е посещение
        td 9000
      tr
        td Лечение периодонтита с использованием микроскопа, 3-канальный зуб, 2-е посещение
        td 9000
      tr
        td Лечение периодонтита с использованием микроскопа, 3-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
        td 3000
      tr
        td.prices__maintd(colspan="2") Лечение париодонтита: 4 канальный зуб
      tr
        td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 1-е посещение
        td 9250
      tr
        td Лечение периодонтита без использования микроскопа, 4-канальный зуб, 2-е посещение
        td 10000
      tr
        td Лечение периодонтита без использования микроскопа, 4-канальный зуб (медикаментозная обработка корневых каналов, повязка AH)
        td 4000
      tr
        td Лечение периодонтита с использованием микроскопа, 4-канальный зуб, 1-е посещение
        td 10500
      tr
        td Лечение периодонтита с использованием микроскопа, 4-канальный зуб, 2-е посещение
        td 10500
      tr
        td Лечение периодонтита с использованием микроскопа, 4-канальный зуб (медикаметозная обработка корневых каналов, повязка AH)
        td 4000
      tr
        td.prices__maintd(colspan="2") Лечение пульпита
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
        td 6100
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 1-канальный зуб
        td 7600
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
        td 7400
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 2-канальный зуб
        td 8900
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
        td 9800
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 3-канальный зуб
        td 11300
      tr
        td Лечение пульпита без использования микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
        td 11500
      tr
        td Лечение пульпита с использованием микроскопа, повторное лечение корневых каналов (ревизия), 4-канальный зуб
        td 13000
      tr
        td.prices__maintd(colspan="2") Дополнительные услуги:
      tr
        td Снятие острой боли при помощи девитализирующей/антисептической пасты (комплекс)
        td 2500
      tr
        td Эндоотбеливание
        td 900
      tr
        td Закрытие перфорации материалом Pro Root
        td 2000
      tr
        td Закрытие перфорации материалом Рутдент
        td 1000
      tr
        td Апикальная пробка Pro Root
        td 1000
      tr
        td Апикальная пробка Рутдент
        td 1000
      tr
        td Установка стекловолоконного/кварцевого штифта
        td 1200
      tr
        td Установка стекловолоконного/кварцевого штифта, индивидуализированного 1 ед.
        td 1900
      tr
        td Распломбировка корневого канала, запломбированного ранее резорцин-формалиновым методом (1 канал)
        td 3000
      tr
        td Удаление одного анкерного штифта, стекловолоконного штифа, металлическая, культевая вкладка
        td 1500
      tr
        td Удаление одного фрагмента эндодонтического инструмента
        td 1300
      tr
        td Удаление одного анкерного штифта с использованием микроскопа
        td 1500
      tr
        td Удаление одного стекловолоконного штифта с использованием микроскопа
        td 1500
      tr
        td Удаление одной вкладки с использованием микроскопа
        td 1300
      tr
        td Удаление инородных тел с использованием микроскопа
        td 1500
      tr
        td Коагуляция гипертрофированного сосочка
        td 800
      tr
        td.prices__maintd(colspan="2") Коффердам/Оптидам/Оптрагейт
      tr
        td Коффердам
        td 400
      tr
        td Оптрагейт
        td 300
      tr
        td Оптидам
        td 600
