section.lechenie-flusa3
  .container.lechenie-flusa3__container
    h2 Симптомы и стадии
    p Как проявляется воспаление надкостницы:
    ul
      li шишка или опухоль на десне, которая со временем может прорваться и начать выделять гной;
      li опухание щеки или губы с заметной диспропорцией лица;
      li наличие зуба, повреждённого кариесом, периодонтитом или физической травмой;
      li расшатывание зуба по причине гнойного образования;
      li острая боль, которая усиливается при жевании и постукивании, иногда отдаёт в висок или в глаз;
      li увеличение лимфоузлов на шее или голове;
      li общая слабость, повышенная температура.
    p Симптомы могут проявляться по-разному, степень их проявления связана со стадиями развития периостита:
    ul
      li <strong>1 стадия</strong>. Лёгкое покраснение десны, образование бугорка и незначительный дискомфорт при жевании;
      li <strong>2 стадия</strong>. Отёк десны, видимое скопление гноя, сильная боль, общая слабость организма и повышенная температура;
      li <strong>3 стадия</strong>. Гной попадает во внутренние ткани и в кровь.
    strong Важно: 3 стадия опасна для жизни! Ни в коем случае не затягивайте лечение флюса, и не злоупотребляйте самолечением.
