section.lechenie-flusa4
  .container.img-right__container
    .img-right__text
      h2 Методы диагностики
      p Флюс легко диагностируется самостоятельно: для него характерны отёк лица, опухоль на десне и болевые ощущения. Но стоматолог может назначить и другие диагностические процедуры, чтобы получить более полную картину. Это может быть:
      ul
        li рентгенография, чтобы оценить состояние зуба и размер абсцесса;
        li анализ крови, чтобы определить стадию периостита;
        li бактериологический посев гноя, если флюсы возникают у пациента часто.
    .img-right__img
      picture
        source(type="image/webp" srcset="img/implantaciya1.webp")
        img(src="img/implantaciya1.jpg" alt="")
