section.lechenie-flusa6
  .container.lechenie-flusa6__container
    h2 Лечение флюса у детей и возможные осложнения
    p У детей флюс образуется чаще всего после перенесённой простуды. Это довольно редкое, но опасное явление, поскольку в детском организме инфекция развивается намного быстрее. Особенно опасен периостит в возрасте до 5 лет: ребёнка в этом случае госпитализируют.
    p Несвоевременное лечение флюса может привести к образованию осложнений, таких как:
    ul
      li флегмона: обширное гнойное воспаление мягких тканей;
      li остеомиелит: воспаление костной ткани;
      li сепсис: распространение инфекции, поражающее внутренние органы.
    p Не откладывайте лечение флюса. Записывайтесь на консультацию в стоматологическую клинику “Риадент”. Мы находимся в Уфе, по адресу Кавказская 6/8.
