section.lechenie-flusa5
  .container.lechenie-flusa5__container
    h2 Методы диагностики
    p Для лечения флюса в стоматологии “Риадент” применяются местные, терапевтические и хирургические методики. Без хирургического вмешательства можно обойтись только на начальной стадии периостита.
    .two-columns
      .two-column
        p Лечение включает в себя:
        ul
          li Вскрытие абсцесса. Под местной анестезией десна разрезается, содержимое вымывают и обрабатывают антисептиками. Затем устанавливают дренаж, и при необходимости зашивают десну.
          li Устранение причины. Стоматолог ищет причину развития флюса, проводит необходимое лечение. Если зуб разрушен менее чем на 70%, его восстанавливают, лечат и пломбируют. Если зуб подлежит только удалению, пациенту предлагаются имплантация или протезирование.
          li Терапия для устранения инфекции. Пациенту назначают курс антибиотиков, либо другие способы терапии (при наличии аллергии или противопоказаний).
      .two-column
        p Чтобы усилить результативность терапии, дополнительно могут быть назначены физиотерапевтические процедуры:
        ul
          li электрофорез;
          li ультразвук;
          li лазеротерапия;
          li УВЧ;
          li флюктуоризация.
        p Чтобы замедлить развитие инфекции до визита к стоматологу, можно полоскать рот настоями коры дуба, ромашки, шалфея, раствором соды и прополиса. Но нельзя рассчитывать только на народные методы: любое промедление с лечением может быть опасно.
