section.lechenie-flusa2
  .container.lechenie-flusa2__container
    h2 Причины возникновения флюса
    p Периостит образуется в результате инфицирования тканей десны бактериями. Причиной размножения патогенной микрофлоры могут быть:
    ul
      li стадия периодонтита, при котором воспаление распространяется на всю десну;
      li запущенный пульпит, распространившийся за пределы корня зуба;
      li недостаточно герметичное пломбирование зубных каналов;
      li механическая травма зуба с последующим занесением инфекции.
    strong Важно: в некоторых случаях возникновение периостита свидетельствует об инфекции в других органах, например, в глотке.
    p Чтобы избежать образования флюса, нужно тщательно соблюдать гигиену полости рта, отказаться от вредных привычек, употреблять больше витаминов и посещать стоматолога для профилактики хотя бы раз в год.
