section.lechenie-flusa1
  .container.img-left__container
    .img-left__text
      h2 Лечение флюса в стоматологической клинике «Риадент», Уфа
      p Флюс, или периостит — это гнойный воспалительный процесс в надкостнице, который характеризуется опуханием мягких тканей, болевыми ощущениями и повышенной температурой. Для устранения флюса часто требуется хирургическое вмешательство.
      p Стоматологическая клиника “Риадент” предлагает услуги лечения флюса в Уфе. Мы поможем быстро и безболезненно восстановить здоровье зубов и дёсен.
    .img-left__img
      picture
        source(type="image/webp" srcset="img/lechenie-flusa1.webp")
        img(src="img/lechenie-flusa1.jpg" alt="")
