.novie-zubi-za-odin-den2 {
  background-color: #eeeeee;
  &__container {
    padding: 30px 0;
    @media (min-width: $tablet-min) {
      padding: 50px 0;
    }
    @media (min-width: $laptop-min) {
      padding: 80px 0;
    }
  }
}
